[2021-10-30 23:20] aaronpk commented on #1459
The source of the confusion is that the current setting looks like this:

![image](https://user-images.githubusercontent.com/113001/139560969-d5405688-2312-4dc0-9442-11dfc0b062bb.png)

The "Storage Enabled" with the default "off" suggests that by turning it on, you will now be storing the livestreams whereas before it would not have stored them. This is misleading, since what's really going on is

[2021-10-30 23:29] gabek commented on #1459
I think changing to "External Storage" makes a lot of sense. Maybe to be even more descriptive, "External Object Storage" so people don't infer that it means "External Recording Storage" or something and is very specific about what it is.  The menu sidebar can be changed then, too.

[2021-10-30 23:40] gabek commented on #1504
Yeah, that's what I'm saying, have an actual managed queue so the rate of requests can be controlled.  In general I'd rather have delays due to rate limiting than send hundreds of concurrent web requests to some endpoint because somebody's chat was popular.

I'm not saying we need to build that now, but it's something to keep in mind if we're going to add more concurrency to the outbound requests.

[2021-10-31 00:30] gabek commented on #1350
A cleaner option is instead of the backend telling the frontend about a user who's messages should be hidden, just send an array of message IDs to hide.

[2021-10-31 02:53] litori commented on #1459
I would refrain from using the word "storage" in any iterations for this as it will be confusing when you add actual video storage later on.  Better to fix it now then having it come up again later.  Maybe "External Stream Relay" or "External Broadcast Relay"?

[2021-10-31 02:57] gabek commented on #1459
It's not a relay, these companies are storage providers :). Calling them something they're not is far more confusing for somebody trying to pay for that service.

What Owncast doesn't do are recordings, replays, or archival. What it does have support for are third party external object storage providers.

[2021-10-31 02:57] aaronpk commented on #1459
I think that depends on how the recordings are implemented later.

If the recording feature is more like keeping the video fragments around but making a nice index on top of them with thumbnails and titles and such, then really the final recordings would actually be the same as where the files are stored during the live show.

But if the recording feature was more like combining the video fragment

[2021-10-31 09:59] litori commented on #1459
So what is the reason why we can't call it a CDN, "Content Delivery Network"?  We are basically offloading the HLS files to the "storage" providers so that the users retrieve the stream from the "storage" providers instead of the server.  This is exactly what a CDN does, it offloads traffic from the mains server.  An S3 server is basically distributed also in different regional locations.  Why are

[2021-10-31 10:08] LoicB commented on #1430
That's great. Do you want me to include previous pr (German and Portuguese) as well or just French?

[2021-10-31 19:02] gabek commented on #1459
A CDN is a very different thing.  If I was using some software that said "Setup your CDN" and then I went and signed up for Fastly or BunnyCDN, and then the software asked me what my bucket name was I'd be pretty upset that I wasted time and money signing up for a CDN when they really meant object storage.

[2021-10-31 21:01] #1377 closed, assigned to nobody

[2021-10-31 21:41] gabek opened #1507 "Add support for checking the local filesystem for static resources"
Going forward static files are being embedded into the binary, but it would be nice for people to be able to override this by having the same path available on the filesystem and us using that file instead.  It's a pretty small number of people who will use this, but it allows them for flexibility while it continues to allow us to not have to ship as many arbitrary files littered around the filesy

[2021-11-02 01:57] gabek opened #1510 "Build outbound webhook execution queue"
See https://github.com/owncast/owncast/issues/1504 for some discussion.

Right now each event fires off its own concurrent webhooks. In the case of an abundance of events this could cause both a small DDoS to the webhook endpoint, and cause a lot of concurrent outbound requests on our side.

The solution is to queue them up and rate limit the number of webhooks that can be in flight.

[2021-11-02 02:13] #1504 closed, assigned to nobody

[2021-11-02 17:52] rektide commented on #112
Just a shout out to https://pkg.go.dev/github.com/anacrolix/torrent/tracker , which is a well reputed Go-based (which seems to be owncast's preference) tracker with good webtorrent support. I suggest this because I believe it could be a good option to embed into Owncast to provide the needed tracker capabilities out of the box, without relying on other people's systems. I know a little less about

[2021-11-03 01:00] #1350 closed, assigned to gabek

[2021-11-03 02:27] #499 closed

[2021-11-03 02:27] #1291 closed, assigned to gingervitis

[2021-11-03 02:43] gabek opened #1511 "Add list of moderators in user admin"

[2021-11-03 03:05] #1352 closed, assigned to nobody

[2021-11-03 22:39] gabek commented on #1491
Closed in https://github.com/owncast/owncast-admin/pull/356

[2021-11-03 22:40] #1491 closed, assigned to jeyemwey

[2021-11-03 23:28] #1507 closed, assigned to nobody

[2021-11-03 23:45] #1370 closed, assigned to gingervitis

[2021-11-04 00:18] gabek commented on #924
Branch is at https://github.com/owncast/owncast/tree/gek/auto-update.

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/owncast/owncast">GitHub - owncast/owncast at gek/au

[2021-11-04 23:47] sitehatchery commented on #1494
This works to change the following from this:
this.streamDurationTimer = setInterval(
    this.setCurrentStreamDuration,
    TIMER_STREAM_DURATION_COUNTER
);

to this:
this.streamDurationTimer = setInterval(() => {
   this.setCurrentStreamDuration;
}, TIMER_STREAM_DURATION_COUNTER);

This fixed the issue with the chat participants not showing too!

Now the *only issue* I'm having is that if I ban

[2021-11-05 00:05] gabek commented on #1494
While I'm glad you got it working, it seems like there's code that only doesn't work for you. If that code was actually broken then it wouldn't work for anybody so I'm a bit confused why you had to change it and everyone else running Owncast doesn't. It also has nothing to do with the CSP, the original issue you reported.  So I'm confused about all of it.

The database is the `data/owncast.db` fil

[2021-11-05 00:17] sitehatchery commented on #1494
doesn't work for you. If that code was actually broken then it wouldn't
work for anybody so I'm a bit confused why you had to change it and
everyone else running Owncast doesn't.

I'm not sure why it didn't work for only me. I got the error in both
Firefox and Chrome and did disable all my plugins.

So I'm confused about all of it.

It probably just caused an execution error at that point and prev

[2021-11-05 00:31] sitehatchery commented on #1494
re-connect

As I only banned a user for testing in my browser, is there a way for me to
remove the flag? I tried resetting all flags in Chrome: chrome://flags/

On Thu, Nov 4, 2021 at 5:16 PM Jason Cox ***@***.***> wrote:

[2021-11-06 02:03] gabek commented on #924
Made some progress.  I don't like how hackey it is, however.  It makes a lot of guesses about what environments it's running in based on less than awesome datapoints.  I'm not convinced I'll ever be able to ship this.

![auto-updater-force-quit-restart](https://user-images.githubusercontent.com/414923/140594184-663bf3d4-e3b2-4274-80c8-561cd4600b00.gif)
![auto-updater-no-restart](https://user-image

[2021-11-08 01:33] gabek commented on #1494
It gets saved in the browser's local storage, so there's no easy way to clear it unless you go into the browser developer tools and remove it.

[2021-11-08 08:51] #1511 closed, assigned to nobody

[2021-11-08 20:34] sitehatchery commented on #1494
Thanks! I got it.

On Sun, Nov 7, 2021 at 5:33 PM Gabe Kangas ***@***.***> wrote:

[2021-11-08 23:33] gabek opened #1516 "Switching tabs redraws and moves page elements around"
![oc-follow-tab-redraw](https://user-images.githubusercontent.com/414923/140834855-c6ffc4c2-ea18-419e-8a1e-d9491c89c048.gif)

[2021-11-09 04:54] #1283 closed, assigned to nobody

[2021-11-09 19:32] gabek commented on #924
There's a lots of "ifs" to make this work.  The above examples use the following:

1. If it is determined that Owncast is running within a container no update features are available.
2. If it is determined that Owncast is running under a development (source) environment no update features are available.
3. If at build time the update feature is not enabled then no update features are available.
4.

[2021-11-09 19:55] gabek commented on #1128
No plans or capacity to change anything around this right now. Closing.

[2021-11-09 19:55] #1128 closed, assigned to nobody

[2021-11-09 19:56] gabek commented on #1116
Closing in favor of client-side metrics. https://github.com/owncast/owncast/issues/793

[2021-11-09 19:56] #1116 closed, assigned to gabek

[2021-11-09 20:00] gabek commented on #830
Closing as there are no plans or anybody to work on video projects. The current demo content is fine until we have something else.

[2021-11-09 21:27] gabek commented on #1292
The next PeerTube release will have a fix for this HTTP Signature issue. The instance setup for testing can get updated then and I can move forward on interop.

[2021-11-09 21:27] #1292 closed, assigned to gabek

[2021-11-09 21:30] gabek commented on #1059
Branch is https://github.com/owncast/owncast/tree/gek/new-load-tests

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/owncast/owncast">GitHub - owncast/owncast at gek/new

[2021-11-09 21:41] gabek commented on #924
I wonder if there's a clean way instead of step 5 to:

1. Natively query systemd via a socket to verify systemd is actually installed and running.
2. Determine the PID of the Owncast service that's running.
3. Determine if systemd is managing this PID via asking systemd for running services.
4. Natively ask systemd to restart the service.

This would be much nicer.

[2021-11-09 22:32] gabek commented on #924
Oh I could probably just look in `/run` for a PID file who's contents matches the PID of the running Owncast instance.  That would guarantee that systemd is running, owncast is registered with it, and the currently running instance of owncast is the instance being managed by systemd.

[2021-11-09 22:40] gabek opened #1518 "Banned User Cannot Be Added Back"
I guess we should remove the client-side flag that gets set when a user is banned.

For context, the initial goal of banning a user was thinking a troll comes by or something and needs to be removed. So a client-side flag was set so that client doesn't try and connect again.  Or worse, get disconnect from a ban and then then the client keep trying to reconnect over and over. The use case of a temp

[2021-11-09 23:08] gabek commented on #793
I think once https://github.com/owncast/owncast/issues/1303 is done we should start looking at this.

If we can expose these values to Prometheus I think these values will be much more useful than whatever limited UI we offer in the admin.  But regardless we do need _some_ internal time series if we want to do this well.  I'm not sure of a good lightweight way to do it.  I guess we could just use

[2021-11-09 23:11] gabek commented on #1478
Whatever limited internal time series data we use for playback metrics we can use for this as well.  See https://github.com/owncast/owncast/issues/793

[2021-11-09 23:30] gabek opened #1519 "Emoji render too large in message info box"
![image](https://user-images.githubusercontent.com/414923/141022124-d35a3c31-6d4e-4c03-b842-1259304ab773.png)

[2021-11-09 23:49] gabek commented on #1430
@LoicB German is already taken care of, but Portuguese and French would be awesome!  Could you branch from the [lingo/quickstart-de](https://github.com/owncast/owncast.github.io/tree/lingo/quickstart-de) branch?  Thanks!

[2021-11-09 23:52] gabek commented on #1061
Somebody seems to have found a workaround for this until Ant fixes it:

https://github.com/ant-design/ant-design/issues/30396#issuecomment-964318877

[2021-11-10 17:22] gabek opened #1520 "Add support for seeking to the back buffer of a live event"
When enabled it should:

1. Stop cleaning up segments.
2. Continuously append to the media playlist without limiting the number of segments.
3. But still start at live, not at the beginning of the event.

RE: https://owncast.rocket.chat/channel/general?msg=B9MFo2YZHM3qQr2ip

[2021-11-11 01:49] gabek opened #1521 "OMX codec no longer showing friendly name and description"
![image](https://user-images.githubusercontent.com/414923/141222567-5f692481-7c32-4812-999b-b2496c72c91f.png)

[2021-11-11 22:53] #1521 closed, assigned to nobody

[2021-11-11 23:39] #1518 closed, assigned to gabek

[2021-11-11 23:44] gabek commented on #1494
Closing in favor of a specific issue around unbanning users.  https://github.com/owncast/owncast/issues/1518

[2021-11-11 23:44] #1494 closed, assigned to nobody

[2021-11-12 00:06] gabek opened #1522 "Architecture: Project file structure"
It's something I often think about, but never have put it down as a TODO.  The project could use some new structure and cleanup.

Bradley did the first pass at giving the project some structure early on, but lack of definition and ease of just throwing it in the root directory made lack of organization commonplace.

It seems like a lot of projects have taken on the _[Hexagonal Architecture](https:

[2021-11-12 05:50] TicTac9k1 opened #1524 "Random stream playback problems due to thumbnails?"
So far I've been using OwnCast with success for some time now, but recently an issue popped up where people told me they can't watch certain instances because the stream never loads. The only thing I can find in the log files is a big list of the message;

Unable to generate thumbnail: exit status 1.
https://i.imgur.com/tJYXrLx.png

The deployment seemed fine. The problem occurs for random people

[2021-11-12 05:56] gabek commented on #1524
I'm guessing the issues you are experiencing aren't because of thumbnails not being able to generate, but instead thumbnails are unable to be generated because of whatever problems you're experiencing.  Thumbnails are generated from your stream, so if your stream is unavailable or invalid in some way the thumbnail generator will likely throw errors.  So I wouldn't look too much down the thumbnail

[2021-11-12 06:12] TicTac9k1 commented on #1524
I'm using video passthrough. It's been some time but I've also upgraded from I think v0.0.7 to v0.0.10 though people never reported any issues until now, which I hoped they'd report sooner. I'm running Owncast dockerized on one VPS, while another webserver is serving a website with Owncast's embed. In between that there is a reverse proxy on yet another VPS because we require https. Which wasn't i

[2021-11-12 06:17] gabek commented on #1524
The first thing I'd always suggest if there are video issues that are unclear is to turn off video pass through.  Please turn that off and retest.

[2021-11-12 06:54] TicTac9k1 commented on #1524
Well, I turned it off, but the VPS wasn't able to handle it. A 720p60 stream would chug the server 100% with 7 viewers. Where as hardware accelerated it sits comfortably at 20%. So i've enabled it again, but the weird thing is just how selective the problem occurs. When no one with problems is watching, the stream throws no errors about the thumbnails. As soon someone who has consistently had the

[2021-11-12 07:07] gabek commented on #1524
Oh I guess I'm confused.  You said you're using passthrough, but you also say you're using hardware acceleration.  Passthrough bypasses the entire video encoding pipeline, meaning you can't use a hardware accelerated codec if it's enabled, it also means anything "bad" or unplayable about the inbound video gets passed along directly to the viewers.  A VPS also generally won't have access to a GPU m

[2021-11-12 07:22] TicTac9k1 commented on #1524
My bad, got the terminology mixed up. When I said hardware acceleration I did mean video passthrough. I'll read the doc, but from what I understood about video passthrough is, it just functions as a simple passthrough of a stream. No transcoding of any kind. Which is what I want because the VPS runs it on only needs to be transferring the data since processing capacity is limited.

The problem is

[2021-11-12 07:31] gabek commented on #1524
That would be the case if you were using Owncast to properly encode the video, either it would work for everyone or it wouldn't. But because you're not allowing Owncast to encode the video then you're handing off in whatever state the video isdirectly to the viewers, so it's very possible that some viewers may be able to view it while others can't.

Since Owncast isn't doing the encoding here I'm

[2021-11-12 07:36] TicTac9k1 commented on #1524
Thanks for your help. I didn't realize this could potentially be a problem by using pass through. At least it gave me insights where to look next. I really want to keep overhead down by having pass through enabled, so I'm gonna keep looking for the cause and look for a possible solution for now.

One error I noticed was this. So I guess in this specific case it could be related to the color format

[2021-11-13 01:28] gabek commented on #1524
That's great you were able to track down what specifically on the broadcasting side would fix it!

I'll use this opportunity to mention that some viewers still might have issues because you're only offering a single quality, at the source bitrate and resolution. Those with slower networks or on mobile networks might require a lower quality version from you, so keep an eye out for people complainin

[2021-11-13 01:46] gabek commented on #1036
This is in as part of the inline chat moderation features.

[2021-11-13 01:46] #1036 closed, assigned to nobody

[2021-11-13 02:19] #1210 closed, assigned to gabek

[2021-11-13 03:00] #1229 closed, assigned to gabek

[2021-11-13 05:38] gabek opened #1526 "Inline moderator actions sometimes throws a Javascript error"
1. Send message
2. Click message action button
3. Click "More info"

[code]

[2021-11-13 05:43] #1519 closed, assigned to nobody

[2021-11-13 05:43] gabek commented on #1519
Fixed.
![image](https://user-images.githubusercontent.com/414923/141607375-759354ca-fe87-41ce-b365-94e4a26c2917.png)

[2021-11-13 06:03] gabek commented on #1488
Done.

[2021-11-13 06:03] #1488 closed, assigned to gabek

[2021-11-14 01:23] gabek opened #1527 "When there are few chat messages the moderator actions view gets cut off"
![image](https://user-images.githubusercontent.com/414923/141663942-efcc8df3-da99-4e52-877e-3678f3883fcd.png)

[2021-11-14 03:55] gabek commented on #1524
I'm going to go ahead and close this since it sounds like you're in good shape, but feel free to re-open or create another issue if something else comes up!

[2021-11-14 03:55] #1524 closed, assigned to nobody

[2021-11-14 03:58] gabek commented on #1212
The test suite is no longer available.

[2021-11-14 03:58] #1212 closed, assigned to gabek

[2021-11-14 04:23] gabek commented on #1459
If the toggle is the single point of confusion, what about changing the toggle from the single word "Storage" to "Use object storage" or "Scale video with S3 storage" or something longer and more descriptive?

[2021-11-14 12:50] jeyemwey opened #1528 "Add automated tests for Webhooks"
Currently, Webhooks are only tested manually (see e.g. [here](https://github.com/owncast/owncast/pull/1525#issuecomment-967743810)).

To check that they don't break, we should add some manual tests related to this topic. For this, I'd start a separate http server and check if the webhooks are coming through.

[2021-11-14 18:02] #1510 closed, assigned to jeyemwey

[2021-11-14 22:00] gabek opened #1529 "Sometimes when re-joining you don't get moderator message"
You are still a moderator, and you get the notification next to your username, but the message in chat doesn't visually show up.  I think it might be some issue with the "X just joined" and "You are now a moderator" conflicting in the chat feed.

Example:

Joined the chat and the "gabe joined" showed in the chat feed, but the moderator message didn't.

![image](https://user-images.githubuserconten

[2021-11-15 02:59] gabek commented on #1529
Looks to be some kind of race condition.  Message 1 gets added to react state, and then message 2 comes in immediately afterward and appends itself to the state, but message 1 is not yet a part of the state, so once state gets updated only message 2 is included.

[2021-11-15 20:13] litori commented on #1459
Maybe look up the word "storage" and see why it can be confusing.  The implied definition of the word does not match the use case.

[2021-11-15 20:22] #1459 closed, assigned to nobody

[2021-11-15 20:23] gabek commented on #1459
I know what "Storage" means.  These are storage providers.  It's what they do, they store.  Changing and closing as this discussion is no longer productive.

![image](https://user-images.githubusercontent.com/414923/141848325-031e8522-d6af-4ef4-9202-c983257dc71d.png)

[2021-11-16 03:27] gabek opened #1530 "Set a short cache expiration on some APIs"
For example: If you access an [Owncast instance with a CDN](https://ocdemotest.b-cdn.net/) in front it'll use the cached chat history response since we're not expiring it.

- Status
- Config
- Chat

Are the ones that make the most sense to have a short expiration.

[2021-11-16 18:12] Semisol opened #1534 "IP banning of users"
As it stands, users may clear their storage to bypass bans.
This feature will make bans also apply to IP addresses. When a ban is made, the username and IP will be banned.

### Small note

About the development moderation GUI, it seems like you can ban people which disconnected. Due to this, a list may need to be maintained in memory to also ban the IP.

[2021-11-16 18:13] Semisol opened #1535 "Streamer nickname reservation"
This would permit the reservation of the nicknames the streamer is using, so that only the streamer can use them.
Currently, a hacky workaround is to change your nick, then ban the nickname.

[2021-11-16 18:37] #1535 closed, assigned to nobody

[2021-11-16 22:30] gabek commented on #1534
I'd love to hear if others would want this as well.

[2021-11-16 22:49] pbsds commented on #505
Most reverse-proxy solutions has the ability to strip a prefix from the url path, but this doesn't work due to owncast linking to its assets with absolute paths (starting with `/`) instead of relative paths.

These are good:

[code]

But the favicons, logo, json manifest and javascript components all use absolute paths.

[2021-11-16 23:22] gabek commented on #505
There was a PR around this, but had many more changes. The discussion kind of got dropped when looking at options: https://github.com/owncast/owncast/pull/631/files

<blockquote><img src="https://avatars.githubusercontent.com/u/22523840?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://git

[2021-11-17 00:51] gabek opened #1536 "Moderator icon shows for everyone, even non-moderators"
![image](https://user-images.githubusercontent.com/414923/142089351-d4b8ef27-b21c-4b28-8973-0c9d48634e3a.png)

[2021-11-17 00:55] gabek opened #1537 "Changing name throwing Javascript error"
![image](https://user-images.githubusercontent.com/414923/142089655-efc52c3f-1829-4877-bfc1-aa3774b89caf.png)

[2021-11-17 01:46] #1537 closed, assigned to nobody

[2021-11-17 01:59] gabek opened #1538 "After being granted moderator privilages you cannot moderate previous messages without a reload"
You can take action on future messages, but previous ones don't have the moderation action menu.

[2021-11-17 02:00] #1536 closed, assigned to nobody

[2021-11-17 04:58] #1530 closed, assigned to nobody

[2021-11-17 14:12] closewall commented on #1534
Last time I ran a stream, I had a big problem with this mentally unstable person who kept spamming rapidly and coming back 30 seconds after being banned.
I'm all for making it more difficult to evade bans, so I'd definitely want this.

[2021-11-17 17:12] Semisol commented on #1534
I haven't encountered anyone to ban yet, but I'm worried I might sometime later.

[2021-11-17 17:20] Semisol opened #1541 "Strip out problematic and confusing characters from chat display names"
Currently, nicknames can contain any character, such as unicode.
This cam cause problems, such as people using a banned nickname with ZWSPs or adding dots/etc at the end.
I recommend the character set `A-Z`, `a-z`, `0-9`, `-` and `_` for nicknames.

[2021-11-17 17:21] Semisol opened #1542 "Only one user should be able to hold a nickname"
Currently, multiple users can hold one nickname. This can create problems such as impersonation. Due to this, I think only one user should have a nickname at a time.

[2021-11-17 17:23] Semisol commented on #1410
I think this would be useful. Some streams require lower quality than others for me, so I would be interested in using this.

[2021-11-17 17:27] Semisol opened #1543 "Moderator badge always shows up"
At the place where you have your nickname, the moderator badge is always shown.

[2021-11-17 18:27] gabek commented on #1543
It's highly suggested you run a release instead of the development branch. The development branch is always in development and is bleeding edge. If you want to build from source check out the `v0.0.10` tag.

This was already fixed yesterday in https://github.com/owncast/owncast/issues/1536, but these things will probably continue to come up if you deploy `develop`.  Unless you're helping test, in

[2021-11-17 18:27] #1543 closed, assigned to nobody

[2021-11-17 18:34] Semisol commented on #1543
I'm not deploying develop, I tried it once and saw that. But yep, I was just testing (and will continue).

[2021-11-17 18:37] gabek commented on #1541
Seems artificially limiting, no? I see people use longer display names with spaces and punctuation and it doesn't hurt anybody. They're just display names so there's no reason they can't be whatever they want them to be.

We match against the blocked username list by trimming whitespace and checking for substrings, so it doesn't have to be an exact match.

If there are specific examples you're con

[2021-11-17 18:38] Semisol commented on #1541
ZWSP and similar are causing problems. I would suggest a configuration parameter for a regex, which would give users freedom to pick what characters they want + block some obviously bad ones (ZWSP, \ufeff, ...)

[2021-11-17 18:40] gabek commented on #1543
Ok, cool!  We're not ready for real v.0.0.11 testing yet, however, there's still lots of work before it gets released, so active development will continue to take place.  Please don't be surprised if everything breaks in the develop branch between now and then. If you're testing the software for yourself I recommend using a release, but if you're helping out by testing new features you're in for a

[2021-11-17 18:49] gabek commented on #1534
My thought is, there's always a way. If we add IP banning then they just use a VPN and they evade the ban that way.  And then we have to add browser fingerprinting?  And then they use a new browser or block browser attributes from being read, etc etc.  I just fear that this might never end if the expectation is that Owncast as a piece of software can stop people from being horrible, because that's

[2021-11-17 19:14] gabek commented on #1542
The approach with names is they are display names, nothing more. And the real attributes behind a user are what count. If somebody joined only 5 minutes ago and are going by "Gabe", where I first joined 2 months ago and I'm also "Gabe", then I'm the real "Gabe". That's why we surface that information when you hover over a user's display name in a chat bubble. User colors also matter. If I've been

[2021-11-17 19:34] gabek commented on #1541
Most people aren't going to write their own regex, and I wouldn't want to ask them to.  But I'm not opposed to internally stripping more characters that humans wouldn't use.  Like I mentioned, we're already trimming whitespace characters (is ZWSP not seen as whitespace?), but we could add to that.

[2021-11-17 19:35] jeyemwey commented on #1541
Hi from everyone outside of the USA whose name isn't limited to these few characters (e.g. accents, umlauts, emojis, kyrillic and asian characters).

[2021-11-17 23:10] Semisol commented on #1543
I have a non-develop instance for myself, but yep I was testing the progress on the newer version.

[2021-11-17 23:11] Semisol commented on #1534
I'd say leave VPN blocking and similar to the site owner. The basic suite of protection could be a few things:
- Disable anonymous chat (in real time, so a reload isn't required)
- IP banning
- User identity/domain banning with future IndieAuth support.

[2021-11-17 23:55] Semisol commented on #1541
Understandable. I proposed above to add a regex instead.

Advanced option? I would propose having a few presets "mostly everything", "basic ASCII", and a custom field, or just having a good preset that includes nearly if not all languages that can be changed later.

[2021-11-17 23:56] Semisol commented on #1542
Makes sense. Is there any checks for color & name pair duplicates, though?

[2021-11-17 23:59] gabek commented on #1534
Agreed. That's filed in #1239.

Just for sake of argument, if VPN blocking should be the responsibility of a site owner, why shouldn't IP blocking? What's the difference?  It's all just IPs.

This will never be a way to block people. Almost nobody will use IndieAuth, and even if they did, why would somebody who's purposefully a jerk login via a method that personally identifies themselves?

I'm no

[2021-11-18 00:03] gabek commented on #1541
Yeah I think stripping special characters and having a blocklist of explicitly problematic characters internally makes a lot of sense. I'd rather it not be something people have to think about or worry about.  If it's worth blocking for one instance it's worth blocking for them all.

[2021-11-18 00:13] gabek commented on #1542
Nope, the color is randomly generated when a user is created.  To be honest I never remember anybody's color, so I'd be lying if I said that's a good way to determine who is who anyway, but it's something. The user created date I rely on all the time as a guest to people's streams to know if this is somebody who just dropped by or it's somebody who's been around, though.  If two people had the sam

[2021-11-18 00:19] gabek commented on #1542
I guess my concern here is anybody can drop by and change their name, and that simple, quick, action doesn't feel like it should lock that name out for all time.  If somebody two years ago stopped by for 10 seconds and called themselves Gabe, I'd be annoyed if I couldn't be "Gabe" years later.  The reason this is different than other services is because Owncast doesn't require you to create an acc

[2021-11-18 00:28] Semisol commented on #1534
We can't currently see IPs and it would be different from VPN blocking in my opinion.
I would do a VPN block as a firewall denial (most of the time), while user blocks are manual.

Hmm, you are right.

I would just end it at IP banning, to be honest.

[2021-11-18 00:29] Semisol commented on #1542
Thank you for the explanation of your view. I guess I'll close it now.

[2021-11-18 00:29] #1542 closed, assigned to nobody

[2021-11-18 00:35] Semisol commented on #1543
How can I get notified when it is at least suitable enough that it won't break my personal server? I'm interested in the new features.

[2021-11-18 00:36] gabek commented on #1534
I like the idea of storing hashes of IPs, but that would eliminate being able to do networks or IP ranges. What granularity would you expect to be able to block?

[2021-11-18 00:39] gabek commented on #1543
We usually announce when actual releases are available, but as far as the development process goes we don't try to make any guarantees about the state of things until then.  There's usually a time when pencils are down and I try to get people to test the upcoming release, and that's probably a good time. But even then the point of that testing period is to find and fix issues, so you might still g

[2021-11-18 00:43] gabek commented on #1542
That being said, I'm totally up for making things better.  I know this isn't optimal, but I just haven't come up with something that seems clear and fair.  So let me know if you think of something! It's possible the drawbacks listed above are better than the drawbacks of not having some restriction at all, and if so, then I'm totally up for discussing that.

[2021-11-18 00:51] Semisol commented on #1543
Yep thank you! I'll wait for the release, then.

[2021-11-18 00:53] Semisol commented on #1534
Hmm, interesting question... There's still another workaround of hashing `1.2.3.4/32`, ... in between ..., `1.2.3.0/24` but that would also result in the problem of losing track of ranges. So I'd say actually hashes for individual IPs but CIDRs should be stored as plaintext.

[2021-11-18 00:54] Semisol commented on #1534
And about unbanning, if someone is banned, how do we know which ban was it? Do we include a reference number somewhere in the page with the ban notice?

[2021-11-18 04:12] closewall commented on #1534
I get that it's impossible to completely stop someone from evading, but I still think it should be harder than it is right now. At the very least, having IP bans would disincentivize banned users from coming back because it becomes just that little bit more time-consuming, especially for people who aren't tech-literate.

[2021-11-18 05:39] gabek opened #1544 "Display modal with details, instructions and requirements when enabling federation in settings"

[2021-11-18 20:13] EdJoPaTo opened #1545 "Chromium fails to load, Firefox works fine, maybe some trusted-types issue"
Chromium fails to open OwnCast, Firefox works without problems.
Chromium: `Version 96.0.4664.45 (Official Build) Arch Linux (64-bit)`

The Dev Tools Issue tab links the following issue: https://web.dev/trusted-types/?utm_source=devtools#fix-the-violations

This is the console log:

[code]

I don't know if this causes the problem or is only some other irrelevant issue here to the page not loading.

[2021-11-18 20:23] gabek commented on #1545
I just went and grabbed a stock version of Chromium to test, and it worked out of the box without any issues.  Are you running any extensions that might be blocking something or getting in the way?

![image](https://user-images.githubusercontent.com/414923/142490931-aa30ad61-dd36-4e2c-b42d-57bfb7967b97.png)

[2021-11-18 20:29] EdJoPaTo commented on #1545
I do not normally use chromium and installed it as a friend asked me why my stream isnt working. As I am using Firefox normally I had no problems before.

[2021-11-18 20:31] EdJoPaTo commented on #1545
Interestingly the https://watch.owncast.online instance works in Chromium, my own doesn't.

[2021-11-18 20:40] gabek commented on #1545
According to that link you shared it looks like "Trusted Types" is a part of the security policy header. Do you have a proxy in front that might be inserting that requirement?

[2021-11-18 20:55] EdJoPaTo commented on #1545
This is indeed the case, the CSP header [`require-trusted-types-for`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/require-trusted-types-for) was set which isnt yet supported by Firefox also explaining why it works there.

Removing it ends up working. Looks like I added and tested it before any browser actually supported it. Thanks for the help!

[2021-11-18 20:55] #1545 closed, assigned to nobody

[2021-11-19 22:50] gabek opened #1547 "Client ID should not be exposed in the public chat history API"
![image](https://user-images.githubusercontent.com/414923/142701061-6e5088ed-4b96-4ab6-ae93-789f0556defa.png)

[2021-11-20 07:37] gabek commented on #1379
Seems like OMX is no longer supported in Raspberry Pi OS as of the most recent release, so v4l is probably the solution going forward. However, I'm not convinced people are using Owncast with this hardware, so it'll continue getting pushed back until major features get finished.

[2021-11-21 22:15] gabek commented on #1201
https://github.com/owncast/owncast/issues/1489 is a similar issue. I feel like we're always running into the keyboard shortcuts being accidentally fired and then we go back and fix it. This will keep coming up as new input fields get added. It'd be nice to fix this for good.

[2021-11-23 07:45] gabek opened #1548 "Add webhook for Fediverse activity"

[2021-11-23 21:05] gabek opened #1550 "Optimize server-rendered metadata page for better search indexing"
Search engines get a server rendered page located at https://github.com/owncast/owncast/blob/develop/static/metadata.html.tmpl. While it does its job making sure Owncast instances show up in search indexes, some of the phrases on this page show up in search results and look weird, so I'm wondering if there's a more optimal set of data we can render as HTML that does a better job.  I hate to use th

[2021-11-24 06:17] gabek opened #1551 "Change styling for chat message links"
Right now links are a dimmer version of regular text. It's a bit confusing, because if anything you'd expect links to be stronger and/or more opaque.

![image](https://user-images.githubusercontent.com/414923/143184934-c517fa62-6be6-4b60-850e-1704e9c3221a.png)

[2021-11-24 06:53] gabek opened #1552 "Increase the number of HLS segments in a playlist to increase stability"
In testing this does not increase latency and should, for some people, improve stability.

Closed in https://github.com/owncast/owncast/commit/2fba39b7c72c09ce4ff519fff131ab0443162b06

[2021-11-24 06:53] #1552 closed, assigned to gabek

[2021-11-24 19:50] wasp604 opened #1555 "Insta360 One X2 RTMP stream"
I'm trying to get my 360 camera to stream to owncast. Is there any way to get it to show up as a movable 360 perspective, like 360 youtube live videos do? It currently shows the raw, full 360 scene all at once.

[2021-11-24 19:51] aaronpk commented on #1555
Cool idea! Looks like there is a videojs plugin for 360 video so that could certainly be a possibility: https://github.com/videojs/videojs-vr

<blockquote><img src="https://opengraph.githubassets.com/6a9ecceb7a5081f793b898501568e5759e2dcbdc25c1a5eeac30cdb5214c8056/videojs/videojs-vr" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</

[2021-11-24 22:32] gabek commented on #1555
That looks like a cool solution, and should hopefully be not terribly difficult to add to the player configuration.  If you open up webroot/js/components/player.js you can see how the player is configured there, and if you follow that videojs plugin's instructions you should be able to add it.

If you want to walk through it together feel free to drop by our chat as if you want to play with it in

[2021-11-25 23:25] hollunder opened #1559 "Single line chat layout"
Hi there.
I find the default chat layout to take up excessive amounts of vertical space. In part that is because even a short message takes up two lines, one for the name, another for the message. Add to that padding and margins and every message takes up a lot of vertical space.

So this is an example of what my chat looks like. About ten messages, no more, and a fair part of them could fit on on

[2021-11-25 23:38] hollunder commented on #1339
Hatnix added a message to work around this issue but it is obviously a kludge.
![edit_name](https://user-images.githubusercontent.com/8207622/143507807-853b3cec-bda1-4994-869e-5fd50bb78b34.png)

We threw around a couple of ideas of what could be done to make it more obvious that this is the user name and that it can be edited by clicking there.

Ideas that came up, in about the order they came up

[2021-11-25 23:55] hollunder opened #1560 "Text when composing chat messages is hard to read"
The text when composing chat messages is very hard to read for me. There are two reasons:
1. The text is smaller than the regular chat text:
    `font-size: 12.25px;` due to `.text-sm 0.875rem`
versus
    `font-size: 16.1px;` due to `#chat-container .message 1.15em` and `.text-sm 0.875rem`.
2. The text is in grey on white and while it still technically has good contrast (6.68 AA), in combination w

[2021-11-25 23:59] hollunder opened #1561 "Cursor when composing chat message appears on the right-hand side of the text field in Firefox"
This is probably a bug, small but somewhat irritating.
The cursor initially appears on the right-hand side of the text field rather than on the left side.
![cursor_bug](https://user-images.githubusercontent.com/8207622/143508800-3f2cbec0-9e3a-4a6a-bac5-b1d5956e2c1d.png)
Once you start typing it behaves as expected.

[2021-11-26 00:05] hollunder opened #1562 "Option to disable join messages"
We discussed this tonight in Hatnix' chat a bit and we would generally prefer not to see user join messages.
![join_message](https://user-images.githubusercontent.com/8207622/143508995-7818b114-0e60-4380-b95d-325e7302a67d.png)
Ideally there would be a toggle-able list of connected users, but that deserves a separate issue I think.

[2021-11-26 03:05] wasp604 commented on #1555
The instructions say to add some script tags:

[code]
...which I've filled in with the relevant information:
[code]

Where would I add this? In webroot/js/components/player.js ? I've been messing with it for at least an hour now and can't figure it out.

[2021-11-26 03:33] gabek commented on #1561
What browser and OS are you seeing that on? I haven't seen that myself.

[2021-11-26 03:38] gabek commented on #1562
The one other person I've seen not want this message has hid it with CSS.

Given that this is a pretty standard part of a chat system I don't see us wanting to remove it or adding more toggles to have people turn it off. But I do think customizing via CSS is the answer here. If there's a reason styling isn't sufficient please let me know.

[2021-11-26 03:38] #1562 closed, assigned to nobody

[2021-11-26 03:42] gabek commented on #1560
That's totally fair, we can discuss bumping that up a bit.

Also, like other things this can be styled via CSS and customized to look any way you like.

[2021-11-26 03:47] gabek commented on #1559
I respect your style preference and I totally get where you're coming from. But in general I think what we have is working just fine. If there was an outpouring of people listing issues with it we should discuss it, but you're the only one to mention it.

Also as it stands we rely on the styling of the messages to be what it is for the moderation actions, and would have to redesign that feature as

[2021-11-26 03:47] #1559 closed, assigned to nobody

[2021-11-26 05:55] gabek commented on #1555
I suggest using a copy of that plugin on a CDN somewhere instead of you having to learn how NPM works.  "path" in this case means the path within NPM, not the path on your hard drive. If you want to learn how NPM works you should read through that, but it's probably easier just to use a remote copy.

Video.js should already be loaded.

[code]

[2021-11-26 07:35] hollunder commented on #1561
Firefox 94.0.2 on Linux. At least another person in chat saw that too but I did not ask about browser version. I can do so tonight (UTC+1 here).

[2021-11-26 07:38] gabek commented on #1561
Ah that explains it, I don't use Firefox myself, so it's probably specific to that.

[2021-11-26 07:44] hollunder commented on #1560
I was looking at parts of the GUI last night that bother me as a user and that looked like easy changes.
Sure one can customise things via CSS but not everyone is able to do that and good defaults benefit every user at the same time.
Obviously for defaults to become defaults the developers need to agree with the change, hence these tickets.

[2021-11-26 11:07] wasp604 commented on #1555
Ok, you've lost me there.

The instructions offer only three ways to use it:
- <script> Tag
- Browserify/CommonJS
- RequireJS/AMD

None of these mention a CDN.

Where would I find said CDN? All that sounds extra-complicated.

and I can't find this anywhere in the player.js . Am I supposed to look elsewhere?

I'm used to plugins meaning I download a file into a plugins folder of some sort.

P.S: If

[2021-11-26 17:11] gabek commented on #1555
I looked it up for you. The following script tag loads the script from a CDN so you don't have to use NPM (node_modules).

[code]

[2021-11-26 21:22] hollunder commented on #1559
One CSS hack that seems to work OK (thanks Samuel).
[code]
Not tested wrt. admin interface.
This also has reduced padding.
![single_line](https://user-images.githubusercontent.com/8207622/143655988-0ab073a5-a050-4b76-93cb-3ad8723f4d13.png)

[2021-11-26 21:33] hollunder commented on #1561
Multiple Firefox users reported it is on the right.
A Edge Windows 10 user said: "Left, but in about one third at the right of the input field, my click is ignored."
I tried:
Chromium on Linux: left.
Falkon on Linux: left, but no Emoji picker shows up, different text as well (Not just "Message" like in FF).

[2021-11-26 21:34] gabek commented on #1559
I'm curious why you consider CSS styling a "hack".  We added the ability to add CSS directly from the admin for this exact use case, so people can do whatever they want. I think this freedom and flexibility is way better than hoping every request gets baked directly into the software itself. This feature is built for people like you who want to customize things :)

[2021-11-26 21:46] hollunder commented on #1559
I mainly consider it a hack because it has not been tested with the moderator interface or applied via admin interface.
At this point I'm just a regular viewer of Hatnix' streams.

[2021-11-27 05:09] gabek commented on #1559
It would be cool to have a place where people can share their CSS tweaks so things like this can be more collaborative, but I'm not sure of a good way to do that without building a whole other site that would need to be manged.

[2021-11-27 15:15] hollunder commented on #1559
Maybe some sort of wiki would be good enough?
Hatnix shares his tweks in his Discord for now, but that's a bad place for things like that IMHO.

[2021-11-27 18:36] gabek opened #1563 "Add inline moderation UI to embeds"
Currently you need to be using the full web app to take advantage of the inline moderation actions UI.

[2021-11-27 20:28] hollunder commented on #1559
It seems like that CSS change has no bearing on the moderation interface. Unless there is another one, but if so Hatnix doesn't know it.
![no_influence_on_moderation](https://user-images.githubusercontent.com/8207622/143721325-941580d7-47ef-4546-8571-fc5972146c33.png)

[2021-11-27 20:32] gabek commented on #1559
Oh sorry, that's not what I was referring to.  The inline moderation UI isn't released yet.  See here: https://github.com/owncast/owncast/pull/1331#issuecomment-948235352

[2021-11-28 00:50] hollunder commented on #1559
Oh yeah, that makes more sense.
As far as I can tell from looking at the code this change will place a flex styled div in between the name and message. My CSS fu is not strong enough that I'd dare predict what will happen to that when the two elements are styled inline. I guess we'll see when the time comes. Maybe it just works with the moderation div in between the name and text.

I guess making

[2021-11-28 23:13] #1544 closed, assigned to gabek

[2021-11-29 11:47] jameskimmel commented on #1347
Still open?

[2021-11-29 17:57] gabek commented on #1347
Just tried on Safari, and the issue still exists.

[2021-11-30 21:15] #924 closed, assigned to gabek

[2021-12-01 04:23] gabek commented on #1293
First pass at this is in.

![image](https://user-images.githubusercontent.com/414923/144171413-28a4771b-6c44-4cef-a3f7-b0ee674fe98e.png)

[2021-12-01 04:23] #1293 closed, assigned to gabek

[2021-12-01 04:30] #1373 closed, assigned to gabek

[2021-12-01 05:37] gabek opened #1570 "Add ActivityPub inbox worker pool"
To limit the number of messages we will try to actively parse and handle at once.

[2021-12-01 05:38] gabek opened #1571 "Add ActivityPub outbound worker pool"
To limit the number of outbound requests we'll try and send out at once.  This is pretty much the same as our webhook pool.

[2021-12-01 06:47] gabek opened #1572 "Create a test suite for ActivityPub functionality"

[2021-12-01 07:00] gabek opened #1573 "Surface a list of external Federated actions in the admin"
Follows, likes, reposts, responses, etc.

[2021-12-04 04:43] gabek opened #1576 "Idea: Setup wizard"
Could poll the system for some specifics and then ask questions and save an initial configuration using a mixture of system config and answers to questions.

Example questions:

1. What bitrate, resolution, and framerate do you stream from in your broadcasting software?
2. What type of content do you plan on streaming?  Webcam, pre-recorded video, video games...
3. It looks like you have a 2 core

[2021-12-07 07:44] gabek opened #1580 "Messages Sent column should either center the value or make column narrower"
It almost makes the number seem invisible and the column empty when it's justified far right.

![image](https://user-images.githubusercontent.com/414923/144987289-2a5dd32e-2066-48c2-8025-a191e40439e9.png)

[2021-12-08 03:05] gabek opened #1581 "Add Matrix chat client(s) user agent to our bot list"
So correct metadata will display when shared in a Matrix chat room.

![image](https://user-images.githubusercontent.com/414923/145141117-c79a0f87-9daf-46e6-9351-61468e2cf6b3.png)

[2021-12-09 09:36] henning-schild opened #1582 "add an option to disable join messages in chat"
Just hosted an even with v0.0.10 with hundreds of attendees and quite a bit of fluctuation. That all went great! While the name changing notifications are really needed to keep track of who asked a question before changing their name ... the join/leave causes a lot of noise which disturbs the chat flow and makes the chat hard to follow.

It would be nice if such notifications could be disabled in

[2021-12-09 18:29] gabek commented on #1582
I'm glad it went well! I've been telling people just to hide these messages via CSS, and that's still the solution in the short term. But enough people have asked for the ability to turn off join messages that it seems like it's something that should probably be added.

Renamed the issue to reflect that there are no leave messages.

[2021-12-09 19:39] gabek commented on #1582
If anybody wants to look at this https://github.com/owncast/owncast/blob/develop/core/chat/server.go#L94 is where to start.

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.c

[2021-12-10 06:43] #1449 closed, assigned to nobody

[2021-12-10 07:46] ghost commented on #980
Hi gabek and all;
I discovered SRT in the last few days, and I find it really amazing;

I am providing tech support to a small community online TY here in Perth Western Australia and we are currently using OBS + Owncast via RTMP;

but clearly that introduces a noticeable delay; the promise of better quality with less latency and less bandwidth is very very much enticing for us, given the internet

[2021-12-10 19:08] gabek commented on #980
Hi there,

Just wanted to post a small update. While I'm not opposed to SRT, and it seems to be a nice option, there's a couple major things in the way that doesn't make it an easy thing to do on our side.

First of all, there's nobody to work on it right now. Other priorities are going on, so I can't focus on this. A lot would need to be reworked to get SRT working, since it was always assumed RT

[2021-12-11 00:19] gabek commented on #1526
Not sure this is still happening.

[2021-12-11 12:34] hollunder commented on #1534
To start with a little taste of what we are dealing with pretty much every night on Hatnix' stream.
![modern_art_1](https://user-images.githubusercontent.com/8207622/145676137-233556f2-988e-47c2-9e19-4a8960afa7b6.png)
![modern_art_2](https://user-images.githubusercontent.com/8207622/145676142-2b1c1f94-26ff-419f-a934-8fc9ab98ecc8.png)
It's almost modern art, isn't it?

Clearly the current moderatio

[2021-12-11 16:35] gabek commented on #1534
Just for clarification, the current banning method isn't by display name. It's by chat account. To evade a ban you must use a private browser/incognito tab, or go into your browser's local storage and clear the reference to your account so Owncast will create you a new one.  I only clarify this because it shows that these people are going through some effort, and actually looking into, how to get

[2021-12-11 18:08] nebunez commented on #1534
Just my .2: I don't think there is any good solution for moderation without requiring authenticated user accounts. I know that there are reasons for not wanting this (including scope of the core project), but if there were an option for authenticated accounts for chat moderation, I would use it. It's important to note, that people could still watch the stream without needing authentication in this

[2021-12-11 18:15] gabek commented on #1534
Just so this discussion about IP banning doesn't go too far into registered/non-anonymous user accounts, please see https://github.com/owncast/owncast/issues/464 if people want to see the history behind that discussion or add to it.

[2021-12-11 18:32] gabek commented on #1534
And not to dilute the IP banning conversation, but one thing I think that's worth adding is given there's no perfect technical solution, better manual solutions should be made available and that's already being worked on.  [Moderators, and inline moderation](https://github.com/owncast/owncast/pull/1331#issuecomment-948235352) will be available in the next release allowing for faster moderation, an

[2021-12-11 19:55] hollunder commented on #464
Just one moderation idea we have had in case user accounts are available in some fashion:
Temporarily disable chat for users without account.
Assuming a spammer does not have an account he would be stopped there while at least a part of the regular audience could still chat. Most likely some non-spammers would be caught in that, but that's why I think it should just be a temporary measure, for exa

[2021-12-11 23:24] gabek opened #1586 "Return user scopes as a part of the chat history API"
To be done with the chat message rework that's being done to support federated actions in chat.

[2021-12-12 10:08] hollunder commented on #1534
Thanks for the clarification.
What we have been seeing is that the spammer is back very quickly after a ban, I think below five seconds. That's why I'm saying that the current method is meaningless, it is simply too easily circumvented. Inline moderation is not going to change anything in that regard.

I do not know whether this particular spammer will be able to circumvent an IP ban just as easil

[2021-12-12 10:10] Semisol commented on #1534
IP bans are the only reasonable way.	 For Tor, you could block tor users but there are reasons to use Tor too.

[2021-12-12 19:50] gabek commented on #1534
When IP banning goes in and people start using VPNs and Tor to evade the bans you'll still be asking that same question.  So start thinking about that now. Because I'll probably have to say "we've run out of technical solutions, so moderation is probably the answer".

[2021-12-12 21:29] gabek opened #1587 "Troll Mode (like +m on IRC)"
Was discussing with @YarmoM's and crew on his stream today about moderation ideas and this one came out of some brainstorming that I think is a neat idea.

The idea of something akin to an "allow list" of chatters when a troll comes in would reverse the moderation flow, a "Troll Mode", if you will. Instead of banning the bad people, you temporarily allow only the "good" ones.  And while having to

[2021-12-12 21:35] gabek commented on #1534
Side moderation discussion idea: https://github.com/owncast/owncast/issues/1587. Separate from IP banning, but another idea on top of it.

[2021-12-12 22:19] Semisol commented on #1587
An option could be to automatically allow-unless-approved for existing viewers, so the normal people don't get impacted as easily.

[2021-12-12 22:19] Semisol commented on #1534
Looks good! IP banning + that will probably be fit for most cases.

[2021-12-13 00:02] Semisol commented on #1587
For clarification: When enabled, if the creator wants, everyone that's online at the time of the enabling gets the "allow" flag.

[2021-12-13 09:17] surgediverter commented on #1587
I do like that idea  :)
maybe this even works access token based only (no IP recording / account creating needed)
additional one could still send the messages users try to send to chat to moderators only instead  and let them individually decide to let them pass that filter /and /or add new users to the whitelist while it is active
(ignoring other aspects beside of trolling, e.g. #464)

[2021-12-13 09:28] gabek commented on #1587
Yup, this would have nothing to do with IP addresses, but would use the existing chat accounts.

[2021-12-13 09:40] hollunder commented on #1587
I wonder how persistent that will be. I see a fair share of users on Hatnix' Server who have to set their name every day. I think that means they will have to be whitelisted every time as well.
It definitely does not scale however, at some point you simply can't whitelist everyone. This is of course compounded by the above problem.
Impersonation is also possible but I doubt that's a serious proble

[2021-12-13 10:28] gabek commented on #1587
It's designed to be persistent. However I've seen people that block access to local storage or open the page only in incognito windows obviously need to reset their chat identity every time because they are purposefully blocking it.

If there are other scenarios where people are losing their identity without doing it on purpose I'd love to hear details behind it.

[2021-12-13 11:04] hollunder commented on #1587
I guess it is due to people's browser configuration or plugins but obviously I don't know.
When you say identity, does it come down to the name alone?
Could the spammer grab a list of whitelisted names and just use those?

[2021-12-13 12:02] YarmoM commented on #1587
Each visitor stores an access token in their browser's local storage and I'm pretty sure that is the actual identity. So the troll could pick the name of an allowed person but that won't be enough to impersonate: they need the access token.

[2021-12-13 12:17] YarmoM commented on #1587
Ideally, identity is something "external" and could be as simple as a text file containing an access token or a cryptographic keypair (generated by the owncast instance, for example). People could either start typing in chat "unauthenticated" or first upload that text file (the contents of which are then stored in local storage) and be "authenticated" in chat. Chat messages are signed on the fly,

[2021-12-13 14:05] surgediverter commented on #1587
if I understood it correctly its meant to be a "temporarily" action

I don't think that this is necessary, I see that more as a regulars /followers only concept

[2021-12-13 14:07] surgediverter commented on #1587
if I understood it correctly its meant to be a "temporarily" action

I don't think that whitelisting everyone is necessary, I see that more as a regulars /followers only concept

[2021-12-13 14:33] Semisol commented on #1587
Yeah, meant for some really abusive times, nothing else.

[2021-12-13 18:33] #1581 closed, assigned to jeyemwey

[2021-12-13 20:21] hollunder commented on #1587
Yes, it is supposed to be a temporary measure but you would want the whitelist to be persistent. Imagine a spammer returns every stream. You as streamer (moderators are not possible yet) would not want to whitelist your regular viewers every stream but ideally only once. For that to work the whitelist needs to be persistent and the users need to be identified reliably.
Especially since this system

[2021-12-13 20:26] gabek commented on #1587
I've mentioned a couple times that user accounts are indeed persistent. If there is a larger issue where persistence is not working for you then please let me know the specifics behind it, but as far as I'm aware this is not a problem.

[2021-12-14 13:32] stsecurity commented on #242
Hello, I'm using v0.0.10 and after setting up everything to connect to my minio address, including 'Serving Endpoint', owncast is still trying to connect to 'https://bucketname.myminiodomain' instead of 'https://myminiodomain/bucketname' which is what I set in my admin panel.
It feels like the 'Serving Endpoint' option does nothing, is there anything I'm missing or is it a bug? I looked at the doc

[2021-12-14 19:54] gabek commented on #242
Serving endpoint was designed for S3 providers that offer a CDN where you need to pull the files from an alternative hostname. Admittedly I'm not sure what would happen if you tried to add a path to that as well, like you're doing. I'm guessing it breaks things since that's not what it was built for.

You're running into the "Host based vs. Path based" S3 scenario. Owncast currently only supports

[2021-12-14 21:25] gabek commented on #1587
But that would also enable the troll to keep trolling.

Another option, instead of the idea of whitelisting individuals, is to implicitly allow people who have had a chat account on that server for longer than X amount of time with the assumption that a troll hasn't been hanging around for long before causing trouble. I don't know what that amount of time would be. You could argue 10 minutes might

[2021-12-14 21:34] gabek opened #1593 "Federated follow modal updates"
- Need to bring back the loading spinner that shows when you press Follow.
- Modal should close when the redirection takes place.
- The background color cuts off before reaching the bottom of the modal.

![image](https://user-images.githubusercontent.com/414923/146082741-483364a9-06bb-451b-a6ca-a6c0798afa08.png)

[2021-12-14 21:48] gabek opened #1594 "Enable federation modal: Discuss the text and make sure it's very clear"
"Federation" doesn't make sense for most people, so we need to make sure it's 100% clear what it is, what it requires, and what features come from it.  Below is the first pass, but I want to go over this with different people and get input.

![image](https://user-images.githubusercontent.com/414923/146084415-dfcda290-24f9-46d4-8313-fe6cc91e8ae3.png)

[2021-12-14 22:06] aaronpk commented on #1587
YouTube has a similar feature:

![image](https://user-images.githubusercontent.com/113001/146086854-d57ce0ff-9850-45d4-9572-e1b04060161d.png)

You can make it so only people who have been subscribed for X minutes can chat. The idea is to prevent drive-by spamming of the chat. Of course a dedicated troll can subscribe and wait 5 minutes to get around it, but I have a feeling this prevents most driv

[2021-12-14 22:45] gabek commented on #1324
This is still an issue with images.

1. Message comes in.
2. Chat scrolls to the bottom.
3. Image asynchronously loads, changing the size of the message.
4. Chat doesn't move, leaving the message cut off.

I _think_ what is happening here is when the image loads, the chat viewport is scrolled so far away from the bottom at that point that the logic to "not auto-scroll if you are scrolled x from th

[2021-12-15 00:24] stsecurity commented on #242
Thank you very much for your reply, I was trying to set serving endpoint because it was mentioned in [owncast docs](https://owncast.online/docs/storage/minio/), but I guess it was written for an earlier version.
I do understand that MinIO support host-based method, for me I can't easily switch to a host-based method because I use my MinIO instance for some other services I run and I want to keep t

[2021-12-15 05:33] gabek opened #1595 "Increase the max size of the chat welcome message"

[2021-12-15 06:46] jeyemwey commented on #1594
Can we add another button to the action bar? "I understand" does not sound fitting, I'd rather have a "I understand and want to continue" and a more visible "Abort/Cancel/Go back" button additionally to the `&times;` on the top right.

[2021-12-15 18:28] gabek commented on #1594
Yeah, I think more explicit buttons makes sense.

[2021-12-16 18:10] gabek commented on #1529
I thought I fixed it. I did not.

[2021-12-16 20:36] gabek commented on #1594
Larger idea, and not one I'm sold on, but want to mention it anyway.  Instead of using "Federation" everywhere, and trying to explain it, just simplify it by calling it "social" and referring to "social features".

On one hand I think we should try to evangelize the idea of the Fediverse and talk about what it is, federation. On the other hand it does sound scary to new comers and they might not t

[2021-12-16 20:37] aaronpk commented on #1594
I like that idea, also because "federation" often also refers to federated login like delegating to a company's OpenID Connect server

[2021-12-16 23:35] #1209 closed, assigned to gabek

[2021-12-16 23:43] gabek commented on #1516
This is in the `gek/activity-pub-1` branch.

[2021-12-16 23:43] gabek commented on #1489
This is in the `gek/activity-pub-1` branch.

[2021-12-17 00:23] #1586 closed, assigned to gabek

[2021-12-17 00:36] gabek opened #1599 "Clarify the details and instructions on the "Follow" modal"
https://github.com/owncast/owncast/issues/1594 and this go hand in hand.  It needs to be clear that you're using an existing account on the Fediverse.

![image](https://user-images.githubusercontent.com/414923/146469209-0e6560ce-7d56-4aed-b0db-e7af4d7a8c2b.png)

[2021-12-17 01:44] gabek commented on #1529
1. As a moderator, join the chat.
2. You see the "X Joined" but not the Moderator message.
3. Reload.
4. The backend won't send a "X Joined" in quick succession, so you'll only see the Moderator message.

In #2 you should see both mesages, but only one is being added to the state and rendering.

Example:

![chat-moderator-msg](https://user-images.githubusercontent.com/414923/146474800-cbac469a-5a7

[2021-12-17 01:58] gabek commented on #1538
How to reproduce:

1. Send a chat message
2. Give yourself moderator privileges
3. Send another chat message

You'll see message 1 does not have a moderator menu when hovering over it, but message 2 does.  I'm assuming the existing chat messages aren't re-rendering when your moderator status changes.

[2021-12-17 10:38] jeyemwey opened #1600 "Fire webhooks on federation events"
While not immediately necessary, I think that this would be helpful for our webhook users (e.g. for monitoring events) to be notified about federation events.

To do this:

- [ ] decide on which federation event should get a webhook
- [ ] decide on a schema that's send to the webhook
- [ ] create a/multiple new webhook event for federation
- [ ] add integration tests for the new webhooks (if requi

[2021-12-17 16:31] Zidichy opened #1602 "Disable the play button when first enter the stream"
Hi, would it be possible to disable the play button and have the stream just start as soon as someone enters the live stream instead of the users pressing play?

[2021-12-17 16:36] aaronpk commented on #1602
Browsers don't let arbitrary websites autoplay video with sound. The best you'd get is the stream playing with no sound, and it would require the user click the unmute button to hear it, which sounds like a worse experience to me than having the page load with the stream stopped.

[2021-12-17 20:22] gabek commented on #1600
Correct, it's not a part of any milestone and nothing depends on it.

[2021-12-18 00:53] #1571 closed, assigned to gabek

[2021-12-18 03:17] #1570 closed, assigned to gabek

[2021-12-18 05:04] gabek opened #1603 "Get or use a Fediverse logo that looks correct in the admin menu"
![image](https://user-images.githubusercontent.com/414923/146629749-8c835e2b-fbe0-4490-a9fa-b6e163c7bf00.png)

[2021-12-18 06:02] gabek commented on #1603
I did a little tweaking and it actually looks ok.

![image](https://user-images.githubusercontent.com/414923/146631163-4bce389f-832d-4d03-9664-39cb36d0b632.png)

[2021-12-18 06:02] #1603 closed, assigned to nobody

[2021-12-19 01:37] tacerus commented on #464
OpenID or SAML integration would be fantastic for people using OwnCast in an environment with other self-hosted services, and possibly an existing identity management solution in place. It does not need to be made prominent turning people away who do not know how to use it, and it does not need to ship with default support for identification with X commercial service. It would rather be an optiona

[2021-12-19 07:32] #1538 closed, assigned to nobody

[2021-12-19 11:55] DrSkyfaR opened #1604 "[Feature Request] Translate Owncast"
Hello,
I was wondering if we could help translate Owncast into additional languages. I would like to provide the German translation here.

[2021-12-19 14:11] jeyemwey commented on #1604
Thanks for your kind offering to add German translations. Since not all of us are speaking English natively, you are certainly not alone.

Just for clarification: Are you looking to translate the web frontend or the admin interface or another part of the application?

We had consensus [in earlier discussions](https://github.com/owncast/owncast/discussions/720) that translating Owncast needs lots o

[2021-12-19 20:34] gabek opened #1605 "Create explicit "Donate" button next to "Follow""
While we have offered a "donate" link as one of the available social options for some time, I wonder if people would find it nicer to add an explicit "Donate" button on the top level list of buttons next to "Follow" and the custom external actions.

People can create their own using the "External Actions" feature in the admin, but I do think maybe just having a text field where somebody can drop a

[2021-12-19 20:37] gabek opened #1606 "Chat toggle still displays when chat is offline"
As it stands with v0.0.11 chat completely disappears when it's no longer active in order to make more room for the page content, since there's no point to take up screen real estate with something that's disabled.  However, the chat toggle in the upper right (the little message bubble) and user name still displays, even though it won't do anything.

You can argue you should still see or change you

[2021-12-21 02:50] f35f0ef9d0e827dae86552d3899f78fc commented on #1595
P'haps this be the place:

https://github.com/owncast/owncast-admin/blob/979f339b3cbbb029ffe81cfd02f26c5267843f25/utils/config-constants.tsx#L81

<blockquote><img src="https://opengraph.githubassets.com/714ba14e4419ba907e4268df9aed36a0fe52408e34e47fa4dd3a083ed9ef9ee9/owncast/owncast-admin" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> Gi

[2021-12-21 02:52] gabek commented on #1595
Indeed!

[2021-12-21 02:58] f35f0ef9d0e827dae86552d3899f78fc commented on #1595
You can assign me, then, and I will learn how you want pull requests to look.

`maxLength` makes me think character length, not word count.

That looks like this:
[code]

How huge would be OK? 2,500?

[2021-12-21 03:02] gabek commented on #1595
Awesome! Yeah, it's character count.  Sure, 2,500 works for me. If people want a huge message, let them have it :)  This was requested by a streamer who wanted to add more links in the message, that includes markdown, so the characters go fast in that case.  Thank you!

[2021-12-21 03:10] f35f0ef9d0e827dae86552d3899f78fc commented on #1595
Alright, I put it here:
https://github.com/owncast/owncast-admin/pull/401

[2021-12-21 03:23] gabek opened #1607 "When external contributors submit a PR to owncast/owncast-admin the linter fails"
This is not a great experience for people contributing, but I don't know why this happens. The error says `eslint-plugin-react` isn't installed, but that's untrue.

![image](https://user-images.githubusercontent.com/414923/146865304-2d519d24-0144-4c14-9b12-aa42ef3af9c9.png)

[code]

[2021-12-21 22:56] #1607 closed, assigned to nobody

[2021-12-22 03:49] gabek opened #1609 "Internal 3rd party auto-poster"
Add a new feature where a server admin could configure specific services that get notified when a stream goes live.  This could use the https://github.com/nikoksr/notify library that has built-in support for a handful of different services. The downside, however, is it pulls in SDKs from all of those services and I'm curious how much it would increase our shipped binary size.

Right now we encoura

[2021-12-22 05:36] gabek opened #1610 "Add global button to the admin for sending a federated post"
Right now posting is under a menu item, but it makes more sense to have it globally available as a modal that pops up when you press something.

[2021-12-22 18:52] DrSkyfaR commented on #1604
Hello @jeyemwey,
first, thank you for your summary of the topic and the conversation you had already had. Unfortunately, I'm only now getting around to replying to you. Like many people, I was probably gripped by stress during the final stages of Christmas. But I have used the time wisely and thought about your words.

The problem of supporting a language is quite justified, but I think it is a ge

[2021-12-23 01:03] gabek opened #1611 "Create an admin text input that auto expands to fit the content"
Suggested in https://github.com/owncast/owncast-admin/pull/401#issuecomment-998903521.

Would be useful for text fields that can have a highly dynamic amount of content.

@f35f0ef9d0e827dae86552d3899f78fc mentioned they'd be interested in looking at this.

[2021-12-23 06:01] #1610 closed, assigned to gabek

[2021-12-23 06:26] #1606 closed, assigned to gabek

[2021-12-23 06:40] sethschn commented on #1358
I would love /spoiler tag

[2021-12-23 07:03] #1595 closed, assigned to f35f0ef9d0e827dae86552d3899f78fc

[2021-12-24 21:33] gabek opened #1615 "Remove unused ActivityPub vocabulary"
To reduce the size of our binary we should remove all the ActivityPub vocabulary that we don't use from [our fork](https://github.com/owncast/activity).

[2021-12-24 22:42] gabek opened #1616 "When chat displays the follower cells become too small"
They should be the same size regardless if chat is visible or not.

Incorrect:
![image](https://user-images.githubusercontent.com/414923/147373625-86588396-b7f0-4126-ab03-16f68dfd136d.png)

Correct:
![image](https://user-images.githubusercontent.com/414923/147373638-d1920d80-5c08-433a-aa76-97a37a79efdf.png)

[2021-12-25 05:59] gabek opened #1617 "Images in federated actions render with different sizes"
The same view is used, but the images show up with different sizes and different positioning depending on the text content of the rest of the view.

![image](https://user-images.githubusercontent.com/414923/147378471-1ecf27ea-b931-4a47-a88b-467967b8439d.png)

[2021-12-25 18:51] gabek opened #1618 "Allow a server admin to create rules around their instance"
While rules around a server typically mean the rules you need to abide by to create an account and utilize the services on that server, it may still be useful to allow an Owncast instance admin to create rules around people visiting, chatting, and consuming their content in order to make their moderation policies clear and to explicitly state things they do not permit.

This would need a new confi

[2021-12-25 19:58] gabek opened #1619 "Expose the Owncast server as a bot instead of a person"
To clarify to the outside world that it is an automated service that isn't following people back and isn't responding to messages.

[2021-12-25 20:11] #1619 closed, assigned to gabek

[2021-12-25 21:14] gabek opened #1620 "Allow tags to be added to manually authored posts"
Add support so if people type `#hashtags` they get parsed in the backend and `Hashtag` objects get created from them and added to the note.

[2021-12-26 21:05] gabek commented on #1388
Given I don't have a good story about responses, I'm going to push this out. I know this will upset people, but it has more questions than answers. If we open the door to using Owncast to reading replies, then you're having bindirectional conversations, with threads. It quickly turns into an entire microblogging interface within the Owncast admin with even more features and moderation tools.

[2021-12-26 21:08] #1573 closed, assigned to gabek

[2021-12-26 21:42] #1516 closed, assigned to nobody

[2021-12-26 21:42] #1616 closed, assigned to nobody

[2021-12-26 21:56] gabek commented on #1201
Made a change where the "target" element must explicitly be the general body of the page, meaning it's not being fired based on an input field. This should fix it for good going forward I hope.

[2021-12-26 21:56] #1201 closed, assigned to nobody

[2021-12-26 21:56] gabek commented on #1489
Made a change where the "target" element must explicitly be the general body of the page, meaning it's not being fired based on an input field. This should fix it for good going forward I hope.

[2021-12-26 21:56] #1489 closed, assigned to nobody

[2021-12-27 03:37] #1593 closed, assigned to gabek

[2021-12-27 05:43] #1620 closed, assigned to gabek

[2021-12-27 18:27] gabek commented on #1526
Pretty sure this is no longer happening. Closing.

[2021-12-27 18:27] #1526 closed, assigned to nobody

[2021-12-28 07:00] #1529 closed, assigned to nobody

[2021-12-28 07:38] #1580 closed, assigned to nobody

[2021-12-28 08:04] gabek opened #1621 "Admin throws a Javascript error when toggling federation switch"

[2021-12-28 08:16] gabek opened #1622 "Position + fix wording of the error message for remote follow modal"
![image](https://user-images.githubusercontent.com/414923/147544446-6e252439-24a7-40a6-a02f-724b2eb9756f.png)

[2021-12-28 08:25] gabek commented on #1594
I guess I'm changing things to refer to "social". Though I'm concerned people might think it means Facebook, Twitter, etc.

[2021-12-28 23:35] gabek opened #1623 "Don't allow fetching federated objects by IRI if private mode is enabled"
Should return a 404.

[2021-12-28 23:36] gabek opened #1624 "If instance is marked as NSFW mark any federated attachments as sensitive"
- Add a NSFW content warning around federated posts
- Mark attachments as "sensitive"

[2021-12-29 06:12] #1624 closed, assigned to gabek

[2021-12-29 06:22] gabek opened #1625 "Redesign chat messages"
A couple people have mentioned they'd prefer a new design for the chat messages.

@nebunez mentioned that he'd like to see them take up less space.

We should collect what we'd like to see here and come up with a new design that would work with people while also allowing room for the inline moderation control.

While I don't care about the design as it stands, the reason I made it the way it is, w

[2021-12-29 06:35] #1623 closed, assigned to gabek

[2021-12-29 07:31] gabek commented on #1622
It's a bit verbose, but it aims to explain what happened and what you should do instead.

![image](https://user-images.githubusercontent.com/414923/147637712-346bdcaf-a117-42c0-8ec7-42052f909cc6.png)

[2021-12-29 07:32] #1622 closed, assigned to gabek

[2021-12-29 07:39] gabek opened #1626 "Migrate sql queries to use sqlc"
For the ActivityPub project I've used [sqlc](https://sqlc.dev/) and I've really enjoyed it. It allowed to have type safe queries and results without any kind of bulky middle layer, it's simply codegen. Since it's so nice to use I'd like to move other queries in the project to use it.

I'll get to this some day down the road, no rush, nothing relies on it, and it'll be after major features get out.

[2021-12-29 19:05] nebunez commented on #1625
You make valid points about accessibility here. I would definitely like to get more consensus on what's good so we can pick a good default. Personally, I just used the custom css for the first time, and with a little more work on the css classes, and evangelism, this is actually a pretty powerful way to let people customize their chat styling.

[2021-12-29 19:07] nebunez opened #1627 "the message-name-change class is overused"
I'm working with the custom css in the Admin for the first time, and I'm noticing that the class "message-name-change" is applied to more than just name changes. We should have more specific classes for specific events so they can be styled appropriately.

[2021-12-29 21:05] gabek commented on #1572
I've yet to come up with a good solution for this. Unlike other integration test suites we have, we can't just create fake payloads and requests to our APIs and verify the responses are correct and internal application state has changed.

Federation is a two way street with a valid server on each side, behind SSL, with signing keys, talking asynchronously.

[2021-12-29 21:10] gabek commented on #1548
Closing in favor of #1600 that was created with more detail.

[2021-12-29 21:10] #1548 closed, assigned to gabek

[2021-12-30 01:08] gabek commented on #1621
Fixed.

[2021-12-30 01:08] #1621 closed, assigned to nobody

[2021-12-30 02:31] gabek commented on #1594
It's a lot, but it tries to be clear and slightly educational, bridging the gap between the generic term "social" and the concrete "fediverse".

![image](https://user-images.githubusercontent.com/414923/147716896-63e383e0-ec7a-449d-a96b-51bc8fcd4cf4.png)

[2021-12-30 02:53] gabek commented on #1594
I'm going to close this. I'm sure we'll get more feedback in testing, and updates can take place as that happens.

[2021-12-30 02:53] #1594 closed, assigned to nobody

[2021-12-30 03:22] gabek opened #1628 "Add NSFW toggle to the Social config admin page"
Just for convenience of the admin.

[2021-12-30 06:30] #1617 closed, assigned to nobody

[2021-12-30 06:59] gabek opened #1630 "Support forcefully removing somebody who is following your server"

[2021-12-30 07:03] gabek opened #1631 "Add support for manually blocking a specific remote actor"
Right now there's support for blocking an entire domain, but we need support for blocking an individual remote actor.

[2021-12-31 05:33] #1365 closed, assigned to nobody

[2022-01-01 17:19] UXShawrk commented on #1551
The design is pretty confusing. As a user, I'm not actually sure which ones are links. I assume the links are SONG LIST, Stripe, PayPal, and Bitcoin? I also assume "Donate with" is a drop down?

Where can I find this in the website, by the way?

[2022-01-01 18:32] gabek commented on #1551
The above screenshot is somebody's server, but you can just send a link in a chat message to see what a link looks like. If you want to link some text like in the screenshot you can use markdown like
```[my link](http://duckduckgo.com)```

[2022-01-01 23:53] gabek opened #1635 "Handle bad avatar URLs and fallback to a local placeholder"
Since follower avatars are hosted remotely there's no guarantee they're still valid or available. Add a failure handler for loading those images and use a fallback image instead.

![image](https://user-images.githubusercontent.com/414923/147862523-621f28cf-184c-4db2-90f2-f89b6aa24609.png)

[2022-01-02 16:12] KJThaDon commented on #410
Is this still not a thing?

[2022-01-02 18:35] gabek commented on #410
@KJThaDon Nope! Are you interested in working on adding support for the presentation API?

[2022-01-02 20:46] gabek opened #1636 "Fix styling of followers"
- Remove underline on hover, it's ugly.
- On wide screens each item is too wide.

![image](https://user-images.githubusercontent.com/414923/147889016-d88dfaf6-a9d9-4139-acd3-dd697f96d97e.png)

[2022-01-02 22:18] gabek opened #1637 "Use schema.sql as the table creation + migration source"
Related to #1626.

It's a much nicer developer experience to have this single source of truth for the database schema and not have one-off table creation methods for each table and manual migrations.

https://docs.sqlc.dev/en/stable/howto/ddl.html?highlight=migration#handling-sql-migrations

[2022-01-02 22:39] gabek opened #1638 "Add "restreaming" documentation"
Owncast will never have "restreaming" functionality, it's a streaming server, not a streaming client. But enough people ask about it and consider it a barrier of entry that it's worth adding some documentation around suggestions to answer their question.  While we'd obviously love to have people using Owncast exclusively, using it along side YouTube or Twitch is better than them not using it at al

[2022-01-03 16:42] UXShawrk commented on #1551
Hi, I'm proposing some potential redesign to the texts in order to show links better. Pay no attention to the other parts of the image like the icons or the font, this is to show a little tweak that can make the user know when something is a link.

Conventionally, users read underlined text as a link so that's what I did here. I have three redesign options:

Option 1:
![image](https://user-images.

[2022-01-03 17:18] gabek commented on #1551
Thanks for looking at this! I have some thoughts.

Since chat message background colors are varied depending on the user sending them, I think the color will always have to be some version of white so it's readable. Otherwise you might end up with the blue on top of blue that you're starting to see in your first example.

Admittedly I should have put multiple examples of chat messages in this issu

[2022-01-03 17:21] gabek opened #1639 "Add Rocket.Chat to our bot user-agent list"
Now that Rocket.Chat has added an identifier in their user-agent we can add it to our bot list.

https://github.com/RocketChat/Rocket.Chat/issues/19188

[2022-01-03 18:23] gabek opened #1640 "Remove variable data in log entries"
While I believe everything we're doing is pretty innocent, it seems the log4j issue is setting a standard that no dynamic content should be logged. So simple things like `log.Traceln("Deleting access token:", token)` seems to be a no-no going forward.

I'm not sure if this is publicly available or not:

https://github.com/owncast/owncast/security/code-scanning

[2022-01-03 19:03] gabek commented on #112
@ForestJohnson If you get a chance, I'd love to hear about your work with WebTorrent, from the client and server/tracker side, and its performance. Like mentioned above, if there's a fit for p2p with Owncast I'm totally game, knowing the following:

- Owncast is live
- Streams are generally relatively small, so the number of seeders would be limited
- Latency is something people are very sensitive

[2022-01-03 21:13] #1628 closed, assigned to gabek

[2022-01-03 23:39] gabek opened #1641 "Add information about following to the empty state of followers tab"
Maybe even add a "Follow" button there?

![image](https://user-images.githubusercontent.com/414923/147991807-4d1581c9-9803-4eb6-8dd2-b7635c05119d.png)

[2022-01-03 23:46] ForestJohnson commented on #112
With the browser, HTTP server, torrent tracker, and torrent seed all on the same computer, I was able to get the latency from `DOMContentLoaded`  to `Torrent download complete`  down to about 250ms.

But I think there's a more fundamental problem with webtorrent where torrents are immutable, can't add new content to them (new HLS segments)  but also each torrent in webtorrent has to have its own s

[2022-01-04 00:24] #1630 closed, assigned to gabek

[2022-01-04 00:50] nebunez commented on #1582
I'm happy to take this one, as this is something I want myself. I believe hiding these messages with CSS causes extra messages to be hidden --see #1627

[2022-01-04 01:06] aaronpk commented on #1555
I tried hacking this up on a test instance but wasn't able to get it to work. The content security policy blocks loading that script from the CDN. I tried downloading it to the webroot folder, but it looks like the main videojs library is being loaded in such a way that bringing in the vr plugin this way doesn't work. When I try to run the initialization line right after the main videojs object is

[2022-01-04 01:59] #1635 closed, assigned to gabek

[2022-01-04 02:31] aaronpk commented on #1555
I bundled videojs-vr with the npm install method and that seems to have gotten farther, but I'm still getting that same error. Here's what I've done so far:

https://github.com/aaronpk/owncast/commit/093bbea7c5f4c3d5cf33d2773bfc933959576ee3

[2022-01-04 02:41] #1636 closed, assigned to nobody

[2022-01-04 03:10] #1641 closed, assigned to nobody

[2022-01-04 03:55] gabek opened #1642 "Set a default "Go live" message"

[2022-01-04 06:41] #1642 closed, assigned to gabek

[2022-01-04 08:10] #1599 closed, assigned to nobody

[2022-01-04 17:46] gabek commented on #1631
Now actors that get removed as a follower or a follow request that gets actively rejected will get stopped when they send activities.

You can't manually type in an account to block, but I think this should suffice for this initial version.

[2022-01-04 19:33] gabek commented on #1196
This was accidentally closed.

[2022-01-04 21:30] gabek opened #1643 "Chat is no longer hiding messages on visibility update events"
Events are coming in, but the frontend either isn't acting properly or isn't rendering the change properly.

![image](https://user-images.githubusercontent.com/414923/148126441-2c706f46-3eb5-496d-9299-9841ba64ec9b.png)

[2022-01-04 22:20] gabek opened #1645 "Fix the formatting of "Go Live" messages"
- Remove the leading blank line
- Tags should go before the URL?
- Add blank line between the tags and URL?

![image](https://user-images.githubusercontent.com/414923/148129564-bbe06e77-bcbb-416b-ba8b-b36f117c69e1.png)

[2022-01-04 22:47] #1645 closed, assigned to gabek

[2022-01-04 23:04] #1643 closed, assigned to gabek

[2022-01-04 23:20] gabek opened #1646 "Broken images in the social activities admin page"
Should also link those URLs.

![image](https://user-images.githubusercontent.com/414923/148136996-50111494-85ed-404f-84bd-92fea729ed6e.png)

[2022-01-05 00:06] gabek commented on #1354
With 0.0.11 tags in federated posts will link to the directory, so this bug needs to be fixed.

[2022-01-05 01:36] f35f0ef9d0e827dae86552d3899f78fc commented on #1611
I'm still planning to look into this even though I forgot about it for a few days. My friends and I have been having too much fun in a new PC game we got recently. Just wanted to say I'm still "here."

[2022-01-05 05:14] #1646 closed, assigned to nobody

[2022-01-05 07:37] gabek commented on #1354
I added some Javascript hackery to navigate to the tag page if it's in the URL. Finally fixed.

[2022-01-05 07:37] #1354 closed, assigned to nobody

[2022-01-05 17:40] #1639 closed, assigned to nobody

[2022-01-05 18:38] deepto98 commented on #1640
@gabek Hi, I'm interested in project, can I pick this up? If I understand correctly, the idea is to remove all instances of log.Traceln where a variable is logged?

[2022-01-05 18:41] deepto98 commented on #1638
@gabek Can I work on this?

[2022-01-05 18:41] gabek commented on #1640
Yup, exactly!  I don't know if you have access to the above link, but it will show all the instances.  But I'll paste it here just in case. Thanks for volunteering to pick this up!

[code]

[2022-01-05 18:44] deepto98 commented on #1605
@gabek I'd like to work on this, can you point me to the files I should look at?

[2022-01-05 18:45] gabek commented on #1638
Sure, thanks!  Our documentation repo is at https://github.com/owncast/owncast.github.io

I said "Restreamer" above but I meant Restream.io: https://restream.io/

<blockquote><img src="https://opengraph.githubassets.com/bdc4bbd210b2007fad329b86615c535161807f61e6475b5b14463178853b2ab2/owncast/owncast.github.io" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon

[2022-01-05 18:48] UXShawrk commented on #1551
An on-hover underline wouldn't be a bad idea. In any case, if you do decide to implement underlines being visible only when a mouse hovers over the link, it's good practice to design the link's visuals so that it can be easily differentiated from the rest of the text.

That's why an underlined blue font works so well for links across the web. Most of the time you see black text, so when a link is

[2022-01-05 18:52] gabek commented on #1605
This requires a design pass to decide how we'd want to do it, so unfortunately it's not ready to go in just yet.  Sorry about that!  I plan on bringing it up at our next Owncast call that looks like it'll be on the 17th.  You're welcome to join! https://doodle.com/poll/95ud2raip7grurkg

<blockquote><img src="https://cdn2.doodle.com/groups/favicon.65225a36fe566957b313.ico" width="48" align="right">

[2022-01-06 05:06] gabek commented on #1551
I experimented with putting the little link icon next to it, but that looks bad.

![image](https://user-images.githubusercontent.com/414923/148330828-797e5a89-09cc-4f19-a752-6281f6ba49a0.png)

The reason I didn't want blue text is for the cases when the text is blue on blue, like this, it's really hard to read.

![image](https://user-images.githubusercontent.com/414923/148330947-28f5cb27-961c-4c4f

[2022-01-06 05:16] gabek commented on #1602
Closing this for the reasons Aaron mentioned above. The play button is bigger than the mute button :)

[2022-01-06 05:16] #1602 closed, assigned to nobody

[2022-01-06 05:20] gabek commented on #1563
This is working now.

[2022-01-06 05:20] #1563 closed, assigned to nobody

[2022-01-06 10:17] UXShawrk commented on #1551
I think the third one's a good choice! Though, it's probably best to check with the users which one they like most.

[2022-01-06 17:53] gabek commented on #1551
There's no way to ask the users, but I'm sure we'll hear about it on the next release. Closing this issue. Thanks for the feedback, @UXShawrk!

[2022-01-06 17:53] #1551 closed, assigned to UXShawrk

[2022-01-06 21:55] 0lhi opened #1647 "Feature Request: Optional User-Name Registration with a self-signed Certificate"
Mumble allows to join Voice-Chats without registration, but a registration is possible with a single click:

The same certificate is used across every Server, and can be exported & imported to other Mumble Clients.

This approach could be tremendously beneficial to Owncast as well. It would give Users a quick way to gain unambigious identifiability. And Streamers could get more security if they ca

[2022-01-06 22:26] aaronpk commented on #1647
The browser's client certificate UI for this has always been horrible, I would not recommend doing this. Here's what happens in Chrome:

![image](https://user-images.githubusercontent.com/113001/148460656-df3aca24-82a0-4723-a0e2-6eaac041d1fc.png)

You're prompted to choose a list of certificates, and I don't even know where most of those came from. The user would have to know which one to choose a

[2022-01-06 23:43] gabek opened #1648 "Replace hide chat toggle and username change form with chat actions dropdown"
In addressing #1339, people don't know how to change their name.

Removing these two actions in the header and instead replacing with a single drop down menu would enable us to be clearer about specific actions.

This "viewer settings" menu would only have "Hide chat" and "Change name" to begin with, but this is also where we could put future features and actions as needed, such as IndieAuth login

[2022-01-06 23:59] gabek opened #1649 "Improve pointing people to ways they can watch owncast streams on their TV"
https://owncast.online/docs/watching-on-tvs/

This falls into two categories

- People who want to make it so a single stream is viewable on their tv.
- People who want to navigate the directory on their tv.

Right now we're not doing much to assist in either.

I propose a new documentation page that goes over ways to do both of these things, and point to specifics so streamers can tell their view

[2022-01-07 00:05] gabek opened #1650 "Limit surfacing engagement for follows to only a single follow"
Just like I do for likes and shares, ignore more than the first follow action from an actor.

[2022-01-07 00:08] gabek commented on #1640
Another option is to add a sanitation function as suggested in this doc:

![image](https://user-images.githubusercontent.com/414923/148469955-c81d5429-9769-4add-94de-b6b4da6302dc.png)

[2022-01-07 00:37] gabek opened #1651 "Add second button to follow modal to have people join the Fediverse"
Having an actionable button on the same level as "follow" to assist people in joining the fediverse may be helpful to people who don't know what to do next.

I'm not sure where we should point people, however.  While I don't want to be Mastodon-specific, they do have the best sites, content and documentation for helping onboard somebody to the Fediverse.  But Owncast obviously has no preference wh

[2022-01-07 01:09] gabek commented on #1651
Had some conversation around this and we decided the clearest direction forward for now is to have a owncast.online/join-fediverse page that redirects to https://instances.social for the short term. This page is mastodon-only, but at least it's actionable for a new user. In time we might be able to come up with something better, and then we can change what that link does.

<blockquote><div><strong

[2022-01-07 01:30] gabek opened #1652 "Limit activity matching to a reasonable window of time"
So if somebody who likes/shares an old post doesn't get surfaced in chat.  This is to reduce the surface area available for harassment by action floods.

[2022-01-07 01:52] gabek commented on #1651
Done.
![image](https://user-images.githubusercontent.com/414923/148478477-1fd23f9b-2209-4238-9e49-fcdae699a89a.png)

[2022-01-07 01:53] #1651 closed, assigned to nobody

[2022-01-07 04:49] #1650 closed, assigned to gabek

[2022-01-07 05:12] gabek commented on #1652
Set this to 36 hours.  If somebody tries to like/share any post older than that it won't show up in chat.

[2022-01-07 05:12] #1652 closed, assigned to nobody

[2022-01-07 06:11] muesli commented on #1638
Happy to help out here as well, but let me point out that `prism` isn't quite as universally working as I'd like it to be. I'll probably have to change out the underlying RTMP lib.

[2022-01-07 07:32] gabek commented on #1609
Did some playing around and it looks like each service that we add support for would add about ~1M to the final binary size.

Maybe Discord and Twitter would be worth it?

[2022-01-07 10:27] 0lhi commented on #1647
I didn't suggest using the Browser's Certificate UI.

[2022-01-07 14:39] aaronpk commented on #1647
I'm not sure what you're suggesting then. But take a look at the change in #1633 because that will let you do whatever you want at your web server for user authentication! I'm planning on using that to integrate an instance with a website where people already have user accounts so they'll automatically be logged in to the chat with the same username they have on the main site!

[2022-01-07 17:36] ForestJohnson commented on #112
Ok I gave up on bittorrent, I think for p2p streaming you would want a protocol more similar to Apache Kafka.  BitTorrent is 100% P2P with no authority server (besides perhaps the tracker, but the tracker is not really involved in distribution).

I think the proper protocol would be like "state communism": it would attempt "from each according to their means, to each according to their needs"   ba

[2022-01-07 20:34] gabek opened #1653 "Add notice to point people at enabling Federation on the admin home page"
Much like we mention the directory, we should tell people about this other off by default feature.

[2022-01-07 20:44] gabek opened #1654 "Add pagination to GetFederatedActions controller"
The data layer supports it, but we need to wire up the admin to pass in the pages.

Right now the actions list is capped to the most recent 100.

[2022-01-07 21:08] gabek opened #1655 "Add user icon in header next to user name change form"
For short term improvement of bringing the attention to the username so people may have an easier time changing it.

Larger long-term changes are filed.

[2022-01-07 23:44] geekgonecrazy commented on #1638
This is super duper alpha quality but based on @muesli work on prism. Adds a UI and an api to allow dynamic adding / removing of destinations:

https://github.com/geekgonecrazy/prismplus

I'd like to figure out how to make a few changes up stream to prism so we can consume it as a library instead of duplicating the code.  Or if prism wants some of this extra bit would happily contribute it back as

[2022-01-08 01:49] gabek commented on #1638
Sounds like for now we're limited to recommending only Restream.io.

[2022-01-08 06:57] gabek opened #1656 "Web push notifications"
I know everyone says no to these, but I'm thinking if we added a YouTube style "ring the bell to be notified" contextual action button people might say yes to being notified when the stream goes live, just like how people install the Owncast browser extension. Except this would be for a single stream, and for people who don't want, or isn't familiar with the browser extension.

[2022-01-09 09:26] ogmkp opened #1657 "Build testing infrastructure around HLS spec conformance + encoding performance"
Hi and thank you for this great project.

I set up my server to serve 4 streams, but ffmpeg slows down considerably while the CPU goes up between 2.9 ~ 3.2 of load.
If I run ffmpeg by myself on the same machine along owncast, I get a good fps rate because CPU remains free usage while transcoder.log averages 30 ~ 35 fps who results of a terrible HLS lagging and cuts.
Do you have any idea?

Owncast

[2022-01-09 11:23] ogmkp commented on #1657
If I remove 1080p60 6 Mbps, I get 60 fps on all others streams (720p60, 480p60, 240p60) and don't know why.
All presets uses the lowest CPU utilization profile.

I can see that lowest and highest CPU utilization bar use same "superfast" x264 profile.
And low, medium uses "Faster" preset who is much complexified than highest.

[2022-01-10 11:25] ogmkp commented on #1657
https://emby.media/community/index.php?/topic/52686-ffmpeg-only-using-75-of-cpu-when-transcoding/

From a user of emby product who encounter same problem, remove -maxrate and/or -bufsize makes better fps at the end of the ffmpeg chain.

Is it possible to find a workarround before more investigation ?

<blockquote><div><img src="https://emby.media/community/uploads/monthly_2020_11/android-chrome-51

[2022-01-11 22:46] hex-m commented on #1638
For users which prefer a self-hosted FOSS solution, OvenMediaEngine supports [RTMP push publishing](https://airensoft.gitbook.io/ovenmediaengine/push-publishing).

[2022-01-12 04:39] cincodenada commented on #1582
One thing that I've seen on some IRC clients that I think is useful is that a bunch of joins in a row (without messages in between) are collapsed/summarized as "user1, user2, and 5 other users joined" or some such, with the most recent joins being the ones called out in the text. I think that's a good in between option to consider!

Edit: To give a concrete example (and implementation, albeit in a

[2022-01-12 18:10] #1655 closed, assigned to gabek

[2022-01-12 18:17] #1497 closed, assigned to jeyemwey

[2022-01-12 21:32] gabek commented on #1657
It's not surprising removing those parameters would ease up some of the CPU use, it would be less strict about the video compression. Less compression taking place means less CPU being used.

Without these values the bitrate will exceed the thresholds in the HLS specifications as outlined by Apple.

I know CPU use is important, but having a stream that exceeds the bitrate it reports could lead to

[2022-01-12 21:52] gabek opened #1661 "After stream ends the chat goes away and does not respect the 5min buffer"
Chat should be available for 5 minutes after a stream ends.

[2022-01-12 21:53] #458 closed

[2022-01-12 22:45] ogmkp commented on #1657
Is it normal that ffmpeg does not use all the CPU capacity to satisfy the fps demand?
Because, it uses only 380% maximum on 800% and it drags at 29 ~ 32 fps while I require 60 fps.
There's a bottleneck at the half usage of the whole cpu.

[2022-01-12 22:52] aaronpk opened #1662 "Better handling of invalid webfinger requests"
A webfinger request normally includes an `acct` scheme in the value, such as `https://mastodon.social/.well-known/webfinger?resource=acct:gargron@mastodon.social`. Currently leaving that off causes a panic:

[code]

At the very least this should not cause a server error.

However, Mastodon in particular actually returns the correct webfinger response whether or not `acct:` is included, so that's a

[2022-01-12 23:09] aaronpk commented on #1656
I love this idea, I know people who have asked for web push notifications even for my youtube streams. I 100% agree it should only prompt the user after the user requests notifications rather than all those spammy news sites that pop that up as soon as you visit them.

[2022-01-13 03:15] gabek opened #1664 "External action modal moved too high up"
![image](https://user-images.githubusercontent.com/414923/149259541-7082daf1-edc0-4779-8e6e-624d7450f7bb.png)

[2022-01-13 03:57] #1662 closed, assigned to gabek

[2022-01-13 04:26] #1664 closed, assigned to nobody

[2022-01-13 21:18] gabek opened #1665 "Replace frontend use of navigator.userAgent"
We use it in `helpers.js` to determine if a browser has a touch screen to tweak the UI a bit.  We don't need detailed information so moving to the newly supported option is probably fine.  But it should be tested after changing.

https://github.com/owncast/owncast/blob/develop/webroot/js/utils/helpers.js#L72

[2022-01-13 21:37] #1661 closed, assigned to gabek

[2022-01-13 22:22] gabek opened #1666 "Update API documentation"
Owncast APIs only, not federation APIs.

[2022-01-13 22:29] gabek opened #1667 "Owncast release 0.0.11"
## Owncast release 0.0.11

The following are intended to address the test scenarios and documentation that should be accomplished for a public release.

- [x] This release was tested as a fresh install, with no pre-existing data or configuration.
- [x] This release was tested as an upgrade over a previous install, keeping the data and configuration.
- [x] This release was tested using a Docker env

[2022-01-13 22:43] gabek commented on #1211
Was able to follow demo@watch.owncast.online from Pleroma.

![image](https://user-images.githubusercontent.com/414923/149420650-27fa23a1-4280-4db5-89f7-c83da600930a.png)

[2022-01-13 23:16] gabek opened #1668 "Limit "external site requested your logo" warning message"
This logs every time it's requested, and it's annoying. I guess limiting it to just the first time is fine.

[2022-01-13 23:17] aaronpk commented on #1668
Might actually be helpful to add this to the social tab in the admin UI too, since not everyone is going to be looking at their logs.

[2022-01-13 23:21] gabek commented on #1668
We don't currently have any way to label or query for logs of a specific category (social only, for example).  The real answer is to stop letting people use SVGs as their logo image, but that would make me sad.  So this was the compromise.

[2022-01-13 23:25] aaronpk commented on #1668
oh I was just thinking more along the lines of the admin UI testing whether the logo was an SVG and showing a notice on the social page, not tying into the logging system

[2022-01-14 00:16] jeyemwey opened #1669 "Modal is too small on mobile"
See this screenshot:

![Screenshot_20220114-011129.png](https://user-images.githubusercontent.com/2796271/149428996-3cb399af-2edb-4ae4-9da6-1388ff577110.png)

Also, when you tap into a text input, the viewport gets smaller and reaches over the sides. When attempting to scroll, the info area scrolls.

I'm testing with Android and a recent Chromium, not sure how this behaves on iPhones

[2022-01-14 00:17] gabek commented on #1669
Updated title to reflect that it's not an iframe.

[2022-01-14 04:39] #1669 closed, assigned to nobody

[2022-01-14 04:40] gabek commented on #1669
Hopefully increasing the width fixed it for you. Looks ok for me.
![image](https://user-images.githubusercontent.com/414923/149452512-27ae633f-88b7-4326-bc81-bbae2507dfd5.png)

[2022-01-14 04:49] #1668 closed, assigned to nobody

[2022-01-14 05:50] gabek commented on #1061
Closing since this is a next+ant issue and there's nothing we can do about it, and it's also not breaking anything.

[2022-01-14 05:50] #1061 closed, assigned to nobody

[2022-01-14 07:38] gabek commented on #1611
Seems with the correct parameter we already have an expanding text field. Closing.

![image](https://user-images.githubusercontent.com/414923/149469411-8df826f1-bf7b-44b9-b2c2-40512e64b3c8.png)

[2022-01-14 07:38] #1611 closed, assigned to f35f0ef9d0e827dae86552d3899f78fc

[2022-01-16 09:29] AlessandroPomponio opened #1670 "Setting stream key by hand leaves /admin unprotected"
Hello everyone!

In my tests it appears that if I set the stream key by hand, Owncast doesn't log me out and stops asking for the password when navigating to the /admin endpoint, leaving everything unprotected. Making Owncast generate a new stream key does instead seem to work as expected.

I'm on Owncast v0.0.10.

[2022-01-16 09:32] AlessandroPomponio commented on #1670
Actually, I seem to be getting the same error even when generating the stream key automatically, but only sometimes, not always

[2022-01-16 10:06] gabek commented on #1670
It is indeed blocking access from future admin requests after you change the key as seen in the screenshot below:

![image](https://user-images.githubusercontent.com/414923/149655442-ba74dd27-245c-4391-9f0d-229bed80d555.png)

Past admin requests, obviously, the data is already made available to you.

You saying the admin is "unprotected" makes it sound like anybody can access it, that is absolutel

[2022-01-16 10:09] AlessandroPomponio commented on #1670
Unfortunately that is indeed the case in my installation: I can still access it using Incognito mode and when I asked other friends of mine to go to my endpoint, they were able to access it too without authentication. The same thing was happening with 0.0.8 for me, unfortunately.

[2022-01-16 10:13] gabek commented on #1670
I'm unable to reproduce this. The admin still requires me to log in with the new key when trying to access it in a private window.

![admin-key-change](https://user-images.githubusercontent.com/414923/149655670-4c6c9c4d-d521-4400-a76f-37d5a2d792f9.gif)

[2022-01-16 10:17] AlessandroPomponio commented on #1670
It seems to be something that only happens every now and again in my case: do you mind if I share a screen recording with you using the email in your profile, so that I don't have to blur all the details?

EDIT: I sent the email

[2022-01-16 10:31] #1430 closed, assigned to nobody

[2022-01-16 10:31] #527 closed

[2022-01-16 12:08] ClundXIII opened #1671 "Document playlist file in the Embed Documentation"
Hello,

we are trying to embed a stream into an OpenSlides conference. Unfortunately OpenSlides does not simply use an iframe and instead tries to play the video by itself.
`VIDEOJS: ERROR: (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED) No compatible source was found for this media.`

https://support.openslides.com/help/en-gb/4-stream-liveconference/76-embed-a-stream-without-linked-video-conference

Is ther

[2022-01-16 12:35] ClundXIII commented on #1671
Okay, I did found the solution. Correct me, if I am wrong, but
`https://<url>/hls/stream.m3u8` should be the correct link to use.

[2022-01-16 15:08] jeyemwey commented on #1671
That's the correct link, I'm glad you could help yourself.

For all other users, it might be helpful to describe the stream master playlist in the Embed URL at https://owncast.online/docs/embed/ . Let me hijack your issue so someone can work on it.

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong

[2022-01-16 19:37] ClundXIII commented on #1671
Another thing I noticed:

`/embed/video` does not report the CORS origin `*`, the url it redirects to (`/index-video-only.html`) however does have the correct header. This was really confusing when trying to add the header myself in nginx and suddenly ended up with 2 header.

(Should I open a new issue for that?)

[2022-01-16 19:41] jeyemwey commented on #1671
Yes, please open another issue for this. We will then be able to come back to it more easily.

[2022-01-16 19:42] gabek commented on #1671
0.0.11 no longer redirects to the HTML files, hopefully it's simplified for your particular use case.

[2022-01-16 19:42] ClundXIII opened #1672 "Missing CORS header for `/embed/video`"
`/embed/video` does not report the CORS origin `*`, the url it redirects to (`/index-video-only.html`) however does have the correct header. This was really confusing when trying to add the header myself in nginx and suddenly ended up with 2 header.

[2022-01-16 19:45] ClundXIII commented on #1671
oups, just created the issue

https://github.com/owncast/owncast/issues/1672

I guess you can just close it in that case.

[2022-01-16 20:11] gabek commented on #1672
Closing as this works differently in 0.0.11.

[2022-01-16 20:11] #1672 closed, assigned to nobody

[2022-01-17 06:24] DaleJP commented on #489
I know this is a place for pros so I"m sorry to muddy it, but I reaaaaally need to password protect my stream for my small international school "TV Channel" as the children will be featured on it and the above comment is Greek to me and I do not understand it.
I just need to simply have a password unlock the stream for the end user that I can distribute to the families.
I can embed the player on a

[2022-01-17 08:06] gabek commented on #489
@DaleJP Are you using a HTTP proxy in front of Owncast to support SSL? If so, we can tell you how to configure it to require authentication.

[2022-01-17 08:11] DaleJP commented on #489
@gabek Thank you. I haven't set it up yet until I can figure out how to password protect it.
I have NextCloud currently running on the server I hope to install Owncast on with Apache and SSL from Let'sencrypt if that is of any use.

[2022-01-17 08:18] gabek commented on #489
Absolutely. If you get Apache running as a SSL proxy in front of Owncast it should be pretty straightforward to tell apache to also request authentication.  While I've never done it with Apache myself, and it's probably the most complex option, there's no reason it shouldn't work.

https://owncast.online/docs/sslproxies/apache/ + https://stackoverflow.com/questions/724599/setting-up-an-apache-prox

[2022-01-17 08:32] DaleJP commented on #489
@gabek Brilliant. Thank you.
I'll look into Caddy if it is the preferred method but I would also like to understand Apache a bit better. It's a magical box to me at the moment as I've only ever just copied and pasted from tutorials.

Thanks a lot. I think this should get me on track.

[2022-01-17 18:18] #1671 closed, assigned to nobody

[2022-01-17 19:41] gabek commented on #1670
You mentioned in your email "I would think it could have been a session issue in the reverse-proxy (Caddy, in my case)". Could you perform testing without Caddy or any other software in the way?  Given nobody else has seen this before, and I can't reproduce it it makes sense to figure out why you're seeing it, and only sometimes.

[2022-01-17 19:55] AlessandroPomponio commented on #1670
I attempted to reproduce the issue once more now and it doesn't seem to be happening again - neither via reverse proxy nor via ssh tunneling. I will close the issue and re-open it again with more information in case it happens again.

Thanks a lot for the work you've been doing!

[2022-01-17 19:55] #1670 closed, assigned to nobody

[2022-01-17 21:24] jeyemwey opened #1673 "Make the reason for federation hindrance more visible"
If my instance isn't published via SSL, I cannot activate federation. The switch is disabled -- so I cannot click on it -- but to an average user who doesn't read the documentation, that's a dead end.

![image](https://user-images.githubusercontent.com/2796271/149838355-35a61208-8138-4a24-9069-c2786c1c6b95.png)

A simple fix would be to have a status message indicating that Activity Pub requires S

[2022-01-17 21:34] jeyemwey opened #1674 "Wording: Make more clear who "user" is"
Just a small one for the Federation Activation prompt:

IMO "follower" is a better word here than "user" since it's not clear what a user is in this case (and I can only guess that it's about the user-account `something@some.host` on the fediverse?). It's less about the user not being here anymore and more about losing the followers that have followed the instance.

![image](https://user-images.gi

[2022-01-17 21:51] jeyemwey opened #1675 "Discoverability: Link to the instance from the fediverse profile"
Right now, the Owncast instance in Mastodon looks like this:

![image](https://user-images.githubusercontent.com/2796271/149839777-e4a05c54-6e1c-46c9-9adc-d70b9a1bbbb7.png)

**A link to the Owncast instance is notably absent.** I guess that Owncast can change contents on this page, since there is even a link to our GitHub page, but there's no fast way to make users go to the video feed.

Maybe, I'

[2022-01-17 22:52] gabek commented on #1674
"User" in this case means the Fediverse representation of the Owncast server. "Follower" to me means the other person, the human, not the server, so I guess it's confusing from both sides.

[2022-01-18 02:17] gabek opened #1676 "Allow an Owncast instance to follow other instances"
This would add a new tab of "following" on the web interface, to recommend other streams to visit.

Using ActivityPub we can pass status around and highlight streams that are currently live.

This would operated as a small, self-contained directory in a way, that lives within each server.

[2022-01-18 02:51] aaronpk commented on #1676
A couple of interesting UI implications of this...

Owncast instances are primarily identified by just their domain name. So if I wanted to add someone's Owncast to my following list, I would expect to only have to type in the home page URL of the instance. This unfortunately doesn't map to the ActivityPub model of the world, where users have to have a username in addition to the domain name.

I'm

[2022-01-18 03:55] #1673 closed, assigned to nobody

[2022-01-18 03:55] gabek commented on #1673
Moved things around and added a warning. It then hides this setting once you set it to discourage you from changing it. It should help.

![image](https://user-images.githubusercontent.com/414923/149868130-eb0e453a-4818-4c80-9fd5-8430a2d211e8.png)

[2022-01-18 04:02] #1675 closed, assigned to nobody

[2022-01-18 04:47] gabek opened #1677 "Configure page styling through admin"
Without requiring (but still allowing) CSS, allow people to pick colors, fonts and other styling parameters to allow people to customize their UI easily.

We should collect a list of commonly customized options based off the things people have been tweaking on people's pages. @nebunez could probably chime in since he's done a lot of customizing.

[2022-01-18 19:24] gabek opened #1679 "Banning users isn't hiding their messages again"
I might have to put the "force re-render" hack back in since the chat feed isn't re-rendering.

![image](https://user-images.githubusercontent.com/414923/150004518-e71f2ec1-755e-4c97-84cd-b446ef382ab8.png)

[2022-01-18 22:42] #1666 closed, assigned to gabek

[2022-01-18 22:44] nebunez commented on #1674
I suggest changing the wording to

- You should not change your server name URL or social username once people begin following you, as ~you~ _your server_ will be seen as a completely different user on the Fediverse, and the old user will disappear

[2022-01-18 23:11] gabek opened #1680 "When a user is banned the UI doesn't resize"
This is a side effect of a previous change of how hiding chat is done.  Now when a user is forcefully removed from the chat the chat component is removed but the rest of the app doesn't reflect this.

![image](https://user-images.githubusercontent.com/414923/150033310-8ad7acd6-cb19-4b57-bf0b-3436de9191e3.png)

[2022-01-19 00:21] gabek commented on #1674
Works for me.

[2022-01-19 01:08] #1674 closed, assigned to gabek

[2022-01-19 01:08] #1679 closed, assigned to nobody

[2022-01-19 01:31] gabek commented on #1339
0.0.11 will release with a couple small tweaks to hopefully help in the short term.

- Changed the color of the text to white so it stands out, hopefully catching people's attention more.
- Added a user icon next to it to provide a hint to the user that that it is linked to your user.

#1648, a longer term fix, is a larger initiative that will be worked on with a revamp of the web interface.

[2022-01-19 07:42] cjslep commented on #458
Congrats! :)

[2022-01-19 13:28] gabek commented on #1541
Not going to implement this.

[2022-01-19 13:28] #1541 closed, assigned to nobody

[2022-01-19 20:33] gabek commented on #1656
Hopefully we can get this into v0.0.12 if we can come up with a design for the notification modal. The design of this modal is the difference between "Yes I want to be notified" and "No Owncast sucks stop asking to spam me like those other sites", so we need to do it right.

[2022-01-20 00:14] gabek opened #1685 "Outbound email notifications"
Email, while not a perfect way to contact people, exists, and it works for many.  Plus people get it anywhere they are, so my dream of "let me know when X starts streaming, even when I'm not at my computer" helps with this.

As a bonus, it would allow streamers to optionally send out newsletters or their schedule for the week.  Something I think would be very cool.

## Requirements

- We don't sto

[2022-01-20 19:40] gabek commented on #1667
Testing not only increases confidence of new features by verifying functionality by more people, but it also spreads awareness about how certain things work so if people have questions more people have answers.  I'm thinking about adding some kind of "sign off" step to the above release checklist to verify that some number of people have looked at things

Personally I use [ngrok](https://ngrok.com

[2022-01-20 21:17] gabek commented on #1676
Those are good points.

That's the route I was thinking, just for a _bit_ more safety in case somebody wanted to write a bot that just flooded the world with requests to a default username of `owncast`, we'd at least drop those requests.

- If it's just a domain, then assume it's an Owncast instance and fetch the username from server metadata.
- If it's a `user@host` then use webfinger to look up

[2022-01-20 21:29] gabek opened #1686 "Second hashtag in manually composed fediverse post is not linked"
I don't know if this is because there's multiple tags or if there's something specific about this message where the tag gets ignored, but it's not being handled.

![image](https://user-images.githubusercontent.com/414923/150424892-14e352a5-936e-4f68-8107-0c9d18c6f0aa.png)

[2022-01-20 21:44] gabek opened #1687 "Video embed CSP hashes need looking at"
![image](https://user-images.githubusercontent.com/414923/150427004-ed80b436-70a2-4446-b95d-2ccbf4ff8504.png)

[2022-01-20 21:47] gabek opened #1688 "Entire tabbed UI doesn't fit when narrowing the screen"
![image](https://user-images.githubusercontent.com/414923/150427246-315ab75c-43e6-483f-8b3e-adac0406ef43.png)

[2022-01-20 22:08] gabek commented on #1687
This is the line it has an issue with.  I have no idea why.  It's not a string being evaluated as Javascript.

[code]

[2022-01-20 22:18] gabek commented on #1687
For reference the error was completely incorrect and had nothing to do with the CSP or executing javascript strings.

[2022-01-20 22:18] #1687 closed, assigned to nobody

[2022-01-20 22:32] #1688 closed, assigned to nobody

[2022-01-20 22:34] geekgonecrazy opened #1689 "Follow from misskey crashes owncast"
Steps to reproduce:
1. Create an account on misskey.  I used misskey.io
2. Click follow button and put in username@misskey.io
3. It takes you over to misskey to follow
4. Misskey succeeds..
5. owncast crashes
**Annoyingly.. can't try to follow again.  Seems something happens inside misskey so you can only try to follow once and it break per misskey account.**

Exception:
[code]

[2022-01-20 22:47] geekgonecrazy commented on #1667
Tested:
- [x] Can run from a fresh install.
- [x] Can run as an upgrade from a previous install.
- [x] New and existing chat users work.
- [x] Moderator privileges can be granted.
- [x] Chat messages can be removed via the inline moderator controls.
- [x] Chat messages can be removed via the admin.
- [x] Users can be banned via the inline moderator controls.
- [x] Users can be banned via the admin

[2022-01-20 22:56] #1689 closed, assigned to nobody

[2022-01-21 01:53] gabek opened #1690 "Unable to follow an Owncast account from Misskey"
I filed an issue with Misskey in hopes they can help me troubleshoot what's going on.

https://github.com/misskey-dev/misskey/issues/8165

[2022-01-21 03:36] gabek opened #1691 "Cannot send a 2nd federated post due to modal button disabled"
If you compose a federated post and send it, and then go to send another, the send button is still disabled.

![image](https://user-images.githubusercontent.com/414923/150461301-85394440-ce95-47c0-9c96-5f4ca2a2ceeb.png)

[2022-01-21 04:01] #1686 closed, assigned to nobody

[2022-01-21 04:11] #1691 closed, assigned to nobody

[2022-01-21 06:11] gabek opened #1692 "Chat frontend sometimes not populating federated links"
Chat frontend sometimes does not populate the link src in the anchor tags.

![image](https://user-images.githubusercontent.com/414923/150475451-b61b1b2d-095b-48f1-bcb5-43567a527bd8.png)

[2022-01-21 19:40] srees opened #1693 "Hopin Classic Backstage"
Well, not sure it is fair to have this as an issue since it is hard to test!

I can stream to my OwnCast server using OBS from a remote location, but cannot stream to it using a service called Hopin. Their 'simulcast' option is supposed to broadcast to an RTMP endpoint. Hopin works broadcasting to YouTube, but I see nothing in the logs when I point it to my OwnCast server.

[2022-01-21 20:34] gabek commented on #1693
It looks like Hopin and StreamYard are the same company, and while I'm not familiar with the Hopin product, I do know people have been using StreamYard to stream to Owncast without issues.

No errors on the Hopin side as well as the Owncast side?

[2022-01-21 20:59] srees commented on #1693
Well, Hopin incorporates Streamyard, but does not offer the RTMP integration with it. They only offer RTMP simulcast via their own backend. Owncast does not show any errors…still trying to get a tech who can check the logs on the Hopin side.

-Stephen

On Jan 21, 2022, at 14:34, Gabe Kangas ***@***.***> wrote:

﻿

It looks like Hopin and StreamYard are the same company, and while I'm not familiar

[2022-01-23 03:35] gabek opened #1695 "Investigate embedded video player with Mastodon cards"
Mastodon supports embedded [cards](https://docs.joinmastodon.org/entities/card/) where HTML can be embedded via OpenGraph tags.

This would allow us to use our embed player to shown inline in Mastodon timelines.

 Do we need to stop attaching an image to get the card to populate? Can we have both?

To make this work I think:

1. Change the video URL in open graph tags to point to our HTML embed pl

[2022-01-23 04:26] gabek commented on #1695
While Mastodon doesn't have a debugger, Twitter does, and I was able to get the inline embed player working as a Twitter card.

![image](https://user-images.githubusercontent.com/414923/150664800-7bd3f4ff-c893-4318-a162-540f8453070f.png)

[2022-01-23 04:31] gabek commented on #1695
Success!
![image](https://user-images.githubusercontent.com/414923/150664916-382f34b8-ef55-4d5d-bb0e-800c23a92d38.png)

[2022-01-23 04:41] gabek commented on #1695
The card indeed does not come up if there's an image attached. So we'd have to choose.

![image](https://user-images.githubusercontent.com/414923/150665117-bb64ae52-433e-42f1-8ce2-a36ee7a17d96.png)

[2022-01-23 06:16] teklynk opened #1696 "Multiple users can have the same chat name"
Was playing around with owncast and noticed that everyone can have the same chat name. Not sure if this is by design or is a bug. I was expecting some sort of message stating that the user name has already been taken and to pick a different name.

[2022-01-23 07:39] gabek commented on #1696
It is by design. See https://github.com/owncast/owncast/issues/1542 for some additional discussion around it.

[2022-01-23 07:39] #1696 closed, assigned to nobody

[2022-01-23 16:47] timbowek opened #1697 "Cant figure how to set up the ffmeg file path"
level=fatal msg="Unable to determine path to ffmpeg. Please specify it in the config file.

[2022-01-23 16:55] jeyemwey commented on #1697
Hej! Do you have ffmpeg installed on your machine? Can you please check with `which ffmpeg`? You can tell Owncast your ffmpeg path in the admin interface:

![owncast admin screenshot](https://user-images.githubusercontent.com/2796271/150689182-6bdec96f-4047-492f-aeb9-65364d30db9f.png)

[2022-01-23 17:42] timbowek commented on #1697
I have this version of ffmpeg ¨_ffmpeg version 2022-01-19-git-dd17c86aa1-essentials_build-www.gyan.dev_¨

Sorry man in really in programming, but i try to get into the interface by typing ¨http://yourserver:808¨ chrome browser, but says it canot access the page  do i have to do it withno internet?

[2022-01-23 18:00] DrSkyfaR commented on #1604
Hello all,
it's been a few days since our last conversation and I thought I'd ask if you had any further thoughts on the subject.

Kind regards

[2022-01-23 18:37] gabek commented on #1697
Do you mean port `8080`, not `808`?

[2022-01-23 19:27] gabek commented on #1695
I decided to leave federated posts to be the same they have been, with an included image.

However, I did update the metadata file for bots/search scrapers to support the embeded video player, so if people share the link, without an image attached, on a site that supported embedded players (Mastodon) it will render inline.

[2022-01-23 19:27] #1695 closed, assigned to nobody

[2022-01-23 23:10] #1410 closed, assigned to nobody

[2022-01-23 23:23] gabek commented on #1692
The issue seems to be that chat history populated items have the link, but the websocket activities do not.

[2022-01-24 03:17] gabek opened #1698 "Move the follower count from the Follow button elsewhere"
Currently it shows the follower count if there are greater than 10 followers. It kind of looks weird now that I'm seeing it in use.

![image](https://user-images.githubusercontent.com/414923/150716040-60ef1b52-830d-4bbc-9a07-c5e3bc84fa20.png)

The options:

1. Move it under the stream title like Youtube does it.
![image](https://user-images.githubusercontent.com/414923/150716396-9fd7ff63-d071-4ac8

[2022-01-24 22:35] #1698 closed, assigned to nobody

[2022-01-24 22:37] gabek commented on #830
Taking on this initiative. Re-opening.

[2022-01-24 22:56] #1692 closed, assigned to gabek

[2022-01-25 18:20] lukaprincic commented on #102
This would be so great to have. Just adding a +1 here. :)

[2022-01-25 18:21] #1211 closed, assigned to nobody

[2022-01-25 21:33] gabek opened #1702 "Create a notifications section on the admin"
Right now there's "logs" that are mostly things that can go wrong, and "Social actions", a list of things that have taken place on the Fediverse.

It would be nice to have a catch-all Notifications section that has social actions as well as other things that aren't just errors (though I guess they could be).

Examples:

- Stream started
- Somebody followed
- User was banned
- Etc

[2022-01-26 04:13] #1547 closed, assigned to nobody

[2022-01-26 07:29] hollunder commented on #1561
Silly bot, it's a bug, not a feature and at least on Hatnix' instance it is still there.

[2022-01-27 05:24] gabek commented on #1690
Update: It's the same issue PeerTube originally had and had to resolve regarding them not supporting the modern best practices of `hs2019` http signatures.

The good news is there's nothing on Owncast's side that needs to be changed. In theory it'll just start working if they update on their side.

Closing this, since there's nothing to be done here.

[2022-01-27 06:42] gabek opened #1704 "Replace user icon with a thicker outlined version"
![image](https://user-images.githubusercontent.com/414923/151305540-78dc44a5-717f-429b-a68b-155cf9efe79f.png)

[2022-01-27 09:25] zmip opened #1705 "0.0.10 binary won't run on macOS 10.14.6"
I downloaded the latest release for macOS to my (local) development machine, and I've configured my local webserver (Apache) correctly. The webroot is correctly loading (I see the HTML and js files getting loaded in a webbrowser), but I can't get the binary started: panic: `invalid argument` at `setSystemConcurrentConnectionLimit`:

[code]
I'm not sure what to try next. Building from source?

[2022-01-27 17:40] gabek commented on #1705
I'm certainly able to run from source, so maybe give that a shot, but you're also running a much older version of macOS than I have access to.  I'll see if I can reproduce and figure it out with my setup, though.

But I'm a little confused how Owncast is serving the web content if you can't start the Owncast binary.

[2022-01-27 22:40] #1704 closed, assigned to nobody

[2022-01-28 00:13] gabek commented on #1705
For the record I just tested:

![image](https://user-images.githubusercontent.com/414923/151464451-4094181a-33e3-4b57-ab2e-73fed174aa43.png)

[2022-01-28 04:49] gabek commented on #1685
So I'm thinking I'll split this into two different things:

1. Add unopinionated generic SMTP settings with a target email address that Owncast can send an email to.
2. Add a specific service for the act of collecting email addresses to a list and a target email address that delivers to the emails that were added.

So if you have your own mailing list and SMTP server you can just use it and do wha

[2022-01-28 06:02] zmip commented on #1705
Thanks @gabek, you're right, this is my development machine, and I currently can't upgrade because I'm in the middle of a few projects. The reason the files get served is because Apache is running on this machine too. And that probably explains one of the problems: port 8080 is in use. Is it possible to start Owncast from the command line on different ports (are you using 8080 for the stream and c

[2022-01-28 06:08] gabek commented on #1705
I guess I should clarify, Owncast is its own webserver, so if you have Apache serving files on behalf of Owncast something isn't right there.  Port 8080 is the default web server port for all of Owncast, but you can change it.  Run `owncast` with `--help` to see a list of flags.

As for the macOS thing, unless other people report the same issue it's probably not worth trying to support old version

[2022-01-28 06:08] #1705 closed, assigned to nobody

[2022-01-28 21:04] koad commented on #1451
I was able to get s3 external storage using vultr working.

After setting up the storage and configuring owncast, i had to deal with cors on the object storage using a command line utility called s3cmd.

I set up s3cmd to work with my object storage using vultr's documentation.
[https://www.vultr.com/docs/how-to-use-s3cmd-with-vultr-object-storage](https://www.vultr.com/docs/how-to-use-s3cmd-with-

[2022-01-28 21:40] #1451 closed, assigned to koad

[2022-01-28 21:41] gabek commented on #1451
Awesome, thank you @koad! I went ahead and added Vultr to the storage provider documentation along with your links and notes.  I really appreciate your help trying this out and reporting back, I'm sure it'll be a big help for people.

[2022-01-29 02:15] gabek opened #1709 "Single federated post page"
Right now, on purpose, if you follow a link to an Owncast federated post you get redirected to the live stream page. This is because there is no design for viewing a single post.

If we had a web layout for a single post we would show it, so links to Owncast posts could be shared to people.  This would not be a timeline, a way to respond/compose, a thread or anything but the content of the post.

[2022-01-29 07:09] gabek commented on #793
@geekgonecrazy showed interested in working on this, so assigned.

[2022-01-29 20:04] gabek commented on #1685
Because I'm allowing generic outbound email support I can no longer rely on an email provider to require double opt-in before adding to an email list. Mailjet, for example, does not. So I'm building it myself. Not a huge lift, since I already have outbound email via SMTP working. And with that I can sleep a little better knowing Owncast isn't being used to arbitrarily add people to notification li

[2022-01-30 11:02] gabek opened #1710 "Following Owncast from PeerTube 4.0.0 results in a crash"
Just got my hands on a PeerTube 4.0.0 instance (with updated http-signature support) and it seems to crash owncast if you send a follow request.

[2022-01-30 19:39] gabek commented on #1197
Here's an error PeerTube throws when you ask PeerTube to follow an Owncast server:

[code]

[2022-01-30 19:44] #1710 closed, assigned to nobody

[2022-01-30 19:55] TomKamin1 opened #1711 "FEATURE REQUEST : Disable the "x joined the chat" and "is now knows as" notifications"
Hey, trying Owncast with over 1000 people, i quickly found the notifications of new people joining etc can be very overwhelming, which is why im suggesting programming a checkmark to disable these two features (can be both at once, or each separately)

Thanks!

Tom

[2022-01-30 19:58] gabek commented on #1711
Closing join message request as a duplicate of #1582. Please visit that issue to track.

We do not plan on hiding name change messages, as that would be very confusing.

[2022-01-30 19:58] #1711 closed, assigned to nobody

[2022-01-31 18:29] steko opened #1714 "Unsupported CPU architecture armv6l"
Hi, and thanks for creating owncasta! As instructed by the installer, I am reporting that it's impossible to install owncast on a raspberry pi 2.

[code]

[2022-01-31 19:25] gabek commented on #1714
Hi there,

This is the first time I've heard of somebody trying on that architecture, and I don't have a Raspberry Pi 2 to test on, but I fear that may be too old and too low powered to do any kind of video streaming from.  I don't want to add that architecture to our supported architectures if it's not going go work out.

If you're interested in building it yourself to see how it runs on your dev

[2022-02-01 08:57] quilime commented on #1685
Really like this idea! I've been using [listmonk](https://listmonk.app/) alongside owncast to send out stream notifications. It works great. It would be so convenient to send updates without writing custom scripts/hooks.

[2022-02-01 17:48] gabek commented on #1685
The catch is _adding_ people to the lists. That's where the custom part comes in that you'll still have to manage in some way.

[2022-02-01 22:43] gabek opened #1718 "Allow providing HTML instead of a link for external actions"
Right now we allow people to point an external action button to any URL that we can open in a modal.  I believe this feature hasn't been fully adopted because people don't have custom HTML hosted anywhere, it's an additional step.

Instead we could allow people to paste in whatever raw HTML they want, and we can render it for them without an additional server being required.

While this wouldn't b

[2022-02-01 23:11] gabek commented on #150
Some discussion took place here: https://www.youtube.com/watch?v=memUaz03Npg

<blockquote><img src="https://i.ytimg.com/vi/memUaz03Npg/maxresdefault.jpg" width="48" align="right"><div><img src="https://www.youtube.com/s/desktop/f9e10d29/img/favicon_144x144.png" height="14"> YouTube</div><div><strong><a href="https://www.youtube.com/watch?v=memUaz03Npg">Owncast planning and brainstorm series: Sched

[2022-02-02 08:51] steko commented on #1714
Thanks, I will try building it myself and will report back.

[2022-02-03 09:17] jeyemwey opened #1722 "Cert error on broadcast. and watch."
### Discussed in https://github.com/owncast/owncast/discussions/1720

<div type='discussions-op-text'>

<sup>Originally posted by **ralyodio** February  3, 2022</sup>
https://broadcast.owncast.online/</div>

I can reproduce this issue on Safari/iOS (but not on Chrome/Ubuntu), also on https://watch.owncast.online.

Maybe it's an instance of the [Let's Encrypt issue](https://www.theregister.com/2022

[2022-02-03 13:38] gabek commented on #1722
It's fine for me, I wonder how long this issue has been happening for others.

![image](https://user-images.githubusercontent.com/414923/152350788-1e56f2ae-851a-4f99-80e3-8d5204626389.png)
![image](https://user-images.githubusercontent.com/414923/152350903-011a7005-17f4-4488-bba9-f953c65c6a29.png)

I'll try deleting the certs and regenerating them but I won't be able to see if it's fixed for you o

[2022-02-03 13:44] jeyemwey commented on #1722
Works now. Thanks for the quick help.

[2022-02-03 13:44] #1722 closed, assigned to nobody

[2022-02-06 12:02] pengu-fr commented on #464
Owncast could use the X-Forwarded-User header (if defined) to set the username.

In my configuration : I have a keycloak server, traefik reverse proxy with forward-auth OIDC middleware. Only authenticated user can acces to Owncast. And after user authenthication, the reverse proxy sends X-Forwarded-User header, which would be easy to read from Owncast to define the username.

It would also be nice

[2022-02-06 12:21] jeyemwey commented on #464
This has been implemented recently (https://github.com/owncast/owncast/pull/1633) and should be published with the next release of Owncast. You can try running a nightly build from the develop branch for the time being.

Would you mind creating a new issue for this feature? I can imagine that this is useful for your use case, however we had previously not implemented it.

[2022-02-06 14:31] pengu-fr opened #1723 "Parameter to disable username change"
I have an owncast instance, which is private for a non-profit organization, allowing members to follow and participate (via the chat) to meetings remotly. But we need to be able to identify users with certainty in the chat. They should therefore not be able to change their username.

We use a Keycloak server as IDP, and the reverse proxy takes care of authenticating users, validates their authoriz

[2022-02-06 14:36] pengu-fr commented on #464
Nightly build works as expected ! Thank you very much.

I created an issue for the feature request #1723 to add a parameter to disable username change.

[2022-02-06 16:50] gabek commented on #1723
Would it be good enough for you to visually remove the ability on your single instance via CSS?  While I totally understand why it makes sense for you, as far as I know only you and one other person would ever use this.

[2022-02-06 17:56] pengu-fr commented on #1723
Hidding via CSS was my first quickfix option, and it will certainly be fine for now.

From what I've seen, the username is stored in the localstorage, and is sent to the backend at the initialization of the websocket connexion. So there is actualy nothing on the backend controling the username, right ? I guess it would be a big change to implement such control on the backend, using the X-Forwarded

[2022-02-06 18:00] gabek commented on #1723
Old versions of Owncast would store the name in localstorage and that's where the source of truth was

It's since changed to where the backend generates the name when the chat user is first registered, but an optional display name can be passed at registration as well, if you're upgrading from an old version of Owncast.  So it's the backend that completely controls the display name.

[2022-02-08 10:46] Valinwolf commented on #102
So does the unassign mean this feature is on the back burner? I would love to see this added 😄

[2022-02-08 17:00] gabek commented on #102
It is indeed on the back burner, but it's not because we're not planning for it!  We actually just had a discussion about recordings and will put out a video of that discussion soon. I'll link to it here when it goes up.

But in short there's a handful of more pressing things that I need to work on first.  Unfortunately one of the big things holding it back is frontend UI for the feature, so thing

[2022-02-08 17:20] Valinwolf commented on #102
Well in the meantime one could use nginx-rmtp-module in conjunction with a few quick-n-dirty php scripts, such as [this gist I created](https://gist.github.com/Valinwolf/7431807e975c46ca83974100f6310266).

[2022-02-11 18:29] gabek opened #1730 "Chat federated event: Account should truncate, not overflow"
![image](https://user-images.githubusercontent.com/414923/153648814-e815c83a-644b-49df-9d78-07236c78260f.png)

[2022-02-11 22:35] gabek commented on #1582
@nebunez Are you still planning on looking at this? I'm starting on the v0.0.12 items and I want to know if it's something I should take care of.

[2022-02-12 16:54] NicksMacLife opened #1733 "Backblaze B2 Bucket with CloudFlare CDN no egress fees"
If a testing and detailed documentation can be done for BackBlaze Buckets using CloudFlare as the CDN I believe that this would be of great help and interest to the community as Backblaze has some of the best pricing for S3 storage and using CloudFlare CDN/DNS you do not pay for egress, which makes the extremely cost effective if you're looking to stream on the cheap.

[2022-02-13 18:41] #1730 closed, assigned to jeyemwey

[2022-02-14 21:31] gabek opened #1736 "Dynamic plugins through simple scripts"
I've yet to give up on the plugin idea, even though it's been in a state of limbo for a long time because there hasn't been a clear solution for it. But I think I've come up with something simple, extensible, and flexible enough for a lot of people.

I'd like to experiment with `stdin/out`-based "plugin" system that almost works like the webhooks, but requires no servers, and no external infrastru

[2022-02-14 22:18] nebunez commented on #1736
This seems like the closest to the idea of plugins that I've had in mind. I wonder what the limitations will be as I can't imagine them right now.

[2022-02-15 21:14] srees commented on #1693
Are any other ports utilized for this outside of 1935 and 8080?

[2022-02-15 21:29] gabek commented on #1693
No, but the ports are configurable, so make sure the ports are what you expect them to be in case you changed them.

[2022-02-24 00:50] gabek opened #1745 "For long streams the transcoder.log file can grow large"
The demo server has a 300M `transcoder.log` file.  This file should be rotated like `owncast.log`.

[2022-02-24 04:19] gabek commented on #1745
Use this as an opportunity to move to the log rotation fork as well. http://github.com/goravel/file-rotatelogs

[2022-02-24 15:48] ogmkp commented on #1657
Hi @gabek , do you think you can find a workaround for this ffmpeg bottleneck at half cpu?

[2022-02-25 23:22] #1640 closed, assigned to gabek

[2022-02-25 23:30] #1665 closed, assigned to nobody

[2022-02-26 22:37] gabek commented on #1604
I'll be upfront and say unless there's somebody else who can spearhead, now and into the future, a true localization project, I'm not going to be able to do it.  It's a responsibility that's far too large for me to take on.  And even if somebody did volunteer, I'm not sure I'd trust that they'd be able to keep up with it and not leave me with the burden.

Owncast is pretty much only me working on

[2022-02-26 23:12] gabek commented on #1745
That fork seems to be broken.

[2022-02-27 02:16] gabek commented on #1697
Closing due to lack of response.

[2022-02-27 02:16] #1697 closed, assigned to nobody

[2022-02-27 02:59] gabek opened #1749 "Architecture: Dependency consumption and event flow"
Since Owncast was built one piece at a time, with no overarching design upfront, the architecture reflects that.  This needs to be resolved.

Things should be split up into dependencies that are injected into packages, top down.  For example, the datastore should be injected to the `user` package instead of the package requesting `GetDatastore()`.

A DI framework such as [Dingo](https://github.com

[2022-02-27 04:24] gabek commented on #1550
Not going to worry about this.

[2022-02-27 04:24] #1550 closed, assigned to nobody

[2022-02-27 04:36] gabek commented on #1478
https://github.com/nakabonne/tstorage seems like a nice option for an embedded time series database.

<blockquote><img src="https://opengraph.githubassets.com/5d776dba6616de3baab85944787201926a77a89e7d80f83b3207ce7eb6ac8b29/nakabonne/tstorage" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.

[2022-02-27 18:52] eriksjolund opened #1750 "Add socket activation support"
Add support for [socket activation](https://www.freedesktop.org/software/systemd/man/systemd.socket.html).

Container runtime support for _socket activation_ has improved lately.
[Podman](https://github.com/containers/podman/) version 3.4.0 (released September 2021)
supports running OCI containers (i.e. Docker containers) with _socket activation_.

I wrote a [minimal demo](https://github.com/eriks

[2022-02-27 23:10] jeffreycarey-aon opened #1753 "External Storage Bug?"
Hello,
My name is Jeffrey Carey.  I am trying to use storage with B2 cloud storage buckets.

I am getting the following error:

Giving up on data/hls/1/stream.m3u8 RequestError: send request failed caused by: Put https://d49f512747133a3d75f0061a.3.us-west-002.backblazeb2.com/hls/1/stream.m3u8: dial tcp: lookup [d49f512747133a3d75f0061a.3.us-west-002.backblazeb2.com]
(http://d49f512747133a3d75f0061

[2022-02-27 23:59] gabek commented on #1753
Unfortunately I'm not sure what you're seeing here. I don't know why one random character would simply disappear from a string. Is it correct in the admin?

[2022-02-28 00:33] gabek commented on #1626
This will happen over time as work is done, not as a one time task. So I'm closing this.

[2022-02-28 00:33] #1626 closed, assigned to nobody

[2022-02-28 00:50] gabek commented on #796
Closing, as I haven't actually heard of this being useful to people, as people running multiple Owncast servers off of a single bucket doesn't seem to be a requirement.

[2022-02-28 00:50] #796 closed

[2022-02-28 01:39] jeffreycarey-aon commented on #1753
False alarm.  My mistake.  Thank you for responding.  - Jeff

[2022-02-28 02:01] gabek commented on #1618
Haven't heard any specific requests that would align with this being a specific need, so I'm closing.

[2022-02-28 02:01] #1618 closed, assigned to nobody

[2022-02-28 03:28] #1753 closed, assigned to nobody

[2022-03-01 08:55] gabek commented on #1750
HI there.

I really appreciate all the effort you put into describing what this is for, and the PR you authored to address it.

However, this is a _very_ specific use case.  And while I don't mean to be a jerk, or come off insensitive to your needs, I'd be willing to bet you're the only person this would be useful for.  Not only do you have to be using Podman instead of Docker, but you also have t

[2022-03-01 08:55] #1750 closed, assigned to nobody

[2022-03-01 21:11] le-fractal commented on #1561
Hi, I did some investigating on this issue and found out something which might help:

If I **delete the local storage** for the site in the browser and then reload the page, **the cursor is correctly placed for the first message sent**.
For any subsequent message, the cursor is at the far right of the input again (the local storage has been set again).

I could reproduce the steps on two different

[2022-03-03 19:13] le-fractal commented on #1561
A bit more info:

If the placeholder is emptied, the cursor snaps back to the left.

[code]
I think I'm stuck now, maybe this will help someone else!

[2022-03-05 02:53] gabek opened #1756 "Move away from xgo in building releases"
It's been a nice solution for cross-compiling, but it's extra moving parts and the original project has been archived, requiring a fork.

Finding a new cross-compiling solution that supports cgo is needed.

[2022-03-05 03:03] gabek commented on #1756
https://dh1tw.de/2019/12/cross-compiling-golang-cgo-projects/

https://docs.earthly.dev/docs/guides/multi-platform

[2022-03-06 06:34] #1582 closed, assigned to gabek

[2022-03-06 06:42] #1667 closed, assigned to gabek

[2022-03-06 09:23] henning-schild commented on #1582
@gabek Thanks so much!

[2022-03-07 01:11] #1378 closed, assigned to gabek

[2022-03-07 01:18] #1654 closed, assigned to gabek

[2022-03-07 01:26] #1303 closed, assigned to gabek

[2022-03-07 01:31] #1477 closed, assigned to gabek

[2022-03-07 02:15] renovate[bot] opened #1760 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: go`

[2022-03-07 02:21] renovate opened #1761 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/owncast/owncast).

## Pending Approval

The following branches are pending approval. To create them, click on a checkbox below.

 - [ ] Update actio

[2022-03-07 02:21] #1760 closed, assigned to nobody

[2022-03-07 03:43] #1478 closed, assigned to gabek

[2022-03-07 04:09] #1172 closed, assigned to gabek

[2022-03-07 04:34] #1534 closed, assigned to gabek

[2022-03-07 07:26] #1587 closed, assigned to gabek

[2022-03-07 08:08] #1653 closed, assigned to gabek

[2022-03-07 12:09] lfuelling opened #1768 ""invalid cross-device link" error when running on a different filesystem"
When restarting (stopping, waiting some time and then starting) a stream, weird error mesages appear in the log when the application is running from (or the data folder is stored on) a different filesystem/partition than the `/tmp` folder is on:

[code]

This seems to happen because a rename is done instead of a copy followed by a delete (which works across filesystems).

[2022-03-08 00:30] #1768 closed, assigned to lfuelling

[2022-03-08 03:41] argium commented on #139
What's the latest on Azure support?  Is there a technical limitation?

[2022-03-08 03:42] argium opened #1770 "Azure Support for Video Scaling"
What's the latest on Azure support? Is there a technical limitation or does it just need implementation?

[2022-03-08 04:06] gabek commented on #1770
I'm unfortunately not sure what you mean by "Azure support". If you spin up a Linux machine on Azure, or anywhere else, you should be good to go.

[2022-03-08 04:10] gabek commented on #139
Owncast doesn't support any specific provider, but it does support the S3 protocol since that's what all storage providers (I guess except Azure) supports.  So if we were to add Azure storage support it would be specifically to support a single company.  Since only two people (including you) have ever shown interest in this, I don't see myself adding it, since it just makes sense for people to use

[2022-03-08 19:54] lfuelling commented on #1756
<details>
<summary>In case you're interested in my edge case opinion...</summary>

I've had to patch out `xgo` to get the buildscript to work in my fork (on arm64 macOS) because the docker images it uses are not available for my architecture.

I also tried adding cross compilation using the `GOOS` and `GOARCH` env vars which seems to work for projects not requiring `CGO` but unfortunately sqlite s

[2022-03-08 20:04] gabek commented on #1756
I'm curious why you've had to use xgo to build Owncast. Local builds never have to be cross platform, since you're building with your native toolchain and architecture. The only person who's had to deal with those is me when I do a release of Owncast, and it's been working ok with xgo, but I'd prefer not to have the dependency. But like you said, as long as there's cgo, there's going to more bloat

[2022-03-08 21:20] gabek opened #1773 "Remove support for SVG logos"
I'm seeing all the new Owncast servers on the Fediverse with placeholder logos instead of their own, because they're using SVG for their logo.

People who already have an SVG will keep using it, but we should stop new SVGs from being added going forward.

For those who want to try an easy change: https://github.com/owncast/owncast-admin/blob/develop/components%2Fconfig%2Fedit-logo.tsx#L21

[2022-03-08 21:58] lfuelling commented on #1756
I tried building a linux binary on arm64 macOS because I didn't had go on the linux machine.

[2022-03-08 21:58] gabek commented on #1685
I'm having a hard time working through the logistics of email notifications.

I built it using Mailjet as an email list provider that will create email lists, handle unsubscribing, etc.  However, I know not everyone will want to use Mailjet, and that's fine, I have no preference.  So instead I abstracted email support out into basic SMTP delivery. You put in your email server, credentials, and ema

[2022-03-08 22:15] gabek commented on #1685
For the record, my dream way this would work is:

1. UI pops up prompting for them to put in their email address.
2. Address is sent to the Owncast backend.
3. Backend hands it to some kind of plugin that's built specifically for whatever email system the streamer uses (Mailjet, Mailchimp, listmonk, majordomo, etc Owncast doesn't care).
4. That email system is now responsible for adding the email

[2022-03-08 23:26] gabek opened #1774 "Chat auth using the Fediverse"
I've never seen a way for people to use their Fediverse identity to create a new account somewhere.  It's just not what it's built for. But I think I came up with an idea.  I'm not sure if it's a good one. I'm usually a proponent of using the right tool for the job, and this isn't really that. But it might be something.

By abusing the remote follow flow, we can have a user verify their identity o

[2022-03-08 23:26] gabek commented on #1774
As the resident auth'ist, do you have any thoughts on this @aaronpk?

[2022-03-09 00:05] aaronpk commented on #1774
This does sound like it would technically work, but I'm not sure it's a good long-term strategy.

One problem that stands out off the bat is the user experience of this. The user would end up on their instance's remote follow page, which would have no idea what's actually happening, and would have text around following this account. The account would probably have to be some sort of funny looking

[2022-03-09 00:20] gabek commented on #1774
I'm totally with you that the user experience would be a mess, with no real way around it.

I'm still totally on board with IndieAuth, in fact, I have a version of it working. I just need to come up with some UI for it. But unfortunately what people want is to use their Fedvierse identity, even though there isn't a supported way to make that happen.

I've had multiple people ask me "you let me fol

[2022-03-09 00:26] #1572 closed, assigned to gabek

[2022-03-09 00:30] aaronpk commented on #1774
Tangentially related: I've actually been thinking about doing something similar to this for my YouTube livestreams, to connect YouTube viewers with a user account on my own website. Since I can't really use the Google OAuth API for it (too many hoops to jump through regarding approvals and rate limit increases and such), my thought was to do a verification dance via the YouTube live chat.

You cou

[2022-03-09 00:44] gabek commented on #1774
haha I was just thinking of something very similar, but backwards, as a OTP flow.

1. Owncast asks you what your Fediverse account is.
2. Owncast sends you a private/direct message with a code.
3. You input that code into the Owncast UI.

While a OTP approach would be streamlined, it could be used for abuse, putting other people's accounts in there. But I'm guessing that could be rate limited or r

[2022-03-09 19:41] gabek opened #1776 "Instance logos get cached and changes don't get reflected"
Because we point to `/logo/external` as the instance's logo on the fediverse, even when they change the contents of their logo, it doesn't always get reflected on remote fediverse servers because the URL didn't change. Maybe a simple cachebuster param would resolve this.

[2022-03-09 19:44] gabek opened #1777 "Preview images get cached"
Because we point to `/preview.gif` as the instance's preview GIF, even when it changes, new posts might show the old contents on fediverse servers because the URL didn't change.

We could keep old GIFs so each post on the fediverse has an accurate image to point to, but that's probably overkill. Much like the logo issue, maybe a simple cachebust param is good enough.

[2022-03-10 21:15] zerodytrash opened #1778 "HLS segment name collision when using the lowest latency buffer option"
hi,
When I start a stream with "Medium latency", it works without problems, but when I activate the "lowest" latency option, the stream runs for several hours without problems and then starts to buffer every few seconds. My first thought was that the HLS segments are not written fast enough so that the browser has to request them again. But that is not the problem. After debugging I noticed the fo

[2022-03-10 21:20] zerodytrash commented on #1778
Owncast v0.0.12-dev
Ubuntu 20.04
ffmpeg 4.2.4-1ubuntu0.1

[2022-03-10 21:32] gabek commented on #1778
This is a great catch, thanks so much for looking into it!  It totally makes sense. Using the timestamp in the filename was just an identifier and isn't used for anything, so maybe it's best just to remove it so this can't happen.  I'll fix this up shortly!

[2022-03-10 21:44] zerodytrash commented on #1778
At the moment I use the filename timestamp for a VOD service. I query all HLS segments stored in a s3 bucket and sort them by filename to create a VOD playlist. But then I can just use the metadata (last modified) for sorting. Therefore all good :)

[2022-03-10 22:14] #1778 closed, assigned to gabek

[2022-03-10 22:15] gabek commented on #1778
Ok, hopefully that should clear that up, it just uses an incremented segment counter now, so a collision can't occur.  Let me know if you run into any issues with it.  Thanks again!

[2022-03-10 23:07] zerodytrash commented on #1778
wow that was quick! I will test tomorrow.
Thank you!

[2022-03-11 16:18] zerodytrash opened #1781 "Change cachebust param to random string to support CDNs"
https://github.com/owncast/owncast/blob/d2fd6a95e963b6687ad74793f4be270a6a57d72a/webroot/js/components/player.js#L68
I'm not sure why a timestamp is used as a cachebust parameter. When I think about it, the following problem appears:
Assuming the HLS playlist is cached by the storage or CDN provider on server side, changing the URL parameters will bypass the cache. So far so good. However, all tho

[2022-03-11 17:05] gabek commented on #1781
Yeah, that's why it was added, as additional precaution to make sure the browser is fetching fresh playlists.

[2022-03-11 17:25] zerodytrash commented on #1781
Okay, and it would not make sense to adjust the cachebust parameter to avoid server-side caching?

I ask because I encountered the described problem while using Cloudflare.
Cloudflare CDN caches the video segments (which reduces the server load) and in the default setting also the playlist.

[2022-03-11 17:35] gabek commented on #1781
Sure, there's no downside to changing it. In theory none of this should be needed, and the cache control headers should be respected everywhere, but early on somebody was having issues with their browser cache so that's why this was added.

[2022-03-11 20:23] #1781 closed, assigned to nobody

[2022-03-11 20:24] gabek commented on #1781
Alright, I went ahead and changed that to a random string.

[2022-03-11 22:16] zerodytrash commented on #1781
Perfect, thanks!

[2022-03-12 16:34] #1555 closed, assigned to nobody

[2022-03-13 22:36] #1419 closed, assigned to nobody

[2022-03-16 02:00] #1647 closed, assigned to nobody

[2022-03-17 00:34] #793 closed

[2022-03-17 01:41] #837 closed

[2022-03-17 05:12] argium commented on #1770
Hi @gabek, I meant using Azure Storage in place of AWS for distributing video fragments to support a larger number of viewers.

[2022-03-17 05:14] gabek commented on #1770
We support every storage provider that uses the S3 standard, and I think Azure is the only one that doesn't. There's no plans for adding a specific storage provider's protocol.  https://github.com/owncast/owncast/issues/139

[2022-03-17 05:14] #1770 closed, assigned to nobody

[2022-03-17 17:35] gabek opened #1787 "New player features not compatible with Safari"
Regarding playback metrics and the latency compensator with Safari.

Understandable, since Safari uses native HLS and I don't have access to the additional features that VHS offers. If I override native and allow Safari to use VHS instead it works fine on desktop Safari, but iOS Safari eventually stops playback.

[2022-03-17 20:09] #1776 closed, assigned to gabek

[2022-03-17 20:09] #1777 closed, assigned to gabek

[2022-03-17 21:54] #1773 closed, assigned to nobody

[2022-03-17 22:14] gabek commented on #1197
Fix to support Owncast should be in PeerTube 4.1.1. Once my test instance is updated then I can verify this and move on to actually getting some data to federate from Owncast to PeerTube.

[2022-03-18 20:33] #1609 closed, assigned to gabek

[2022-03-18 20:33] #1656 closed, assigned to gabek

[2022-03-18 20:34] gabek commented on #1685
Removed this from the milestone and just going to table it, since I don't currently have answers for the above.

[2022-03-18 21:11] gabek opened #1788 "Support thumbnail images federating to Pixelfed when streams start"

[2022-03-19 09:05] JamieSlome opened #1790 "Create SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@noobexploiterhuntrdev) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this

[2022-03-19 18:52] #1790 closed, assigned to nobody

[2022-03-19 18:52] gabek commented on #1790
Done.

[2022-03-20 06:58] JamieSlome commented on #1790
Hi @gabek - thanks for your support here.

We have sent an e-mail to your elected e-mail address. Just for reference, the report can be found directly here:
https://huntr.dev/bounties/2fb63f90-c874-43e0-89e4-eabc238116d2/

It is private and only accessible to maintainers with repository write permissions 👍

<blockquote><img src="https://www.huntr.dev/img/og_image.png" width="48" align="right"><div

[2022-03-20 18:22] gabek opened #1791 "Framerate slider is broken. Can only select lowest and highest values."
My guess something in antd broke in a recent update. Other sliders seem fine, however.  It's fine in 0.0.11.

[2022-03-20 18:27] gabek opened #1792 "The moderator icon is never vertically centered"
I've tweaked it multiple times but it never is correct.

![image](https://user-images.githubusercontent.com/414923/159177008-e1bb8105-5fad-4578-bec3-e3c572d7d310.png)

[2022-03-21 21:27] #1791 closed, assigned to nobody

[2022-03-22 09:49] aaronpk commented on #1676
not so fast, stalebot!

[2022-03-22 20:32] gabek opened #1793 "Add to chat moderation documentation about how IP address bans work"
- How to manage them.
- How they're enforced.
- Make sure your HTTP proxy is accurately setting `x-forwarded-for`.

[2022-03-24 23:42] #410 closed

[2022-03-29 19:00] jprjr opened #1803 "Chat - Emote Wire Protocol"
Hi there! I noticed when emotes are sent, the HTML for an `<img>` tag is sent via websocket.

Thought I'd suggest sending the code/title (`:partyparrot:`) instead and have it updated/rendered server-side? As far as I can tell (and I'm just getting started, so apologies in advance if I'm mistaken) - for a bot to use a custom emote, it needs to also generate and send the HTML.

Being able to send th

[2022-03-29 19:14] jprjr opened #1804 "Chat Events - Colors"
Hi there - I noticed Chat events come in with a `displayColor` attribute, but I'm unsure how to interpret the value. It seems to be an integer?

Would be great if events included the displayColor as a hex value, or just any value that communicates what the red, green, and blue values are.

[2022-03-29 19:14] jprjr opened #1805 "User selectable chat display colors"
Feature request - for users to be able to customize their color in chat.

[2022-03-29 19:33] jprjr opened #1806 "Chat - Actions/Emoting/Role Play (/me)"
Hi there - it would be awesome if the chat could support performing "actions" using the `/me` syntax.

I think ideally, they'd be appended to the name portion of the message and rendered similar to the name- see screenshot.

![Screenshot_2022-03-29_15-32-03](https://user-images.githubusercontent.com/4265148/160692761-4b74d35c-919d-4532-ab94-3de01e53a618.png)

[2022-03-29 19:38] gabek commented on #1804
Sorry for the confusion about that.  It's actually the `hue` value that comes across as the `displayColor`. The idea behind this is the server generates a root hue color for the user, but each client can determine the other values to make it fit in with that specific interface (make it lighter, less saturated, etc).  So while it's not hex, the hue alone should be enough for you to do what you'd li

[2022-03-29 19:51] jprjr commented on #1804
That answers the question, thank you so much!

[2022-03-29 19:51] #1804 closed, assigned to nobody

[2022-03-29 20:18] gabek commented on #1805
Are you thinking each individual chat user should be allowed to change their color, much like they can change their names, or were you thinking the server admin should be able to set a custom palette of colors to be used for users?

For some reference, the color right now can be used as an identifying piece of metadata for a user. So if a green "Bob" who created an account two months ago tries to

[2022-03-29 20:26] jprjr commented on #1805
I was thinking users could change their own color, like their names. I guess this would be dependent on having accounts/authentication (tagging #464).

[2022-03-29 20:29] gabek commented on #1803
I think that's fair, I could see how that would be helpful.

[2022-03-29 20:33] jprjr commented on #464
Hi there, just thought I'd chime in with a use case for accounts/authentication.

I have an interactive livestream where chatters can play a music guessing game, similar to Name That Tune. When a user guesses the song, a chatbot will award them points. Then they can use those points for other interactive features (make a gif appear on screen).

I track everything on the user id field, but it seems

[2022-03-29 22:31] gabek commented on #1806
We already have an `CHAT_ACTION` event type, so we could probably tie into that.  Right now it's assumed it's always a system action (name change, user joined), but we can add an optional user to it.

[2022-03-29 22:48] xfnw opened #1807 "implement raiding"
as mentioned in #142[#issuecomment-689041819](https://github.com/owncast/owncast/issues/142#issuecomment-689041819), "raiding" (redirecting viewers to another streamer after your stream ends), would be a nice feature to have

[2022-03-29 22:52] gabek commented on #1807
Feel free to chime in over at this discussion: https://github.com/owncast/owncast/discussions/717

Honestly I don't think there's been much interest in it, since Owncast instances have been pretty insular, but when there's enough interest and we find the right way to pull it off, I'm not opposed to it. But enough people need to want to raid each other for it to be worthwhile.

[2022-03-30 03:10] gabek commented on #1787
Now at the very least buffering and error events will be surfaced in playback metrics. Will also show the percentage of players that we have detailed metrics of, to provide context.

[2022-03-30 03:10] #1787 closed, assigned to gabek

[2022-03-30 03:45] gabek commented on #1805
While users are persistent already, and don't require auth to have this, I don't see adding this. It would require a new level of chat user settings that don't already exist, with very little benefit (I don't think most people care about the colors much).

[2022-03-30 03:54] gabek commented on #1803
Since this will require frontend changes I'll wrap this up with the future frontend changes. It probably won't be soon, but it makes sense to hold off until then since it'll all have to be touched anyway.

[2022-03-30 03:56] jprjr commented on #1805
I'm going to (politely) challenge that a bit. The reason I opened the issue is because I had users ask. It's the kind of thing where you either don't care at all - or you care a whole lot. As a user, if you get assigned a color that you don't like, it can be enough to make you not participate. Like imagine if all your messages were in a color that, for whatever reason, you just can't stand - and t

[2022-03-30 04:00] gabek commented on #1805
That's cool. I'll reopen and let others chime in and if it gets some traction then maybe we can find a way to make it happen.

[2022-03-30 21:23] gabek opened #1808 "Web interface redesign"
This is a placeholder for all of the work required for implementing the future redesign of the Owncast UI. This includes consolidating all the frontend and admin web apps to live together in `owncast/owncast`.

I've contracted a designer and been working with him on the final design.

[2022-03-30 21:25] gabek commented on #1627
Closing this as this component will be rebuilt after the redesign, anyway.

[2022-03-30 21:25] #1627 closed, assigned to nobody

[2022-03-31 00:11] gabek commented on #464
Since I've heard a lot of confusion lately coming my way and I'm constantly getting the "I'm not going to use Owncast because you don't have accounts" I guess I should reiterate some things.

Owncast already has user accounts.  Every user taking part in chat has an account that is persistent. It has user metadata and is representative of a single person. You can ban them, you can make them moderat

[2022-03-31 02:04] gabek commented on #1792
It's still bad with the authenticated icon.

![image](https://user-images.githubusercontent.com/414923/160961545-87e9e82b-8a9d-4a3b-b42e-1b15f1932035.png)

[2022-03-31 20:27] gabek commented on #1273
I'm not sure I'll be able to come up with anything better than this.
![indieauth-test2](https://user-images.githubusercontent.com/414923/161143619-2258eaee-f967-4d59-af93-8ecc1896a893.gif)

[2022-03-31 20:29] gabek commented on #464
If anybody wants to follow along at home: https://github.com/owncast/owncast/issues/1273#issuecomment-1085069984

[2022-03-31 21:01] gabek opened #1809 "The "no" button in the codec confirmation popup does nothing"
It should dismiss the confirmation.

![image](https://user-images.githubusercontent.com/414923/161148651-c9cb1637-405c-404b-b31a-7c11cebf3181.png)

[2022-04-01 20:29] gabek opened #1810 "Do not allow use of a display name owned by an authenticated user"
Because everyone feels so strongly about display names being singularly used I'm making a compromise.

1. If a display name is currently used by a user that has been authenticated, then that name is locked and nobody else can use it.
1. If a display name is currently used by a user that has not been authenticated, then that name can still be used.
1. If the authenticated user is banned, then the n

[2022-04-04 19:16] gabek opened #1815 "Fix stat components in hardware admin page"
Looks like a precision issue.

![image](https://user-images.githubusercontent.com/414923/161615788-f9d7c568-cbca-43b3-a86a-d192fd269cce.png)

[2022-04-04 19:22] gabek opened #1816 "Viewer chart Y axis strings are formatted weird"
![image](https://user-images.githubusercontent.com/414923/161616730-3b871364-a8f5-4445-8b83-93cba3979fd1.png)

[2022-04-04 21:07] #1816 closed, assigned to nobody

[2022-04-04 21:16] #1815 closed, assigned to nobody

[2022-04-04 21:19] #1809 closed, assigned to nobody

[2022-04-06 13:05] ghost commented on #1690
I'm not very familiar with ActivityPub so I might be missing something here, but I'm looking at `Accept` activities from pleroma and owncast, and I think I figured out what is breaking this (after updating for the `hs2019` signatures)

pleroma's Accept activity:
[code]

owncast's Accept activity:
[code]

the important difference between these two is that pleroma sends the `object` key as an object

[2022-04-08 01:01] funkyhippo commented on #1733
Figured I'd leave a comment here for developers in the future, but this combination doesn't work well. Ultimately, it violates CF's ToS section 2.8, causing it to trigger a redirect on all your stream resources to CF's abuse page, despite disabling caching on CF's end and also adding proper cache control response headers. This occurred mid-stream to about 100 viewers.

It seems CF's ToS is intenti

[2022-04-08 01:33] gabek commented on #1733
That's too bad!  I'll go ahead and close this as we don't want to get people stuck in that same situation.

[2022-04-08 01:33] #1733 closed, assigned to nobody

[2022-04-08 02:53] bmunger opened #1817 "Stream end video does not play"
After updating the new latest docker image, there seems to be an issue with the stream ending video.  On the previous version, 0.0.10, when the stream ended, there would be an Owncast animation with sound and then the video playback would stop.  With version 0.0.11, when the stream ends, it shows the spinning circle and no end Owncast animation.  This was tested in both Firefox and Chrome.  I don'

[2022-04-08 03:00] gabek commented on #1817
Sorry about that. That's an issue with using a `tmp` directory that's on a different filesystem. It's been fixed for the next release in #1768.

[2022-04-08 03:00] #1817 closed, assigned to nobody

[2022-04-08 14:58] DrSkyfaR opened #1818 "Feature Request: Sortable social media links"
Hello all,
I think it could be a useful feature to make the social media links sortable with a little up and down function to move them back and forth. I noticed the problem when my friend and I added all our links randomly and found that they were displayed on the front page in the order they were created. So we had to remove all the links again and put them in the order we wanted them. I realize

[2022-04-08 16:54] gabek commented on #1818
Agreed, that'd be nice to have!

[2022-04-08 20:26] gabek commented on #1690
Thanks to @spiralw's help we were able to determine there were two pieces at play:

1. Misskey doesn't like sending unresolved IRIs as the object even though Mastodon and Pleroma are fine with it.
2. Misskey still hasn't merged in the `hs2019` update upstream.

However testing on a Misskey server that _does_ have the `hs2019` patch _and_ sending along the full object payload instead of an IRI allo

[2022-04-08 20:34] #1690 closed, assigned to nobody

[2022-04-10 18:08] gabek commented on #1649
I've asked in chat and the Fediverse, and unfortunately I haven't received any suggestions. So I'll probably have to go through all these platforms myself and test a bunch of applications to find ones that work well.

[2022-04-10 20:08] gabek commented on #1273
@suzie97 referred to this mock from https://github.com/owncast/owncast/discussions/440

I do like the idea of having a consolidated place to change the name and authenticate like in the below original mock.  So I think we can use this as a starting point.  Here's the things that would need to change, though:

1. I don't think it should auto-display when focusing on the chat box.
1. We need a way t

[2022-04-10 20:57] Suzie97 commented on #1273
Just sharing whatever ideas that come to my mind.

Rather than directly showing a text field to input the username and buttons below to change the mode to login, we could display two equally important buttons - one for setting/changing the username and the other one for logging in with IndieAuth and Fediverse. After the buttons are clicked, the modal can switch to a new view dedicated to the purpo

[2022-04-10 21:07] gabek commented on #1273
Oh yeah I think all that makes more sense and is less confusing. I think the tabs have the additional benefit of being able to switch between the different options quickly if you change your mind, or you're trying to figure out what they mean by clicking on them. This also gives each option more room for information text.

In the future full redesign we could use each of these tabs as a standalone

[2022-04-11 02:10] Suzie97 commented on #1273
Glad to help. If you need any help figuring out the UI of the tabs, ping me :)

[2022-04-11 22:39] #1714 closed, assigned to nobody

[2022-04-12 22:06] gabek opened #1823 "Make followers tab fit the available space (chat vs no chat)"
When chat is shown it reduces the number of columns that fit on the followers tab, meaning the final number is an odd number of followers and looks dumb.

![image](https://user-images.githubusercontent.com/414923/163688443-03f2eded-478b-464f-b9ce-8811641ff6cf.png)

We can make the followers section always show the same number, but make it fill the space.

So maybe _always_ show 15, (5 rows of 3 co

[2022-04-14 07:21] Jookia opened #1826 "Implement WCAG 2.1 compliance"
OwnCast is fairly inaccessible at the moment. The most obvious are:

- Bad use of contrast
- Small text
- No skip links
- Poor keyboard support
- Poor screen reader support

It would be nice if OwnCast took a serious stance on accessibility.

[2022-04-14 16:45] silverpill opened #1827 "Serving ActivityPub objects"
According to [ActivityPub spec](https://www.w3.org/TR/activitypub/#retrieving-objects), objects must be retrieved with an `Accept` header of `application/ld+json; profile="https://www.w3.org/ns/activitystreams"`:

I've tried several Owncast instances, and it looks like they serve ActivityStreams object representation only in response to requests with `application/activity+json` and `application/js

[2022-04-14 19:42] gabek commented on #1808
[owncastredesign.pdf](https://github.com/owncast/owncast/files/8491806/owncastredesign.pdf)

[2022-04-14 20:07] aaronpk commented on #1808
Great writeup! Is it worth mentioning the eventual possibility of adding in playing back recordings? #102 I'm thinking about just making sure recording playback is being taken into account at the beginning of the redesign phase, but not necessarily actually doing the design for it just yet.

[2022-04-14 20:27] gabek commented on #1808
I thought about that, but there's a lot of unknowns there, and the specifics of what it should look like will come from how it works and what's available. So anything that was designed early on will likely be wrong by the time it's implemented. I figured it makes sense just to focus on those features when the time comes as opposed to having a designer add a new tab without specifics. But I haven't

[2022-04-14 21:02] aaronpk commented on #1808
fair enough! I suppose if the plan is to put it in a tab that's about all I was thinking about at this stage anyway!

[2022-04-15 01:23] gabek commented on #1826
Thanks for the comment!

There's plans in the works to redesign and rebuild the Owncast frontend. This time around it'll be built with a UI framework that should hopefully give a head start with making sure individual components are accessible.

On top of that hopefully you might be able to give some insight when the new design is getting built on what needs to be improved on.

[2022-04-15 01:30] gabek commented on #1808
I'm not sure they'll appreciate it, but I'll share how you can follow the progress anyway. We build in public!

https://www.figma.com/file/B6ICOn1J3dyYeoZM5kPM2A/Owncast---Review?node-id=0%3A1

(Read the comments to know what things are being brought up)

<blockquote><img src="https://www.figma.com/file/B6ICOn1J3dyYeoZM5kPM2A/thumbnail?ver=thumbnails/8522953f-71c6-425a-b8f2-45dd8d36b9a3" width="48

[2022-04-15 02:14] gabek commented on #1826
I ping'ed the Ant thread about in progress accessibility issues. https://github.com/ant-design/ant-design/issues/22343

And for clarification, since I didn't mention it, the reason the plan is to use Ant Design is because it's already been used to build the Owncast Admin UI.

[2022-04-15 02:28] Jookia commented on #1826
The Owncast Admin UI is actually the less accessible part of the UI from what I've played with. It looks like Ant doesn't really have a plan or priority for accessibility, meaning you'd likely have to fork Ant to fix it.

[2022-04-15 02:32] gabek commented on #1826
I'll make another plea here that since the project is currently only me, I could desperately use some web frontend help.

[2022-04-15 03:08] Jookia commented on #1826
Rebuilding both the admin and frontend with some more accessible framework is probably the better idea

[2022-04-15 03:38] Jookia commented on #1826
I've decided I'm going to sit down sometime next week or this week and dig apart the OwnCast admin code and see what needs to be done for screen reader accessibility.

[2022-04-15 04:13] gabek opened #1828 "Twitch compatible chat API"
Admittedly I've never looked into how it all works with Twitch. People have told me it was IRC-based, but none of that ever made sense to me. So after talking about it with [Teklynk](https://owncast.teklynk.com/) tonight, out of curiosity I finally looked.

- It's not _completely_ IRC based. It's some amount of IRC over websockets. That makes more sense, because a browser can't connect to an IRC s

[2022-04-15 06:19] Jookia commented on #1826
Alrighty, my spam continues in this thread. Sorry, but also not that sorry.
I took some notes regarding keyboard and screen reader support. A lot of WCAG compliance can be done with visual changes, such as text size, fonts, etc- but these are things I assume you already know how to do as it's part of doing web development usually.

So I sat down and opened Orca (installable in Linux easily) and st

[2022-04-15 12:29] jprjr commented on #1828
Hi there! Saw this issue and thought I'd add a few points about how Twitch chat works.

IRC is able to do this with [IRCv3](https://ircv3.net/), via [Message Tags](https://ircv3.net/specs/extensions/message-tags) - which is what Twitch uses. You have to request the tags, by default it won't send them.

I noticed that example from tmi.js isn't quite what comes in over the wire, that looks like an o

[2022-04-15 12:46] jprjr opened #1829 "Idea: swappable chat backends"
Hi there, just thought I'd toss this idea out there - what if Owncast could be configured to use different chat backends?

So the thinking goes, by default - use the current chat system with the fairly ephemeral nicknames, users in local storage, possibly support fediverse auth, and so on.

But, allow admins to specify say, an IRC room or XMPP room, and have Owncast use that.

When a client connec

[2022-04-15 14:03] jprjr commented on #1829
Should also probably mention, I'm happy to help develop this - but figured I should see if this is something the project wants before I sit down and start writing it. It would likely require a few big-ish changes, like moving the markdown rendering to client-side instead of server-side, and sending emotes as plain-text instead of HTML (see #1803) and parsing/injecting them client-side. I'm assumin

[2022-04-15 17:18] jprjr opened #1830 "Issue: chat unscrollabe on some resize operations"
Hi there, noticed an issue (using Google Chrome, latest version, tested on MacOS and Windows):

If you shrink the browser's width enough to change layouts (from the horizontal layout, to the vertical layout), then expand it a little bit (so it stays in the vertical layout) - the chat becomes unscrollable.

Sometimes it's hard to reproduce. It seems like if the messages get reflowed while widening,

[2022-04-15 19:41] gabek commented on #1829
I appreciate the thought you've put into this and your offer to help with it.

But unfortunately it looks like not only would Owncast have to maintain and build features for the internal chat server (a full time task of its own), but also keep up to date with a growing number of 3rd party services to make sure our features are working with them. And while I know you offered to work on this, unfort

[2022-04-15 19:41] #1829 closed, assigned to nobody

[2022-04-15 19:45] gabek commented on #1829
And also, I know I've said it 10000000 times but:

Users aren't in local storage.

[2022-04-15 21:18] gabek opened #1832 "Make notifications popup clickable"
Clicking the popup should open the notification modal.

![image](https://user-images.githubusercontent.com/414923/163633337-dbfaab4c-46e1-4861-a0fa-1c915fb176a1.png)

[2022-04-15 21:51] gabek commented on #1273
It's not pretty, but it's something. I need to find some way to explain what IndieAuth is in this modal, but it's a pretty complex topic to fit in one sentence.

![image](https://user-images.githubusercontent.com/414923/163635934-9d5ef9c0-c25e-445d-ba48-bcf245089f9d.png)

[2022-04-15 22:40] #1723 closed, assigned to nobody

[2022-04-16 05:43] gabek commented on #1823
It actually seems like it's reflowing fine in my testing.

Two columns when chat is displayed, four when not. Seems ok.

![image](https://user-images.githubusercontent.com/414923/163663261-4813049b-d827-4050-8e0d-543de6aa041e.png)
![image](https://user-images.githubusercontent.com/414923/163663271-c55c8a82-afc5-4a70-8d5d-43d4e2e3e336.png)

[2022-04-16 05:46] #1827 closed, assigned to gabek

[2022-04-16 05:48] gabek commented on #1827
Done, thanks!

[2022-04-16 09:11] Flameborn commented on #1826
Tested the frontend here with VoiceOver under MacOS. Most of what @Jookia mentioned is also an issue here, although VoiceOver can get to more things at times, which makes the browsing experience much better. Here are my findings in addition to what was mentioned:

When using the admin UI, the navigation menu definitely needs some work when it comes to the keyboard. Navigating with the up and down

[2022-04-16 09:29] Jookia commented on #1806
Please make sure when doing this that it's clear that this is a /me command or emoji- that way people can't 'fake' actions.

[2022-04-16 11:01] t1enne commented on #1561
Apparently it's an issue firefox has with "contenteditable" elements. From my tests both localStorage being set and content being empty don't affect the problem. I found that setting "padding-right: 100%" fixes the issue in Firefox, but breaks the message-input on Chrome. All tests made on a debian.
Hope this helps!

[2022-04-16 16:16] gabek commented on #1561
Is there a standardized way to set CSS only for one browser?

[2022-04-16 17:50] t1enne commented on #1561
Found a more elegant solution with pos:absolute. Created a PR!

[2022-04-16 18:00] #1561 closed, assigned to t1enne

[2022-04-16 19:47] gabek commented on #1792
![image](https://user-images.githubusercontent.com/414923/163689350-aed51545-dbbd-4824-80bf-eff46001e55c.png)

Looks ok after the last round of tweaking, I think I was just looking at it too long.

[2022-04-16 19:47] #1792 closed, assigned to nobody

[2022-04-16 22:27] gabek commented on #1273
Updates.

![image](https://user-images.githubusercontent.com/414923/163693179-7cf3e889-0027-492a-ba73-f7d9a5d8c9bb.png)

[2022-04-17 02:06] gabek opened #1837 "IndieAuth v2"
If IndieAuth proves to be useful, and IndieAuth servers become compatible with the new version of it, then I'll rewrite to support the new version of it that changes how discovery works.

See https://github.com/owncast/owncast/pull/1811#discussion_r841112848
https://indieauth.spec.indieweb.org/#indieauth-server-metadata

[2022-04-17 02:29] gabek opened #1838 "Create an HTML error page for IndieAuth client"
If an IndieAuth request redirects back to the Owncast server and there is an error, right now we just display the error. We don't have any "pretty" way to display it on a standalone page. Another option is to route this error text to the Owncast web frontend and show it in some way, but I don't want to deal with that until we rebuild the web frontend. In that case we can build some kind of new err

[2022-04-17 03:33] Suzie97 commented on #1273
I think the text makes sense and will be useful for people who want more information on IndieAuth. But it is a lot of text to throw at the user by default and makes the modal look complicated at first glance. Hiding it in some kind of learn more button seems more appropriate.

## Lo-fi Prototype
https://user-images.githubusercontent.com/68198116/163699124-a716e5a7-53c8-47a7-84ab-19a0eda077e8.mov

[2022-04-17 03:38] gabek commented on #1273
I agree with all of that!

I was thinking "I'll do it if HTML has a disclosure element, but I really don't want to build a new component for it!" and it turns out, HTML does have a disclosure element! https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details

I'm on it!

<blockquote><img src="https://developer.mozilla.org/mdn-social-share.cd6c4a5a.png" width="48" align="right"><div><strong

[2022-04-17 04:08] gabek commented on #1273
Ugh but it sucks. I can't wait until I can use Ant components!

![image](https://user-images.githubusercontent.com/414923/163699954-45e834fb-e7e3-4f61-885a-a27df23cc1cd.png)

![image](https://user-images.githubusercontent.com/414923/163699965-667a6423-0adf-4dd2-a364-0f232a2c9518.png)

[2022-04-17 04:13] gabek commented on #1273
Ok this might work.

![image](https://user-images.githubusercontent.com/414923/163700080-cc7dd73d-1cc9-4a0d-850f-eb8f1b0ce8bb.png)

[2022-04-17 10:37] Jookia commented on #1826
I did a bit of work today on getting some of the major issues with the front-end fixed. I've published it in my fork, version v20220417: https://github.com/Jookia/owncast/releases/tag/v20220417 If you think anything looks interesting I'll do a PR.

I think most the headache is going to be on implementing the chat region as a widget of some sort. I'd like to see users be able to tab in to it and sc

[2022-04-17 15:43] jprjr opened #1840 "Federation: Pleroma receives "Unhandled Activity" error when going live"
(I'm also going to open an issue with Pleroma, I'm unsure if the error is in Owncast or Pleroma)

I noticed that when Owncast goes live and sends out the ActivityPub message to Pleroma instances, Pleroma responds "OK" to the update - but the update never shows in the user's timeline.

With debug logging enabled, Pleroma reports "Unhandled Activity".

What's interesting is, if I modify owncast to n

[2022-04-17 15:56] jprjr commented on #1840
Pleroma issue, for reference https://git.pleroma.social/pleroma/pleroma/-/issues/2864

<blockquote><img src="https://git.pleroma.social/uploads/-/system/project/avatar/2/pleroma_be.png" width="48" align="right"><div>GitLab</div><div><strong><a href="https://git.pleroma.social/pleroma/pleroma/-/issues/2864">Unhandled Activity error on Note with Attachment (#2864) · Issues · Pleroma / pleroma</a></s

[2022-04-17 18:52] gabek commented on #1840
That's unfortunate. And yeah, the single object vs. array of objects is legal across the spec, but this won't be the first time I've seen an implementation have an issue with it. I know I tested with Pleroma previously, but that was clearly without the image.

Thanks for filing that detailed issue with Pleroma, I'm curious what they'll say.

[2022-04-17 18:59] #1832 closed, assigned to nobody

[2022-04-17 19:30] gabek opened #1841 "Title is missing from notify modal"
![image](https://user-images.githubusercontent.com/414923/163729466-f166929c-71a6-4af9-a5b8-714c28c29148.png)

[2022-04-18 04:43] Jookia commented on #1826
Alright, I did a little bit more work on my fork today and released a new version. Main changes are removing emojis from window titles (the colored circles are confusing) and adding an alt tag to the moderator icon in chat.

This is where I'm going to stop for now at this point. Chat is still fairly broken:
- Emotes don't read alt text in Firefox due to a 3 year old bug
- Navigating through chat i

[2022-04-18 05:54] gabek commented on #1826
Could you please be a little nicer? You filed something a couple days ago and you're really upset that I don't know what you know about the subject. I'm not an accessibility, or even web frontend expert. I'll have to learn about this stuff. I appreciate your insight, and I'd really like to make some progress on this. I look forward to being able to do that but it's not something that can magically

[2022-04-18 06:06] Jookia commented on #1826
How would you like me to be nicer?

[2022-04-19 03:39] natjms commented on #1347
It doesn't look like this is an issue with Owncast. [This reply](https://github.com/videojs/video.js/issues/4220#issuecomment-288597324) on a related issue in the Video.js repo says it's actually an Apple issue. It seems that Apple demands it know explicitly whether or not there'll captions before playback, and if you aren't explicit about it, you'll get the "Unknown CC" option.

To explicitly dec

[2022-04-19 06:14] gabek commented on #1347
That all makes sense! Though It's kind of a bummer, since at least one person does live stream with captions and Owncast just silently passes them through, not knowing one way or the other if they're included or not, therefore setting that tag in the HLS playlist, as it stands, wouldn't be possible.

In the future I could probably look into the inbound RTMP stream metadata and determine if caption

[2022-04-19 06:52] gabek commented on #1830
I was able to reproduce this and a small change seems to clear it up.

[2022-04-19 07:01] gabek commented on #1841
I'm no longer able to reproduce this.

[2022-04-19 07:01] #1841 closed, assigned to nobody

[2022-04-19 09:26] jameskimmel commented on #1347
Excuse my ignorance, could that not be the default setting, as long as there are no captions enabled by the streamer?

[2022-04-19 12:55] natjms commented on #1347
@jameskimmel I'm woefully unequipped to talk about stream metadata but since the spec says that the `CLOSED-CAPTIONING` attribute is optional, I was guessing that the default is for it to be unspecified. Here's the full quote for reference:

Is this something that live streaming software is supposed to handle? I'm guessing it's at least not handling it well if this is even a problem to begin with.