[2022-10-12 22:57] brokenintuition commented on #2200
Yeah I've been looking to work on some bigger issues and learn more about ActivityPub so I'm all aboard

[2022-10-12 23:38] gabek commented on #2200
Wohoo! Feel free to drop by our [chat](https://owncast.rocket.chat/channel/hacktoberfest) if you'd like to discuss in real time at all.

[2022-10-13 00:54] #2097 closed, assigned to gabek

[2022-10-13 00:56] gabek commented on #1901
Since we have no updated design we're going with the original one. Closing.

[2022-10-13 00:56] #1901 closed, assigned to nobody

[2022-10-13 01:31] gabek opened #2204 "Player grows larger than the placeholder"
### Share your bug report, feature request, or comment.

The player area should stay the same size before it's playing and when it's playing.

Video placeholder before player is playing. Correct size:

![image](https://user-images.githubusercontent.com/414923/195477225-972a7603-eb61-4917-afd1-dd3f6ae62125.png)

Video when player is playing. Incorrect size (too large):

![image](https://user-images

[2022-10-13 02:03] gabek opened #2205 "Design: Chat name+color change modal"
### Share your bug report, feature request, or comment.

This modal needs a design.

![image](https://user-images.githubusercontent.com/414923/195481176-98283c21-23df-4d40-a34b-7db4cd73a6a2.png)

Component: https://owncast.online/components/?path=%2Fstory%2Fowncast-modals-name-change--basic

[2022-10-13 02:05] gabek opened #2206 "Re-pausing the video player does not display the play button"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/195479574-5c0f167d-1f6b-454e-8c2f-938904d1b5b1.png)

[2022-10-13 02:17] #2203 closed, assigned to gabek

[2022-10-13 02:17] #2202 closed, assigned to gabek

[2022-10-13 02:31] #2206 closed, assigned to gabek

[2022-10-13 03:21] gabek opened #2207 "Followers should be left aligned, not centered."
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/195491604-6a7ef2a5-aa6f-45a5-be42-4fdca22ddc45.png)

[2022-10-13 03:28] gabek commented on #2204
https://videojs.com/guides/layout/

<blockquote><img src="/favicon.ico" width="48" align="right"><div><strong><a href="https://videojs.com/guides/layout/">Layout | Video.js</a></strong></div><div>Layout and repsonsiveness options for Video.js players.</div></blockquote>

[2022-10-13 20:08] unclebinary1001 commented on #2114
This is what I have for now.
![image](https://user-images.githubusercontent.com/69122375/195698912-3ec9f546-35b8-422a-8d19-2c128dee1c59.png)

Is this okay?

[2022-10-13 20:10] gabek commented on #2114
Yeah! Looks good to me!

[2022-10-14 00:01] heller commented on #2076
As I was trying to pick at dependencies in #2198, I came across the idea that vulnerabilities in `devDependencies` won't be shipped to a production build. We can exclude those using `npm audit --omit=dev`. The storybook stuff is really for development use only, so we bumped `@storybook/react` over to `devDependencies`.

Currently it's looking much better, but as far as my npm-newbie self can tell,

[2022-10-14 07:56] Sachin1939 commented on #1856
Alright!

[2022-10-14 23:29] gabek opened #2208 "Chat message notification"
### Share your bug report, feature request, or comment.

Copy over the chat message notification logic from webv1 to webv2. This is where the title shows unread messages when the web application is no longer foregrounded.

[2022-10-15 06:19] Pranav2612000 commented on #2207
Hey @gabek
I'll like to work on this issue.

[2022-10-15 06:21] gabek commented on #2207
Awesome, thank you!

[2022-10-15 07:43] unclebinary1001 commented on #2114
Raised pull request [here](https://github.com/owncast/owncast/pull/2209). Please let me know if I need to make any changes.

[2022-10-15 08:18] Pranav2612000 commented on #2207
I was able to get the project set up. Do you have any tips on how I can add a mock follower to reproduce this bug?
Will try to have a PR ready in a day

[2022-10-15 09:48] gabek opened #2210 "Update of Storybook seems to have broken MDX files"
### Share your bug report, feature request, or comment.

Example page that no longer loads: https://owncast.online/components/?path=%2Fdocs%2Fowncast-style-guide-default-theme--page

[2022-10-15 13:39] Pranav2612000 commented on #2207
@gabek ~~Has this been fixed? I am unable to reproduce it on nightly ( https://nightly.owncast.tv/ ) and even the storybook shows the follower correctly positioned to the left~~ Able to reproduce this here - https://webv2.owncast.tv/. How can I reproduce this error in my local setup?

![image](https://user-images.githubusercontent.com/20909078/195989486-e4a323cc-d143-4b23-8600-d22393fe95b1.png)

<

[2022-10-15 14:40] Pranav2612000 commented on #2177
I found this - https://pullanswer.com/questions/deprecation-warnings-after-upgrade-to-ts-4-8 which says that the errors are due to the react-docgen-typescript-plugin. A PR has been made for this fix ( https://github.com/hipstersmoothie/react-docgen-typescript-plugin/pull/70 )
As this is not a critical issue in my opinion, the only thing we can do is wait for storybook to update once this PR has be

[2022-10-15 18:51] Pranav2612000 commented on #2188
@gabek I've created a PR for this feel free to take a look

[2022-10-15 19:08] Pranav2612000 commented on #2189
Oh. Just found out the reason for this. It's an interesting issue. Creating a  PR

[2022-10-15 19:42] unclebinary1001 commented on #2204
I would like to take this up

[2022-10-15 23:19] gabek commented on #2204
Great, thank you!

[2022-10-17 04:51] gabek commented on #2210
Fixed in 674575990429a72cd08768b47948326cdc7dc459

[2022-10-17 04:51] #2210 closed, assigned to nobody

[2022-10-17 05:28] gabek commented on #2187
I'll keep an eye on it, but I'll close it since it's no longer occurring.

[2022-10-17 06:18] #2207 closed, assigned to Pranav2612000

[2022-10-17 06:28] gabek commented on #2161
Hi there. Let me know if you're no longer looking at this and I'll take care of it.

[2022-10-17 06:34] gabek commented on #2114
FYI I had to revert the attached PR since it broke the build.

[2022-10-17 06:39] gabek commented on #1625
Closing since the redesign of message has been locked in.

[2022-10-17 06:39] #1625 closed, assigned to t1enne

[2022-10-17 06:40] gabek commented on #2012
I don't believe this to be an issue any longer.

[2022-10-17 06:40] #2012 closed, assigned to nobody

[2022-10-17 07:29] #2081 closed, assigned to jamescallumyoung

[2022-10-17 11:00] Kundan1804 commented on #2161
Sorry I was busy with my exams will get back to it now,  I'll finish it till 21st if I am unable to do so then you may unassign me, sorry for the delay hope it's alright.

[2022-10-17 15:20] gabek commented on #2119
Due to lack of clarity and to keep churn to a minimum, this is being abandoned.

[2022-10-17 15:20] #2119 closed, assigned to nobody

[2022-10-18 04:49] unclebinary1001 commented on #2114
I just opened a new PR #2224. I tried to build locally, and it works with
no errors.

I hope it builds this time. 🤞

On Mon, Oct 17, 2022 at 1:34 AM Gabe Kangas ***@***.***>
wrote:

[2022-10-18 04:51] #1984 closed, assigned to gabek

[2022-10-18 04:55] #2114 closed, assigned to unclebinary1001

[2022-10-18 05:13] unclebinary1001 commented on #2114
Thank you for allowing me to work on this. I learned a whole lot :)

On Mon, Oct 17, 2022 at 11:55 PM Gabe Kangas ***@***.***>
wrote:

[2022-10-18 05:21] gabek commented on #2193
I'm going to reclaim this and just work on this at the same time that I work on UI tests.

[2022-10-18 05:57] gabek opened #2225 "Pass in alternative websocket host from config"
### Share your bug report, feature request, or comment.

Just like we do in webuiv1, we need to pass the optional alternative websocket host into our websocket client.

[2022-10-18 21:20] gabek commented on #1915
I had started on this, but this is heavily impacted by design and if design is in flux and possibly going to be changed then I cannot continue work on this. Moving it out of in progress.

[2022-10-18 21:21] gabek commented on #1929
I started work on this, but due to churn in design I must stop because I cannot work on UI tests of the UI is going to be changing.

[2022-10-18 21:22] gabek commented on #1926
I started work on this, but due to churn in design I must stop because I cannot work on UI tests if the UI is going to be changing.

[2022-10-18 23:47] #1869 closed, assigned to gabek

[2022-10-18 23:49] gabek commented on #2177
Closing since we are not able to fix this ourselves.

[2022-10-18 23:49] #2177 closed, assigned to nobody

[2022-10-19 02:03] gabek opened #2226 "Add Action chat message type"
### Share your bug report, feature request, or comment.

In `ClientConfigStore` we need to wire up this message type.

Component: https://owncast.online/components/?path=%2Fstory%2Fowncast-chat-messages-chat-action--basic

[2022-10-19 02:50] #2208 closed, assigned to gabek

[2022-10-19 02:53] #2226 closed, assigned to nobody

[2022-10-19 03:54] #2225 closed, assigned to gabek

[2022-10-19 04:43] gabek commented on #1936
For now I'm just sticking with the single global error. It makes sense with this single page.

[2022-10-19 05:39] gabek commented on #2160
Here you go, you can just add this one tag:

https://dev.to/jyotishman/html-tip-automatically-open-all-links-in-new-tab-in-html-19ok

<blockquote><img src="https://dev.to/social_previews/article/740640.png" width="48" align="right"><div><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--lrmEcD2H--/c_limit,f_png,fl_progressive,q_80,w_128/https://practicaldev-herokuapp-com.freetls.fast

[2022-10-19 05:50] gabek commented on #2189
So unfortunately this issue is still occurring. It certainly seems to depend on what the title of the instance is. The default "Owncast" doesn't cause the issue, but the "Owncast web v2" does.

![image](https://user-images.githubusercontent.com/414923/196607607-ee9505e9-3660-4c70-86e2-ae6ba4df418d.png)

[2022-10-19 05:56] gabek opened #2227 "Broken image for "Other" social link"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/196608450-7c21f63c-4f72-49bb-a08d-f65999146b52.png)

[2022-10-19 06:03] #1936 closed, assigned to nobody

[2022-10-19 06:05] Pranav2612000 commented on #2189
Must be something similar. I'll take a look.

On Wed, 19 Oct, 2022, 11:21 am Gabe Kangas, ***@***.***>
wrote:

[2022-10-19 06:18] gabek opened #2228 "Admin: Fix antd deprecation warnings"
### Share your bug report, feature request, or comment.

`/admin` in the web app.

```Warning: [antd: Menu] children will be removed in next major version. Please use `items instead.
Warning: [antd: Modal] `visible` will be removed in next major version, please use open instead.
[code]

[2022-10-19 06:56] gabek commented on #2227
Fixed.

[2022-10-19 06:56] #2227 closed, assigned to gabek

[2022-10-19 22:51] gabek opened #2230 "Make owncast.online opengraph tags absolute URLs"
### Share your bug report, feature request, or comment.

https://github.com/owncast/owncast.github.io

![image](https://user-images.githubusercontent.com/414923/196819158-7c3edff3-8024-4151-8609-f7702eaab57f.png)

[2022-10-20 05:22] gabek opened #2231 "Mobile action button dropdown"
### Share your bug report, feature request, or comment.

When mobile the action button row should collapse into a dropdown with all the available actions.

Example mockup:
![image](https://user-images.githubusercontent.com/414923/196862778-aa5dfef8-ddd9-49a1-bb3b-e11bdbb8bd18.png)

[2022-10-20 08:17] Kundan1804 commented on #2160
yeah i know the tag but the problem is that particular tag is to be added in the main html file of the project which contains all the components of the project, and i am unable to find that root html file.

[2022-10-20 10:33] Kundan1804 commented on #2160
I am sorry @gabek i tired my best but i am unable to solve this issue, you may please unassign me.

[2022-10-20 10:33] Kundan1804 commented on #2161
I am sorry @gabek i tired my best but i am unable to solve this issue, you may please unassign me.

[2022-10-20 10:46] Chaitanya-Shahare commented on #2230
Can you assign this to me?

[2022-10-20 10:48] Chaitanya-Shahare commented on #2230
can you assign this to me?

[2022-10-20 16:11] gabek commented on #2230
Sure, thank you!

[2022-10-20 17:02] jahway603 opened #2233 "[feature request] Documentation missing minimum and recommended owncast server requirements"
### Share your bug report, feature request, or comment.

Currently, the documentation is missing minimum and recommended owncast server requirements. I'm logging this issue as I will be testing owncast on a VPS with 1 CPU and 1.5 GB RAM, so I'll report back if it worked or not.

[2022-10-20 17:48] gabek commented on #2233
There's no documentation around this pretty much on purpose. Each person will have vastly different requirements depending on what their needs are.

RAM is generally not an issue. CPU is highly dependent on what your requirements are. The more "work" that is required (converting what you send it to what is being sent out) the more CPU is required to do that work. So if you have one output variant

[2022-10-20 17:56] gabek commented on #2233
I've had dreams of building a little wizard on the web site where you put in your specific configuration and it estimates what type hardware and bandwidth requirements you might need. Maybe some day I can get to that.

But the downside of that is streamers often don't know what configuration they plan on running with until later.

[2022-10-20 19:57] t1enne commented on #2189
This is fixed with my last commit! Sorry, didn't notice we had an open issue.

[2022-10-20 21:34] gabek opened #2234 "Add support for optional public web assets directory"
### Share your bug report, feature request, or comment.

Because all of our web assets are bundled in the binary going forward it makes it more difficult for somebody to serve a different font, or a particular image without hosting it somewhere else.

We should have a `public` directory where anything inside of it is publicly accessible via the Owncast web server so people can optionally throw wha

[2022-10-21 00:58] gabek opened #2235 "Follow modal is rendering incorrectly."
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/197086779-12afc6e0-4a12-4951-adfb-57d99423a877.png)

Component: https://owncast.online/components/?path=%2Fstory%2Fowncast-modals-follow--basic

[2022-10-21 01:07] gabek opened #2236 "Chat sidebar is no longer correctly positioned"
### Share your bug report, feature request, or comment.

The sidebar is taller than the viewport and the input textbox is off screen.

![image](https://user-images.githubusercontent.com/414923/197087719-7aea4d6c-1bbd-4aee-9398-ace70e8212e6.png)

[2022-10-21 01:09] gabek opened #2237 "Viewer count turned red"
### Share your bug report, feature request, or comment.

I think it was black (dark on light color) before?

![image](https://user-images.githubusercontent.com/414923/197087840-3b9ed889-8f7d-4f34-8f47-769fe70c7bbc.png)

[2022-10-21 01:48] gabek commented on #2010
Closing this in favor of specific mobile-related issues that can be tracked easier.

[2022-10-21 01:48] #2010 closed, assigned to t1enne

[2022-10-21 02:50] #2161 closed, assigned to gabek

[2022-10-21 03:17] #2160 closed, assigned to gabek

[2022-10-21 03:28] gabek commented on #2179
Since this text is customizable in the admin I'm going to stop worrying so much about what it says and leave it up to people to set their own if they don't like it.

[2022-10-21 03:28] #2179 closed, assigned to nobody

[2022-10-21 03:40] jahway603 opened #2238 "should minimum go version increase to version 1.17?"
### Share your bug report, feature request, or comment.

I'll preface this first with this compiled perfectly fine on my Arch system with go1.19.2.

This issue I'm filing occurred with an Ubuntu 20.04 VPS using the minimum in the README of go1.16.

[code]

I then ran `go mod download golang.org/x/sync`, which modified the go.sum file.

Then I tried running owncast again and got this error.

[code]

[2022-10-21 03:41] #2235 closed, assigned to nobody

[2022-10-21 03:48] gabek commented on #2238
That's correct, Go 1.17 is currently the minimum version set in `go.mod.`: https://github.com/owncast/owncast/blob/develop/go.mod#L3. I'm guessing there's some incorrect documentation somewhere.

I'm hoping at some point in the future we can move to 1.19 #2185, probably after this next big release.

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-

[2022-10-21 03:56] #2238 closed, assigned to jahway603

[2022-10-21 10:17] t1enne commented on #2193
We could prepend clear class names before the `Header_header__U4Ro1` put in by next.
I'd suggest having a clear prefix in front of all customizable components. Like `customizable__header`.
This way it's clearer where we have to use variables for styling, instead of fixed values, from the code.

[2022-10-21 20:09] gabek commented on #2189
Yes, fixed! Thanks for the update @t1enne. Closing.

[2022-10-21 20:09] #2189 closed, assigned to Pranav2612000

[2022-10-21 20:15] gabek commented on #2193
I was actually thinking of giving these components IDs instead of additional class names. Is there any downside to IDs vs classes in this case? I figure since the point is to target specific components that IDs make sense. I'm also using these to target elements for automated UI testing.

[2022-10-21 21:48] gabek opened #2243 "If instance does not have social/federation features enabled do not show tab bar"
### Share your bug report, feature request, or comment.

The tab bar should not be shown if all the following is true:

1. Social/federation features are not enabled, therefore there is no "Followers" tab.
2. The user is not viewing the page on mobile, meaning "Chat" is not a tab **OR** the stream is offline, meaning the "Chat" tab will not render.

If people think the tab bar should show up even

[2022-10-21 21:50] gabek opened #2244 "Do not show Followers tab if social/federation features are not enabled"
### Share your bug report, feature request, or comment.

This tab has been hard-coded to be displayed to make it easier for people to work on the Owncast web frontend, but at some point we'll want to re-hide it if the feature is not enabled.

We can do this later, but filing this now so it's not forgotten.

[2022-10-22 05:26] t1enne commented on #2193
The ID is unique, so it would work for a header, but not for buttons (or any other non-unique UI component)

[2022-10-22 06:51] gabek commented on #2231
Certainly saves a lot of vertical space on mobile. I put a star in the dropdown just for some kind of iconography but it can be removed or changed to something else.

![image](https://user-images.githubusercontent.com/414923/197324585-870107fa-b410-44f4-b385-7eb9ad116143.png)

[2022-10-22 07:07] gabek commented on #2231
https://629132c6e23893003a9e89c5-cfenmqltge.chromatic.com/?path=%2Fstory%2Fowncast-components-action-buttons-action-menu--example

[2022-10-22 07:12] #2231 closed, assigned to gabek

[2022-10-22 08:49] t1enne commented on #2237
Fixed with 917248fc5b26c5911459e34cb7b418fd8efcb057

[2022-10-22 08:49] #2237 closed, assigned to t1enne

[2022-10-22 08:50] t1enne commented on #2236
Fixed with 917248fc5b26c5911459e34cb7b418fd8efcb057

[2022-10-22 08:50] #2236 closed, assigned to t1enne

[2022-10-22 09:09] agremi commented on #2244
Hi, can you assign me this issue?

[2022-10-22 16:22] gabek commented on #2244
Unfortunately we probably don't want to do this quite yet because we haven't finished work on the Follow tab, and after we hide it it'll be more difficult for people to access it, since they'll have to setup the additional functionality.

[2022-10-22 16:38] gabek opened #2245 "Page content header is using the mobile layout instead of desktop"
### Share your bug report, feature request, or comment.

It currently looks like
![image](https://user-images.githubusercontent.com/414923/197351310-2dc3bdd6-9dba-4fd4-bcdd-a4949f426015.png)

But it should look like
![image](https://user-images.githubusercontent.com/414923/197351666-834a3b32-0568-48ef-9bd1-86d8170b04fd.png)

[2022-10-22 16:42] gabek opened #2246 "OpenGraph tags are no longer being rendered"
### Share your bug report, feature request, or comment.

Something must have broken after my refactor of them the other day.

https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fwebv2.owncast.tv%2F

[2022-10-22 18:48] gabek opened #2247 "New mobile actions menu is missing follow and notify options"
When I built the new mobile actions menu I forgot it's supposed to also have the follow and notify options.

[2022-10-22 19:04] gabek opened #2248 "Do not display a loading state when webapp is launched with server-rendered state"
### Share your bug report, feature request, or comment.

When the page is pre-populated with server-rendered state there should be no need to ever show a loading spinner or wait for the online/offline views to display. In a perfect world it should be instant.

[2022-10-22 19:46] gabek opened #2249 "Followers tab: Do not show the empty/no followers state while loading"
### Share your bug report, feature request, or comment.

Currently it briefly shows the "No followers" empty state before the actual followers get loaded into place.

[2022-10-23 02:13] gabek commented on #2187
It has returned!

![image](https://user-images.githubusercontent.com/414923/197369815-9a230166-4dd5-4ef7-acd2-663d8dc45b33.png)

[2022-10-23 02:38] gabek commented on #2187
The `select(.role==\"BACKER\")` seems to be the problem. Removing it fixes the parsing.

[code]

[2022-10-23 03:07] gabek opened #2250 "OpenGraph og:image value should be absolute"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/197371377-1750768b-42da-4386-9efc-f4dfe38ddff9.png)

https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fwebv2.owncast.tv

[2022-10-23 03:13] gabek opened #2251 "Production builds are not populating the name correctly"
### Share your bug report, feature request, or comment.

Title tag is being set accurately, but something else isn't being handled properly.

![image](https://user-images.githubusercontent.com/414923/197371491-e48c1e67-ab13-4886-9ef0-79ebad53d366.png)

![image](https://user-images.githubusercontent.com/414923/197371513-b9e97e6f-4153-481a-92eb-bae0ab6f7837.png)

[2022-10-23 06:53] t1enne commented on #2245
fixed by b7795f275ce3711ac14dc803800a3a9dff54d0e7

[2022-10-23 06:53] #2245 closed, assigned to t1enne

[2022-10-23 07:12] gabek opened #2252 "Do not show Follow button if follow feature is not enabled"
### Share your bug report, feature request, or comment.

This has been hard-coded to be shown to make development easier for everyone, but at some point it should be hidden when not enabled when we're done working on it.

[2022-10-23 07:13] gabek opened #2253 "Do not show browser notification button if not enabled"
### Share your bug report, feature request, or comment.

This has been hard-coded to be shown to make development easier for everyone, but at some point it should be hidden when not enabled when we're done working on it.

[2022-10-23 10:03] agremi commented on #2244
Ok,no problem

[2022-10-23 19:42] gabek opened #2254 "Storybook: Auth modal story no longer displays"
### Share your bug report, feature request, or comment.

Story: https://owncast.online/components/?path=%2Fstory%2Fowncast-modals-auth--basic

[2022-10-23 19:43] gabek opened #2255 "Storybook: Name change modal story no longer displays"
### Share your bug report, feature request, or comment.

The name change modal no longer renders in Storybook.

Story: https://owncast.online/components/?path=%2Fdocs%2Fowncast-modals-name-change--basic

[2022-10-24 03:18] the-white-light commented on #1868
I personally use this feature all the time as a watcher (I don't host the stream). Only downside is it doesn't add a space at the end.

[2022-10-24 05:06] #2247 closed, assigned to gabek

[2022-10-24 06:14] #2251 closed, assigned to gabek

[2022-10-24 18:14] gabek commented on #2178
I don't think I did a very good job coming up with page content, but if I come up with something better I'll change it.

[2022-10-24 18:14] #2178 closed, assigned to gabek

[2022-10-24 18:54] gabek opened #2260 "Mobile footer content doesn't fit properly"
### Share your bug report, feature request, or comment.

Maybe we should hide the "Powered by Owncast" link or something for mobile. I'm still on board not having the footer at all for mobile, but I know people weren't on board with removing it, so maybe we can just find a way to make it work.

![image](https://user-images.githubusercontent.com/414923/197603472-35d79e43-1c51-40c2-8f64-91412f12b0d6

[2022-10-24 19:44] heller commented on #2187
In a zsh session, that command seems to work if I drop the escape characters and just use `.role=="BACKER"`. Not sure where this code lives or I would take a look in context.

[2022-10-24 19:47] gabek commented on #2187
Oh yeah you're right, I didn't look too closely. It's escaped because it's all passed in as a string here:
https://github.com/owncast/owncast.github.io/blob/master/.github/workflows/main.yml#L42

[2022-10-24 19:55] heller commented on #2187
Ah okay. The list on the site looks to be working again, so the quotes may be a red herring.

[2022-10-24 23:49] gabek commented on #2246
Fixed.

[2022-10-24 23:49] #2246 closed, assigned to gabek

[2022-10-24 23:53] gabek opened #2261 "Update offline banner to replace buttons with inline links"
### Share your bug report, feature request, or comment.

1. Remove Follow + Notify buttons
2. Link the "Follow" and "Notify" pieces of text to open the modals like the buttons used to.

Component: https://owncast.online/components/?path=%2Fstory%2Fowncast-layout-offline-banner--example-default-with-notifications

[2022-10-25 01:32] gabek opened #2262 "Authentication modal doesn't layout properly when mobile"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/197661071-3659901d-6f85-4f3e-93c4-cd1ab2b72293.png)

[2022-10-25 03:05] gabek opened #2263 "Content header on mobile is not using the mobile layout."
It used to have the logo on top and centered. It looks like mobile might be using the desktop layout now.

Now:

![image](https://user-images.githubusercontent.com/414923/197672526-331509a4-6140-44d1-bc62-604eccead210.png)

Used to be:
![image](https://user-images.githubusercontent.com/414923/197672895-f9ffba11-c9b7-4ae2-8648-84d1d99cf988.jpeg)

[2022-10-25 05:28] #2261 closed, assigned to nobody

[2022-10-25 06:18] Vanshiii203 opened #2264 "Add a custom scrollbar"
### Share your bug report, feature request, or comment.

_No response_

[2022-10-25 06:23] gabek commented on #2264
Care to elaborate? What do you mean? What are you trying to do?

[2022-10-25 06:27] Vanshiii203 commented on #2264
I would like to add scrollbar. I've attached an image below for your reference
![Screenshot_2022-10-25-11-56-01-87_680d03679600f7af0b4c700c6b270fe7~2](https://user-images.githubusercontent.com/94471189/197698699-80e7e330-c337-4933-a642-a5f9771d5da3.jpg)

[2022-10-25 06:29] gabek commented on #2264
Any kind of custom styling you can do through CSS. You can add your own custom CSS via the admin:

https://owncast.online/docs/website/#custom-styles-via-css

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/docs/website/">Web Site + Chat</a></strong></div><div>Customize your Owncast web

[2022-10-25 09:45] Lz-01 commented on #2263
Can you assign this issue to me?

[2022-10-25 09:56] Lz-01 commented on #2255
please assign this issue to me

[2022-10-25 11:17] gabek commented on #2255
Of course, thank you!

[2022-10-25 15:12] gabek commented on #2263
Sure!

[2022-10-25 17:02] heller commented on #2262
Trying to reproduce this. Seems ok in Safari in iPhone 8 and SE/5 sizes.

<img width="540" alt="image" src="https://user-images.githubusercontent.com/32307/197836718-bf21d538-96e8-42d7-8b59-34fdfc540acd.png">

<img width="552" alt="image" src="https://user-images.githubusercontent.com/32307/197836874-a24f7fe9-37aa-4bcf-ba47-acc822d63463.png">

[2022-10-26 20:55] pippo commented on #2182
I can take a look at this ✋ Please, assign.

[2022-10-26 20:58] gabek commented on #2182
Awesome, thank you!

[2022-10-26 21:15] pippo commented on #2182
Thanks. Quick question.
The issue appears to be caused by the fact that next.js is looking for static in the `web/public` folder, and there's no file called e.g. `img/like.svg`. I can see files for those 3 broken images (`like.svg`, `follow.svg`, `repost.svg`) present in the `webroot/img` folder, but not in `web/public/img`. Copying those to `web/public/img` resolves the problem, but I'm not sure

[2022-10-26 21:17] gabek commented on #2182
Yup, `webroot` is legacy.  It's the v1 of the web interface, so copying those files sound like the solution. Thank you!

[2022-10-27 02:06] #2260 closed, assigned to nobody

[2022-10-27 02:09] #2262 closed, assigned to nobody

[2022-10-27 05:23] gabek opened #2269 "Add rel="me" to external social links anchor tags"
### Share your bug report, feature request, or comment.

To support [`RelMeAuth`](http://microformats.org/wiki/RelMeAuth).

[2022-10-27 13:46] khanhtranngoccva commented on #2269
I would like to take this issue.

[2022-10-28 05:39] #2234 closed, assigned to gabek

[2022-10-28 05:48] gabek opened #2273 "Reduce unused CSS from loading by enabling PurgeCSS"
### Share your bug report, feature request, or comment.

https://purgecss.com/guides/next.html

![image](https://user-images.githubusercontent.com/414923/198512293-8d6a8d65-b64c-479d-ae2f-201bcee6b596.png)

[2022-10-28 08:54] unclebinary1001 commented on #2204
So I started to look at this. Its seems the seek bar takes up extra space (about 0.4em when I measured it using chrome dev tool ruler) when viewers clicks play button.

I hope to figure out how to either manipulate `VideoPoster` to expand with this extra space or prevent `VideoJS` player seek from increasing video content height.

[2022-10-28 17:39] gabek opened #2274 "Directory: Strip HTML from description"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/198698809-235eeb1b-4b6a-48bf-90ea-19ef32901f16.png)

[2022-10-28 19:38] gabek opened #2275 "Stop the Owncast directory from posting to Twitter"
### Share your bug report, feature request, or comment.

There's more cons than pros to continue to post there. Including Twitter being Twitter.

[2022-10-29 03:22] #2269 closed, assigned to gabek

[2022-10-29 04:14] gabek commented on #2273
Turns out PurgeCSS isn't very compatible with CSS modules or Ant Design, so it's not worth it.

[2022-10-29 04:14] #2273 closed, assigned to gabek

[2022-10-29 04:20] #2182 closed, assigned to pippo

[2022-10-29 04:43] gabek opened #2276 "When focusing on chat text field the window grows too wide"
https://user-images.githubusercontent.com/414923/198814325-9f86a46f-7228-402c-8b82-ada5d142641b.MOV

[2022-10-29 04:47] gabek commented on #1933
Closing as this is resolved in the web rebuild.

![image](https://user-images.githubusercontent.com/414923/198814429-22f6c86c-3e0e-4377-aff4-7a61775722d1.png)

[2022-10-29 05:24] gabek commented on #2255
I fixed a similar issue with another modal. You might be able to model the fix for this one off of the other.

https://github.com/owncast/owncast/commit/e0b7ae5b3a7ed648dc1dba1db6feec5e77f075e7

[2022-10-29 05:30] #2254 closed, assigned to gabek

[2022-10-29 05:46] gabek commented on #2112
The specific issue seems to be that manual, hand-written posts are for some reason being set as followers only. Automated "go live" posts are public.

![image](https://user-images.githubusercontent.com/414923/198815994-3b9a7906-98a6-42a1-9bed-51c0f30f9d25.png)

[2022-10-29 06:25] gabek commented on #2112
Fixed.
![image](https://user-images.githubusercontent.com/414923/198817258-4d984476-10c2-4ea7-ac8f-f56d1a0996a8.png)

[2022-10-29 06:36] #2112 closed, assigned to gabek

[2022-10-29 06:38] #2184 closed, assigned to gabek

[2022-10-29 06:39] gabek commented on #2184
Fixed.

![Image](https://user-images.githubusercontent.com/414923/198815823-bbe2324a-6808-43a0-9960-bc4752d10ddb.png)

[2022-10-29 10:54] aral commented on #2112
Thank you 💕

[2022-10-29 23:13] #1983 closed, assigned to nobody

[2022-10-31 12:00] valerio-bozzolan opened #2286 "Restream to other RTMP sources"
It could be nice to have an easy way to send an RTMP source to multiple platforms.

Example (all the arrows are RTMP connections):

![Restream OwnCast proposal. There is an RTMP source sent to OwnCast, and then OwnCast sending the same RTMP signal to Facebook, PeerTube and YouTube, and to another OwnCast](https://user-images.githubusercontent.com/6052909/199004250-811b04c3-3bf2-4d58-86fb-488a62950

[2022-10-31 15:37] gabek commented on #2286
Owncast is its own streaming destination and its [goal](https://github.com/owncast/owncast/blob/develop/docs/product-definition.md) is to provide you a live video streaming and chat server. The functionality you asked for does not align with that goal.

I understand it would be convenient for you to throw random features into Owncast that would make your life easier, but putting as much random stu

[2022-10-31 15:37] #2286 closed, assigned to nobody

[2022-10-31 16:45] kaffeeringe opened #2287 "Error: people can't follow"
### Share your bug report, feature request, or comment.

I enabled the social feature and I didn't set it private:
![Screenshot 2022-10-31 at 17-16-04 Owncast Admin](https://user-images.githubusercontent.com/367592/199062026-659b8093-7e32-4cbe-b5cd-dd97093638ed.png)

But when people try to follow, they can't - it's only a following request. When I look into the logs, there seems to be something wr

[2022-10-31 16:54] gabek commented on #2287
Ignore the "actor may not be valid" errors, those are different. That generally means a request came in to delete a reference to a remote federated user, and we looked up that user, and they weren't there (because they were deleted). It's a bad error and in the next release you won't see it.

The real error that needs to be tracked down here are the rsa/crypto errors.

![image](https://user-images

[2022-10-31 21:28] gabek opened #2288 "Make footer not sticky"
### Share your bug report, feature request, or comment.

For desktop/non-mobile layout.

Make footer not sticky. This is likely best done by moving it from `Layout` to `Content`.

[2022-11-01 10:44] t1enne commented on #2288
Let me know if you'd like me to handle this

[2022-11-01 16:33] gabek commented on #2288
Yeah, go for it!

[2022-11-02 01:04] gabek commented on #2264
Hi there. Is this a solution for your needs?

[2022-11-02 01:05] gabek commented on #2263
Hi there! Just checking in to see if everything is going ok, or if there's anything I can help with.

[2022-11-02 04:32] #2249 closed, assigned to gabek

[2022-11-02 05:52] gabek opened #2291 "Web application state"
### Share your bug report, feature request, or comment.

On application launch in `ClientConfigStore`:

1. `/api/config` request gets fired twice.
2. Leading to `/api/chat/register` being fired twice.
3. Creating two chat users and setting two access tokens.

On first launch (and only first launch) this leads to an infinite spinner, the app never loads. If you refresh it's fine. Reproduce this by

[2022-11-02 07:11] gabek opened #2292 "UI test: Every time it runs it says the chat container changed"
### Share your bug report, feature request, or comment.

Because of weird font rendering testing it always says the component changed. Need to fix this.

![image](https://user-images.githubusercontent.com/414923/199423192-0a391c1e-147f-4cdc-99f1-39d19af73a61.png)

[2022-11-02 18:19] heller commented on #2276
Apparently this happens for accessibility reasons if the font size is less than 16px. I'm getting an unrelated runtime error while trying to test how that looks, so just figured I'd make a note here. If 16px is a no-go, maybe we can restore the zoom level when focus moves away?

https://stackoverflow.com/questions/66367496/ios-safari-zoom-on-input-box

<blockquote><img src="https://cdn.sstatic.net

[2022-11-02 18:22] gabek commented on #2276
Oh good find! If it's just a font size we should bump that up.

What's the build error you're experiencing?

[2022-11-02 18:27] gabek opened #2293 "Mobile: Send message button has disappeared"
### Share your bug report, feature request, or comment.

* Send button should show for mobile.
* Send button should hide for desktop as it's not needed, people have a keyboard.

Component: https://owncast.online/components/?path=%2Fstory%2Fowncast-chat-input-text-field--example

https://user-images.githubusercontent.com/414923/198814325-9f86a46f-7228-402c-8b82-ada5d142641b.MOV

[2022-11-02 18:31] heller commented on #2276
<img width="682" alt="image" src="https://user-images.githubusercontent.com/32307/199571565-8c9e1d3b-814a-4673-bb2b-1e679142557e.png">

This is in dev mode. Backing out my single line 16px change, then doing npm build + start seemed to work. But then dev mode with the 16px change threw this error again.

But, (using build + start) changing to 16px does seem to stop the zoom on iOS!

I thought this

[2022-11-03 04:39] #2276 closed, assigned to heller

[2022-11-03 12:49] jprjr commented on #2293
Regarding "Send button should hide for desktop as it's not needed, people have a keyboard."

If I use the emoji picker, and I'm just planning on sending emotes - after choosing my emote(s) I have to click somewhere in the chat box and hit enter.

So, assuming it may be easier to always have the send button visible (since there's no logic for hiding/showing) - I, for one, would love a send button o

[2022-11-03 17:03] heller commented on #2293
Looks like the CSS to show it is reversed. I can just make it show everywhere, unless there are objections?

https://github.com/owncast/owncast/blob/6ce52e184c07d6ea50506db4ccc7aca82d1f5b87/web/components/chat/ChatTextField/ChatTextField.module.scss#L58-L69

[2022-11-03 17:05] gabek commented on #2293
No objections here!

[2022-11-03 17:36] #2293 closed, assigned to heller

[2022-11-03 17:38] gabek commented on #2263
I'm going to go ahead and unassign just because this needs to be done. If you happen to still want to work on it, feel free to chime back in.

[2022-11-03 20:41] gabek commented on #2167
The page feels like it loads quickly, but Lighthouse says otherwise.

![image](https://user-images.githubusercontent.com/414923/199829578-c10f2350-a0e1-423e-b0ab-2d1296c93bb9.png)

[2022-11-03 20:57] gabek commented on #2255
Hi there @Lz-01 How are things going? Do you still intend to look at this?

[2022-11-03 23:11] gabek commented on #2263
Should we center the title for mobile, as well?

[2022-11-03 23:15] gabek commented on #2291
Double mounting, creating the double calls, seem to be a side effect of React Strict Mode.

https://stackoverflow.com/questions/61254372/my-react-component-is-rendering-twice-because-of-strict-mode

That said, I'm not sure if it's ultimately related to the infinite loading spinner on first launch or not.

<blockquote><img src="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon@2.png?

[2022-11-04 08:05] t1enne commented on #2167
The metrics are worse when there's a stream running. We have a huge client side bundle. Here's a screenshot from next bundle analyzer.

![image](https://user-images.githubusercontent.com/65537403/199923314-2059750f-59ad-44ae-88f4-56cbae328176.png)

[2022-11-04 08:39] interbr opened #2300 "cannot find module / first days of novembre 2022"
### Share your bug report, feature request, or comment.

Dear madam or sir,
the current possibility to install owncast is not possible with message
`build github.com/owncast/owncast: cannot find module for path crypto/ed25519`

Is it possible to install owncast this morning CEWT?
Sincerely
Felix Longolius (interbr)

[2022-11-04 16:25] gabek commented on #2300
What version of Go are you using?

[2022-11-04 16:50] interbr commented on #2300
Thank you. I propably had a problem with go from source not overwriting the version i primarily installed from the package manager. I am certain it will work then and apologise for my strange communication style. When I now look "go version" it gives 1.11.6 instead of the latest from source that I ... that I installed in advance to asking for help here. So some kind of a slip on my side.

[2022-11-04 16:50] #2300 closed, assigned to nobody

[2022-11-04 23:17] gabek opened #2302 "Initial load of web app leads to infinite spinner"
### Share your bug report, feature request, or comment.

At least on production builds this occurs.

It's due to the `appLoading` bool. If you set this boolean's default to `false` the problem goes away.

https://github.com/owncast/owncast/blob/webv2/web/components/stores/application-state.ts#L19

So either:

- It's never getting set to false.
- Or it's getting set to false but the web UI doesn't

[2022-11-04 23:18] gabek commented on #2291
Closing this as I opened https://github.com/owncast/owncast/issues/2302, a more specific and clear issue.

[2022-11-04 23:18] #2291 closed, assigned to nobody

[2022-11-05 00:56] #2275 closed, assigned to gabek

[2022-11-05 02:04] #2302 closed, assigned to nobody

[2022-11-05 02:24] gabek opened #2303 "Aspect ratio of player does not stay correct when resizing"
### Share your bug report, feature request, or comment.

If you make the browser more narrow, the player can become too short. It should stay at a 16:9 ratio always.

![image](https://user-images.githubusercontent.com/414923/200096985-f34c6c8e-d011-4db9-97f8-bde1fe19e2f4.png)

[2022-11-05 03:05] #1926 closed, assigned to gabek

[2022-11-05 03:05] #1929 closed, assigned to gabek

[2022-11-06 09:49] shodanx2 commented on #1829
Hello,
I'm curious about this, I'm already using xmpp chat and will be using converse.js as web chat.

Does owncast have a way to make its chat interoperate with xmpp ?

I've seen in the settings it has some fediverse connection, and there seems to be a activitypub to xmpp bridge.
Has anyone tried this before ?

[2022-11-06 17:34] gabek commented on #1829
If you'd like to read more about how the Fediverse can interact with Owncast please take a look at the documentation. In short, it's not a chat replacement. https://owncast.online/docs/social/

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/docs/social/">Social features</a></strong></d

[2022-11-06 23:40] gabek commented on #2255
I went ahead and took care of this.

[2022-11-06 23:40] #2255 closed, assigned to gabek

[2022-11-07 00:20] #2263 closed, assigned to gabek

[2022-11-07 19:13] rcutanda commented on #512
Although this is quite an old thread, I am having the same or a similar issue. I broadcast non-stop (24/7) from OBS 28.1.2 (Windows 11) to Owncast v0.0.12 on a dedicated server and a couple of times a day I get the "_stream already running; can not overtake an existing stream_" error.

This is my server setup:

Intel(R) Xeon(R) CPU E3-1220 v6 @ 3.00GHz (4 core(s))
Ubuntu 22.04.1 LTS
GeForce GT 710

[2022-11-11 18:02] gabek opened #2320 "Make streaming key and admin password different values"
While the initial goal of Owncast is to be single-tenant software (one user per instance) I do think it's reasonable to share an instance with others. But I fear there will be significant downsides to having a streamer without access to the admin. They won't know about stream performance, errors, logs, etc.

My concern is seeing issues like "It's fine when I stream but when my friend streams there

[2022-11-12 12:34] DidierMalenfant commented on #2320
I think those are valid concerns and I imagine that maybe eventually something like multiple users with different roles would cater for all use cases.

This could be a stepping stone toward that though.

I'm obviously not familiar enough with the the code base or architecture involved but it seems like other stepping stones could be:
- Allowing the admin account name to be changed (see https://git

[2022-11-12 21:47] valerio-bozzolan commented on #2286
@gabek OK but can you be so kind to mention at least 1 of the other tools for streaming to multiple destinations?

AFAIK there aren't web Open tools for that.

[2022-11-12 21:49] gabek commented on #2286
https://github.com/muesli/prism

<blockquote><img src="https://opengraph.githubassets.com/e8f686d435b934c2eb56413aed2472f32ab649db701419a0826c0a5562b90dbe/muesli/prism" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/muesli/prism">GitHub - muesli/prism: An RTMP stream recaster / splitter

[2022-11-12 22:09] aaronpk commented on #2286
You can also do it with nginx and the nginx RTMP module:

* https://github.com/theonemule/nginx-rtmp
* https://github.com/arut/nginx-rtmp-module
* https://arstech.net/how-to-setup-nginx-rtmp-server/

<blockquote><img src="https://opengraph.githubassets.com/faf27174842c8a6aaa170f791488e1a097d0002a59014b2fc86b6f80615c609c/theonemule/nginx-rtmp" width="48" align="right"><div><img src="https://github.

[2022-11-13 04:27] #1915 closed, assigned to gabek

[2022-11-13 04:58] gabek opened #2339 "Restore player volume"
### Share your bug report, feature request, or comment.

Get/set volume from localstorage.

[2022-11-13 08:55] xarantolus commented on #2205
Hey, I'm interested in working on this :)
Apart from the name & color, which other info should go into the dialog?

[2022-11-13 11:13] juliana-mol commented on #1929
Hi, it is not specifically related to this issue but to the project testing as the whole. I would like to measure the overall code coverage for this project a potentially contribute to increase that. Could you give me a hint how should I do that ? I have already taken a look at the test folder where tests are either load or automated but I do not know how can I measure the code coverage for the pr

[2022-11-13 16:14] gabek commented on #1929
Hi there, would you mind opening a new issue specifically related to this topic you'd like to discuss just so things are organized? Thanks!

[2022-11-13 16:25] juliana-mol opened #2341 "Overall code coverage"
### Share your bug report, feature request, or comment.

I would like to measure the overall code coverage for this project a potentially contribute to increase that. Could you give me a hint how should I do that ? I have already taken a look at the test folder where tests are either load or automated but I do not know how can I measure the code coverage for the project as the whole. Do you also h

[2022-11-13 17:23] gabek commented on #2205
Hi there, thanks so much for wanting to help!

The only two inputs like you  mentioned are name and color, but I think it might be useful to mention the chat authentication that's offered as well, since those two things are both chat user related and somebody doing one of those things might be interested in the other. At one point I thought about merging all of that into one dialog (See https://ow

[2022-11-13 17:51] gabek commented on #2341
Hi there!

What kind of tests are you thinking about? Backend unit tests, frontend unit tests, browser testing, load tests, or integration tests?

Each type is built and run differently with different goals. All of them could be improved, but you'd kind of need to pick a specific goal and work towards that.

Unit tests for the backend are located in the same package as the code.

Here's some links

[2022-11-13 19:16] gabek opened #2342 ""Go to last message" button covers chat messages only on production builds"
### Share your bug report, feature request, or comment.

We might just need to tweak the tolerance of when this button appears.

![image](https://user-images.githubusercontent.com/414923/201539867-bae62761-b363-43bb-a5bb-d01e07b9672e.png)

[2022-11-13 22:31] gabek opened #2343 "Populate chat user info tooltip"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/201547910-c4d6510c-5b66-4604-a6f2-b588b29791fa.png)

[2022-11-14 00:00] gabek opened #2344 "Fix Antd menu deprecation warning"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/201551525-24df8574-9d81-4dcc-b866-098d4f40d1f0.png)

[2022-11-14 03:36] gabek opened #2345 "Fix deprecation warning with NotifyReminderPopup"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/201569682-e0a0facb-e14a-407e-b667-667f8f75582a.png)

Component: https://owncast.online/components/?path=%2Fstory%2Fowncast-components-notify-reminder--active

[2022-11-14 04:14] gabek commented on #2345
Looks like this won't be resolved with Ant Design until v5.

https://github.com/ant-design/ant-design/issues/26136

[2022-11-14 15:26] xarantolus commented on #2205
Thank you for the info! :)
I tried designing this on my branch [here](https://github.com/xarantolus/owncast/tree/feature/name-change-design) and it now looks like this:

https://user-images.githubusercontent.com/32465636/201861848-22408a12-ffee-419c-b174-f299350e42ee.mp4

Two things:
* I think the round part within the text input looks a bit weird, not sure if this design is intentional.
* The col

[2022-11-14 16:54] aaronpk commented on #2286
Since this keeps coming up, I just wrote up some more complete instructions for how to do this with the nginx RTMP module:

https://aaronparecki.com/2022/11/14/9/raspberry-pi-restream

<blockquote><div>Aaron Parecki</div><div><strong><a href="https://aaronparecki.com/2022/11/14/9/raspberry-pi-restream">How to Build a Restreaming Server with a Raspberry Pi</a></strong></div><div>First of all, what

[2022-11-14 16:56] gabek commented on #2286
That's very cool, Aaron, thank you! I'm sure a lot of people will find this useful.

[2022-11-15 17:24] gabek opened #2348 "Re-send client info after user's display color changed"
### Share your bug report, feature request, or comment.

Just like when a user changes their display name.

[2022-11-15 20:11] gabek opened #2349 "Port over the video cachebuster from v1 player"
### Share your bug report, feature request, or comment.

_No response_

[2022-11-15 20:23] gabek opened #2350 "User settings menu storybook story does not render"
### Share your bug report, feature request, or comment.

Story: https://owncast.online/components/?path=%2Fstory%2Fowncast-components-user-settings-menu--chat-enabled

[2022-11-15 23:31] gabek opened #2351 "Production build: Page title reverts to template tag over time"
### Share your bug report, feature request, or comment.

The page title is correct, but then it eventually reverts to a Go template tag. Not sure how it got this tag or who is resetting it. It might be the component that updates the title based on stream status.

![image](https://user-images.githubusercontent.com/414923/202046592-891e0cd7-cec3-4fd8-b106-6004ace74acf.png)

[2022-11-17 17:57] brokenintuition opened #2354 "Enable optional name change and external identity to be surfaced for auth'ed chat accounts"
### Share your bug report, feature request, or comment.

I was watching a stream (still am actually) where most of the viewers in chat changed their name to match their full @username@instance fediverse name. I think it would be good to make that an option to change automatically when using fediauth.

It might also be good for name changes where the new name looks like a fediverse account name for

[2022-11-17 18:16] gabek commented on #2354
This is a good discussion, and things I've thought about in the past.

Originally I wanted to directly tie somebody's chat account to their Fediverse identity when they authenticate through the Fediverse with a link to their profile, image, and everything. But the more I thought about the more I realized that it wasn't a fair decision to essentially "dox" somebody's identity in one place just beca

[2022-11-17 18:18] aaronpk commented on #2354
I actually had this same thought yesterday too when logging in to a stream with my IndieAuth URL. I was actually surprised that it *didn't* change my name in the chat. At first I actually thought the login failed, since there was almost no indication that anything had changed on my end.

What would be the reason someone would authenticate if they didn't want to share their name? Seems easier to ju

[2022-11-17 18:30] gabek commented on #2354
I just have a hard time making the decision that just because somebody is using an authentication method it means they want to publicly share an identity.

While not a 1:1 example, it's like if you use your email or phone number to sign up for something, it doesn't share that with everyone else on the service. Or if you "Login with Facebook" it doesn't give everyone your Facebook account. (Though

[2022-11-17 18:37] aaronpk commented on #2354
I think if anonymous chat wasn't an option I would agree with this. But the fact that you can just chat and even change your username without any login means someone can just stay private that way.

There's also a big difference between a Fediverse/Web URL than email or phone number. Someone's Fediverse/website is generally used as a publicly facing thing, or their account is protected and only sh

[2022-11-17 18:38] aaronpk commented on #2354
One thought that just occurred to me. Since I really did struggle to understand whether my login was successful, what about putting a prompt somewhere (maybe inline in the chat box?) after logging in that says "Login successful, do you want to change your chat username to **X**?"

[2022-11-17 19:13] brokenintuition commented on #2354
Apologies if it wasn't clear in my original description, I was intending it to be an opt-in behavior. I was thinking a check box on the auth page/success dialog but I agree it's not easy to add things without being confusing. UX is not my strength either.

Yeah I realized right after posting email is a pretty good counterexample to what I was thinking. Without the leading "@" there's no way to tel

[2022-11-17 21:58] gabek commented on #2354
I guess it's also partly a mindset thing on my side. Chat auth was never about global identity, it was about having a way to restore your *Owncast* chat identity, in order to keep your moderator status, or whatever goal you have in keeping the same chat identity between devices, browsers, etc. That was the core problem that was being solved.

And as hesitant as I am, I do think people should margi

[2022-11-17 22:02] gabek commented on #2354
I'd have to remove the:

In auth modals!

[2022-11-17 22:57] gabek commented on #2341
Hey @juliana-mol! Did my comments above help answer your questions and help point you in the direction that you might be interested in helping with?

[2022-11-17 23:37] gabek opened #2355 "Make sure websocket host override works in webv2"
### Share your bug report, feature request, or comment.

Good opportunity to write a test around this as well:

1. Load page.
2. Verify there are no websocket errors.
3. Make API call to set a host override.
4. Reload page.
5. Verify there are no websocket errors.

[2022-11-18 01:04] brokenintuition commented on #2354
Sounds great to me. I like separating the "name from auth" idea from the auth workflow itself. I don't have any strong opinion on whether it should be enabled by default or not.

[2022-11-18 05:02] gabek opened #2356 "Admin: Video config modal layout is broken"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/202621859-d482325a-7283-474d-a3e9-dacbd6df7845.png)

[2022-11-18 05:13] gabek commented on #2204
I'm not sure if I made this worse or better, but I noticed some change made the player not render anymore, so I made some changes to fix it. Now it lays out differently.

[2022-11-18 05:43] #1913 closed, assigned to gabek

[2022-11-18 05:44] #2228 closed, assigned to gabek

[2022-11-18 06:21] #2349 closed, assigned to gabek

[2022-11-18 17:52] gabek opened #2357 "Default text field style is weird"
### Share your bug report, feature request, or comment.

It has awkward padding, inner rounded corners and an internal boarder.

![image](https://user-images.githubusercontent.com/414923/202769783-9b1edfc8-69d9-43a7-986a-d4e28983cb3c.png)

Example usage: https://owncast.online/components/?path=%2Fstory%2Fowncast-modals-name-change--basic

[2022-11-19 01:42] #2343 closed, assigned to nobody

[2022-11-19 02:59] gabek opened #2358 "Notify reminder popup can show up in odd places"
### Share your bug report, feature request, or comment.

In this case it didn't even scroll with the rest of the page.

![image](https://user-images.githubusercontent.com/414923/202831106-279429a6-ed83-4e1f-9d0f-e41004aecf40.png)

[2022-11-19 04:54] #2357 closed, assigned to gabek

[2022-11-19 05:30] gabek commented on #2205
Just an FYI I pushed a change that tweaks text inputs a bit, so hopefully it's a _little_ better.

[2022-11-19 05:44] #2250 closed, assigned to gabek

[2022-11-19 12:27] juliana-mol commented on #2341
Hi, I would like to write some frontend unit tests or api tests (something like these here: https://github.com/owncast/owncast/tree/develop/test/automated/api). I have looked into the links that you suggested, but I am still unable to get the current code coverage so that after adding new tests I would see if it has been increased. I have locally configured cypress with plugin @cypress/code-covera

[2022-11-19 15:07] #2064 closed, assigned to nobody

[2022-11-19 17:44] gabek commented on #2341
Hi there! Maybe I can clarify the different types of tests a bit.

By **frontend** unit tests do you mean **Javascript** unit tests? The automated Cypress frontend tests aren't unit tests, they're automated browser tests. And automated browser tests I'm not sure how you'd be able to determine "coverage" for that because you're not testing code, like you would for a unit test, you're automating the

[2022-11-19 18:17] gabek opened #2359 "Update to Ant Design v5"
### Share your bug report, feature request, or comment.

This is likely a large task, especially from the theming side, they dropped Less support. In general that's good, but that's how we were previously customizing Ant's theme.

https://ant.design/docs/react/migration-v5

[2022-11-19 19:01] #2137 closed, assigned to gabek

[2022-11-19 21:38] gabek commented on #2204
When looking at #2303 I made some changes I think move that and this in the right direction. But there's still some layout issues with the player. I'm going to close these two issues and open up a more specific one.

[2022-11-19 21:38] #2204 closed, assigned to unclebinary1001

[2022-11-19 21:39] gabek commented on #2303
Aspect ratio now is correct, but the sizing of the player itself now does not fill the width of the container. Opening a new issue specifically for this problem.

[2022-11-19 21:39] #2303 closed, assigned to nobody

[2022-11-19 21:44] gabek opened #2360 "Player should fill the full with of the container, but content should keep aspect ratio"
### Share your bug report, feature request, or comment.

Recent changes have fixed #2204 and #2303, but now a side effect is the player no longer fills the width of the container.

What we need is:

1. The player and thumbnail to fill the full width of the 16/9 aspect-ratio container.
2. But the player _content_ should fit itself without resizing the container.

So in this screenshot the content s

[2022-11-19 21:50] gabek commented on #2355
Seems to work fine, but I still want to write a test around it.

[2022-11-20 13:38] pscriptos opened #2362 "Chat input field is not displayed in Chrome and Safari browser on my Phone"
Hello,

I would like to report a bug.
In the Chrome browser on the Android phone and also on the iPhone, the chat input field is not displayed. The Safari browser on the iPhone is also affected.

I was able to reproduce this behaviour with the latest Chrome app on the Android (v107.0.5304.105) and on the iPhone (v107.0.5304.101).
However, when I use the phone in landscape mode, I can also use the

[2022-11-20 19:19] gabek commented on #2362
Hi there, thanks for the report!

Currently the Owncast frontend web interface is getting completely rebuilt from the ground up, so I hope you don't mind if I close this issue, since future releases won't have this specific bug due to the rewrite.

If you're curious, feel free to follow along! https://github.com/orgs/owncast/projects/1

<blockquote><img src="https://github.com/opengraph.png" width

[2022-11-20 19:19] #2362 closed, assigned to nobody

[2022-11-22 01:55] gabek opened #2367 "Remove deprecated Go linters"
### Share your bug report, feature request, or comment.

[code]

[2022-11-22 21:09] gabek commented on #2344
I'm going to close this since whenever we update to Ant v5 all the deprecations will have to be fixed anyway.

[2022-11-23 01:07] gabek opened #2370 "Admin interface for managing schedules"
### Share your bug report, feature request, or comment.

_No response_

[2022-11-23 01:08] gabek opened #2371 "API + Datastore for setting and fetching schedule data"
### Share your bug report, feature request, or comment.

_No response_

[2022-11-23 01:09] gabek opened #2372 "Frontend component for displaying a schedule to viewers"
### Share your bug report, feature request, or comment.

Weekly view, monthly view, list view.

[2022-11-23 01:10] gabek opened #2373 "Send out reminders before scheduled stream time"
### Share your bug report, feature request, or comment.

Via ActivityPub.

[2022-11-23 01:12] gabek opened #2374 "Show upcoming scheduled stream section in the directory"
### Share your bug report, feature request, or comment.

_No response_

[2022-11-23 02:46] gabek opened #2375 "Support Mobilizon "
### Share your bug report, feature request, or comment.

Federate scheduled streams to show up as events on Mobilizon servers.

**Note:** I know nothing about how Mobilizon  federation works, and it's possible that this may not be feasible depending on what limitations there are and how/if Mobilizon  can accept federated events from non-Mobilizon  servers.

https://joinmobilizon.org/en/

[2022-11-23 10:26] kazukyakayashi opened #2376 "Add Misskey and Pleroma plateform in "Your Social Handles""
### Share your bug report, feature request, or comment.

Can you add the logos for the Misskey and Pleroma platforms to the list for links to social networks ?

[2022-11-23 18:00] gabek opened #2377 "Auth Modals: Replace Search icon"
### Share your bug report, feature request, or comment.

Not sure what we should use. Either a different icon or the word "Go" or something.

![image](https://user-images.githubusercontent.com/414923/203616986-17138a6b-8817-4f03-8ced-f94d4d8fadd5.png)

[2022-11-23 18:17] gabek commented on #2376
The next release will have a "Fediverse" logo to cover most things. I probably made a mistake by adding Mastodon in the first place, as Mastodon isn't a platform, it's an implementation. I feel the same way about Misskey and Pleroma, they are just Fediverse implementations. If somebody feels strongly about adding these, I wouldn't turn it down, though.

[2022-11-23 18:48] gabek commented on #2348
This is being addressed in https://github.com/owncast/owncast/pull/2347

[2022-11-23 18:53] gabek commented on #2348
Closed in https://github.com/owncast/owncast/pull/2347.

[2022-11-23 18:53] #2348 closed, assigned to nobody

[2022-11-23 20:58] kazukyakayashi commented on #2376
It's true, but on the other hand these 3 platforms don't have the same options nor the same visual ... I don't think it's a mistake, it allows you to know which one you're going to get, but yes I understand your point of view, besides it's probably better.

[2022-11-23 20:58] #2376 closed, assigned to nobody

[2022-11-24 18:29] gabek opened #2378 "Allow uploading custom emoji through the admin"
### Share your bug report, feature request, or comment.

It would be useful for people to have a way to manage custom emoji images through the admin instead of through the filesystem of the machine Owncast is running on.

- Upload new images
- Delete unwanted ones

Note: Starting with`webv2` emoji images are pulled from `data/emoji` and no longer the old `webroot`.

[2022-11-24 19:34] gabek opened #2379 "Auto-move custom emoji location when upgrading to v0.1.0"
### Share your bug report, feature request, or comment.

Otherwise people will probably be confused why their custom emoji files are not available until they look into the changelog (that they may or not read).

`webroot/emoji` -> `data/emoji`

[2022-11-24 20:43] gabek opened #2380 "Fediverse logo image is broken in the admin"
### Share your bug report, feature request, or comment.

On webv2.
![image](https://user-images.githubusercontent.com/414923/203860576-34f77229-6042-41cd-9f5b-53eaf61cf302.png)

[2022-11-24 22:04] AlexVCS commented on #2380
Hi, I'd like to work on this issue. Can you assign it to me please?

[2022-11-24 22:04] gabek commented on #2380
Absolutely, thank you! 😁

[2022-11-28 13:49] tarumes opened #2385 "Idea: adding p2p hls stream"
a way to reduce bandwith requirement on serverside
https://github.com/cdnbye/hlsjs-p2p-engine
or
https://github.com/novage/p2p-media-loader

[2022-11-28 14:52] xarantolus commented on #1884
This sounds interesting, I'd love to work on this :D

[2022-11-28 16:33] gabek commented on #2385
There's a conversation open over at https://github.com/owncast/owncast/issues/112. Closing this one as a duplicate.

[2022-11-28 16:33] #2385 closed, assigned to nobody

[2022-11-28 16:35] gabek commented on #1884
Awesome, thanks so much!

[2022-11-28 17:47] tarumes commented on #112
i tested this https://github.com/novage/p2p-media-loader
for a few month on a nginx-rtmp instance
it works pretty well and you can save up to 50% of all viewers traffic

i also found this a few days ago
https://github.com/cdnbye/hlsjs-p2p-engine

i think it would be a great expansion
also the latency is not extremely worsened by p2p

<blockquote><img src="https://opengraph.githubassets.com/3a602d4

[2022-11-28 17:54] gabek commented on #112
Just a reminder that we'd have to build a torrent tracker into Owncast as well, so it's not just a client-side thing.

[2022-11-28 18:48] tarumes commented on #112
i maybe will look into that
but also there are hundrets of public STUN/webtorrent servers available

and there sould be no need for a bundled tracker server because a single server can handle +40k clients

[2022-11-28 19:18] gabek commented on #112
For standalone software like Owncast where independence and privacy is important, not requiring the dependency of 3rd party services is required. Using a public STUN server would not be appropriate.

[2022-11-28 19:28] tarumes commented on #112
then you have to drop p2p completly because all ips of all peer are known to all peers and its extremly easy to track everyone
and it hides a serious legal issue as well
as soon as you share a single bit of a copyrighted video (as a peer) and some legal team is in that swarm you will get a realy bad letter
and that as a user who just opened the stream in his browser not knowing its p2p

[2022-11-28 23:18] roadriverrail opened #2386 "Changing S3 bucket name doesn't cause "Save" button to enable"
### Share your bug report, feature request, or comment.

Just noticed this while cloning my Owncast server to make a new one...

- Go into configuration panel
- Change S3 Bucket name
- Save button is disabled and can't be clicked

I'd expect that changing the bucket name would enable the Save button, but it does not.  The result is that I had to delete a character from one of the other fields, sav

[2022-11-28 23:20] gabek commented on #2386
Thanks!

[2022-11-28 23:46] roadriverrail opened #2387 "Logo upload not replacing logo"
### Share your bug report, feature request, or comment.

Back again...this is again from a cloud computing instance (on Dreamcompute) that I have cloned.  I'm trying to change the logo through the web frontend.  I upload the new file, the logo changes, and it says "success!" but the old logo remains and refreshing the page reverts it to the previous one.

journalctl doesn't show any helpful loggin

[2022-11-28 23:48] gabek commented on #2387
The old logo is likely cached in your browser as reported in this issue: https://github.com/owncast/owncast/issues/2130

[2022-11-29 01:33] roadriverrail commented on #2387
Correct.  This is a dupe.

[2022-11-29 01:36] #2387 closed, assigned to nobody

[2022-11-29 06:10] gabek commented on #2320
Nevermind. I felt like working on it, so it'll be in for v0.1.0.

[2022-11-29 06:55] #2377 closed, assigned to gabek

[2022-11-29 06:56] gabek opened #2389 "Install script upgrade: Remove backup of web directory"
### Share your bug report, feature request, or comment.

As a part of the installer script upgrade step it backs up the web directory. This will no longer be possible or needed as of v0.1.0, so this should be removed from the script.

[2022-11-29 07:00] gabek commented on #2076
Closing this in favor of future specific actionable items. As packages require upgrading they can be filed.

[2022-11-29 07:00] #2076 closed, assigned to nobody

[2022-11-29 14:06] ghost commented on #112
i also wanted to ask for p2p but he is right for all of europe p2p is an extremely dangerous area
and you should not even think about using it

[2022-11-29 14:39] dorj222 commented on #2356
may I claim this issue? :)

[2022-11-29 15:26] Ruxton commented on #112
no you don't, leave that SOLVED solution up to the user IF they enable p2p.  There are plenty of lightweight trackers out there, if people want to keep the privacy on lock (you can even suggest some). Otherwise they can easily spin up on a free/open tracker.

[2022-11-29 15:54] gabek commented on #2356
Absolutely, thanks!

[2022-11-29 17:56] ForestJohnson commented on #112
[code]

[2022-11-29 18:11] ghost commented on #112
not just a torrent tracker also a TURN server and also a STUN server too

[2022-11-29 18:19] ghost commented on #112
if one of the "abmahnanwälte" from germany catch you `sharing just a single bit or byte of copyrighted material`
and yes they are observing torrent swarms from time to time they sue you to death
as they already did with other live streaming services with p2p streaming

and yes they are sue every single peer in that p2p swarm

[2022-11-29 18:44] ForestJohnson commented on #112
First of all, owncast is a self-publishing tool,  telling people that they cannot self-publish because the content they are publishing is owned by someone  else,  it's ridiculous, what, we aren't allowed to stream ourselves any more? We are all the recording industry's property now?

Second of all, I would not recommend negotiating with terrorists. That's all I'm going to say about that.

[2022-11-29 18:53] ghost commented on #112
then have fun streaming a movie, tv-shows or **music** in europa on your owncast instance they will shut you down by force and law

[2022-11-29 18:53] ghost commented on #112
but still you have to implement 3 services to have 1 feature ....

[2022-11-29 18:56] MFTabriz commented on #2389
you mean in [this script](https://github.com/owncast/owncast.github.io/blob/master/static/install.sh)?

[2022-11-29 19:05] gabek commented on #2389
Yup, that's the one!

[2022-11-29 19:12] #2386 closed, assigned to nobody

[2022-11-29 19:17] gabek commented on #2205
Closed in #2347

[2022-11-29 19:17] #2205 closed, assigned to xarantolus

[2022-11-29 19:39] gabek opened #2393 "Standardize how Social Link values are looked up"
### Share your bug report, feature request, or comment.

- The Admin API `/api/admin/serverconfig` uses the response from `/api/socialplatforms` to look up the icon of the platform.
- The client API `/api/config` looks up the value directly and returns it in the API response without requiring another API call.

We should do one or the other.

[2022-11-29 22:14] #1884 closed, assigned to xarantolus

[2022-11-29 22:57] ForestJohnson commented on #112
Point of information:

TURN is a relay protocol which is used to enable WebRTC to work even in network conditions where P2P connections are impossible.   TURN is used to ensure that WebRTC-based applications such as audio and video chat always work no matter what the network conditions are.

For P2P HLS streaming,  TURN is not only not required, it is a waste of bandwidth. No point in relaying whe

[2022-11-29 23:26] ghost commented on #112
wow a productive answer
unfortunately it is already too late i have already recommended another project to my company that is now financially supported due to the somewhat unprofessional nature of the previous messages

but still it is possible to put your own torrent tracker server up with like no efford i did it already and noone care about 1-2 seconds more delay if the stream runs fluid vs chop

[2022-11-30 05:03] gabek opened #2395 "Default modal width is too narrow"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/204711730-a2a7f12f-8d1b-475f-9f79-7de2e6becf80.png)

[2022-11-30 18:43] #1925 closed, assigned to MFTabriz

[2022-11-30 18:47] #2320 closed, assigned to gabek