[2021-06-21 14:17] gabek commented on #1129
In this case it's referring to the HLS playlists, not the video segments themselves.  We set the value to `0` for playlists because we don't want them to be cached at all in a live situation since they're changing.  But like the doc says, we _could_ cache them up to the segment length, but I feel better about playlists not being cached at all.  This blurb doesn't seem to state any downside to cach

[2021-06-21 20:26] nodomain commented on #1129
Yes - I'll iterate to the best solution and try to give something back by contributing to the docs. Keep up the great work!

[2021-06-21 20:34] gabek commented on #1129
Awesome, thank you!

[2021-06-22 03:26] #782 closed

[2021-06-22 08:27] nodomain commented on #1129
Further improvement: the "Origin" header has to be part of the cache key because of the video.js CORS preflight requests.
Then you can achieve a >90% cache hit ratio:
![image](https://user-images.githubusercontent.com/104389/122890935-69ba8380-d344-11eb-8000-5d3a1e656901.png)

[2021-06-22 17:28] gabek opened #1132 "The sort order of player video qualities is buggy"
It should show as high, medium, low.
![image](https://user-images.githubusercontent.com/414923/122971540-03cdfc00-d344-11eb-8f5a-67df0c07e40e.png)

The sort in `controllers/video.go` probably isn't correct.

[2021-06-22 22:07] gabek opened #1133 "Update API spec to reflect all the API changes in 0.0.8"
Lots changed! New APIs and changes to existing ones.

- [x] Get messages
- [x] Get blocked users
- [x] Get connected clients
- [x] Block user
- [x] Register user
- [x] User access token API auth
- [x] Active user `ping`.
- [x] Removed 3rd party API for sending a "user" chat message
- [x] Add API for external integration chat message #1092

[2021-06-22 22:29] gabek commented on #480
If anybody wanted to work on this, this could probably be accomplished in a simple way with the following:

- Add the `title` attribute to emoji img tags with the name of the emoji.
- Do a simple substring replacement of `:emojiname:` strings with the full emoji img tag when composing a message.  For bonus points do a validation of the the name of the emoji to make sure it's valid.

[2021-06-22 22:44] gabek commented on #492
0.0.8 will have a couple more configurable paths, and more things saving, by default, to `data`, so hopefully you'll be in better shape.

[2021-06-22 23:46] gingervitis commented on #480
Extra bonus points for being able to copy/paste a rendered emoji into a message!

[2021-06-23 21:50] gabek opened #1135 "Do not even try to connect to the websocket if chat is disabled"
With 0.0.7 you could hide chat, but you still connected to it.
With 0.0.8 we want to support disabling it completely, so if you turn off the chat functionality the frontend won't even try to connect and the backend won't support the websocket at all.

[2021-06-24 02:06] gabek opened #1137 "Collapse news content in the admin home page"
Right now it shows the entire content.  We should just show the description and collapse the full body under a "read more" or something similar.

Antd collapse: https://ant.design/components/collapse/

![image](https://user-images.githubusercontent.com/414923/123191399-0e78b600-d456-11eb-94a4-2a9af4e4aaa4.png)

[2021-06-24 10:00] bsncubed opened #1138 "Custom target framerates"
Hi

Is it possible for you to add 25fps and 50 fps? In v0.05 i could manually edit the config file to make it work, but i can't find a work around now.

[2021-06-24 23:25] gabek commented on #102
Wanted to revive this thread to start discussing some details around recordings.

- For clarification when discussing, I see recordings as a "replay" or "VOD" solution, and _not_ an archival solution.  Meaning the point of this feature would be to allow somebody to watch content after it's no longer live, not to build up a directory of video files representing previous streams for you to download.

[2021-06-24 23:42] aaronpk commented on #150
I'd like to bump this up again given the discussion around ActivityPub integration.

Scheduling livestreams is a super useful feature! The main UX benefit in my opinion is that would gives visitors to your OwnCast page an indication that there will be future activity, instead of looking like the stream is just offline. Knowing that something is coming soon gives you a chance to build excitement fo

[2021-06-24 23:45] aaronpk commented on #102
My two main use cases of recordings are:

* Having my own archives of my public or members-only livestreams
* Archives of livestreams of conference talks

Here's my 2 cents as a solo streamer:

* I'd be fine with the recording being 1:1 to the livestream, not starting/stopping the recording separately
* I would expect the recordings to stick around forever, more like YouTube than Twitch, where I w

[2021-06-24 23:52] gabek commented on #150
I think this would be a cool standalone feature that anybody who's interested could jump on, even without recordings. If anybody is interested in working on a beefy, fun, full feature I'm happy to talk through it with you and plan it out.

I see it as doing the following:

- Be able to create a new scheduled event in the admin that has a date, time, description, maybe a unique image.
- It creates

[2021-06-25 06:19] MFTabriz commented on #1137
@gabek Can I give it a try?

[2021-06-25 06:19] gabek commented on #1137
Yeah, absolutely!  Thanks!

[2021-06-25 16:15] gabek commented on #102
I wanted to /cc @gingervitis here, so maybe she can start thinking about what the frontend UI changes to support recordings would look like and maybe come up with a mock as a next step.

[2021-06-25 17:07] mikro6 commented on #102
I have used two work arounds for recording. I know OBS can record as it streams, but that takes computing resources away from your stream. I've been testing with Restream.io - you need a paid tier to use a custom rtmp service, but there's an option with them to record and download. I also found a script floating around (I need to dig to see who wrote it) that can assemble the .ts files and convert

[2021-06-25 17:26] gabek commented on #102
There would be little to no additional computing overhead, but storage (either local or remote) would continue to be taken up as the number of recordings grow, since video would have to stick around instead of being deleted.

[2021-06-25 18:27] gabek commented on #896
Closing this in favor of https://github.com/owncast/owncast/issues/458, using ActivityPub to allow people to build their own directories and stream aggregators.

[2021-06-25 18:27] #896 closed

[2021-06-25 18:28] gabek commented on #897
Closing this in favor of https://github.com/owncast/owncast/issues/458, using ActivityPub to allow people to build their own directories and stream aggregators.

[2021-06-25 18:28] #897 closed

[2021-06-26 16:18] MFTabriz opened #1139 "Add proper landing page for browsers without the JS support"
I understand that we need the client-side JS support for the app to work. But the JS-disabled browsers should be presented with

1. A proper explanation of why Owncast needs JS to work, and
2. Some alternative ways of watching the stream (maybe just throw a HLS link for now)

What they are currently encountering is this:
![Screenshot 2021-06-26 at 18-08-33 Owncast](https://user-images.githubuserco

[2021-06-28 01:59] gingervitis commented on #1139
There's currently `<noscript>` block, which I agree could use more attention.
https://github.com/owncast/owncast/blob/develop/webroot/index.html#L95

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong>

[2021-06-29 00:25] gabek commented on #1061
Issue seems to be this: https://github.com/ant-design/ant-design/issues/31025

[2021-06-29 02:26] vilmibm commented on #489
FWIW, I set up via the Droplet thing on Digital Ocean and was able to add a `basicauth / { ... }` directive to `/etc/Caddyfile`; obviously not much help though if you are not running via Caddy/the droplet helper but if you are it was an easy thing to add.

[2021-06-29 18:22] #1135 closed, assigned to gabek

[2021-06-30 19:36] JamesDAdams opened #1142 "Self-hosted the OwnCast directory"
Hi,

I have several friends of mine who stream and I would like to be able to self-hosted the OwnCast directory to use the directory to group only the channels of my friends and I have only one place. 😁

[2021-06-30 22:07] gabek commented on #1142
Hi there.  While the current directory won't be released in a self-hosted manner as we just don't have the bandwidth to support it, we are in the early stages of adding the ability for Owncast servers to federate its state to other places, allowing people to build directories, aggregators or just having Owncast streams in your Fediverse timelines.  There's some more information about this here: ht

[2021-06-30 22:07] #1142 closed, assigned to nobody

[2021-07-01 00:41] gabek opened #1143 "Building directories via ActivityPub"
# Goal

## Support self-hosted, independent mini-directories of Owncast instances or "Featured streams"

Different people will have different ideas of what this means.  One person who says they want to have a directory means they want to download a complete product that they can run.  Another may simply want the ability to put together a directory via APIs.

The focus will be creating the building

[2021-07-01 19:09] #1137 closed, assigned to MFTabriz

[2021-07-01 20:01] jeyemwey opened #1147 "Don't remove non-existing files if video config changed while online"
I have added a new output variant via the admin while the stream was live.

After the stream disconnected, Owncast tried to clean-up a track playlist that isn't there yet:

[code]

Previously, my config only had one track (in `hls/0/stream.m3u8`), but since the config has changed while I was online (now having two tracks), Owncast guesses that there must also be another track (in `hls/1/stream.m3u

[2021-07-01 20:32] gabek commented on #1147
It should probably use the reference to `CurrentBroadcast` instead of `GetStreamOutputVariants`.

[2021-07-01 21:21] jeyemwey commented on #1147
Seems to do the trick, thanks for the quick help.

[2021-07-02 01:17] #1132 closed, assigned to MFTabriz

[2021-07-02 01:27] #1147 closed, assigned to nobody

[2021-07-02 18:01] gabek opened #1152 "Do not keep an unlimited backlog of chat history in the database"
Right now the entire backlog of chat is kept.  We should purge any message that is not returned in the chat history API.  (last 50 messages OR the last 5 hours).  Keeping less data is always better, especially when it's not in use.

[2021-07-02 22:58] #1096 closed, assigned to gabek

[2021-07-02 23:07] #1108 closed, assigned to MFTabriz

[2021-07-03 03:54] #1092 closed, assigned to gabek

[2021-07-03 18:33] gabek opened #1155 "Database migration to update chat to support users"

[2021-07-03 18:40] MFTabriz commented on #967
@gabek what happened to this issue? It is still being worked on? If not, I want to give it a try?

[2021-07-03 18:45] gabek commented on #967
It's no longer being worked on, so it's all yours! :)  According to https://github.com/owncast/owncast-admin/pull/180 it might just be as simple as setting the field to `required`.

[2021-07-03 19:16] Stayingfalse opened #1156 "aarch64 / armv8 support"
Great to see arm7 support however as Arm Arch develops would be great to see further support for aarch64 and armv8.

[2021-07-03 19:28] #390 closed

[2021-07-03 19:30] gabek commented on #1156
arm64 has been added to the architecture list for the next release list, but armv8 hasn't been.  So that can be added as well.

[2021-07-03 20:52] #967 closed, assigned to MFTabriz

[2021-07-03 21:01] gabek commented on #1156
Looks like unfortunately our cross-architecture toolchain, xgo, doesn't currently support armv8 :(.

https://github.com/crazy-max/xgo/blob/e5bbdc1cd854b4f4d9a14c2e30977f4ca142d82c/doc/usage/limit-build-targets.md

<blockquote><img src="https://opengraph.githubassets.com/a9c563ec5fcae8c250f802a4bcac34d2487b3c1ff533506bd6abac82d4c23587/crazy-max/xgo" width="48" align="right"><div><img src="https://g

[2021-07-03 21:52] MFTabriz commented on #840
@gabek is this issue completely solved?

[2021-07-03 22:01] #840 closed

[2021-07-03 22:02] gabek commented on #840
No, but it's been tabled.  Forest put in a PR but I had concerns about the admin UI becoming overly complex with the user having to understand the difference between the different images.  If we were to do this I think we'd have to re-interpret how the image uploads should work, where you select what type of image you want to upload and then you upload it instead of having two identical upload com

[2021-07-03 22:27] Stayingfalse commented on #1156
Arm64 and Armv8 are the same thing 64bit was added in v8 so that is cool.

Aarch64 also essentially being another name for Arm64 should mean future Arm64 feature should include all.

[2021-07-03 22:28] gabek commented on #1156
Oh ok, great!  Good to go, then!

[2021-07-03 22:28] #1156 closed, assigned to nobody

[2021-07-04 00:00] #1152 closed, assigned to gabek

[2021-07-04 00:21] #1155 closed, assigned to gabek

[2021-07-04 12:15] satyammayy opened #1157 "can i host this on heroku ?"

[2021-07-04 15:57] gabek commented on #1157
You cannot run this on any kind of dynamic application platform.  You need something with persistent storage, not something that will spin up and down dynamically.  And Heroku, if I remember correctly, will have multiple copies of your application running  load balanced, and that won't work for Owncast.  Owncast is designed to be run as a single instance.

[2021-07-04 20:22] closewall opened #1158 "Firefox issues (or maybe just Waterfox and LibreWolf)"
I hosted a stream yesterday, and while it worked mostly fine, I found that on LibreWolf 89.0(latest) on both Windows and Linux, I couldn't use the chat. It would just say "Chat is offline" even though the stream is running and chat is enabled. I mitigated this by just using an Ungoogled Chromium appimage, but I'd still prefer it working with LibreWolf.

On top of that, Waterfox outright won't work

[2021-07-04 20:44] gabek opened #1159 "Convert 3rd party access tokens to be actual users on the system"
It makes sense to treat bots/integrations and real users as the same instead of creating workarounds in chat so 3rd party integrations act like users.

[2021-07-04 20:45] gabek commented on #1158
Could you share any errors in the browser console that you're seeing?

[2021-07-04 21:04] closewall commented on #1158
For Waterfox, it's simple:

![img778934](https://user-images.githubusercontent.com/49519142/124399653-2dcde800-dd60-11eb-803c-df3f298a3612.png)
[edit] fixed screenshot

For LibreWolf:

Websocket Error. Chat is likely not working. Visit troubleshooting steps to resolve. https://owncast.online/docs/troubleshooting/#chat-is-disabled: Websocket closed. websocket.js:165:13
Firefox can’t establish a con

[2021-07-04 21:15] gabek commented on #1158
What happens when you click "Learn more" in the "customElements is not defined" message? That sounds like the browser you're using doesn't support WebComponents.

I just tried with Firefox and it seems to be working ok.  Do you have any kind of extension that's blocking websockets or something?

[2021-07-04 21:18] closewall commented on #1158
It redirects me to this page: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Not_defined

I also edited my post to include the part on the right. I believe the error is referring to lite-youtube.js:300:1

Yeah, up to date vanilla Firefox seems to work fine. It seems to be the forks like Waterfox and LibreWolf having problems.

My LibreWolf is full of extensions (as seen i

[2021-07-04 22:01] gabek commented on #1158
Discussed in in chat: https://owncast.rocket.chat/channel/general?msg=qBxCMYewnG5kwYZtH

Solution: There was a CDN extension interfering with the websocket, and some Firefox forks don't yet support WebComponents.

<blockquote><img src="assets/favicon_512.png" width="48" align="right"><div><strong><a href="https://owncast.rocket.chat/channel/general?msg=qBxCMYewnG5kwYZtH">Owncast</a></strong></div>

[2021-07-04 22:01] #1158 closed, assigned to nobody

[2021-07-05 02:57] gabek opened #1160 "User name highlighting is highlighting the sender username not the receiver"
This is likely related to the chat refactor branch only.

![image](https://user-images.githubusercontent.com/414923/124411671-d39e3a00-dd01-11eb-8ba5-8b765e80fa45.png)

[2021-07-05 20:53] #1159 closed, assigned to gabek

[2021-07-05 21:12] #1160 closed, assigned to gabek

[2021-07-06 01:54] gabek commented on #1157
If you have any other specific questions, please feel free to re-open.

[2021-07-06 01:54] #1157 closed, assigned to nobody

[2021-07-06 02:57] gabek opened #1164 "Remove the now unnecessary websocket connection from the embed player"
This is no longer required with the addition of the viewer PING request.

https://github.com/owncast/owncast/blob/develop/webroot/js/app-video-only.js#L8-L13

[2021-07-06 05:43] RhnSharma commented on #1164
I would like to take this one.

[2021-07-06 05:45] gabek commented on #1164
Awesome, thank you!

[2021-07-07 00:46] #1164 closed, assigned to RhnSharma

[2021-07-07 02:50] gabek opened #1166 "Detect if the directories we expect to write to have bad permissions"
Right now we fail silently if we can't write to the hls directories.  We should be nice and proactively check things like this at launch to alert on this issue.  This can probably done at the same time as https://github.com/owncast/owncast/issues/875.

See https://owncast.rocket.chat/channel/general?msg=d8i9CoqERqji3ejSt for context.

[2021-07-07 16:52] MFTabriz commented on #1166
@gabek Is it enough if we check the hls and all of its subdirectories (if any) are writable or not?

[2021-07-07 17:22] gabek commented on #1166
We remove and recreate the hls directories at launch as a quick way to start fresh, since old files aren't useful. I think we just need to be better about handling any errors that come from that.

https://github.com/owncast/owncast/blob/develop/core/core.go#L117-L127

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" al

[2021-07-08 02:28] gabek commented on #1120
Hey @jyggiz!  Are you still looking at this?

[2021-07-08 19:35] #1166 closed, assigned to MFTabriz

[2021-07-08 22:53] thilobillerbeck commented on #1117
I could take a look at that.

[2021-07-09 01:21] gabek opened #1169 "Update admin to Next 11"
Next 11 has a bunch of linter rules that break the build if they're not fixed.  So some manual effort needs to take place to go through and address the reported issues.

See https://github.com/owncast/owncast-admin/pull/229/checks?check_run_id=3024736475 for the list of issues that need to be resolved.

To work on this:

1. Check out PR https://github.com/owncast/owncast-admin/pull/229
2. `npm ins

[2021-07-09 01:25] gabek commented on #1117
Awesome!

[2021-07-09 04:31] #1133 closed, assigned to gabek

[2021-07-09 18:42] #1169 closed, assigned to jeyemwey

[2021-07-09 20:02] gabek opened #1171 "Add real-time read-only chat with websocket to admin"
- This would improve the chat messages moderation screen to be real-time and remove the API polling.
- It will be used in the future new admin dashboard.
- Chat requires an access token, so it would use the same access token that is created and stored for the user in the regular frontend.  This might be a bit of a hassle for development purposes because localhost:3000 does not have access to local

[2021-07-09 20:23] gabek opened #1172 "Add a small indicator visually showing a message is from a bot/external service"
To make it clear when a bot vs. a user is sending a message, and to help verify that a message is coming from a real bot, and not a user pretending:

1. In the chat payload add an `isService` boolean that's true if the user assigned to the message is a type of `API`.
2. If this boolean is set then display some type of small visual embellishment on the chat message view.

[2021-07-09 21:38] gabek commented on #464
[First step](https://github.com/owncast/owncast/pull/1163) of having backing users will be available in 0.0.8.  There will be no way to login or identify yourself.  Future work to continue adding functionality will continue in 0.0.9.

[2021-07-10 02:48] gabek commented on #922
Caddy released this that would be a good drop-in candidate to add this to Owncast.

https://github.com/caddyserver/certmagic

If we did add this:

1. What is the default with Owncast?  HTTP or HTTPS?
1. While it's easy to say "of course HTTPS by default" most Owncast (almost all) servers have their own HTTPS setup already. We wouldn't want to get in their way.
1. We may be able to attempt SSL by d

[2021-07-10 12:11] MFTabriz opened #1174 "Make the emoji directory configurable"
The [custom emoji directory](https://github.com/owncast/owncast/blob/7fe67cb853654ec6eeba9abeaf70502ed398c0b8/controllers/emoji.go#L18) needs to be read from the configurations. This will need some code refactoring to avoid cyclic dependencies.

[2021-07-10 12:12] MFTabriz commented on #1174
This will help the implementation of #480

[2021-07-10 15:08] gabek commented on #1174
I'd rather not have a new setting in the admin just for location of emoji.  Nobody has asked for that to be configurable, and the admin is getting pretty full of stuff. I want to be pretty sensitive about what gets added and what doesn't otherwise it can become intimidating.  What's wrong with the emoji living under the webroot?  It shouldn't impact client-side input of emoji.

[2021-07-10 15:19] MFTabriz commented on #1174
@gabek Sorry for not being clear on this. I didn't mean it to be configurable in the admin's panel. My request was to define the path to the emoji directory in the config package (maybe in config/constants.go) which then can be easily tweaked (if necessary), instead of locally defining it wherever it's needed. What do you think about this?

[2021-07-11 03:51] cablebox opened #1176 "Add VideoToolbox support to enable hardware encoding for macOS users"
on Macs, [FFmpeg can use VideoToolbox](https://trac.ffmpeg.org/wiki/HWAccelIntro#VideoToolbox) which then abstracts away the offloading of video encoding to hardware as available (QuickSync/GPU/SoC, etc).

A note that It's not as flexible in terms of quality options, but does have a `-realtime` flag.

`ffmpeg -hide_banner -codecs | grep 264
 DEV.LS h264                 H.264 / AVC / MPEG-4 AVC / M

[2021-07-11 20:46] gabek commented on #1176
I'm not sure how many people are running Owncast on a Mac publicly (as opposed to using it for testing or development purposes) but I'll leave this open to let others chime in if they find it useful to them.  If people would like to see it, it can be added.

[2021-07-12 01:03] gabek opened #1179 "Emoji button sometimes does not show before sending first chat message"
Sometimes on the initial load of an Owncast chat the emoji selector button will be set to display `none`.

![image](https://user-images.githubusercontent.com/414923/125216184-38154800-e272-11eb-9b40-567ca8954af5.png)

[2021-07-12 16:40] MFTabriz commented on #480
@gabek For implementing this feature, I was thinking about simply adding a function call inside the [RenderAndSanitize()](https://github.com/owncast/owncast/blob/0c6378976cb3efd2eed1b5e12bfd99b507434cde/models/chatMessage.go#L66) [in models package] to replace `:emoji:` with the corresponding HTML img tags. Ideally, this function would call the [getCustomEmojiList()](https://github.com/owncast/own

[2021-07-12 17:24] #1179 closed, assigned to gingervitis

[2021-07-12 19:48] gabek commented on #480
Sounds like a good approach!  The only note is doing it server-side makes it so when composing the message we can't replace the :emoji: with the image while you're typing, so you won't know if you typed the emoji name correctly until you hit enter.  Probably not a big deal for right now.

There's a **lot** of chat work going on, so I'm not sure if you want to start making changes involving chat fr

[2021-07-13 02:17] gabek commented on #1174
Oh, got it!  Yeah, I'm all for centralizing that value.

[2021-07-13 04:42] MFTabriz commented on #480
Thanks for your helps. Let me see what can I do client-side in the `gek/chat-rebuild-with-access-tokens` branch. This will take longer than my usual turn-around as I try to find my way around the js. But I’m on it!

[2021-07-13 05:15] gabek commented on #1120
I'll go ahead and unassign this from you @jyggiz, just in case somebody else wants to grab it.  But feel free to chime in if you still want to contribute!

[2021-07-13 09:37] closewall opened #1183 "Update Backblaze storage documentation"
My Owncast stream was functioning when I wasn't using external storage, though I wanted to expand my upload bandwidth to prevent users from getting buffering.

I tried Backblaze on the 10gb free trial, configured it as the docs specify, but when trying to watch my stream, the video doesn't play. It's just a slide show that shows a different instance of the video every 20 seconds or so and a consta

[2021-07-13 16:11] gabek commented on #1183
Looks like the error is

I don't know the specifics of the innards of Backblaze, but does that ACL mean anything to you?  Are you setting that somewhere?

[2021-07-13 18:54] gabek opened #1184 "og:description tag is blank in HTML headers when sharing an Owncast link"
It's not getting set [here](https://github.com/owncast/owncast/blob/73615784122bff635bb62d3fbcd00e5144fc9926/controllers/index.go#L104) therefore it's empty when being used [here](https://github.com/owncast/owncast/blob/develop/static/metadata.html#L13).

![image](https://user-images.githubusercontent.com/414923/125508539-f46352b3-c42e-4214-9d77-a923ba80e125.png)

[2021-07-13 21:44] #1184 closed, assigned to MFTabriz

[2021-07-14 00:00] closewall commented on #1183
Nope. I just followed the instructions here: https://owncast.online/docs/storage/backblaze/

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/docs/storage/backblaze/">Backblaze B2</a></strong></div><div>Backblaze B2's first 10G of storage is free, and the first 1G of download per day is

[2021-07-14 00:27] gabek commented on #1183
Looks like there's a default acl of `public-read`, but according to Backblaze's documentation that seems to be correct.

Is your bucket public?

[2021-07-14 00:32] aaronpk opened #1186 "Better documentation for S3 configuration"
The docs on the S3 page are a bit sparse: https://owncast.online/docs/storage/aws/

Here is the start of some new docs. These are the steps I did to set up a new S3 bucket on a brand new AWS account:

https://gist.github.com/aaronpk/563443e0143158d0922e3005d90193ca

[2021-07-14 00:40] gabek commented on #1186
Thank you!  That's awesome.

[2021-07-14 01:40] closewall commented on #1183
Looks like setting it to public fixed it. I was just following the docs and I didn't see anything about setting the bucket to public.

Another thing: when generating the application keys, you have to make sure "Allow access to Bucket(s):" is set to "All" and not just the bucket you created.

[2021-07-14 02:00] #835 closed

[2021-07-15 23:36] gabek opened #1191 "Handle follow requests"
- parse
- verify
- persist

[2021-07-15 23:39] gabek opened #1192 "Send live notifications to follower inboxes"
- create
- sign
- send

[2021-07-15 23:40] gabek opened #1193 "Handle webfinger requests"

[2021-07-15 23:41] gabek opened #1194 "Create inbox and handle items placed there"

[2021-07-15 23:47] gabek opened #1195 "Create and store events in outbox"

[2021-07-15 23:53] gabek opened #1196 "Send live ended notifications to follower inboxes"

[2021-07-16 00:29] aaronpk commented on #1194
also make sure to prune this occasionally otherwise it will grow unbounded!

[2021-07-16 03:14] gabek opened #1197 "Research and implement PeerTube specific properties"
https://docs.joinpeertube.org/api-activitypub

[2021-07-17 02:04] gabek opened #1199 "Surface a "profile" via ActivityPub properties"
Map to the following AP properties:

- name
- summary
- url
- tag
- attachment (external links, `value` is html anchor tag)
- icon (avatar)
- image (header)

[2021-07-17 11:21] MFTabriz commented on #654
@gabek What needs to be done for implementing this feature? This really valuable for the users who are using a cellular network and to limit their data usage, only want to listen to the stream.

[2021-07-17 14:11] MFTabriz opened #1200 "Insert emoji in the caret position"
Currently, the [emojis are added to the end of the text](https://github.com/owncast/owncast/blob/4067bcf757bbdbd94452c4f67807a64ba34629a6/webroot/js/components/chat/chat-input.js#L120) but they should be added to the caret position instead.

[2021-07-17 16:41] gabek commented on #654
In the above use case I believe it was somebody wanting to broadcast audio-only, but it sounds like you're talking about wanting to offer an audio-only output variant to viewers who only want to listen to it.

While I totally understand why you'd want this, for the amount of things we'd have to address to make it work, it's a pretty niche use case.  And if you're specifically talking about a mobil

[2021-07-17 19:04] gingervitis opened #1201 "doing a ctrl+c to copy something closes the chat panel"
I know we're not looking doing keyboard shortcuts when the chat text field is in focus, but if someone wanted to do a ctrl+c to copy/paste something from the page, the text field will lose focus, then the chat panel will close which is a jarring experience.

This seems to happen in Safari, but not Chrome.

[2021-07-17 20:13] gingervitis opened #1202 "`alt` and `title` tags are stripped from images (emojis) embedded in chat messages"
It would be useful to see the emoji's name via the alt or title tag , so that users can search for the name it in the picker, or `:` auto-insert it as they type.

[2021-07-17 21:38] MFTabriz commented on #654
You are right. My query was about having an audio-only output variant. Thanks for your through explanation. Just for the future reference: the android does support playing the media inside the browsers in the background. And there are browsers which can play the owncast’s HLS links out of the box (for example brave).

[2021-07-17 22:00] MFTabriz commented on #1201
This does not happen in Firefox either.

[2021-07-18 00:18] gabek opened #1203 "Add local actor"
- With basic properties.  Full profile will come later.
- Key
- Point to inbox

[2021-07-18 00:21] gabek opened #1204 "Create followers endpoint for actor"
Return back a collection of followers that were persisted.

[2021-07-18 00:23] gabek opened #1205 "Send Accept to those who request to follow"
Create, sign and deliver an "Accept" to the actor who requested the follow.

[2021-07-18 00:37] gabek opened #1206 "Store follow requests to the datastore"
Persist those who request to follow:

- name
- inbox

[2021-07-18 00:47] gabek opened #1207 "Handle unfollow requests"
- Parse
- Verify
- Remove from local followers state

[2021-07-18 01:50] gabek opened #1208 "Support requiring approval for follow requests"
- UI to turn approval mode on or off.
- If enabled, requests get queued up and the approval flag is set in the actor's response.
- Create admin UI to approve or deny.

[2021-07-18 01:51] gabek opened #1209 "Add support for blocking specific domains from sending follow requests"

[2021-07-18 01:52] gabek opened #1210 "Create new admin section for managing ActivityPub settings."

[2021-07-18 01:54] gabek opened #1211 "Test against other ActivityPub implementations"
Test against text-based ActivityPub servers to make sure there are no glaring issues with sharing text and images to other services. Please add other services to the list that make sense.

Note that PeerTube specifically will be worked on with v0.0.12 and I haven't looked into what options there are with Pixelfed, but that would be later as well.

- [x] Mastodon
- [x] Pleroma
- [x] Misskey

Especi

[2021-07-18 01:55] gabek opened #1212 "Test against ActivityPub test suite"
Use available ActivityPub test suites to verify the functionality is up to spec.

https://test.activitypub.dev/

[2021-07-18 02:27] teklynk opened #1213 "Trying to restream from a nginx rtmp server to owncast, twitch and whatever else..."
I have set up simple nginx server specifically for rtmp traffic on port 1935. This is running inside a docker containers and I have mapped port 9095 to 1935. In OBS my streaming server points to rtmp://192.168.x.x:9095/live/. I have tested this with an alternate Twitch account and it works fine. However, when I try to push to my owncast server.... nothing happens. Here is part of my nginx config.

[2021-07-18 03:15] gabek commented on #1213
Hi there.

You can certainly stream to Owncast using `rtmp://server/live/key`, so I'm not sure what issues you might be running into.  I've seen a handful of people using [Prism](https://github.com/muesli/prism) as a middle man to do exactly this.

What port is Owncast listening on?  I'm not really following your port descriptions since you mentioned nginx is listening on port 1935 but it also loo

[2021-07-18 03:50] teklynk commented on #1213
Hmm. That is good to hear. So it must be something on my end.

The nginx rtmp server is a docker container with mapped ports 9095:1935. I also have Owncast running in a docker container on the same server with mapped ports 1935:1935. I then proxy-pass my owncast domain to the container that is running owncast. I know it sounds confusing, but I have all public domains going through a reverse-proxy

[2021-07-18 04:29] teklynk commented on #1213
I got it to work!

I changed the nginx rtmp docker server to use 9095:9095 for rtmp and update the nginx.conf to use 9095 for rtmp traffic.
My nginx config:

[code]

I then set the nginx rtmp docker container to use the same network that the Owncast docker container is using. Both containers are now on the same subnet and can see/talk to each other. I think that was the main problem. Owncast is on

[2021-07-18 18:32] gabek commented on #1213
Awesome!  I'm going to close this unless there's anything else, but I'm glad you figured it out!

[2021-07-18 18:32] #1213 closed, assigned to nobody

[2021-07-18 18:38] gabek opened #1214 "Add a small indicator to messages indicating the person who sent the message is authenticated"
For example, when an admin authenticates against their Owncast server via IndieAuth, we should show something in the message to show that the user authenticated somewhere.  Possibly allow clicking on this indicator to send them to where they authenticated against.

[2021-07-18 19:56] gabek opened #1215 "Add an API to allow ActivityPub messages to be sent out manually"
So we can add a place in the admin where people can send messages via their server, or allow 3rd party bots and tools to send messages to people who are following the server.  Also useful for testing!

[2021-07-18 22:34] gabek opened #1216 "Investigate a "match source" encoding feature as an alternative to passthrough"
Given passthrough has its share of issues because it bypasses the video encoding pipeline, I had the idea of a "match source" feature.  This would enable encoding to still take place, but at the same quality as is being sent. Then things like keyframes and GOP sizes could be normalized within the Owncast encoding pipeline while still keeping the amount of CPU dedicated for compression minimized.

[2021-07-18 23:59] gingervitis opened #1217 "Improve calculation and UI for when server's message size limit is reached (on new Chat branch)"
Currently the frontend limits to 500 text chars, excluding images/custom emojis. Apparently the backend has a limit of 512 bytes per message.

Despite the server limit, emoji images and other markup generate many extra raw characters that get sent with the message, which the server then rejects.

What is the best way to calculate when a message size limit is reached?

We may need to:
  - when typi

[2021-07-19 00:10] gingervitis commented on #1217
I might be overthinking `B`.
@gabek has added a field in the config `maxSocketPayloadSize` which will tell us the max bytes a message can be.

We can use that number to calculate total char calculation per message. Instead of counting visible text characters in a message, we'll count all the bytes in the payload instead.

[2021-07-19 00:32] gingervitis opened #1218 "Revert username field if user submits invalid name change (Chat refactor branch)"
and maybe surface the error to user somewhere?

[2021-07-19 01:28] gabek commented on #1218
This is already working as expected. Closing.

[2021-07-19 01:28] #1218 closed, assigned to gingervitis

[2021-07-19 01:52] gabek opened #1219 "Allow the read-only embed chat to register specifically as a read-only chat user"
- Don't show the "X joined chat" message when an embed connects.
- Show in the admin that this is specifically a embed/read-only chat user so the admin doesn't wonder why they're not talking.

[2021-07-19 01:54] gingervitis opened #1220 "add target="_blank" to custom user content before rendering"
In case a user's custom content contains links, we should make sure that they all open a new window so that it doesn't replace the stream when viewers click on it.

[2021-07-19 02:54] gabek commented on #1220
Chat links too!

[2021-07-19 03:00] gabek commented on #1217
I cranked up the max size on the backend to 2048 bytes for now until we have a real fix for this.

[2021-07-19 06:10] gabek opened #1222 "When chat history is populated it no longer automatically jumps to the bottom of chat"
Likely a timing issue due to the different ordering of chat tasks fired to initialize all the components.

[2021-07-19 06:13] #1220 closed, assigned to gingervitis

[2021-07-19 17:03] gabek opened #1223 "Last live time says "Today at" instead of "Yesterday at""
In this particular case the last stream was yesterday at 8:40pm, but it is saying "Today".

https://github.com/owncast/owncast/blob/b19fa76cd035a03f466a7b99485e1f31573734db/webroot/js/utils/helpers.js#L165

![image](https://user-images.githubusercontent.com/414923/126198661-25408dea-5dbd-42ba-a7bd-0832bc3fdbfa.png)

[2021-07-19 17:31] gabek opened #1224 "Don't send user joined notification if chat/stream is disabled"
It's confusing to see people "join" when chat is not active.

[2021-07-20 00:51] #1120 closed, assigned to MFTabriz

[2021-07-20 01:39] #1224 closed, assigned to gabek

[2021-07-20 01:51] #1223 closed, assigned to gabek

[2021-07-20 02:07] #1222 closed, assigned to gabek

[2021-07-20 02:34] gabek opened #1225 "Fix share tags"
We experimented with using `//` without the protocol in the tags, but it seems like the things don't like that after all.  Oh well.  It was worth trying.

https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fnightly.owncast.tv

And the image then doesn't show for Twitter cards either.

![image](https://user-images.githubusercontent.com/414923/126253246-a8db2a84-8714-4ea4-bf1c-4b0590a76f55.

[2021-07-20 02:45] #1217 closed, assigned to nobody

[2021-07-20 09:39] MFTabriz commented on #480
@gabek I think this issue should be closed now.

[2021-07-20 17:34] #1225 closed, assigned to nobody

[2021-07-20 20:25] #480 closed

[2021-07-21 00:12] ma-hartma opened #1228 "Shortcut triggers when typing p inside chat emoji search field"
While using the chat's emoji search field I've discovered unexpected behaviour.

"p" is the shortcut for play/pause and it even triggers when typing inside the search input field.
Users are not able to type the letter "p" and the stream pauses/unpauses instead.

[2021-07-21 01:09] gabek commented on #1228
Fixed in https://github.com/owncast/owncast/issues/1025, but thanks for making sure knew about it!  It'll be fixed up in the next release.

[2021-07-21 01:09] #1228 closed, assigned to nobody

[2021-07-21 02:59] gabek opened #1229 "Surface engagement with "go live" post"
If a user on the Fediverse Likes or Re-posts/boosts the "go live" post, show that engagement in the chat.

Note that this isn't showing actual text of messages, since that would be easy to abuse unless we have heavy ActivityPub moderation features, something we can do later.

Example events:

- [ ]  x@y.com favorited the "Go Live" federated message
- [ ]  x@y.com boosted/reposted the "Go Live" fed

[2021-07-21 03:22] gabek opened #1230 "Admin chat settings page shows "Update" buttons by default"
The "Update" button should only show up after the value in the field was changed.

![image](https://user-images.githubusercontent.com/414923/126425562-5576dda1-28e3-4553-9596-0785fbeb12cd.png)

[2021-07-21 04:04] gabek opened #1231 "The name change notification is missing a space"
Whoops.

![image](https://user-images.githubusercontent.com/414923/126429064-38e65cd1-c56c-45f5-9a34-fe9dc84d7142.png)

https://github.com/owncast/owncast/blob/develop/webroot/js/components/chat/message.js#L30

[2021-07-21 05:23] soham4abc commented on #1231
I am willing to work on this

[2021-07-21 05:24] gabek commented on #1231
Awesome, thank you!

[2021-07-21 06:27] #1231 closed, assigned to soham4abc

[2021-07-21 07:12] gabek opened #1233 "Remove username and message count from admin viewer-info table"
Chat details are now a part of the dedicated chat page and are no longer connected to viewer details.

[2021-07-21 10:32] themancalledjakob opened #1234 "is there a list of all possible configuration options"
Hi,

I am trying to figure out all possible configuration options, but somehow this is not very easily accessible (or I am being exceptionally stupid). Is there somewhere a complete documentation of which options there are?

Am I supposed to run it first, and then adjust the configuration via the admin page? I would prefer being able to start it immediately with the options I want. A configuration

[2021-07-21 11:07] jeyemwey commented on #1234
Hi, yes we have moved the configuration to be entirely inside the admin panel (except if you need to reset the password). The amount of stuff that can be configured has become so large, so we have decided to move it into the database.

Yes, that is the way to go. This allows non-technical users to not touch the server after setup, which we found beneficial. If you are keen, you can try provisionin

[2021-07-21 16:33] gabek commented on #1234
There are a handful of configuration options you can set via the command line, just run `./owncast --help` to see the various options you can provide.

[2021-07-21 17:03] #1233 closed, assigned to MFTabriz

[2021-07-21 17:03] MFTabriz opened #1236 "Welcome message in the admin chat settings cannot be disabled"
When the welcome message field is empty, the save button gets disabled!

![Animation](https://user-images.githubusercontent.com/39205857/126529584-957919da-a8ab-4f0c-bee1-87f8ef766a99.gif)

[2021-07-21 17:11] gabek commented on #1236
Yeah both the forbidden usernames and welcome message fields update buttons are backwards for some reason, they're showing by default and then hiding.  https://github.com/owncast/owncast/issues/1230

[2021-07-21 17:18] MFTabriz commented on #1236
@gabek I don't get the the same issue with forbidden usernames. The update button stays active even when the field is empty.
![Animation2](https://user-images.githubusercontent.com/39205857/126531593-fe1128d7-b771-4150-a2a1-cb833f00e93e.gif)

[2021-07-21 23:05] #1236 closed, assigned to gabek

[2021-07-21 23:14] gabek opened #1237 "Owncast release 0.0.8"
Current status: Doing some real-world testing.

Servers currently running it:

- https://watch.owncast.online
- https://nightly.owncast.tv
- https://eclecticmedia.owncast.tv
- https://live.w0rmh0le.net

---

## Owncast release 0.0.8

The following are intended to address the test scenarios and documentation that should be accomplished for a public release.

- [x] This release was tested as a fresh

[2021-07-22 06:44] gabek opened #1239 "Turning off chat in settings should remove everyone from chat and hide the UI"
In the case a streamer wants to get rid of the chat during a stream, turning off chat should actively remove chat in the UI.

[2021-07-22 10:13] themancalledjakob commented on #1234
@jeyemwey @gabek This indeed clears most things up. I'll research a bit what benefit the new config format has in contrast to a textfile, and will drop by in the chat should there be more questions. Thank you so much :)

As a summary:
- before the service is running, part of the configuration can be done with the binary. To get an overview over this, one needs to have a running version of owncast.

[2021-07-22 10:13] #1234 closed, assigned to nobody

[2021-07-22 16:55] gabek commented on #1059
Just discovered https://github.com/grafana/k6.  Might be a good option instead of Artillery, since I started running into limitations of things I needed to do with Artillery and just started writing my own scripts instead.

<blockquote><img src="https://repository-images.githubusercontent.com/54400687/29992200-7069-11ea-85c9-3824e56625b2" width="48" align="right"><div><img src="https://github.gith

[2021-07-22 21:50] gabek opened #1242 "Display the total number of clients connected"
In the case where there's multiple pages of chat clients connected it's not possible to know the total number.  We should display it.  Maybe in the title: `Connected Chat Participants (143)`

![image](https://user-images.githubusercontent.com/414923/126713891-94d86843-62e6-4f8f-b735-8ca22087d157.png)

[2021-07-22 22:18] #1242 closed, assigned to gabek

[2021-07-23 02:58] gabek opened #1243 "Some non-linux unix-like OSs have a differing type for syscall.Rlimit"
uint64 vs int64

https://github.com/owncast/owncast/blob/develop/core/chat/utils.go#L21

Reported with FreeBSD: https://social.kithop.ca/@kithop/106627550098343966

[2021-07-23 05:22] #1202 closed, assigned to MFTabriz

[2021-07-23 16:55] TOWUK opened #1247 "[bug] fix space letters"
![image](https://user-images.githubusercontent.com/28830162/126815802-97bd5684-9f68-4298-856a-b0bad4af09a7.png)

[2021-07-23 16:55] TOWUK commented on #1247
dont send DOT on finish change name pls or dont send bolder dot

[2021-07-23 17:45] gabek commented on #1247
This missing space was resolved in the `develop` branch a couple days ago.  The period is there because it's a sentence.  The period is not bolded.  https://github.com/owncast/owncast/blob/develop/webroot/js/components/chat/message.js#L30-L31

If it's still not formatted properly after you update feel free to re-open.

<blockquote><img src="https://repository-images.githubusercontent.com/266445736

[2021-07-23 17:45] #1247 closed, assigned to nobody

[2021-07-23 18:32] MFTabriz opened #1248 "autoComplete should not move the caret to the end of the text"
Currently, the username autocomplete moves the cursor to the end of the line.

![Animation3](https://user-images.githubusercontent.com/39205857/126825900-2ea4f1ae-f9aa-40e1-a60e-05806ca93f26.gif)

I think there should be a
`setCaretPosition(this.formMessageInput.current, at + this.suggestion.length + 1);`
or something similar at the end of `autoCompleteNames()`. But I couldn't make the `setCaretPo

[2021-07-23 19:20] gabek opened #1249 "System messages with no user attributes show a blank join time"
The display name shouldn't have a title attribute if it doesn't have metadata to show about the user.

![image](https://user-images.githubusercontent.com/414923/126830868-8ac5641c-522b-4b3f-82bb-79db13720c51.png)

[2021-07-24 00:18] gabek opened #1251 "Change the styling of links in chat messages"
Ginger doesn't like how they currently look.

[2021-07-24 01:09] gabek commented on #531
Right now the chat embed `/embed/chat` purposefully hides the input bar, so if anybody wanted to work on this all they might have to do is add support to toggle that depending on if the person embedding it wants it read-only or fully functional.

[2021-07-24 03:15] gabek opened #1252 "Weird combination of the title attributes for the user display name and the message body"
If you hover over the user display name it should show when the user first was created.  If you hover over the message body it should show when the message was sent.  I'm seeing a weird mix of both?

![image](https://user-images.githubusercontent.com/414923/126855863-043010fe-afa2-45d2-b5de-146c14821c4b.png)

So odd, some are correct, but mine, specifically is wrong:

![image](https://user-images.

[2021-07-24 03:47] gingervitis commented on #1251
Ok I'll take this. I'm going to add ,`<blink>` tags around them.
😆

[2021-07-24 11:15] MFTabriz opened #1254 "Preserve the caret position after adding an emoji"
The cursor moves to the ~~start~~ end of the text after adding an emoji. These images should be added next to each other.

![Animation5](https://user-images.githubusercontent.com/39205857/126866741-113eb722-a7dc-48e7-b8de-2d84245ac8ea.gif)

[2021-07-24 12:34] MFTabriz opened #1255 ":emoji: support in chat is not working with Brave browser on Android"
Tested version: Brave 1.26.77 Chromium 91.0.4472.164
Lowering the brave shields did not help this. Although, it works with the Brave on PC.

[2021-07-24 14:11] MFTabriz opened #1256 "Username autocomplete suggestions should not include the user's own name"

[2021-07-24 15:16] MFTabriz opened #1257 "Disable the chat backend when the stream is offline"
![Screenshot 2021-07-25 at 16-56-03 Owncast Nightly](https://user-images.githubusercontent.com/39205857/126903605-fc4f4b04-2053-4ca8-ac24-64c2f07ae332.png)

[2021-07-24 17:25] #1200 closed, assigned to MFTabriz

[2021-07-24 23:10] gabek opened #1259 "Tweak the size of the default logo"
It would be nice if the default logo doesn't go edge to edge in the player and would fit in the avatar circle.  I don't know if reducing the size (well not the size of the image, the size of the content by giving the image internal padding) would impact anything else, but it might look nicer. This is also used on the directory if people leave it as the default, so something to keep in mind.

![ima

[2021-07-24 23:18] gabek opened #1260 "Improve performance of the chat history query"
This query gets very slow if there are lots of chat messages.  Since old messages get removed this doesn't impact most streamers, but if somebody were to have thousands of chat messages within a window the query will become quite slow.

I haven't dug deep into options, but If anybody is keen on doing some database query optimization, I'd love to have your input!

Return the most visible recent 50

[2021-07-25 17:02] #1260 closed, assigned to muesli

[2021-07-25 18:14] MFTabriz opened #1263 "Prevent posting empty messages in chat"
If after sanitation of the markdown formatted text, the message content is empty (or just `<p></p>`), do not post it.

![Screenshot 2021-07-25 at 20-09-16 Owncast Demo Server](https://user-images.githubusercontent.com/39205857/126909040-179d2fbb-b218-4950-a6ad-a21a964691d2.png)

[2021-07-25 18:25] MFTabriz commented on #739
We do not support the image previews in the chat anymore but it is still happening with the emojis.

![Animation](https://user-images.githubusercontent.com/39205857/126909335-f61fbee5-c2a3-4025-8d7e-d7b6b91d44fc.gif)

[2021-07-26 05:12] #1230 closed, assigned to gabek

[2021-07-26 05:26] #1256 closed, assigned to MFTabriz

[2021-07-26 05:41] #1249 closed, assigned to nobody

[2021-07-26 06:12] #1259 closed, assigned to gingervitis

[2021-07-26 11:24] MFTabriz commented on #1251
@gabek is this issue resolved? [I was promised blinkers! 😄]

[2021-07-26 15:58] gabek commented on #1251
Seems like it!

[2021-07-26 15:58] #1251 closed, assigned to gingervitis

[2021-07-26 16:16] MFTabriz commented on #531
@gabek I’m thinking about how to implement this. The way I see it, lots of code from `app.js` will need to be added to the `app-standalone-chat.js` to handle the username, activation/deactivation of the chat, etc. What is the best approach here to avoid code duplication?

[2021-07-26 16:20] MFTabriz opened #1265 "Username autocomplete suggestions should not include the read-only embed chat users"
These users are currently named "chat-embed-*".

[2021-07-26 16:21] #1263 closed, assigned to MFTabriz

[2021-07-26 16:23] gabek commented on #1265
These users being surfaced in chat are a stop gap anyway, so I wouldn't worry about it long term.  The real solution is to treat them as a different kind of user that doesn't show up in chat: https://github.com/owncast/owncast/issues/1219

[2021-07-26 16:27] gabek commented on #531
ahh yeah forgot about user name stuff living outside of the chat component.  It's easy enough to abstract the logic into shared modules, but I think the challenge here is the name change UI, since it exists outside of chat.  So we'd need some different version of it that works within an embed component.  Maybe @gingervitis can mock a design something up at some point, but given how few people woul

[2021-07-26 17:15] MFTabriz commented on #1265
@gabek that would be really nice!

[2021-07-26 17:15] #1265 closed, assigned to nobody

[2021-07-26 18:06] gingervitis commented on #531
Hey @MFTabriz thanks so much for looking into this!

UI-wise, everything visually we care about lives in js/components/chat. (user name change, chat panel + message input). `app-standalone-chat.js` can handle the markup of where to put these components relative to each other, and then we can create and/or override some css from `standalone-chat.css`.

As for the duplicated stuff, those seems to mo

[2021-07-26 19:47] jeyemwey opened #1267 "Catch null lastDisconnectTime if server was never online"
## Bug Report

If the server has never delivered a stream, the calculation of `lastDisconnectTime` is invalid and produces a `nullish` value:

[code]

(From `/api/status` on a fresh install)

This will then produce bad data in the frontend:

![Screenshot of Owncast, saying "Last live: 1.1.1"](https://user-images.githubusercontent.com/2796271/127048959-04469ff9-d8bf-4e34-bfa0-5742ba9a5909.jpeg)

##

[2021-07-27 00:42] gabek commented on #1267
These are currently the case.  I've never seen "1.1.1", so I'm curious how you're getting in that state.

![image](https://user-images.githubusercontent.com/414923/127076837-e9b4da40-144c-474c-9fa8-453491866b18.png)

https://github.com/owncast/owncast/blob/develop/webroot/js/utils/helpers.js#L161-L163

![image](https://user-images.githubusercontent.com/414923/127076959-5327dd67-a9bf-4b83-ba83-12ce

[2021-07-27 06:52] jeyemwey commented on #1267
I've seen it with https://nightly.owncast.tv/ though I don't have the db for that.

<blockquote><div><strong><a href="https://nightly.owncast.tv/">Owncast</a></strong></div></blockquote>

[2021-07-27 06:54] gabek commented on #1267
Oh that explains it.  In a previous build it saved a bad value to its database so it continues to use it.  But that was a month or so ago.

[2021-07-27 07:27] gabek commented on #1267
I went ahead and streamed something on nightly so that old value would be overwritten.

[2021-07-27 07:30] gabek opened #1268 "Chat disables when stream ends instead of 5 minutes later"
When a stream ends the chat is supposed to stay alive for 5 minutes before it's shut down to allow people to say goodbye.  This no longer looks to be functioning as it once was. Now when the stream ends the chat input immediately is disabled.

[2021-07-27 07:45] gabek commented on #1257
I think stopping regular users from sending messages would be a good change, but allowing system messages and 3rd party tools to send things would still be nice.  For example when a stream is starting it says "Stream is starting" in the chat, and I think that's a nice touch.  So things like that I don't think should be blocked.  We can just reject incoming messages through the websocket.

[2021-07-27 16:52] gabek opened #1272 "Add an IndieAuth layer on top of the admin auth"
## Goal

Authenticate the admin of an Owncast instance as a next step in supporting authentication for chat users.

## Examples

1. Gabe, who runs goth.land is chatting on goth.land but it is not clear he is the admin. He starts the the auth flow, types in "goth.land" and now Gabe is shown as the admin of goth.land, upgrading the "shadow account" to an authorized, "verified" account.
2. Gabe, who

[2021-07-27 17:29] gabek opened #1273 "Initial chat auth UI to support IndieAuth"
@aaronpk wrote [this article](https://aaronparecki.com/2018/07/07/7/oauth-for-the-open-web) with this example login UI:

![image](https://user-images.githubusercontent.com/414923/127199513-271991d9-00d7-440d-ba7a-bcf46c37a2c1.png)

Since Owncast will support IndieAuth our UI can have some more specific verbiage specifically speaking to Owncast server admins, since that's the primary audience as mo

[2021-07-27 17:42] #1257 closed, assigned to MFTabriz

[2021-07-27 18:18] gabek opened #1274 "Create a chat bot for demo server to respond to people's questions"
People often ask questions in the https://watch.owncast.online chat when there's nobody there to answer it.  I think building a simple little chat bot could help.

1. It would auto-reply to messages with something like "We're not here to answer your question, but please go to https://owncast.rocket.chat/ or visit us in our chat" to point people in the direction of getting answers.
2. It would show

[2021-07-27 20:50] gabek commented on #1267
Please re-open if you can reproduce this.

[2021-07-27 20:50] #1267 closed, assigned to nobody

[2021-07-27 22:13] gabek opened #1275 "iPad (iPadOS) user-agent shows up as "Mac OS""
Problem lies with: https://github.com/faisalman/ua-parser-js/issues/387

[2021-07-27 22:21] gabek commented on #1119
Weird.  This issue returned after it was fixed.

![image](https://user-images.githubusercontent.com/414923/127235005-ed4718ef-7469-4dbf-9a7c-869e29029af5.png)

[2021-07-27 22:25] #1119 closed, assigned to jyggiz

[2021-07-27 22:39] gabek opened #1277 "Previous display names are not being displayed in the admin user modal"
It's coming back in the API as `previousNames` but not being rendered in the modal when you click on a user name under chat users.

Update:

It eventually does show.  I'm not sure why sometimes it does and sometimes it doesn't.

[2021-07-27 23:45] gabek commented on #1277
Example:

![image](https://user-images.githubusercontent.com/414923/127241540-6cc2c118-279d-434a-a47f-e7ac6d5ee8dd.png)

![image](https://user-images.githubusercontent.com/414923/127240353-28794310-47a5-45dd-90cd-86a1e84ece06.png)

[2021-07-28 20:03] gabek opened #1278 "/embed/chat does not handle ERROR_NEEDS_REGISTRATION"
1. rm -rf data and restart server
1. Reload /embed/chat
1. It does not register for a new token

Chat embed used to successfully register, but now it's not.

[2021-07-28 20:33] gabek opened #1280 "Consolidate all chat logic into a single place"
We now have three chat UIs:

1. The standard web page chat frontend.
2. The read-only UI that is often used as an embed for OBS.
3. A read-write UI that can be embedded in 3rd party iframes.

There are two `app.js` with duplicated chat handling logic.

The bottom two embed versions often are forgotten about and don't get fixes/changes that the primary UI does.

We need to centralize the chat logic

[2021-07-28 22:17] gabek opened #1281 "Replace redirect of /embed URLs to return content directly"
I'm not sure why I did it this way in the first place, but we should change it.

Example: Instead if redirecting `/embed/video` to `index-video-only.html` it should read `index-video-only.html` and return the content directly.  Same with the chat versions.

Some import changes may need to be made in the files since the URL for the content will be different, but this will be cleaner since it probab

[2021-07-29 00:39] gabek opened #1283 "Build a /roadmap page on our public web site"
Using the Github APIs we can pull down our milestones and render a static human readable, markdown'ish page to share the roadmap and progress with the public.  Each milestone can link to the Github page for more details.

We can also have a blurb talking about what we've been focusing on and what's upcoming.

Something like:
----

# Milestone 1 name ■■■■■■■■■▦□□□ 76%
Milestone description.
x of y

[2021-07-29 00:43] gabek commented on #1278
Closing since all updates and testing is going on over at: https://github.com/owncast/owncast/pull/1270

[2021-07-29 00:43] #1278 closed, assigned to nobody

[2021-07-29 02:19] gabek commented on #388
Bumping this up.  As we continue to iterate on chat, having a way to do automated browser tests would make this a lot easier.  If anybody is interested in digging into something new, and owning it, I'd love some help!

https://www.youtube.com/watch?v=lhZOFUY1weo&t=431s

[2021-07-30 14:12] Waffleuncle opened #1285 "feature request | Re-streaming"
Hi , i would like to know if is possible to add Re-streaming.

[2021-07-30 19:26] gabek commented on #1285
Owncast is a RTMP destination like Twitch, YouTube or any other live streaming services.  It's not a middle man between you and these services.  Take a look at [Prism](https://github.com/muesli/prism) or a service like [Restream.io](http://restream.io/) for this kind of functionality.

[2021-07-30 19:26] #1285 closed, assigned to nobody

[2021-07-30 20:20] gabek opened #1286 "Support png logo fallback if a svg is provided"
Many 3rd party services can't render SVGs, so if we think a SVG is being used as a logo within Owncast we should fallback to a png version of the generic Owncast logo and throw a log message explaining they may want to use a png instead.

This would only be used when sharing via the `metadata.html` or ActivityPub.  A new `/logo/compatible` endpoint+controller can be created and used instead of `/l

[2021-07-31 08:47] gabek opened #1287 "Websocket messages with multiple events are not getting split and parsed properly"
![image](https://user-images.githubusercontent.com/414923/127734443-208f52ef-73bf-4646-ab41-39eb9df732a1.png)

[2021-07-31 19:48] #1287 closed, assigned to nobody

[2021-07-31 23:21] #531 closed

[2021-08-01 21:43] MFTabriz commented on #1286
Should we automatically convert the svg to png and use it instead?

[2021-08-01 21:49] gabek commented on #1286
I thought about that, but the amount of extra junk we'd have to add to the project to do that in a reliable way isn't worth it.  Anything that's Go-only doesn't have full compatibility for all of SVG features.  I thought about maybe utilizing ffmpeg since we already have access to it, but it would require users to specifically have `librsvg` compiled in, not something that's guaranteed.  It's poss

[2021-08-04 01:55] gabek opened #1291 "Frontend to allow people to perform moderation actions within chat"
Part 2 of https://github.com/owncast/owncast/issues/499

- The backend will support telling a specific user they're now a moderator via the `CONNECTED_USER_INFO` event.
- This should allow a new UI control to show up within chat messages to enable them to remove messages or remove the user.

[2021-08-04 02:12] gabek commented on #499
- Expand the user object to support the existing `scopes` database field.
- Add an API that adds a `MODERATOR` scope to the user.
- Add new button to User Info modal in the admin to fire this new API and add/remove the access scope to this user.
- Append the `ConnectedUserInfo` event to send along the current user's scope on connect and scope change much like happens when a user's display name cha

[2021-08-04 08:00] gabek opened #1292 "Setup a PeerTube instance for testing Federation with"

[2021-08-04 08:05] gabek opened #1293 "Add chat message design for external Federated engagement"
This would be similar to the "system message", but be able to show an avatar of a federated user and have a unique look to make it clear it's something that happened on the fediverse.

Example events:

- [x]  x@y.com favorited the "Go Live" federated message
- [x]  x@y.com boosted/reposted the "Go Live" federated message.
- [ ]  x@y.com started following the Owncast server on the fediverse.

[2021-08-04 08:39] MFTabriz commented on #1268
[This part](https://github.com/owncast/owncast/blob/dcc7a7c5c3a9ef8dfa7e39714f642490d712b6ed/core/chat/events.go#L84) should also be modified to keep the backend active for 5 minutes after the stream ends.

[2021-08-04 20:30] gabek opened #1294 "Relay RSS into Rocket.Chat"
It was [suggested in a previous call](https://collab.owncast.tv/code/#/2/code/view/Mhf7jsNaPvMQLLXcS4jn7qCK0b05HoxTjKWDN7Flg3w/) we relay the posts from https://owncast.online/news/index.json to post in Rocket.Chat.

[2021-08-06 04:40] #1252 closed, assigned to nobody

[2021-08-06 06:54] gabek commented on #1059
I've been working on this little by little on the side.

[2021-08-06 11:04] jeyemwey commented on #1294
I've created a bot for this, it will only need to be deployed now where @gabek comes to play.

[2021-08-09 19:11] unclearParadigm commented on #1274
Hey @gabek,

I'd like to give this bot a try. Should this go into `examples/`? Or shall it be a separate repository?
I'd write it in in Go, with a simple "net/http" server listening for incoming HTTP POSTS from Owncast webhooks. I haven't found docs that show how the actual body looks like (or at least how the eventData part looks like), I feel there should be. So I'll create docs as well. That'll

[2021-08-09 20:06] gabek commented on #1274
Hey Ruffy!  Yeah, that sounds right!  And yup, we're using [Rocket.Chat](https://owncast.rocket.chat/) as our project chat.  Thanks for looking to cover #1016 as well, that will help people.

We should probably just create another repo with side projects like this so I just created https://github.com/owncast/owncast-examples.

`/api/integrations/chat/system` is probably best, as it'll show up look

[2021-08-09 23:11] gabek commented on #1294
Awesome!  One tweak, though, instead of running and exiting, could you make it stay running and fire every X minutes on a timer?  By default if it fires and exits, and would get immediately restarted.

[2021-08-10 00:05] gabek opened #1297 "When selecting chat messages via checkbox the hide action text changes to black on black"
Color of "Check multiple messages to change their visibility to" changes to black when selecting a message.

No items checked, color is correct.
![image](https://user-images.githubusercontent.com/414923/128789043-2c25308b-9d90-40d4-9f07-963067f9ae90.png)

Item is checked, "Check multiple messages to change their visibility to" changes to black on black.
![image](https://user-images.githubuserconte

[2021-08-10 19:13] #1297 closed, assigned to MFTabriz

[2021-08-11 19:32] ericgaspar opened #1298 "Binaries for Owncast 0.0.7 disappeared from Github releases"
The binaries for Owncast 0.0.7 disappeared from Github releases, as opposed to all the other releases.

[2021-08-11 20:30] gabek commented on #1298
Sorry about that. Fixed.

[2021-08-11 20:30] #1298 closed, assigned to nobody

[2021-08-11 21:44] #1237 closed, assigned to gabek

[2021-08-11 21:50] gabek opened #1299 "Auto expand the "Utilities" menu item in admin if an Owncast update is available"
Since all menu items are collapsed by default, it hides that there's an update unless you're already expanding that menu item.  We should auto-expand it in this case so people know an updates is available.

[2021-08-11 23:50] andrewfer000 opened #1300 "0.0.8, Chat broken when behind a password protected stream (Apache)"
Hi,

Just decided to upgrade to 0.0.8 today, seems that everything works great however on my private stream that uses Apache's htaccess system seems to have issues with chat. What happens is when the site loads and I log in I get assigned a username and chat appears for a second then it flashes, slows the site down, and crashes after a while.

I do not use the chat on my private stream however thi

[2021-08-12 00:28] gabek commented on #1300
Hey there, thanks for letting us know.  Could you add some more detail about what "crashes" and "slows the site down" specifically means in your case?

What errors do you see in your browser console?  Is there anything in your Apache config that might be removing or overriding the access token being provided to chat?

[2021-08-12 00:31] gabek commented on #963
Update is in review with DigitalOcean.

[2021-08-12 00:31] #963 closed, assigned to gabek

[2021-08-12 00:40] andrewfer000 commented on #1300
Okay, Let's get started.
1. Owncast-Private.conf for Apache. Just the auth part. (x is used to omit private detail). This is all that is modified from the sample in the documentation.
[code]
2. Browser Log outputs this message repeatedly (using mydomain.tld for privacy reasons. I would of got more but the page slowed down to the point of being unusable.
[code]
As well as
[code]
3. IN ADMIN
No user

[2021-08-12 01:17] gabek commented on #1300
Just curious, did chat ever work for you?  Is Apache proxying the websocket properly?  https://owncast.online/docs/sslproxies/apache/

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/docs/sslproxies/apache/">Apache</a></strong></div><div>If you're already using Apache you can use it as

[2021-08-12 01:42] andrewfer000 commented on #1300
yes. It worked fine on 0.0.7 and works fine on non-password 0.0.8.

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/docs/sslproxies/apache/">Apache</a></strong></div><div>If you're already using Apache you can use it as a proxy.</div></blockquote>

[2021-08-12 06:51] gabek commented on #1300
Thank you for providing that log.  Could you also open up the browser developer tools under the "Network" tab and inspect some of the traffic that's having problems?  You should be able to see the status codes and the payloads.  I'm most curious about the websocket connection and any `/api/chat` requests.  Sorry to be so vague, but I'm not exactly sure what's failing and how from the log, but it's

[2021-08-12 07:59] gabek opened #1301 "Message design for displaying fediverse engagement (duplicate)"
When displaying external fediverse engagement in the chat feed, have a special message design that's specific for displaying fediverse activity.

* User favorited a "go live" post.
* User re-posted a "go live" post.
* User followed Owncast instance.

[2021-08-12 08:01] #1301 closed, assigned to nobody

[2021-08-12 08:36] unclearParadigm opened #1302 "USER_JOINED webhooks are fired as NAME_CHANGE with empty type-field"
Hello,

while working on #1274 and #1016 and testing the webhooks I noticed that the USER_JOINED webhook is not sent when a user joins the chat. Instead a NAME_CHANGE webhook is fired, with an additional empty string field called `type` in `eventData`.

Sample webhook data when a user joins:
[code]
in contrast to a "standard" Name-Change event:
[code]

### Expectation

I'd exepect the toplevel typ

[2021-08-12 09:29] unclearParadigm commented on #1016
Created PR here: https://github.com/owncast/owncast.github.io/pull/54

[2021-08-12 10:50] unclearParadigm opened #1303 "Implement Prometheus compatible metrics endpoint"
Hello,

[Prometheus](https://prometheus.io/) is an [open-source](https://github.com/prometheus/prometheus) Apache 2.0 licensed [federated](https://prometheus.io/docs/prometheus/latest/federation/) time-series database, which crawls its metrics by HTTP requesting endpoints on applications that expose metrics. Prometheus is a pull-based alternative to InfluxDB and is commonly used in Server/Applicat

[2021-08-12 17:15] andrewfer000 commented on #1300
I don't see anything for /api/chat but there is a lot of 101 status codes popping up. On my public 0.0.8 instance, only one 101 status code appears. So it seems the web socket is not getting upgraded properly and it keeps trying to do it over and over again.

Here is the websocket that keeps trying:
`wss://privatelive.mysite.tld/ws?accessToken=vtGd1aqqXXxxxXWr5LxxXNgFiVxxxxVBSnpy1goiNI%3D` (Some X

[2021-08-12 17:37] gabek opened #1304 "GeoLite city database not working with 0.0.8"
From chat:

[2021-08-12 20:19] #1302 closed, assigned to nobody

[2021-08-12 20:19] gabek commented on #1302
Doh.  Stupid typo.  Sorry about that.

Fixed.

[code]

[2021-08-12 20:23] gabek opened #1305 "Tidy up webhook events"
Events have unnecessary nested types, and some missing IDs, bad timestamps...

This is taken from an example by Ruffy.

[code]

[2021-08-12 20:24] gabek commented on #1302
Filed https://github.com/owncast/owncast/issues/1305 to clean up these events, as the nested `type` is unnecessary and confusing.  Also the missing IDs are bad.

[2021-08-12 20:31] jeyemwey commented on #1304
I wonder if we can catch this kind of errors with automated testing (in the unit testing section) or manual testing (before a release).

[2021-08-12 20:35] gabek commented on #1304
Yes we can.

[2021-08-12 20:43] unclearParadigm commented on #1302
Oi, awesome! Thanks a lot for the quick fix.

[2021-08-12 21:46] gabek opened #1306 "Don't show the connected client count if we're hiding the clients"
It's confusing to show the count but not show the list.

![image](https://user-images.githubusercontent.com/414923/129274164-2cfb8f11-3ada-49c5-94d6-bc9c8bebe090.png)

[2021-08-13 00:18] gabek commented on #1303
There's some previous discussion about Prometheus over at https://github.com/owncast/owncast/discussions/128 that you might want to add your thoughts to.  There's never been a clear consensus to "what is the problem" and "what is the solution" so it's never gone anywhere.

[2021-08-13 04:27] gabek commented on #1305
Do not send empty `type`: https://github.com/owncast/owncast/commit/cf87f53da3980c1c08d1b4bd0836ac6adebb5bec
Give stream status webhook events an id and a timestamp: https://github.com/owncast/owncast/commit/9d0ae44c3cfaf509438004fd53072a264570b510

[2021-08-13 04:27] #1305 closed, assigned to gabek

[2021-08-13 05:13] nebunez commented on #1300
I am using the exact Apache config for ProxyPass port-forwarding, but I am not using any auth. I would like to test this auth setup this weekend. @andrewfer000 can you please provide an example of the .htpasswd file I would use with this, so I can make sure I'm replicating your setup?

[2021-08-13 06:04] #1268 closed, assigned to gabek

[2021-08-13 06:21] gabek opened #1311 "Re-joining chat in the 5min window after disconnect shows the chat as disabled"
In general the rule is chat should be available for 5min after the stream ends, even for somebody just showing up.

1. End stream
2. Chat will be enabled for 5 minutes as long as you stay on the page
3. Reload page
4. Chat will be immediately shown as disconnected

The disconnect delay countdown that's handled in `handleOfflineMode` is not being fired if you visit the page and it's already offline

[2021-08-13 06:47] #1299 closed, assigned to nobody

[2021-08-13 06:51] #1306 closed, assigned to nobody

[2021-08-13 06:52] #1304 closed, assigned to gabek

[2021-08-13 07:05] #1277 closed, assigned to nobody

[2021-08-13 17:16] gabek opened #1314 "Update the "Scaling owncast" doc"
With 0.0.8 we're in much better shape for chat concurrency, so the warnings should removed and the reality of the situation to be reflected that "most people will be fine".

[2021-08-13 21:27] andrewfer000 commented on #1300
Before all, run this command to get the tools on Ubuntu/Debian
`sudo apt-get install apache2 apache2-utils`

0. Make a directory to store the htaccess file

`mkdir -p /etc/apache2/passwords/owncast-private`

1. First, Create a htaccess file and make admin the first user by running the below command. Make the admin password your stream key or else the admin panel won't work. Like all Linux password

[2021-08-13 22:34] #1243 closed, assigned to gabek

[2021-08-13 23:02] gabek opened #1315 "Our Markdown rendering ends up with excessive spacing with lists"
Example:

![image](https://user-images.githubusercontent.com/414923/129425656-e5cb6039-c166-4fb2-9871-aed58ef9546e.png)

Source text:

[code]

Renders to:

[code]

[2021-08-13 23:10] gabek opened #1316 "Create external API to enable sending a message directly to a client instead of publicly"
An example is a bota sending welcome messages as somebody joins.  See https://github.com/owncast/owncast-examples/pull/1 for some use cases.

[2021-08-13 23:23] gabek commented on #1315
1. Maybe it's simply a CSS problem with `<li>` and `<ul>` adding a ton of spacing?
2. It seems like bullets for list items are missing as well.

[2021-08-14 07:10] unclearParadigm commented on #1315
I can tackle it

[2021-08-14 08:39] gabek commented on #1316
I originally said send message to a _user_ but the more correct implementation in this case would be to send to a single _client_.

Each client connection already has a client ID: https://github.com/owncast/owncast/blob/develop/core/chat/server.go#L26

So if we sent this client ID along with the `USER_JOINED` webhook event we could create a new API of `/api/integrations/chat/system/client/CLIENTID

[2021-08-14 14:04] MFTabriz commented on #547
@gabek Do we still need this? We are keeping a limited number of messages now. (#1152)

[2021-08-14 17:08] Vittelius opened #1318 "Chromecast support"
It would be nice to have some sort of smart TV support. The easiest way to support a wide range of devices would be to support google cast.

Afaik casting works only with encrypted sites so it would have to be an optional feature.

![mockup_owncast1](https://user-images.githubusercontent.com/3718818/129454864-c2a44d2f-1769-42b0-aad2-a5e15037547c.png)

![mockup_owncast2](https://user-images.githubu

[2021-08-14 17:51] gabek commented on #1318
There had been some discussion previously at https://github.com/owncast/owncast/issues/410, but I think the idea of adding Google's Chromecast library to Owncast is a bit of a deal breaker.

[2021-08-14 17:54] gabek commented on #547
The client frontend will only return the most recent 50, but the admin API will return all messages that haven't been cleaned within some window.  But that might be excessive.  The idea was the admin API needs more messages to allow flexibility in moderation, but maybe we can cap it a a couple hundred or something and that would be good enough.

[2021-08-14 19:48] #1174 closed, assigned to MFTabriz

[2021-08-14 20:36] gabek commented on #1300
@nebunez Tried to reproduce this using his Apache setup. A bunch of us tuned in, being greeted by HTTP Basic auth, and forced to login.  Unfortunately, none of us experienced any issues.  We were able to login and chat without issue.

So I'm not sure where to go from here. Something very specific to your configuration must be impacting something.  Sorry we don't have the answers, as I'm sure this

[2021-08-14 21:15] gabek opened #1319 "Allow passing ephemeral bool to chat send APIs to not save to chat history"
In playing with the Demobot I found this other piece of functionality that would be useful. This would allow 3rd party code to decide if a specific message should show up in chat history or not.

This already exists within some features of the chat server, but it's just not exposed to the APIs.  Example:

https://github.com/owncast/owncast/blob/develop/core/chat/chat.go#L71-L73

However a "user" c

[2021-08-15 02:24] #1072 closed, assigned to nobody

[2021-08-15 03:57] gabek commented on #1318
However, we do support AirPlay directly from the player without any 3rd party libraries.

[2021-08-15 05:09] andrewfer000 commented on #1300
Interesting. This is actually a good thing because it means we don't have to fix anything in Owncast itself. It might just be caused by my browsers so let me clear my data and I'll give you guys an update. Hopefully it works and we can close this issue.

[2021-08-15 05:17] gabek opened #1320 "Change admin directory toggle text"
From "Turn this ON if you want to show up in the directory" to "Turn this ON to request to show up in the directory".

If anybody has any better verbiage feel free to chime in.

[2021-08-15 05:18] andrewfer000 commented on #1300
Okay I fixed it. Turns out it was my apache file! I forgot to set the correct port for `RewriteRule` so it was pointing to the wrong Owncast server!

In conclusion, it's not a bug. It was an Apache configuration issue. I will now close this! Thanks for your time.

[2021-08-15 05:18] #1300 closed, assigned to nobody

[2021-08-15 05:54] gabek commented on #1274
Deployed!

[2021-08-15 05:54] #1274 closed, assigned to unclearParadigm

[2021-08-15 06:25] RhnSharma commented on #1320
I would like to take this one.

[2021-08-15 06:27] gabek commented on #1320
Cool!

[2021-08-15 06:29] gabek commented on #1300
Great news!  Thanks for looking into it and reporting back!

[2021-08-15 19:04] gabek opened #1321 "Validate inbound httpsignature of requests"

[2021-08-15 21:22] gabek opened #1322 "Directory hero player won't autoplay on Firefox for Nebunez, but working for others"
@nebunez has got it to work previously, however.

[2021-08-15 21:23] gabek opened #1323 "Directory items have a weird z-index issue where the logo is on top"
![image](https://user-images.githubusercontent.com/414923/129493303-14718695-1181-4cc9-b80d-8fd05512a99c.png)

[2021-08-15 21:25] #1320 closed, assigned to RhnSharma

[2021-08-16 00:17] gabek opened #1324 "Improve chat scrolling"
In some cases a new message will get rendered, but the chat will not auto-scroll to the bottom.

I _think_ what is happening is any message that is heavily asynchronously rendered, meaning it's a message that has a lot of formatting via markdown, or images, the auto-scroll logic is only scrolling far enough for the initial, unrendered, content to be taken into account.  Once the image loads or the

[2021-08-16 00:20] gabek opened #1325 "Directory hero player does not move to the next instance on error"
In this example, the player is throwing an error because it refuses to load non-SSL'ed content, a perfectly acceptable error.  However, the player doesn't immediately move to the next instance, and instead just shows a spinner until the buffering timer times out.

![image](https://user-images.githubusercontent.com/414923/129497108-ab9c0f8f-9447-4823-aea2-d7b1384129e5.png)

[2021-08-16 01:22] #1311 closed, assigned to MFTabriz

[2021-08-16 01:25] gingervitis commented on #1323
Oops I was going to fix this with the other update, but forgot!

[2021-08-16 01:28] gingervitis commented on #1325
Hm I wonder did the `onError` event even fire? Or does this type of CORS error not fall under VideoJS's error handling?  (Tho the error message says "VIDEOJS: ERROR".  I thought I had handled this 🤔

[2021-08-16 02:40] thilobillerbeck commented on #1117
Just a quick update, that a possible solution for the performance problem ist found. It just needs to be tested some more.

[2021-08-16 03:09] gingervitis commented on #1322
It autoplayed for me on my FF, Mac version `90.0.2`

[2021-08-16 03:14] gingervitis commented on #1325
This issue seems inconsistent across various browsers.

- Moving to next _does_ happen on Firefox.
- Moving to next _does_ happen on Safari.
- Moving to next _does_ happen on Chrome/Brave, but seems to do so at much later time.

Here this shows that it has moved on to Item #2 after dtvperth did not work.
<img width="1334" alt="image" src="https://user-images.githubusercontent.com/9563255/129506547

[2021-08-16 03:16] gingervitis commented on #1322
Though I wonder if this quickly incrementing warning might be related?

<img width="757" alt="image" src="https://user-images.githubusercontent.com/9563255/129506845-af87f07d-de7e-4648-9cc5-af6c9b71760b.png">

[2021-08-16 03:26] gabek commented on #1325
I think what I'm seeing on Brave is it moving on after the buffering timer fires instead of when the error was fired.

[2021-08-16 03:28] gabek commented on #1322
I just tested and auto-play works for me on Firefox + Linux as well.  So it seems like it's only not working for @nebunez?

[2021-08-16 03:36] gabek commented on #1325
As an aside, we should probably filter out any non-`https` streams from the hero as well, since they'll all be unplayable.

[2021-08-16 08:28] MFTabriz commented on #1324
a related issue:  #739

[2021-08-16 15:54] Pythone opened #1327 "Support on OpenBSD"
This should be ported to openbsd

[2021-08-16 17:34] unclearParadigm commented on #1303
To my understanding, it feels like the discussion in #128 focuses more on writing a plugin architecture rather than actually writing the API providing the metrics to third-party applications. I'm not quite sure if I can implement a full-fledged plugin system into a relatively new codebase (at least for me), with Go (which is also not a "fluent" lang for me) and a Pluginsystem with tons of pitfalls

[2021-08-16 17:38] unclearParadigm commented on #1316
Awesome. Thank you for writing down your thoughts and explaining the high-level API design more in detail! I'd really love to tackle this!

[2021-08-16 17:48] gabek commented on #1316
All yours! :100:

[2021-08-16 17:51] unclearParadigm commented on #1315
It seems that the MD-renderer renders the `<ul>` with `<br>`. That's not really HTML-"conformant" as an `<ul>` should not contain a break (e.g. based on XHTML schema validation - yes I'm aware that we're not delivering XHTML and that HTML is kind of an open-to-interpretation standard - what I want to say is that it's more or less "odd" to do it that way.

Since I have not found a way to change thi

[2021-08-16 17:58] unclearParadigm commented on #1315
Also while tackling this, I figured that we have different rendering behavior for system-messages and user-messages.
For example Markdown Lists are not rendered at all in User-Messages, take the example from above:

[code]

as system message the list part renders to

[code]
where as for a user message there's no `ul` at all and it's just seperated with breaks, like so:

[code]

Is that expected be

[2021-08-16 18:12] gabek commented on #1315
Yeah, it's on purpose.  My thought was for system messages only authorized sources can send the messages, so we should trust additional formatting as to not be abused to flood the chat with extraneous junk.  But if we allowed users to render tables and lists, etc they could generate large messages just to be jerks.

[2021-08-16 19:46] gabek commented on #1315
Ah!  And to make it worse, we're doing this, converting `\n` to `<br>`:

https://github.com/owncast/owncast/blob/784d10c1e95e8ef9b4986215b300eab2dda1e91b/webroot/js/components/chat/chat-message-view.js#L185-L187

Maybe we should no longer be converting `\n`s anymore, it might just be a leftover from previous things.

[2021-08-16 19:51] gabek commented on #1303
I think in general we've given up on the true plugin idea, just because there was no obvious way to pull it off.

And as for metrics collection, my concern was always, sure we could add Prometheus directly to Owncast, but then somebody would want another format, and then somebody else would want a third, so once we add one we'd have to continue adding direct support for others.  So that's why the

[2021-08-16 19:53] gabek commented on #1327
Hey there.  What about Owncast isn't compatible with OpenBSD currently?  If there's something specific we can fix up, I'd love to hear it!

[2021-08-16 20:08] gabek opened #1328 "If directory hero instance has no stream title it looks weird"
The stream title is an optional value, and not everyone sets it. If an instance without a stream title is in the directory hero player it shows the logo of the instance by itself and kind of looks weird and out of place.  For non-hero instances we show the stream title if it exists, and the instance description if it doesn't.

![image](https://user-images.githubusercontent.com/414923/129623177-d15

[2021-08-16 20:29] gingervitis commented on #1291
Will the `user` object in a `message` indicate if that user is a moderator ?

[2021-08-16 23:11] gabek opened #1329 "Support fetching a single object by IRI"

[2021-08-17 01:01] aaronpk opened #1330 ""Disable chat" setting is confusing"
It's kind of confusing having the chat enabled setting be opposite of the toggle like this:

![image](https://user-images.githubusercontent.com/113001/129647357-73a9c57b-e15f-4aa1-ab51-ad16ffe477c2.png)

![image](https://user-images.githubusercontent.com/113001/129647321-554dc587-5d60-405f-8099-0a3da919b260.png)

It would be clearer if the setting were "Enable chat" and the default were "On". That

[2021-08-17 01:41] #1321 closed, assigned to gabek

[2021-08-17 01:42] #1203 closed, assigned to gabek

[2021-08-17 01:42] #1205 closed, assigned to gabek

[2021-08-17 01:42] #1206 closed, assigned to gabek

[2021-08-17 01:42] #1207 closed, assigned to gabek

[2021-08-17 01:42] #1215 closed, assigned to gabek

[2021-08-17 01:42] #1329 closed, assigned to gabek

[2021-08-17 01:43] #1191 closed, assigned to gabek

[2021-08-17 01:43] #1192 closed, assigned to gabek

[2021-08-17 02:13] #1314 closed, assigned to gabek

[2021-08-17 06:11] jeyemwey commented on #1294
Finally found the time to do it: https://github.com/owncast/owncast-feed-forwarder/commit/3d6577d56720f750f4d40f873ecc734add2606e0

You can specify the `REFRESH_INTERVAL` env variable to load the data every `n` seconds.

[2021-08-17 09:32] MFTabriz commented on #1330
It would be simpler to call it just "chat" with a simple on-off button.

[2021-08-17 16:53] pierreozoux opened #1332 "Configuration via env variables"
Hi!

I knew it was possible in a previous version, is it still possible or is it only thought de admin UI?

Thanks for your help!

[2021-08-17 17:22] gabek commented on #1332
While the admin is the most direct way of configuration, there are a handful of CLI flags you can provide to set a handful of settings.  Feel free to request more if there are specifics you require. Run `./owncast --help` to get a list.

[code]

[2021-08-18 20:19] gabek opened #1335 "Set a value for player maxPlaylistRetries"
https://github.com/videojs/video.js/issues/7232 highlights an issue that [aaronpk is having](https://owncast.rocket.chat/channel/general?msg=JNG6aXDREaHub72Bn) where an unavailable playlist eventually grinds the browser to a halt.

Sounds like we can simply set a value for `maxPlaylistRetries` to have it eventually give up.

[2021-08-18 22:19] #1335 closed, assigned to gabek

[2021-08-18 23:11] gabek commented on #1315
I used the following:
[code]

It renders to:

[code]

Before changes:

![image](https://user-images.githubusercontent.com/414923/129980239-d3f944ff-8d3e-4782-861c-bd1b361f5804.png)

And then made some changes in the linked commit to make it look like:

![image](https://user-images.githubusercontent.com/414923/129983575-38230403-192d-42cd-beba-591dd036c502.png)

But now there's weird empty space at

[2021-08-19 00:47] #1100 closed, assigned to nobody

[2021-08-19 01:01] gabek commented on #1315
@gingervitis made some changes and now it looks like:

![image](https://user-images.githubusercontent.com/414923/129991173-c93eaabe-680e-4b07-bf33-45b36f6d48e5.png)

[2021-08-19 01:12] gabek commented on #1315
This is all better than it was.  I'll get it up on the demo server tonight to test all the formatting.

[2021-08-19 01:12] #1315 closed, assigned to unclearParadigm

[2021-08-19 01:36] gabek opened #1337 "Owncast release 0.0.9"
## Owncast release 0.0.9

The following are intended to address the test scenarios and documentation that should be accomplished for a public release.

- [x] This release was tested as a fresh install, with no pre-existing data or configuration.
- [x] This release was tested as an upgrade over a previous install, keeping the data and configuration.
- [x] This release was tested using a Docker envi

[2021-08-19 01:53] gabek opened #1338 "Wizard style Quickstart"
As we continue to grow in the amount of ways somebody can install Owncast I'd like to think about re-imagining what our Quickstart could look like.

Right now it's a bunch of pages, each pointing to a specific style of installation.  We expect people who are looking to install Owncast to understand their needs and find the right page for their particular situation.

I would love to convert this in

[2021-08-19 03:33] gabek commented on #1294
Deployed!

[2021-08-19 03:33] #1294 closed, assigned to gabek

[2021-08-19 07:46] MFTabriz commented on #1332
@gabek do we have these flags on the documentation website?

[2021-08-19 13:04] aral opened #1339 "Make it clearer what your chat name is and how to change it"
![Screenshot from 2021-08-19 14-01-31@2x](https://user-images.githubusercontent.com/41798/130072926-34c2fa13-d4fe-4c7a-a8fd-8bce69ee3dbb.png)

I love that we’re not using “user” any more but perhaps the interface could use some text for newcomers to explain what it is they’re seeing? :)

e.g., “You’re now known as thirsty-link” or even if the chat icon and the handle were visually grouped, it woul

[2021-08-19 19:10] gabek commented on #1339
It's a little less obvious when chat isn't active like this example.  But if you were streaming, and chat was active, you'd see `thirsty-link has joined the chat`, making it slightly clearer that you just joined, and that's your name, and it's the same name in the upper right.  But given how many people don't understand how to change their name in general, it seems we might have to do better.

[2021-08-19 19:12] gabek commented on #1339
For reference, here's something that was briefly discussed before but didn't go anywhere.  https://github.com/owncast/owncast/issues/215

[2021-08-20 02:09] gabek commented on #1338
This sounds like it might be an option for building this: https://expeditionjs.com/

<blockquote><div><strong><a href="https://expeditionjs.com/">Expedition - Javascript for making decision trees</a></strong></div></blockquote>

[2021-08-20 06:52] gabek commented on #830
In today's call we discussed moving towards getting some type of explainer-type video made.

To accomplish this we need to answer some questions:

- Who is our audience?
- What style of content do we want to make?
- Who can work on this with us to make it?

When discussing this in today's call we discussed a video that was a bit broader and focused on the benefits of self-hosting your live stream,

[2021-08-21 02:23] gabek commented on #1338
Whatever we build for this decision tree style wizard we could also build a troubleshooting wizard with to help people narrow down issues.

[2021-08-21 02:27] gabek opened #1341 "Stop logging 404s to the admin"
We should just change the log level to `Debug` or something. It makes it look like something horrible is going on, but really they're just regular old 404s.

![image](https://user-images.githubusercontent.com/414923/130307686-7a66da26-3c8b-460b-8955-f183b0f2f16c.png)

[2021-08-21 20:19] #1194 closed, assigned to gabek

[2021-08-22 01:16] #1341 closed, assigned to MFTabriz

[2021-08-22 02:17] gabek opened #1343 "Mark viewer as active when downloading an HLS playlist"
As an additional way to mark a viewer as active, aside from the `ping` API, we can take advantage of these requests as a secondary method.  It's especially useful when a viewer is watching the video outside of the core Owncast web page, such as when they're in the directory hero, or using a 3rd party video application.

There's no downside to people both hitting the `ping` endpoint _and_ getting c

[2021-08-22 03:14] andrewfer000 commented on #1337
Shouldn't this be tagged under the 0.0.9 Milestone?

[2021-08-22 03:54] gabek commented on #1324
Can we create a hook to tie into changes of the chat's height, so when it changes we can scroll to the bottom instead of our current method of scrolling after a new message comes in?  @gingervitis

[2021-08-22 04:16] gingervitis commented on #1324
Sorry I don't have computer access for the weekend, but if I recall we actually do have some sort of "hook" that detects when there are changes in the chat div's height or contents.. but maybe the current method is the wrong approach or maybe we need to add a sort of check to see if the async formatting is done yet, before checking chat height.

[2021-08-22 04:20] gingervitis commented on #1324
Try looking for "mutation observer" code in components/chat/chat.js, which handles the height checking

[2021-08-22 16:58] jeyemwey commented on #1337
Yes, thanks

[2021-08-23 02:03] Resend1298 opened #1344 "owncast(using nvenc) seems not compatible with OBS's auto configuration wizard"
Well, I'm pretty sure that's not owncast's fault. However, maybe add a hint in docs or admin panel will prevent someone to keep thinking where they do wrong for not being able to use nvenc.
To be clear, streaming with owncast using nvenc works fine, only OBS's wizard has the problem. Also, OBS's wizard with owncast using libx264 works fine.
I got logs such as
`Frame Dimension less than the minimum

[2021-08-23 03:21] gabek commented on #1344
Hey there!

Just to clarify, streaming works fine, even with OBS using nvenc, but the only time it doesn't work is using the OBS wizard?  Just want to make sure I'm understanding correctly.

Thanks for chiming in!

[2021-08-23 03:40] Resend1298 commented on #1344
Yes, I think you understand it correctly. Nvenc and libx264 I mentioned above are what owncast is using, what encoder obs is using doesn't matter.
When using obs's wizard, obs seems to stream a test video in order to test network between obs and the stream server. And it seems that ffmpeg can't handle this test video using nvenc. At this time, obs gets stucked so it can't finish auto configuration

[2021-08-23 19:31] gabek commented on #1138
I haven't seen others ask for non-standard framerates, but I'll keep this open for a bit to let others chime in.  Adding this would add complexity to the configuration and I'm not sure there's many people who would utilize it.

[2021-08-23 23:18] gabek commented on #1214
We can probably use the same layout that was build for https://github.com/owncast/owncast/pull/1331 to show a person is a moderator, but just change the icon to show they're authenticated.

[2021-08-24 06:35] Kashiroo opened #1345 "Transcoding errors when using nvenc above 60fps"
I'm using the following docker image which has ffmpeg compiled with nvenc support:
https://github.com/ich777/docker-owncast

When streaming from OBS to Owncast at 1080p90fps for example, the transcoder is throwing decoding errors:

`error	8:17:30 PM 08/23/2021	[h264 @ 0x559ee50cea00] decoder->cvdl->cuvidCreateDecoder(&decoder->decoder, params) failed -> CUDA_ERROR_INVALID_VALUE: invalid argument
e

[2021-08-24 08:29] gabek commented on #1345
We don't specify a specific decoder, allowing the the appropriate codec for the format to be selected based on what is supported.  The message "might cause nvdec to fail" implies it is using nvdec.  I read somewhere that "cuvid" is an older name for nvdec?  But I'm not sure.

I know different nvidia cards have different limits (I've run into encoding limits when testing), but I've not seen decodin

[2021-08-24 08:29] #1345 closed, assigned to nobody

[2021-08-24 19:08] unclearParadigm commented on #1303
I understand your concerns and I fully agree on your standpoint.

On the other hand, one could argue to implement Prometheus, for the sake of having an "easy-to-implement-and-maintain"-solution (let's be honest, it won't get easier than adding an HTTP endpoint) and then point users, that require different formats, to tools like [Telegraf](https://www.influxdata.com/time-series-platform/telegraf/).

[2021-08-24 19:35] MFTabriz commented on #215
Together with the authentication option, it makes sense to have something similar to this. It also solves the #1339

[2021-08-24 19:47] gabek commented on #1303
Yeah I figured if you happened to be around we could spend some time clarifying what we want and how, but maybe next time!

[2021-08-25 02:45] #1123 closed, assigned to nobody

[2021-08-25 22:57] gabek opened #1347 "In Safari, on some streams, a closed caption menu button shows on player"
This button doesn't actually do anything and should be removed from the player.

![image](https://user-images.githubusercontent.com/414923/130875190-cabd10bc-c2e9-4be1-b275-882da3d6b57f.jpeg)

[2021-08-26 06:27] closewall opened #1348 "More options for bans and anti-spam filtering"
I just finished a 7 hour stream, and for the first time I had to deal with a very obnoxious spammer who was at it for 5 hours. I noticed Owncast just included support for bans in the latest update to the container, which was good timing for me, but it's still not enough. Every time I banned this guy, he just came back within 30 seconds and started spamming again.

To make things worse, every time

[2021-08-26 17:30] gabek opened #1349 "Increase the sensitivity of the client rate limiter"
Tune it so it'll fire if a user manually sends a message a few times in a very short window.  Additionally if this rate limiter fires create a "time out" so they can't send messages again for another 10 seconds.

[2021-08-26 17:45] gabek opened #1350 "When a ban occurs not all messages by that user are visibly removed"
When a user ban occurs all messages by the user are successfully getting marked as hidden in the database, but not all messages are visibly being removed from the chat interface.  However if you refresh the page, as expected, those messages will not be visible because they did actually get successfully marked as hidden.

I'm not sure if this is because not all websocket messages telling the client

[2021-08-26 17:46] gabek commented on #1348
We're tracking this issue in: https://github.com/owncast/owncast/issues/1324

Users seem like they're temporary, but they're actually not, and in the future we'll be adding the support to give these users moderation access. https://github.com/owncast/owncast/issues/499

Adding functionality to the UI to support moderation is being worked on at https://github.com/owncast/owncast/issues/1291

I just

[2021-08-26 17:51] nathannaveen commented on #1347
I am new to OSS could you please let me know where I can find this issue? Thanks!

[2021-08-26 17:57] gabek commented on #1347
I'm not sure exactly how to turn it off, I'd have to look it up myself.

But here is where we set the control bar options, so I'm assuming somewhere in there: https://github.com/owncast/owncast/blob/develop/webroot/js/components/player.js#L19

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" align="right"><div><img src

[2021-08-26 20:08] unclearParadigm commented on #1316
Heyho

after a long time, I finally managed to get my stuff together and work on this.

Here are the PRs to resolve this issue:
* [Documentation PR](https://github.com/owncast/owncast.github.io/pull/56)
* [Owncast Demo Bot PR](https://github.com/owncast/owncast-examples/pull/2)
* [Owncast PR](https://github.com/owncast/owncast/pull/1351)

Please review these if you have a few minutes left. If you

[2021-08-27 19:59] nebunez opened #1352 "Add ability to delete logs from admin panel"
As my logs fill up with pages and pages of old useless logs, I'd really like to be able to clear them. Especially when I'm troubleshooting and looking for new problems to show up in the logs, a clean slate would be helpful

[2021-08-27 20:43] #1343 closed, assigned to nobody

[2021-08-27 21:43] #1349 closed, assigned to nobody

[2021-08-27 21:44] gabek commented on #1349
I expanded upon our rate limiting.

- Now the limit is 2 messages every 3 seconds.
- If you hit the limit you go into a "timeout" for 10 seconds and can't send any messages.
- The user is informed that they are in timeout.

I did both a copy/paste annoying flood test as well as manually typing messages and I think I found a good balance between stopping people from pasting and flooding and a perso

[2021-08-27 21:48] gabek commented on #1348
Just increased the sensitivity of our rate limiter and added a "timeout" in https://github.com/owncast/owncast/issues/1349.

[2021-08-27 22:09] #1344 closed, assigned to nobody

[2021-08-27 22:28] gabek opened #1353 "Fix tests to support Windows"
Because windows reverses the slashes the transcoder test fails.

https://github.com/owncast/owncast/runs/3447568003

[code]

[2021-08-27 22:39] gabek commented on #1327
I went ahead and added automated tests for FreeBSD and OpenBSD so we can keep tabs on any issues with the source building on those platforms.  If there's anything specific that Owncast is having issues with on OpenBSD please let me know.

[2021-08-27 22:39] #1327 closed, assigned to nobody

[2021-08-27 23:20] #1286 closed, assigned to nobody

[2021-08-28 03:13] gabek opened #1354 "Issue navigating to directory tags"
It used to filter by tag, but now it just reloads the home page and not filter anything.

[2021-08-28 06:15] #1186 closed, assigned to nobody

[2021-08-28 06:19] #1183 closed, assigned to nobody

[2021-08-29 03:08] #1129 closed, assigned to nodomain

[2021-08-29 03:08] #503 closed

[2021-08-29 03:08] #492 closed

[2021-08-29 18:33] intrigus-lgtm opened #1357 "Potential security problem(s)"
Hi, could you please create a new [draft security advisory](https://help.github.com/en/github/managing-security-vulnerabilities/creating-a-security-advisory) and
[invite me](https://help.github.com/en/github/managing-security-vulnerabilities/adding-a-collaborator-to-a-security-advisory) to it?
Any other private communication channel would also be fine.
I think I've found a potential (minor) securi

[2021-08-29 18:43] gabek commented on #1357
Could you share with me what the issue is first?  Feel free to email me: gabek@real-ity.com

[2021-08-29 18:49] intrigus-lgtm commented on #1357
I've sent you a mail.

[2021-08-29 19:32] unclearParadigm opened #1358 "Implement /spoiler Tag for Chat messages"
Hey team!

I was watching a Coding-Stream where the streamer was solving coding-challenges. The audience was coding along and sharing their solutions in the chat. In some cases, those solutions were spoilers for the streamer, and influenced the solution. Various other messengers (e.g.: discord) have a `/spoiler`-tag, which causes the chat-message to be blacked out. The only way to make the text vi

[2021-08-29 20:07] gabek commented on #1358
It seems like a pretty niche use case, but if it's something we can see having wide appeal I'm not opposed.

However if we were to do it I'd prefer to add metadata around the message instead of stringly matching on the rendering side. We can add a "spoiler" boolean or something along with a message so `/spoiler` doesn't have to be a part of the message text itself, and the receiver doesn't have to

[2021-08-30 00:00] gabek commented on #739
Closed with #1324.

[2021-08-30 00:00] #739 closed

[2021-08-30 07:33] gabek commented on #1338
I'm working on it little by little on the side.

![image](https://user-images.githubusercontent.com/414923/131302767-ebbeb9f8-27cc-460f-b435-9c06314644cc.png)

[2021-08-30 10:46] unclearParadigm commented on #1358
Aggree, it's a nieche use-case.
I'll keep the issue open for now. If others show interest in this featured, I'd be happy to implement it, if not, I'll just close it again.

[2021-08-30 23:05] nicopace commented on #112
Also, @darkdrgn2k and @benhylau worked some time ago on a similar project, publishing an HLS stream to IPFS:
https://github.com/tomeshnet/ipfs-live-streaming

<blockquote><img src="https://opengraph.githubassets.com/883eff64bd68e2e6e581fdccc40199f92d885c70bbac00bfd7c12e8ca29ccf1a/tomeshnet/ipfs-live-streaming" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon

[2021-08-30 23:08] nicopace opened #1359 "Integrate vdo.ninja in the workflow"
Many of the streamings tend to be debates in between people.
[vdo.ninja](https://github.com/steveseguin/vdo.ninja) simplify how to bring people to your stream.
It would be worth checking out a possible integration, that would basically mean include the webrtc stream in from vdo.ninja, host it in the same host, and maybe conceptualize workflows for whoever is organizing a vlog/video podcast.

[2021-08-30 23:13] aaronpk commented on #1359
Definitely an interesting idea, but this is a pretty huge change compared to how video is normally ingested into streaming platforms like OwnCast.

I could see one integration point which is to add a new ingestion mechanism in OwnCast to pull the WebRTC feed from one of VDO.ninja's "scenes". That way you could treat VDO.ninja essentially like StreamYard where you can add one or more people to a sc

[2021-08-30 23:20] nicopace commented on #1359
Not in my capacity right now, but hopefully someone else picks up the challenge!

The big challenge is that VDO.ninja relies on end user hardware capacities (so, the better computer you have, the better stream you will have... and the opposite applies too) while StreamYard doesn't.

I am thinking of using a gpu-enabled VPS to use chrome from there (while a better option appears):
https://medium.co

[2021-08-30 23:44] nicopace opened #1360 "Owncast discourse thread chat conversation"
I've created a guide on how to host webinars using discourse.org here: https://hackmd.io/@nicopace/holding-webinar-on-discourse
It would be great if we could use the discourse.org post for the event as the chat window (similar to rocket.chat is used also).

[2021-08-30 23:44] nicopace commented on #1360
BTW amazing project!!! Have been following along, and just installed it using the yunohost plugin: https://github.com/YunoHost-Apps/owncast_ynh

<blockquote><img src="https://opengraph.githubassets.com/439b617c8d03beb8892d4a93d811fa5312ddcd7389222fe9080756b35db6f126/YunoHost-Apps/owncast_ynh" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14">

[2021-08-30 23:45] aaronpk commented on #1360
You could embed the OwnCast player in the Discourse post, or you could do what I did with Rocket.chat which was to create a separate website that embeds both OwnCast and Rocket.chat in the same web page.

[2021-08-30 23:46] nicopace commented on #1360
Excellent! Now that I have it running, I will give it a go!
Will report the updates once I do. Thanks for the responsiveness @aaronpk !

[2021-08-31 00:08] YohannLYD commented on #1138
I too would be interested in having 25/50fps as an option.
This is actually a broadcast standard framerate in the European broadcast sector and haven't been able to use the software in production for this reason.

[2021-08-31 01:16] gabek commented on #1138
If all we want to do is add it to our current selector control, we can do that.  I fear it'll start confusing people with too many options and that we would need to change to a completely different way to select framerates.  But if somebody wants to add this to the control we can give it a spin.

[2021-08-31 01:49] gabek commented on #112
Yeah it's doable, and we did have it from the earliest versions.  But it's certainly not great for people doing live content. We already get asked for lower and lower latency, and to add IPFS into the mix would exponentially increase it.  Plus the amount of extra complexity required to run an IPFS node inside Owncast itself was too much.

As seen [here](https://github.com/tomeshnet/ipfs-live-strea

[2021-08-31 02:25] gabek commented on #1360
Yeah!  Take a look at our embedding options and see if that can help you at all:

https://owncast.online/docs/embed/

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/docs/embed/">Embedding into your site</a></strong></div><div>You can easily embed your chat or video into another site.</

[2021-08-31 02:36] gabek commented on #1359
Any time we're talking about a specific source integration I think it's immediately a no-go, as Owncast is meant to be as general purpose as possible.  We've never taken an opinion on what you should use to stream with.

But as Aaron said, an argument could be made to support an additional protocol for ingestion, but RTMP is very much the standard and the number of use cases that would need WebRTC

[2021-08-31 02:36] #1359 closed, assigned to nobody

[2021-08-31 09:40] YohannLYD commented on #1138
If too many framerates is confusing to people (is it really?) I'd be down to replace 24fps with 25fps to keep the number of options to the minimum.
After all 24fps is not really a video standard, but a cinema/film one.

[2021-08-31 09:44] bsncubed commented on #1138
Would you be open to adding 50fps as well? just to keep the feature set on par with the US framerates (30/60)

[2021-08-31 09:51] gabek commented on #1138
I'm sure you would be ok with it, you're the one who asked for it :)

The concern I have is things are kind of setup to be "low, medium, high, stupid high".  So adding more is like saying "low, a different low, medium, another medium"... and that doesn't make a lot of sense to people trying to make a decision.  Like why would we have 24 _and_ 25?  I know it makes sense to you, but I can see that b

[2021-08-31 09:54] gabek commented on #1138
But again, if somebody wants to add these FPS options let's give it a spin.  If nobody does it then I'll eventually get around do it and if it's confusing or the control just doesn't work with it then it'll have to be readdressed.

[2021-08-31 10:46] YohannLYD commented on #1138
Because of workflow. I'm not working in a TV channel, but in conditions that uses broadcast settings where I find interesting potential uses for owncast. Like online conferences and such.
I've been testing owncast with a stream coming from a Blackmagick Web Presenter. The camera outputs 25fps to the streaming device. It works well but since the streaming engine (owncast) doesn't provide 25fps, I w

[2021-08-31 10:58] psych0d0g opened #1365 "Set username via request headers"
I have a apache proxy infront of owncast to make it private and ssl enabled and would love to set the chat username of authenticated users (via the apache) to a defined name using http headers that are set by the authenticating apache infront of owncast. With this i would also like to disable the possibility to change ones own username.

[2021-08-31 15:23] dodomedia opened #1366 "Option to hide version number from web and API"
I would like to suggest an option to hide the server version number from the web page and the /status/ API endpoint.

[2021-08-31 19:10] gabek commented on #1366
What's the use case?

[2021-08-31 19:27] dodomedia commented on #1366
Attackers can search for this information (by scraping the page or requesting the public status endpoint of the API) and find not yet patched or vulnerable servers if there are any security related issues in the future.

[2021-08-31 21:30] notnownikki opened #1368 "Option to have absolute URLs in playlists and serve the playlist from the server, not storage"
We stream to a fair few folk around the world, so we're using a CDN to distribute the video segments, and the playlists also end up there.

The problem is, the CDN we're using is rate limiting us because we're pushing updates to the playlists every few seconds.

I'd love on option to be able to serve the playlists from the server, and have full URLs in the playlists so that the segments get served

[2021-08-31 21:53] #1139 closed, assigned to MFTabriz

[2021-08-31 22:35] gabek commented on #1368
With a CDN you wouldn't push files to it, so I'm a little confused of your exact situation.

But regardless how your CDN is working, it seems like a significant limitation of the CDN.  If you can't distribute the playlists through the CDN that's half of the puzzle.  Those need to get to the users quickly, too.  I understand they're small, but breaking up the variant playlists and the segments that

[2021-08-31 23:46] notnownikki commented on #1368
Sorry yes I got my terms completely mixed up, been looking at this so long that I didn't make any sense :) The issue has nothing to do with the CDN, thanks for responding to my absolute nonsense 🤦‍♀️

So I use the digital ocean spaces object storage, and in the documentation at https://docs.digitalocean.com/products/spaces/ it says we're limited to 5 PUTs on a single object every 5 minutes, so upd

[2021-09-01 00:26] #1199 closed, assigned to gabek

[2021-09-01 00:26] #1193 closed, assigned to gabek

[2021-09-01 20:37] gabek commented on #1368
Oh, got it!

I didn't realize DigitalOcean had those restrictions. I've used DigitalOcean myself and not run into any issues.  I have DigitalOcean Spaces + their CDN enabled on https://nightly.owncast.tv and haven't had problems, but that doesn't mean they couldn't pull the trigger.

I think the answer is simply if DigitalOcean isn't compatible with what you or I are doing we'd just have to stop u

[2021-09-01 20:37] #1368 closed, assigned to nobody

[2021-09-01 21:00] notnownikki commented on #1368
No, that's an absolutely valid answer! Thank you :)

I've implemented the workaround myself for now, until I find somewhere with object storage and a CDN that's as affordable as DO.

[2021-09-02 05:25] gabek opened #1370 "Followers tab that displays Fediverse followers"
Will display a list of those on the Fediverse who follow this instance.

Will only display if Federation is enabled on the Owncast server.

[2021-09-02 05:27] gabek opened #1371 "Fediverse Follow Flow"
Logic to support following an Owncast server via the Fediverse.

[2021-09-02 05:28] gabek opened #1372 "Fediverse Follow button and modal UI"
Press button to start the Fediverse Follow flow.

This is just the button + modal UI. #1371 is filed for the actual flow logic.

[2021-09-02 05:51] gabek commented on #1371
Example URL to redirect to for remote follow:

https://mastodon.social/authorize_interaction?uri=https%3A%2F%2Ffosstodon.org%2Fusers%2Fswitchedtolinux

[2021-09-02 05:54] gabek commented on #1371
Seems like the flow is:

1. Ask the user for their `user@server.tld`
2. Make a webfinger request to `server.tld` for `user`.
3. Look for the `http://ostatus.org/schema/1.0/subscribe`
4. Redirect to the template, filling in the user details.  Example: `https://mastodon.social/authorize_interaction?uri={uri}`

[2021-09-02 06:22] gabek commented on #1354
I fixed the issue where clicking on tags wouldn't navigate, but an issue where going to the URL of a specific tag won't route you to the correct place.  Example:

https://directory.owncast.online/tags/music

<blockquote></blockquote>

[2021-09-02 12:43] Kunsi commented on #1138
Maybe we could just have an option to allow arbitrary frame rates? The bitrate setting allows incrementing in 100kbit/s steps, why shouldn't the framerate selector do the same?

[2021-09-02 12:49] Kunsi commented on #922
Please make this a configuration option. Users may want to use owncast on a standalone server, however others may want to run it only behind a reverse proxy, which then would handle SSL.

[2021-09-02 15:23] oixtron commented on #1138
I second that suggestion. Hiding that option behind another menu won't "confuse" anyone imo. But also, 25 and 50 fps aren't arbitrary at all and besides professional TV and broadcasting, 50fps is a de facto standard for video refresh rates here in Europe.

[2021-09-02 16:07] aaronpk commented on #1138
I would not recommend a slider for setting arbitrary frame rates. But I would recommend adding the standard Europe frame rates, 25 and 50fps

[2021-09-02 20:01] gabek opened #1373 "Handle incoming Update Actor activity"

[2021-09-03 09:54] MFTabriz opened #1374 "Build nightly docker only if secrets.GH_CR_PAT is set"
otherwise, the cronjob on the owncast forks will fail every night.

[2021-09-03 18:49] #1374 closed, assigned to MFTabriz

[2021-09-05 04:17] #1353 closed, assigned to nobody

[2021-09-05 05:21] gabek opened #1377 "Fix Windows support"
Re: https://github.com/owncast/owncast/pull/1376

We're using Unix system calls in https://github.com/owncast/owncast/blob/develop/core/chat/concurrentConnections.go#L13-L19 and https://github.com/owncast/owncast/blob/04bb97bffc17a29d5b3388a84df2d48f7ec087e3/core/chat/utils.go#L7

Just like we have a FreeBSD specific version of his code, we may need to create one that's Windows-only that's simply

[2021-09-05 06:10] gabek opened #1378 "Add advanced setting for setting the chat server host"
There is a use case for putting a CDN in front of an entire Owncast server.  The downside of this, however, is the web UI tries to make a websocket connection to that CDN and it will fail since it's not able to transparently pass the websocket through to the origin server.

I propose a new, "advanced" setting where you can put the origin server in, and it gets passed via the server config to web f

[2021-09-05 20:21] vikanezrimaya opened #1379 "h264_v4l2m2m as a hardware encoder for streaming"
https://www.willusher.io/general/2020/11/15/hw-accel-encoding-rpi4 - this is a reasonably fast method of using hardware acceleration on ARM boards such as the Pi 4 without using OMX which is not available when running a 64-bit kernel and userland and apparently deprecated (no source on that for now, lost it).

Sadly I can't choose it in the Owncast settings on the latest release. Please add it as

[2021-09-05 22:19] gabek commented on #1379
I had issues getting it working previously.  Maybe at some point down the road I can find some time to look at it again.  If others want to use it I can make it a priority, but it's likely this will sit around for a while since it seems like not many people are interested in taking advantage of hardware acceleration.

https://github.com/owncast/owncast/blob/develop/core/transcoder/codecs.go#L286-L

[2021-09-05 23:28] GTXCrusader opened #1380 "Error Log about Codecs links to wrong help guide"
When getting the error "Transcoding Error", it suggests to visit the URL https://owncast.online/docs/troubleshooting/#codecs to find help.

However, it seems as though help documents regarding Codecs has moved to https://owncast.online/docs/codecs/ .

May need to update so if this error happens it can link to the correct guide.

[2021-09-05 23:37] illogic-al commented on #1347
I use own cast with OBS and its web caption plugin. This provides subtitles with the video stream.
in this case owncast should show the closed caption icon, but I don’t know if owncast actually supports this.

[2021-09-05 23:43] gabek commented on #1347
It does not currently support them.

[2021-09-06 01:07] #1380 closed, assigned to nobody

[2021-09-06 01:27] #1016 closed, assigned to unclearParadigm

[2021-09-06 22:23] marek-lach opened #1387 "[Feature request] Ability to change chat font size"
For readability purposes. A small **Aa** icon could be present right next to the emoji picker in the chat input box.

[2021-09-06 22:32] gabek commented on #1387
If you'd like to customize your own site's font globally you can use CSS to change it to look any way you like: https://owncast.online/docs/website/#custom-styles-via-css.

But I'm afraid I don't see us adding a font size selector into the interface. If people have a personal need to increase their font size they should use the browser tooling to zoom or change defaults.

<blockquote><img src="/im

[2021-09-06 22:32] #1387 closed, assigned to nobody

[2021-09-07 02:20] gabek commented on #1371
![remotefollow](https://user-images.githubusercontent.com/414923/132274320-fd609aac-d8ef-46be-b165-cce9546bbe7f.gif)

[2021-09-07 02:20] #1371 closed, assigned to gabek

[2021-09-07 02:21] gabek commented on #1372
It's functionally working, now a design for the modal and button needs to be made.

![remotefollow](https://user-images.githubusercontent.com/414923/132274418-8dbdc815-9f88-46a4-9b91-a10994f668cd.gif)

[2021-09-07 03:30] gabek commented on #1372
@gingervitis I'm added you to this, but feel free to unassign.

[2021-09-07 04:23] gabek commented on #1370
The followers API is `/api/followers`.  Example: https://ap-test.owncast.tv/api/followers

`/api/config` now has a `federation` node that says if it's enabled or not so specific features can be shown.

[code]

[2021-09-07 04:24] gabek commented on #1372
`/api/config` now has a `federation` node that says if it's enabled or not so specific features can be shown.

[code]

[2021-09-07 04:54] gabek opened #1388 "Display replies in the admin Federated actions list page"

[2021-09-07 10:27] gabek commented on #924
I was wondering how Caddy did their update, and they take a middle ground.

They update the binary by replacing the existing one when requested, but it's up to the user to restart the binary by whatever means they need to do that.

I think that's a good solution.

While I don't want to do an automatic, in the background, update, I think we can add something where the user can update from the admin

[2021-09-07 14:53] fufexan commented on #1082
What's the status on this? I'd also want to have Owncast write to `/var/lib/owncast`. Currently it fails to start because the binary is in a read-only location.

[2021-09-07 20:01] gabek commented on #1372
I just realized we already use the "Follow me" wording with the social links, so we might have to reword that.

[2021-09-08 20:10] gabek opened #1392 "Add Signal's user-agent to our bot list"
So link previews can be rendered properly.

![image](https://user-images.githubusercontent.com/414923/132578335-528852ec-aeaf-4bf8-8d44-c1e786b0e2a2.png)

[2021-09-09 05:38] #1204 closed, assigned to gabek

[2021-09-09 22:44] gabek commented on #1365
If anybody is interested in looking at this, it should be trivial to do since the chat server registration accepts an optional name already in https://github.com/owncast/owncast/blob/develop/controllers/chat.go#L63.  So an additional case that looks at the headers as well as the request payload could be added.

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb8

[2021-09-10 01:22] gabek commented on #1357
Closed in https://github.com/owncast/owncast/commit/7278ce8f26a88399bf73f9f331cfafb90e296271

[2021-09-10 01:22] #1357 closed, assigned to gabek

[2021-09-10 01:26] gabek commented on #1082
I feel like this issue is a bit inactionable at this point, since the items listed above are a mix of directories, single files, things that are already configurable, etc.

I'm going to close this, but feel free to file specific issues for specific single requests so they can all be tracked and worked on if needed.

[2021-09-10 01:26] #1082 closed, assigned to nobody

[2021-09-10 01:29] gabek commented on #1360
I'm going close this since it doesn't seem like there's anything actionable at the moment, but feel free to chime in if there's any issues or specific requests that need to be looked into.

[2021-09-10 01:29] #1360 closed, assigned to nobody

[2021-09-10 01:30] gabek commented on #1348
I'm going to close this in favor of tracking all the individual items independently in the issues above.

[2021-09-10 01:30] #1348 closed, assigned to nobody

[2021-09-10 21:16] gabek opened #1395 "Provide a list of data that we store"
While we don't store any personal identifying information, we can provide a simple list of things that we do store to assist in transparency.

[2021-09-10 22:08] #1330 closed, assigned to MFTabriz

[2021-09-11 13:37] gingervitis commented on #1293
Something like this?
<img width="323" alt="image" src="https://user-images.githubusercontent.com/9563255/132949913-b1d7b274-ec2a-4554-829d-ef3aa1eb9ef2.png">

https://github.com/owncast/owncast/pull/new/gw/20210911-external-fed-chat-eng

[2021-09-11 13:47] gingervitis commented on #1293
We should probably start sticking with a consistent icon library at some point. Or we could keep the emojis, we just have to make sure the emojis aren't too new so that most OS's will support them.

[2021-09-11 20:04] dadosch opened #1398 "Binding to ::1 fails: too many colons in address"
Binding to the IPv6 equivalent of 127.0.0.1, **::1** is currently not possible, as it fails with: `failed to start/run the router listen tcp: address ::1:8081: too many colons in address"
`

[2021-09-11 23:25] gabek commented on #1293
Because these are users with username, avatar, as well as the full account name, I wonder if we can display all of that so we look like we're fully tied into the fediverse.  It might also encourage more people to interact if they get their full name and image displayed.

![image](https://user-images.githubusercontent.com/414923/132965843-c4b8ba51-028f-4f2c-b3a2-4ff0a5d2dc07.png)

[2021-09-11 23:27] gabek commented on #1293
Yeah emoji are rough, I know on Linux I run into a lot of missing emoji, so I probably would rather using a standardized set of images.

[2021-09-12 14:30] Pythone commented on #1327
thanks

[2021-09-12 14:58] nebunez commented on #1322
It seems that some addons cause warnings/errors in console, which may be preventing stream from playing. On an alternate profile, without as many addons, the stream will autoplay. This seems to be a user configuration error.

[2021-09-12 14:58] #1322 closed, assigned to nebunez

[2021-09-12 18:32] #875 closed

[2021-09-12 23:22] gabek commented on #1366
Chatted about this with some others and it was determined the risk is low, and the drawbacks are high from a troubleshooting standpoint.  Attackers will attack regardless.

[2021-09-12 23:22] #1366 closed, assigned to nobody

[2021-09-13 08:26] #1316 closed, assigned to unclearParadigm

[2021-09-13 22:12] gabek opened #1402 "Update Digital Ocean image when releasing 0.0.9"

[2021-09-13 22:13] gabek commented on #1337
DigitalOcean image update TODO: https://github.com/owncast/owncast/issues/1402

[2021-09-14 00:14] #1392 closed, assigned to nobody

[2021-09-14 04:20] jlamothe opened #1403 "[Feature Request] Chat timeout"
It would be nice to specify a timeout after which messages automatically disappear from the chat. This would keep the chat from stagnating when being used as an overlay in OBS studio (via /embed/chat/readonly)

[2021-09-14 06:29] gabek commented on #1403
The use case is understandable, but that sounds more like it falls into the realm of having a custom interface just for embedding into your stream that has the specific features needed for that.  Unfortunately that's probably not something we'll be focusing on.

However, other people are.  I'm thinking along the lines of https://ownextend.online/.

<blockquote><img src="/favicon.png" width="48" al

[2021-09-14 06:29] #1403 closed, assigned to nobody

[2021-09-14 22:54] gabek opened #1404 "Create setting for toggling surfacing federated engagement in the chat feed"

[2021-09-14 22:58] #1195 closed, assigned to gabek

[2021-09-15 01:32] gabek opened #1405 "Update react-markdown to 7.0.x"
The updated `react-markdown` package in admin doesn't build. It's probably some small changes in our code to make it work.

Pull down the PR in https://github.com/owncast/owncast-admin/pull/290 and make any changes required to make it run.  The build error currently is:

[code]

[2021-09-15 01:44] gabek commented on #1338
I didn't like having to press the "Next" button so I changed it to auto-navigate once you selected a choice.  I think it's better.

[2021-09-15 04:19] gabek opened #1406 "Do not show user joined chat message if user has recently joined"
Keep track of user ids and last joined and skip the message if they recently joined.

[2021-09-15 18:42] gabek opened #1407 "Surface the HLS link for 3rd party players directly on the web site"
I'm not sure where this could go, but I think it would be nice to make it easier to share how people can play Owncast video outside of the web page.  If specific players have URL schemes registered we could even have specific links like `vlc://watch.owncast.online` in a dropdown or something.

[2021-09-15 19:00] gabek opened #1408 "Player test interface"
It would be nice to have a client-side test page that enables people who run Owncast servers to test their video in detail.

[VideoJS VHS has a test interface](https://videojs-http-streaming.netlify.app/) we could start with. [source](https://videojs-http-streaming.netlify.app/).

It could be bundled in with an Owncast release as `/test`.

Some things come to mind I'd like to see on top of that VH

[2021-09-15 19:43] gabek opened #1409 "Re-enable CORS in the HLS handler"
CORS didn't get added in the new controller and it needs to be.

https://github.com/owncast/owncast/blob/develop/controllers/hls.go#L18

[2021-09-15 22:03] notnownikki opened #1410 "Allow stream output variants to be disabled"
We have 3 video variants set up, 720@60, 720@30, and 480@30. It's working nicely for folk, they get the variant suitable for their connection, all is good 😄

Sometimes we like to stream fast paced video games at 60fps, sometimes we're just chatting and doing a bit of art, so we only need 30fps. It would be great if we could disable the 60fps variant so we could stream in 30fp, and re-enable it whe

[2021-09-16 21:00] gabek commented on #388
With the standalone web and video web pages [breaking and it not being caught](https://github.com/owncast/owncast/pull/1413) I think we've run out of time of not having browser testing.  So I'll be taking the time to focus on this as a priority so this can't happen again.

[2021-09-16 22:11] #1176 closed, assigned to nobody

[2021-09-16 22:18] gabek commented on #410
@lindner mentioned he might have an idea on how we can support Chromecast without fetching the remote cast Javascript, so I'll reopen this.

[2021-09-16 22:19] gabek commented on #1318
Hi there!  Tracking this over at https://github.com/owncast/owncast/issues/410, so I'll close this issue in favor of that one.  Thanks!

[2021-09-16 22:19] #1318 closed, assigned to nobody

[2021-09-17 16:09] unclearParadigm commented on #1319
I'd like to tackle this pls.

[2021-09-17 18:06] gabek commented on #1319
I hate when I highlight blocks of code and then I click on the link later and it's totally broken because the file changed haha, sorry about that if it was confusing when you clicked on those and it's like "wtf was Gabe talking about".

But awesome!  Totally all yours, thanks dude!

[2021-09-17 20:54] #1409 closed, assigned to nobody

[2021-09-17 21:00] gabek commented on #1410
I have a suggestion!

Since the admin uses APIs that you're free to use yourself, you could write a little script that fires a `curl` command with whatever specific configurations you'd like for that point in time. And when you want to change it back, you run another little script.

For example, I just went into Chrome and saved an update to my video settings, and then _Copy as curl_ and it looks

[2021-09-17 21:08] gabek commented on #388
A pass at checking these pages to not be broken have been added.

[2021-09-17 21:08] #388 closed

[2021-09-17 22:52] notnownikki commented on #1410
That would work! 👍

Is this a feature you'd accept if someone (for example: me) was to implement it for you? If not, the script will work nicely :)

[2021-09-17 23:18] gabek commented on #1410
I think it's a perfectly sensible addition if you're interested in looking at it!

Could probably create a new `data.GetEnabledStreamOutputVariants()` to have everything (except the admin) use instead of `data.GetStreamOutputVariants()` and add an `Enabled` bool to `models.StreamOutputVariant` for filtering purposes.

[2021-09-17 23:53] notnownikki commented on #1410
Great! I'll see what I can do. Thank you!

[2021-09-18 00:12] gabek commented on #924
Though thinking about it more I'm not sure how this would work with Docker.  If we could detect that we're in a containerized environment then we could turn off the update feature.

[2021-09-19 21:59] lindner commented on #410
I think we can use the [w3c presentation API](https://www.w3.org/TR/presentation-api/) and things may work.  This is the open implementation of the Cast Web SDK and would also allow a web browser to support other second screen systems.

[2021-09-20 03:19] gabek commented on #1408
Started a WIP.

![image](https://user-images.githubusercontent.com/414923/133954032-768a944f-c5fb-48d8-9ab2-6334823f2da4.png)

[2021-09-20 18:03] jrichardsz opened #1417 "MEDIA_ERR_SRC_NOT_SUPPORTED"
## Problem

I cannot view the video of the default rtmp server

## Steps

I started the owncast server following this steps:

- https://owncast.online/docs/building/

After the transmission to  `rtmp://192.168.a.b:1935:/live/abc123`  I got this screen when I try to view the video:

![image](https://user-images.githubusercontent.com/3322836/134049866-5badaa1d-b9b3-491a-8389-4f84bc574a61.png)

[code

[2021-09-20 19:10] gabek commented on #1417
The real error seems to be this:

[code]

Some questions:

What broadcasting software are you using?
Is your copy of ffmpeg at least version 4.1.5 and not installed via Snap?

[2021-09-20 19:36] gabek commented on #1372
I'll need to come up with some additional copy about what's going on and what "account" you need to put in there, or how to manually follow by providing the server's account info.

![image](https://user-images.githubusercontent.com/414923/134063466-cfb00053-b47c-4189-acfa-6f2ed157eb55.png)

[2021-09-20 21:47] gabek commented on #1370
I started a followers component and slapped it on the page just for ease of development and testing. It pulls some fake data since the followers API is going to be empty right now without any real followers.

![image](https://user-images.githubusercontent.com/414923/134080345-3ecb8a1a-a7ff-4889-956d-2d13044d302b.png)

[2021-09-20 22:44] #1338 closed, assigned to gabek

[2021-09-20 23:56] gabek commented on #924
Started working on this.

- Determine if the instance is running under Docker. If so, update is not supported.
- Determine if the instance is running under systemd. If so, support restarting via the admin after the update is supported.
- The update itself is performed via the update feature of the installer script and the script output is returned to the web client.

[2021-09-21 20:23] sytranvn commented on #1405
Hi @gabek , I put up a PR for this issue https://github.com/owncast/owncast-admin/pull/313

[2021-09-21 20:47] gabek commented on #1405
Merged. Closed in https://github.com/owncast/owncast-admin/pull/313

[2021-09-21 20:47] #1405 closed, assigned to sytranvn

[2021-09-21 21:06] #1406 closed, assigned to gabek

[2021-09-21 22:20] gingervitis commented on #1372
Ok I've have some progress here at https://github.com/owncast/owncast/pull/1418.  The PR has a few things a bit out of scope but it cleans up the layout a bit in the "user info" area.

- Moves the External Actions buttons to be more prominently above the User Content, right below the video
- Cleans up the social icons layout a bit
- Cleans up the Logo and social buttons layout on mobile/single col

[2021-09-22 00:27] gabek opened #1419 "Selecting an emoji immediately when visiting page without focusing text input ignores selection"
If the chat input isn't focused, selecting an emoji will do nothing.

Maybe we should forcefully give focus to the input field when selecting an emoji.

[2021-09-22 00:43] gingervitis commented on #1372
Ok going with Option B.

[2021-09-22 14:28] jrichardsz commented on #1417
- s.o : ubuntu 18
- docker :
- broadcasting software :
  - I'm using [ffmpeg-webcam-rtmp-stream](https://github.com/jkuri/ffmpeg-webcam-rtmp-stream) which makes possible to use my webcam.
- ffmpeg version
  - owncast : I'm using the provided [Dockerfile](https://github.com/owncast/owncast/blob/develop/Dockerfile) so I think is the last version available in this month (sep 2021)
  - broadcast: I'm

[2021-09-22 18:59] gabek commented on #1417
I'm a little confused by all the pieces at play here just for you to use your webcam.

If it helps at all I was able to stream my webcam to Owncast just using ffmpeg by running the following:

`ffmpeg -f video4linux2 -i /dev/video0 -f lavfi -i anullsrc -c:v libx264 -c:a aac -shortest -f flv rtmp://127.0.0.1/live/abc123`

Though different webcams may need different options.

[2021-09-23 08:10] #1208 closed, assigned to gabek

[2021-09-23 10:15] siavashfazli opened #1423 "Streaming URL"
hi .
I run owncast by docker-compose and use nginx as a router and its work correctly.
ports opened in nginx config
now i what start streaming by OBS
i use streaming url in admin panel but doesn't work because it has port on url and ports are opened in nginx
What should I enter as a server name in obs setting ?

 ` webserver:
    container_name: nginx
    image: nginx:latest
    volumes:
      - /

[2021-09-23 11:54] jeyemwey commented on #1423
Hi, do I understand it correctly that you can see the website and make changes in the admin panel, but cannot connect to Owncast via OBS?

Have you made sure that your host firewall allows for access on port 1935? There is documentation on connecting Owncast with OBS: https://owncast.online/docs/broadcasting/obs/

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><

[2021-09-24 14:53] sitehatchery opened #1426 "Server URL not saving"
I just upgraded to version 0.0.8. When I try to save the Server URL, it does not save. It says "Success", but if I reload the page, the value is blank.

[2021-09-24 14:53] sitehatchery commented on #1426
This is on version 0.0.8, which I just upgraded to.

[2021-09-24 14:54] #1426 closed, assigned to nobody

[2021-09-24 14:55] sitehatchery commented on #1426
NM. It was because I had a stream going.

[2021-09-24 15:47] sitehatchery opened #1427 "Owncast Viewers does not update"
I updated to version 0.0.8. In 0.0.7 this was working.

I am running Owncast as a service.

When I stream and then view the stream, it does show that there is an active stream, but the viewer count will not update.

In addition, when I chat, it doesn't show the connected chat participant or any of the chat messages I send.

When I refresh the streaming video, the chat message I entered disappears.

[2021-09-24 16:00] jeyemwey commented on #1426
Hi, you have closed the issue - did you figure out what happened?

Feel free to share what you did to fix it :)

[2021-09-24 16:05] sitehatchery commented on #1426
Yes, for some reason it was blank when the stream was going. I kept refreshing after saving. But then when I ended the stream, I was able to save it.  Not sure what is going on there, but I was ultimately able to save it.

[2021-09-24 16:35] sitehatchery opened #1428 "Show chat in embed"
When I use the iframe embed code for the websites, it doesn't include chat. Is there a parameter I can pass to include chat, or do I need to embed the chat as stand alone?

[2021-09-24 17:44] gabek commented on #1428
That's correct, if you want to embed chat then you must do that as well.  Embedding video will only embed video.  Please take a look through the embedding documentation for details.  https://owncast.online/docs/embed/

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/docs/embed/">Embeddi

[2021-09-24 17:44] #1428 closed, assigned to nobody

[2021-09-24 17:58] gabek commented on #1427
I can't say I've seen anything like this, and nobody else has mentioned they have experienced this.  Do you see any errors in your browser console or in Owncast logs?  Does it happen in every browser you try?

[2021-09-24 18:13] siavashfazli commented on #1423
Hi, with docker run connect correctly ,also i can connect with OBS and start streaming it's ok , when i use docker-compose as you can see owncast and nginx in a network and nginx response pockets.in this condition i can see website and admin panel but i cant connect with OBS. i use name server . what should i insert as server in obs(without port) that can read 1935 port.
is it in nginx config file

[2021-09-24 18:15] sitehatchery commented on #1427
Few things that might help:
- In order to see the online status in the admin console, I need to do a hard refresh.
- In order to see the video start playing on the website (with embedded iframe) I need to refresh the page
- On the current test, it shows "Max viewers in this session" as 2. But the "Current viewers" is 0.
- The chat messages appear within the Chat Messages admin after like 1 or 2 mi

[2021-09-24 18:16] siavashfazli commented on #1423
Dear jeremwey, imagine you want run owncast by docker-compose through nginx, what is streamserver url in OBS ?

[2021-09-24 18:21] jeyemwey commented on #1423
The RTMP stream from OBS to Owncast does not run through nginx, so the scenario should be the same as before. So you can give OBS any domain name that points to your server.

[2021-09-24 18:22] gabek commented on #1427
Unfortunately none of that is much help.

Are you seeing any errors either in the browser or the Owncast logs?  Are you seeing this with all browsers?  If you go to other Owncast installs such as https://watch.owncast.online can you see the viewer count?  Can you chat?

<blockquote><div><strong><a href="https://watch.owncast.online/">Owncast</a></strong></div></blockquote>

[2021-09-24 18:31] siavashfazli commented on #1423
Thanks a lot 🙏🙏🙏 for your help

[2021-09-24 18:33] sitehatchery commented on #1427
Note really any errors. There is this but it seems harmless:
Video transcoder started using x264 with 1 stream variants.

I've tested in Chrome and Firefox.

The viewer count is what I am seeing in admin, not the streaming video page (you mentioned https://watch.owncast.online). It shows Current viewers: 0 always.

Chats do show during the chat session. But refreshing the page causes all the chats

[2021-09-24 18:43] gabek commented on #1427
Are there any errors in your browser console?

[2021-09-24 18:47] sitehatchery commented on #1427
There are a few things. They aren't critical errors, but maybe they have something to do with it.

![image](https://user-images.githubusercontent.com/2289893/134725175-0049e3f3-8dab-4a02-a0b5-6e5796daa0ce.png)

One thing is" We received no playlist to switch to. Please check your stream." keeps repeating over and over.

[2021-09-24 19:02] gabek commented on #1427
I feel like something overarching is wrong somewhere.  Video has nothing to do with chat.  Having to refresh your page to get updates has nothing to do with chat moderation.  None of what you reported has to do with a lot of other things you reported.  So I'm not sure if you have any proxies in play, or any additional layers of anything, but I'd recommend simplifying as much as possible.

I wish I

[2021-09-24 19:34] sitehatchery commented on #1427
Alright, thanks for your quick replies. You are on it!

[2021-09-24 20:47] jeyemwey commented on #1423
Okay, I will close this now. If you have any more questions, please ask here or hop into the chat at https://owncast.rocket.chat :)

<blockquote><img src="assets/favicon_512.png" width="48" align="right"><div><strong><a href="https://owncast.rocket.chat/">Owncast</a></strong></div></blockquote>

[2021-09-24 20:47] #1423 closed, assigned to nobody

[2021-09-24 20:53] gabek commented on #1292
In early testing it is found that Federation with PeerTube is broken due to their lack of support for hs2019.

Filed an issue with PeerTube: https://github.com/Chocobozzz/PeerTube/issues/4431

[2021-09-24 21:26] gabek commented on #1292
Root issue: https://github.com/joyent/node-http-signature/issues/106

[2021-09-25 00:04] gabek commented on #1117
@thilobillerbeck Were you ever able to track this down?  My laptop just froze up from leaving a directory tab open too long and I figured we should fix this :)

[2021-09-25 00:24] gabek opened #1429 "Create a section of our website to feature blog posts, tutorials, etc by others"
It would be nice to find, organize, and feature a list of external blog posts, magazine articles, tutorials, videos, etc that people have published about Owncast that could help people.

I'm not exactly sure what the format of this section would be, or how to link to it from the site, but we can experiment and figure it out.

[2021-09-25 01:41] gabek opened #1430 "Localize the Quickstart"
With the new Quickstart wizard it supports multiple languages.  If you speak something other than English, it would be great to have your assistance!

Data file: https://github.com/owncast/owncast.github.io/blob/master/static/wizardassets/data/quickstart_pages.json

For reference here's the library we're utilizing: https://expeditionjs.com/

[2021-09-25 22:41] gingervitis commented on #1370
Got a preference of whether tabs should be under the tags?
<img width="780" alt="image" src="https://user-images.githubusercontent.com/9563255/134787568-d30b37eb-bd35-4929-9c7c-6cb3dcd1406d.png">

or under everything?
<img width="799" alt="image" src="https://user-images.githubusercontent.com/9563255/134787612-7ddc44fa-32bc-45ad-869e-e1789b2f20d3.png">

[2021-09-25 22:43] gabek commented on #1275
Nothing we can do about it at the moment. Closing.

[2021-09-25 22:43] #1275 closed, assigned to nobody

[2021-09-25 22:49] gingervitis commented on #1370
Option C (A2)
<img width="799" alt="image" src="https://user-images.githubusercontent.com/9563255/134787778-6dd5da3f-046e-433b-a47d-82e49b11d834.png">
<img width="800" alt="image" src="https://user-images.githubusercontent.com/9563255/134787784-a1897bf2-3c49-45a4-bac4-0d9d04bf3566.png">

[2021-09-25 22:53] gabek commented on #1370
I vote for C!

[2021-09-26 05:24] gabek opened #1432 "Document external projects, tools, bots, etc people have built"
@jeyemwey suggested we have a page on our documentation site that highlights external projects that utilize Owncast.

https://owncast.rocket.chat/channel/general?msg=55J8LffQk6eo0aYtG

[2021-09-26 21:36] #1337 closed, assigned to gabek

[2021-09-26 21:55] thilobillerbeck commented on #1117
Did you try out the fix I pushed to the separate branch? My intention was for people to test it before it gets merged.

[2021-09-26 22:17] gabek commented on #1117
OH! I had no idea there was a branch!

[2021-09-27 13:28] sitehatchery commented on #1427
The biggest issue I'm having is that I cannot see any connected chat
participants. And so therefore I can't moderate chat users.

I did upgrade from 0.0.7 if that makes any difference.

On Fri, Sep 24, 2021 at 12:02 PM Gabe Kangas ***@***.***>
wrote:

[2021-09-27 14:27] sitehatchery opened #1434 "Remove old chat messages"
How do I remove old chat messages from the front end chat list? Even if I hide them in admin, they still show on the front end.

Each time we stream from OBS, we want to clear the previous chats.

[2021-09-27 16:56] sitehatchery commented on #1427
Actually, now that I have upgraded to 0.0.9, I am seeing these issues in
Chrome's browser console:

Front end:

[image: image.png]

Admin:
[image: image.png]

Jason Cox
(530) 924-3828

To create a *support ticket*, send an email to ***@***.*** or
log in here: https://sitehatchery.freshdesk.com/

On Mon, Sep 27, 2021 at 6:28 AM Jason Cox ***@***.***> wrote:

[2021-09-27 17:29] ericgaspar opened #1435 "Stream key configuration freeze install script"
hi there, I maintain the Owncast YunoHost package: https://github.com/YunoHost-Apps/owncast_ynh.
As of version 0.0.9, the installation process seems to hang forever at this point: [stream key configuration](https://github.com/YunoHost-Apps/owncast_ynh/blob/c23b26cbb6db3a85c37eeee77494a756cff5304c/scripts/install#L123)
The script was functional with version 0.0.8.
Any idea what is done wrong?
I hav

[2021-09-27 17:48] gabek commented on #1435
I'm guessing it has to do with this change: https://github.com/owncast/owncast/pull/1355

We used to exit after changing the key, but now, like all the other cli options, we run Owncast with the new setting when specifying it instead of exiting.

[2021-09-27 17:54] ericgaspar commented on #1435
Thanks for the reply. What will be the best way to define a custom key in a script install context?

[2021-09-27 18:02] gabek commented on #1434
There's no way to auto-clear all the messages when starting a new stream. Messages eventually drop off over time.

Messages do get removed from chat history when you remove them via moderation in the admin, but there's something that's being tracked where sometimes they're not being removed in real-time for people already connected to chat.  https://github.com/owncast/owncast/issues/1350

[2021-09-27 18:14] sitehatchery commented on #1434
I don't see where to remove or moderate a particular chat message. I only
see a way to hide them. Am I missing something? Being able to delete
specific chat messages would be great.

Jason Cox
(530) 924-3828

To create a *support ticket*, send an email to ***@***.*** or
log in here: https://sitehatchery.freshdesk.com/

On Mon, Sep 27, 2021 at 11:02 AM Gabe Kangas ***@***.***>
wrote:

[2021-09-27 18:22] gabek commented on #1434
You go to `/admin/chat/messages/` and click on the little eyeball to the right of any message and then that message will no longer be returned in the chat history.

[2021-09-27 18:29] gabek commented on #1435
You can still specify the key, but you would specify it when running Owncast.  You could also use the API to set the key with the admin API, but that's also probably not very helpful to you.

There's currently no way to change settings outside of actually running the service.

[2021-09-27 19:36] ericgaspar commented on #1435
In fact there is a easy way. Adding `-streamkey` option to owncast.service works.
Thanks for your help!

[2021-09-27 19:36] #1435 closed, assigned to nobody

[2021-09-27 19:40] gabek commented on #1435
Keep in mind that will actually run the service while saving that hard coded key.  So if the admin changes their stream key in the admin then it will get overwritten the next time it starts by what you put in the `streamkey` argument.

[2021-09-27 19:47] ericgaspar commented on #1435
yes good point... This new behavior introduced with 0.0.9 seems like a regression to me (for a script install point of view at least)...

[2021-09-27 21:18] gabek commented on #1435
I could see how it impacts you in that way.  But from the project standpoint `streamkey` was the only CLI option that didn't run the service with the supplied value, so that inconsistency was confusing.  Just like `rtmpport` or `webserverip` doesn't change and exit, `streamkey` shouldn't either, and this change fixes that.

I guess if I had to work around this I'd only set the key on first run, or

[2021-09-28 00:05] gabek commented on #1117
Closed in https://github.com/owncast/owncast-yp/pull/78.

[2021-09-28 00:05] #1117 closed, assigned to thilobillerbeck

[2021-09-28 10:45] MFTabriz commented on #1419
This issue does not occur in Firefox 92:
![ff92](https://user-images.githubusercontent.com/39205857/135072615-f3ec89f0-40b1-4b71-8205-1e3e3aa11904.gif)
in Brave 1.26 (Chromium 91) it only happens when you first load the page:
![brave1 26](https://user-images.githubusercontent.com/39205857/135072769-2d6f9cb8-2913-4a08-8c5a-35c1e545388f.gif)

[2021-09-28 18:15] bugz8unny69 commented on #464
Here just to provide my input, I'm the complete opposite, I'd like the whole shebang. I manage my own openid connect provider via UCS.  Being able to moderate, while not a requirement, is still essential when I come around and explore this project.

[2021-09-29 01:28] gabek commented on #464
Moderation is currently available.

[2021-09-29 01:48] gabek commented on #1061
Now issue is being tracked at: https://github.com/ant-design/ant-design/issues/30396

[2021-09-29 01:55] gabek commented on #1417
Closing. Refer to the ffmpeg documentation if you have further questions on how to use it.

[2021-09-29 01:55] #1417 closed, assigned to nobody

[2021-09-29 01:57] #1372 closed, assigned to gabek

[2021-09-29 17:35] ghost opened #1439 "invalid memory address or nil pointer dereference"
[code]

Streaming with external S3 storage. I haven't tried to reproduce the crash.

Version: v0.0.9

[2021-09-29 17:41] gabek commented on #1439
If you have a chance to reproduce this, or can share any specific configuration that makes this occur, please do.

[2021-09-29 18:34] ghost commented on #1439
To reproduce:

1. Start v0.0.9 with empty data directory
2. Open OBS Studio to configure to stream to owncast instance
3. Rapidly click "Start Streaming"/"Stop Streaming"
4. owncast will crash

I believe there's data races happening. In just taking a peek at the code, I notice there is a lack of locking on global variables (e.g. `_hasInboundRTMPConnection`), which would account for variables being

[2021-09-29 18:49] bontibon commented on #1439
I believe there's data races happening. In just taking a peek at the code, I notice there is a lack of locking on global variables (e.g. `_hasInboundRTMPConnection`), which would account for variable be in an invalid state.

[2021-09-29 18:50] gabek commented on #1439
Certainly sounds like a race condition to me.

[2021-09-29 20:03] jameskimmel commented on #1347
Same error here with Safari 15.0

[2021-09-29 20:07] jameskimmel opened #1443 "Safari wrongly shows "chat offline""
Safari 15.0 shows chat offline despite it being online. Same owncast instance with Firefox does shows chat online as it should be.

Docker Owncast v0.0.8

[2021-09-29 20:09] gabek commented on #1443
Could you share any browser console errors you have?

[2021-09-29 20:16] jameskimmel commented on #1443
[code]

Hope that helps. I unfortunately have no clue about web stuff.

[2021-09-29 20:17] gabek commented on #1443
Is `3D` the name of your Owncast server?

[2021-09-29 20:19] jameskimmel commented on #1443
Shortened version, yes.

Updated the three browser errors for better visibility.

[2021-09-29 20:51] jameskimmel commented on #1443
Issue is only with one instance.
Probably a problem of the NGINX reverse proxy of the instance and not my machine.

Sorry I did not get the idea to test that sooner.

[2021-09-29 20:51] #1443 closed, assigned to nobody

[2021-09-29 21:46] aaronpk commented on #1443
Possibly related to this: https://github.com/glowing-bear/glowing-bear/issues/1199

[2021-09-29 23:45] gabek commented on #1347
@jameskimmel What error are you referring to?

[2021-09-30 06:45] jameskimmel commented on #1347
Sorry, non English speaker. I experienced the same unnecessary CC Button with Safari 15.0.

[2021-09-30 15:18] fullyaccountable opened #1445 "Unable to submit Embeddable Chat messages on mobile"
On mobile (Android 11, OnePlus 9 Pro, stock keyboard), I'm unable to submit chat messages. The return key creates a new line instead of submitting the message, and there's no explicit Send button visible in the chat window to click.

Edit: I was able to get around this by adding Custom CSS in the admin to force the Send button to show:

`#send-message-button{display:block; opacity: 1;}`

[2021-09-30 15:49] gabek commented on #1445
Sounds like there's two issues here:

1. Enter isn't sending chat messages on mobile in the embedded chat.
2. The mobile-only "send" button isn't showing up in the embedded chat.

[2021-09-30 19:18] gabek opened #1446 "Add Owncast to the Vultr app marketplace"
Vultr reached out and asked if we'd be interested in adding Owncast to their one-click app marketplace like we already have with Linode and DigitalOcean.

https://www.vultr.com/docs/how-to-build-an-example-vultr-marketplace-application

[2021-09-30 21:54] #1429 closed, assigned to nobody

[2021-10-01 05:28] gabek commented on #1432
Closed in https://github.com/owncast/owncast.github.io/commit/8a8678164e48110845ee3a1b7ef5e323d97619a1

[2021-10-01 05:28] #1432 closed, assigned to nobody

[2021-10-01 22:29] gabek commented on #1445
Verified the same on Safari. The input field doesn't show.

![image](https://user-images.githubusercontent.com/414923/135692531-33f263c4-0de3-4cd7-bd2c-28826e1bad37.png)

[2021-10-01 22:29] gabek commented on #1445
Brave on iOS is fine.  Safari on iPad is fine.

[2021-10-01 23:16] gabek commented on #955
Closing in favor of a player test page.  https://github.com/owncast/owncast/issues/1408

[2021-10-01 23:16] #955 closed, assigned to nobody

[2021-10-03 06:56] krashanoff commented on #1281
I might be interested in tackling this. Is there anyone on it as of now?

[2021-10-03 07:26] gabek commented on #1281
Nope, nobody!  Let me know if you have any questions.

[2021-10-03 11:29] jeyemwey commented on #1430
Starting on the `de-DE` translation. Is there a roadmap on offering the different translations?

[2021-10-03 12:31] spannerman79 opened #1447 "Plesk does not support our Dockerfile syntax"
Hello.

Background:

I'm trying to get Owncast running via Docker within Plesk.  It isn't as simple as docker-compose or just simply running docker normally .

-----

In my testing to see if indeed it was something that I screwed up on I tested portainer as it uses three ports ( see https://github.com/portainer/portainer/blob/develop/build/linux/Dockerfile#L8..L10 ) and **that** does work.

I foll

[2021-10-03 12:55] jeyemwey commented on #1447
I have seen `EXPOSE` used both ways ([multiple inline](https://stackoverflow.com/a/32806333) and [one after another](https://www.baeldung.com/ops/docker-expose-more-than-one-port#1-declaration-in-dockerfile)), so it would be fine for me if we changed it to support Plesk while keeping everything else working.

Have you found any docs / forum posts that suggest that Plesk cannot read multiple ports

[2021-10-03 13:04] spannerman79 commented on #1447
I haven't directly found any docs per say, but I have raised a support issue with Plesk to see what they have to say directly. I don't have a support plan with Plesk so ETA is basically _whenever someone gets to it_ 🤣

I can only go off what I have done in testing/experimenting 🤷

One such other user that does not have any ports shown would be in the comment section of one of their [Support Docs](

[2021-10-03 14:21] vinicio commented on #1430
Hi there! Can I translate it to portuguese (Brazil)?

[2021-10-03 14:53] jeyemwey commented on #1430
@vinicio Sure, please base your changes off the lingo/quickstart-de branch, so we can merge them better later.

[2021-10-03 14:56] MFTabriz opened #1449 "Improve navigation in the documentation"
Some pages e.g. [Viewer details](https://owncast.online/docs/viewers/) are not listed in the menu and they're not easy to reach.

The left-side menu, and the destination of next/prev buttons at the end of each page need to be updated.

[2021-10-03 15:09] jeyemwey commented on #1447
Sure, just build the container with the changed Dockerfile or grab the container from the GitHub container registry.

We have some in the project that are UTC+2 (like me), but most are on the US/West Coast.

[2021-10-03 19:29] gabek commented on #1449
I don't feel like there's room for _everything_ in the documentation menu, it already scrolls off the screen on my display.  I think we have to rely on linking to things from other places, for example that document you mentioned is specifically for this link in the admin, and less useful in other contexts:

![image](https://user-images.githubusercontent.com/414923/135768466-5608cfef-fced-45fe-85a3

[2021-10-03 19:52] MFTabriz commented on #1449
If I start from [https://owncast.online/docs/](https://owncast.online/docs/) the only way that I know for reaching that page is to type "viewer" [only works with the full word] to get suggested "viewers details" page. Searching for "geolocation" or a similar word returns nothing.
![image](https://user-images.githubusercontent.com/39205857/135768925-d873dd3c-c85a-4e44-8404-eed048205445.png)
I'm not

[2021-10-03 23:10] spannerman79 commented on #1447
If i was adept with Docker (for which I am **not**) I would have prob already done that already and provided actual reproduction steps to show that Plesk is being naughty when it comes to `EXPOSE` lol

Never used it before, nor do I have any idea where to start with that.  Github docs is about as clear as mud to me on this matter.  A litle guidance would be appreciated. I usually start reading fro

[2021-10-03 23:16] gabek commented on #1447
~if you look at our Quickstart documentation on https://owncast.online it should point you in the right direction.  In this case this should have what you're looking for:~

~https://owncast.online/quickstart/container/~

Whoops I think you're talking about something completely different. Ignore my comments.

[2021-10-04 19:14] gabek opened #1451 "Test and document Vultr S3-compatible object storage"
I'm verifying that Vultr sees video as an acceptable use case for their storage product first, and then we can add it to our list of storage options.  https://www.vultr.com/docs/vultr-object-storage

They do have a 400 request per second per IP limit, but that shouldn't impact what we'd be doing.

[2021-10-04 19:42] spannerman79 commented on #1447
Still I would like to know the correct docker pull in order to test this fix as I kindly requested in a [previous comment ](https://github.com/owncast/owncast/issues/1447#issuecomment-933041561)

[2021-10-04 21:03] nwoltering opened #1452 "Not able to change Server URL"
After installing Owncast via the automatic installer i am not able to change the URL and connect to the server from a differnt PC. When restarting the Server no matter what URL has been set, the Server is always listening on 0.0.0.0:8080.

[2021-10-04 23:28] gabek commented on #1452
There is a difference between what the public URL of the server is and what IP address it's listening on.

Changing the server URL (in the admin under Configuration -> General) has nothing to do with what interface on your machine the service is binding to.  Unless you are looking to bind the service to a specific IP address, such as loopback only, or you have multiple network interfaces that you

[2021-10-05 02:02] mbround18 commented on #1447
For anyone else who would like to pull from ghcr for the image its:

[code]

[2021-10-05 02:05] gabek commented on #1447
I haven't had a chance to test the syntax change in the linked PR yet, I'll check it out tomorrow.

[2021-10-05 06:16] jeyemwey commented on #1447
This will only work, once the PR 1448 is merged and the nightly build is built.

[2021-10-05 12:45] thilobillerbeck commented on #1239
I would take this issue! :)

[2021-10-05 17:15] gabek commented on #1239
Awesome! Let me know if you want to talk through it at all, as it'll need to touch a few different things.

[2021-10-05 20:07] mbround18 commented on #1447
When i posted my comment ghcr has an image available for pulling 0.o
https://github.com/owncast/owncast/pkgs/container/owncast

unsure the contents of #1448 (please use a hashtag plus the number to link it ;)  )

UPDATE: The `EXPOSE` in a docker file doesn't really matter, its more of an aesthetic than anything when building docker images.

<blockquote><img src="https://github.githubassets.com/ima

[2021-10-05 20:12] gabek commented on #1447
Didn't @spannerman79 say that it matters to Plesk?

[2021-10-05 20:29] #1281 closed, assigned to krashanoff

[2021-10-05 21:02] spannerman79 commented on #1447
Well that is what I would like to test to make sure for a fact @gabek

I've tried other docker images but those have their `EXPOSE` on each seperate line for each port.  Owncast is the only docker image - and what I actually really want to get going - that has issue exposing ports for Plesk reverse proxy rules.

See [this](https://support.plesk.com/hc/en-us/articles/115003142213-Unable-to-add-Dock

[2021-10-05 21:19] gabek commented on #1447
It looks like that support doc only says that ports have to be exposed, and in our case they are. I don't see anything mentioned about not supporting particular flavors of exposing.

If somebody can verify that this indeed fixes it for Plesk I'm happy to merge in the change, but putting in changes for things that already work in hopes it might fix something else isn't the right way to go about thi

[2021-10-05 21:20] spannerman79 commented on #1447
**If** they were I wouldn't have created this issue in the first place....

https://github.com/owncast/owncast/issues/1447#issuecomment-933041561

[2021-10-05 21:30] gabek commented on #1447
Unfortunately somebody who uses Plesk is going to have to test this, so you're it! You can build a Docker image locally and test your changes.

[code]

[code]

[2021-10-05 22:58] gabek opened #1455 "S3 storage support has been broken since 0.0.9"

[2021-10-05 23:14] gabek opened #1457 "Find a way to automate S3 testing"
While I've been able to automate much of the testing, S3 storage is one thing I haven't been able to figure out how to test.  But now it needs to be done.  Looks like a new testing scaffolding that actually knows how to parse and handle HLS needs to be built.

These tests will need to run on Github Actions like the rest of our tests, meaning that the secrets need to be provided but kept secret.

1

[2021-10-05 23:45] #1455 closed, assigned to gabek

[2021-10-06 07:24] controlfreakstudio commented on #1138
assign pls. I have some changes tested to propose based on balance and the above input. will offline a small chicken vs egg paradox.

[2021-10-06 16:14] ClaraCrazy opened #1458 "Change page title to something different than server name + local storage option"
Greetings!

Lovely what you created here however I have two small issues:

1. I would love to have my page title not be my streamer name (yes it makes sense for it to be like that since I'm gonna be the only streamer as far as I understood that HOWEVER, I would still love to change it to something else like "{Name} - Live / Stream" I looked through the index.html but that didn't help and I didn't

[2021-10-06 16:32] jeyemwey commented on #1458
Hi, we’re glad you like it! :)

The title can [change for multiple reasons](https://github.com/owncast/owncast/search?l=JavaScript&q=title), including new chat messages while you were tabbed out, and a change in the online/offline status. So it’s a little more complicated. You can however create a feature request, if you need more/other functionality (or we piggy-back on this issue).

If you don’t

[2021-10-06 16:41] ClaraCrazy commented on #1458
yeah, true. Well, all I would love to have is an option to have a different streamer name than the actual page name. Gonna make a feature request later for that

Uhm... I'm probably just super stupid right now but how would a user access old streams then? I thought that's what the storage options are for since OBS etc. record already anyways (meaning the streamer doesn't need another recording)

[2021-10-06 17:02] jeyemwey commented on #1458
Did you see that you can set a title for a stream? I’m not sure if that’s „enough“ if we just pop that into the title tag, or we need another field.

They would not. Recording streams and showing them afterwards is on the road map, but is not programmed yet. If you want to put the video to YouTube (or wherever), id suggest pulling the stream chunks before formally ending the stream in OBS and merg

[2021-10-06 17:05] aaronpk opened #1459 "Use a different term for "storage""
"Storage" is a bit misleading of a term to use for temporarily storing the HLS fragments during a livestream. I would expect "storage" to refer to permanent storage of recorded videos.

Prior to the addition of the actual recording feature, I think it would be a good idea to rename this setting to something else so that the term "storage" can be used for the actual recordings once that feature is

[2021-10-06 17:43] ClaraCrazy commented on #1458
I did and could actually agree on "Streamer_name - Stream_title" and "Streamer_name - Offline" when there's no stream

alright, gotcha. You got an approx. eta (like Idk.. before Christmas or something like that. Just a rough timeframe) or can perhaps tell me how high it is priority-wise on the to-do list?

You can close the issue with your response if you have no further questions then btw

[2021-10-06 19:15] jeyemwey commented on #1458
Absolutely no ETA, sorry.

If you have any more questions, feel free to open another issue or come in the chat at owncast.rocket.chat

[2021-10-06 19:15] #1458 closed, assigned to nobody

[2021-10-07 04:03] #1457 closed, assigned to gabek

[2021-10-07 14:20] Trellmor opened #1461 "Docker Hub "latest" tag still points to 0.0.8"
The "latest" tag on Docker hub still points to version 0.0.8 instead of 0.0.10, see https://hub.docker.com/r/gabekangas/owncast/tags

[2021-10-07 18:31] gabek commented on #1461
Thanks!

[2021-10-07 18:31] #1461 closed, assigned to nobody

[2021-10-08 02:24] hluengas opened #1462 "Allow bitrates higher than 6000kbps (way higher)."
Owncast is awesome because its the only easy way for me to stream gamplay at over 60FPS to my friends. However 6Mbps isn't even close to a high enough bitrate for 90FPS 1440p or 4K streaming even with the highest quality CPU ussage. Why not make the bitrate slider cap out at something really high-end like 50Mbps (or if you think people will have a bad experience when they set that without actually

[2021-10-08 06:08] #1402 closed, assigned to gabek

[2021-10-08 06:10] gabek commented on #1402
Image updated.

[2021-10-09 20:25] #1398 closed, assigned to nobody

[2021-10-09 20:26] gabek commented on #1398
Fixed in a future release, but you'll have to use the bracketed notation:

`--webserverip [::1]`

[2021-10-10 00:18] spannerman79 commented on #1447
An update;

What I did.

1. `git clone https://github.com/owncast/owncast`
2. Edited `Dockerfile` so that each port had its own `EXPOSE` line - the same thats in https://github.com/owncast/owncast/pull/1448/files#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557
3. `docker build --build-arg NAME=docker --build-arg VERSION=mytest -t my-plesk-owncast-test .`

Plesk is a little st

[2021-10-10 01:00] spannerman79 commented on #1447
Oh my god...

I got it working!

All I did was move https://github.com/owncast/owncast/blob/develop/Dockerfile#L3 to the literal bottom of the Dockerfile.  No other changes.

I didn't split each port into its own EXPOSE.

For _whatever_ reason Plesk Docker Extension was reading the EXPOSE as part of the build script and ignoring it;

Take a look
![plesk_docker](https://user-images.githubuserconten

[2021-10-10 18:00] gabek opened #1465 "Embed static files into the binary"
Like with #1464, using go:embed we can get rid of the `static` directory and just embed those files into the binary so it's a few fewer things to bundle at release time and then keep on people's filesystem.

[2021-10-11 21:56] #844 closed

[2021-10-11 22:04] #1465 closed, assigned to nobody

[2021-10-11 22:37] gabek opened #1467 "Admin "offline-notice" component is incorrectly seen as a full page"
Because this component is in the "pages" directory it gets built as a page when not necessary, increasing the size of the admin by a little bit.  It should be moved to `components` and references should be updated.

[2021-10-12 18:31] #1447 closed, assigned to nobody

[2021-10-12 19:44] 4censord opened #1470 "[Feature Request] Ability to export chatlogs"
I would like the ability to export the chat-log.

I would personally use csv, and something along the lines of
[code]

[2021-10-12 19:54] gabek commented on #1470
We currently do just the opposite, we actively delete chat messages completely from the database to keep the data storage low, mostly for privacy reasons since there's no reason to warehouse old chat.

I suggest if you have your own requirement to store chat indefinitely that you take advantage of the chat webhooks, allowing you to take any kind of custom action needed.

[2021-10-12 19:54] #1470 closed, assigned to nobody

[2021-10-12 22:29] gabek commented on #1462
You're right, the reason it's not a freeform text box, or a slider that goes to crazy values is because people will put in crazy values.

Owncast aims to be a sane solution for people looking to self-host their live streams. Most of these people self-hosting won't have a super server or infinite bandwidth. Sure, some will, like you.  But instead what will happen is people will *think* they have a

[2021-10-12 23:36] gabek commented on #1451
Vultr clarified with me that using video on their storage product is acceptable.

[2021-10-13 03:35] gabek commented on #1446
https://www.vultr.com/marketplace/apps/owncast

[2021-10-13 03:35] #1446 closed, assigned to gabek

[2021-10-13 03:42] gabek commented on #1439
I've unfortunately been unable to reproduce this by starting/stopping a RTMP stream over and over again in quick succession.  I'll try again at another time.

[2021-10-13 03:45] gabek commented on #1434
Closing as messages can be hidden via the admin and an auto-hide will not be added.

[2021-10-13 03:45] #1434 closed, assigned to nobody

[2021-10-13 03:46] gabek commented on #1427
Closing as there doesn't seem to be anything actionable on the Owncast side and haven't been provided any errors that need to be resolved.

[2021-10-13 03:46] #1427 closed, assigned to nobody

[2021-10-13 03:48] gabek commented on #1323
Fixed by @thilobillerbeck

[2021-10-13 03:48] #1323 closed, assigned to thilobillerbeck, gingervitis

[2021-10-13 12:27] radiantly commented on #1467
Hey, could I take this up?

[2021-10-14 01:44] #1467 closed, assigned to radiantly

[2021-10-14 03:31] gabek opened #1473 "Add NixOS package manager to quickstart options"
https://search.nixos.org/packages?channel=unstable&show=owncast&from=0&size=50&sort=relevance&type=packages&query=owncast

[2021-10-14 06:27] #1138 closed, assigned to controlfreakstudio

[2021-10-17 04:23] muesli opened #1475 "docker-compose examples are broken"
The example docker-compose configs are rather convoluted and broken. We should offer a basic config here.

[2021-10-17 21:17] controlfreakstudio commented on #1473
PR #67 in the website

[2021-10-18 09:12] jaydn commented on #1439
This is how you can reliably reproduce this crash
Causes crash of whole owncast container
Not dangerous and requires authentication as far as I can tell
Using VLC media player 3.0.16 Vetinari (revision 3.0.13-8-g41878ff4f2) on host

[code]

when ready for crash
[code]

[2021-10-18 12:40] gabek opened #1476 "Strip hashtag prefix when saving new tags via the admin"
It should be saved without the symbol.

![image](https://user-images.githubusercontent.com/414923/137731894-67469a21-88ea-4d8f-8e17-5e3e48856dd5.png)

[2021-10-18 18:11] jeyemwey commented on #1439
This looks like you're only sending an audio stream and (maybe?) a 0x0 resoluted video? Anyways, Owncast should not crash from this but it might be a problem.

[2021-10-18 18:43] ghost opened #1477 "Obtain geolocation data from video viewers"
At the moment, the functionality to obtain 'viewer details', which give you geolocation data of your viewers, is tied to those in the chat and not those that are watching the video. For a project such as mine, which uses the embedded video and not the chat (yet), I'm not able to obtain this information from the Owncast admin interface, and so use analytics on our website instead to serve this purp

[2021-10-18 19:01] ghost opened #1478 "Extend the viewers timeline"
It would be great to extend the timeline shown on the 'viewers info' screen, which shows you the number of viewers, as well as a graph with historical data over what looks like approximately 15 hours. That timeframe is good to see the number of viewers over a day, though it would be helpful to be able to use this graph to easily compare the number over several days, a week, 4 weeks etc.

[2021-10-19 02:32] jaydn commented on #1439
Yeah I ran into this when attempting to stream normal videos, swap with a couple of video files of your liking and it'll still do it, the 2 small remote files is just for convenience
Have not dug into it much sorry just spotted this in the issue tracker with same stack trace, might be a completely different problem even

[2021-10-19 14:28] #1476 closed, assigned to nobody

[2021-10-20 17:21] gabek opened #1482 "Website layout of the “See how others”… is bad on mobile"
![image](https://user-images.githubusercontent.com/414923/138141046-5f131da5-acf7-4c0b-bf44-850ea464c7ab.png)

[2021-10-20 17:30] gabek commented on #1439
Thank you for providing a way to reproduce the issue!

[2021-10-20 18:36] gabek commented on #1478
I'm not opposed to this. It might be nice to store the viewer data in the database and then query for whatever time window.

[2021-10-20 18:41] gabek commented on #1478
On another note, would it be useful at all to expose the viewer count to use an external time series database for tracking this kind of thing? Ultimately long-duration time series data will be better served with something that's built for it.  https://github.com/owncast/owncast/issues/1303

[2021-10-20 18:51] gabek commented on #1475
I kind of think we should get rid of them all together. They're not terribly helpful unless you have those exact configurations. They probably made sense at one point but not so much now.

[2021-10-20 18:57] gabek commented on #1477
I think that makes sense.  The viewers table was removed since it was kind of a mix between viewers and chat. When chat and viewers were split up for user management purposes that information was made specific to chat connections.

I see no reason why we can't bring back a new viewers table that just doesn't have any chat information in it.

[2021-10-20 19:01] muesli commented on #1475
That's why I'm suggesting a barebone basic config that's universally usable. No reverse proxying, just a plain Owncast docker-compose.

[2021-10-21 00:20] gabek commented on #1473
Closed in https://github.com/owncast/owncast.github.io/pull/67

[2021-10-21 00:20] #1473 closed, assigned to nobody

[2021-10-21 00:20] #1452 closed, assigned to nobody

[2021-10-21 00:26] gabek commented on #1459
While Owncast isn't using these services for long term storage, they are, as advertised, storage providers. If we called them "streaming providers" or something it would be misleading and incorrect.  As it stands we can say that most (if not all) S3 compatible storage providers can be used with Owncast and be accurate. If we called them something else then I'm not sure how to point people to the c

[2021-10-21 18:38] gabek commented on #661
All seems to be working with new Preact releases now. Closing.

[2021-10-21 18:48] #1475 closed, assigned to nobody

[2021-10-21 18:50] gabek commented on #1475
If we need to add something specific to docker-compose to our documentation we can do that, but I'm guessing we probably don't since we already point people to the image in our Docker page.  I went ahead and removed the confusing, overly specific examples from the repo.

[2021-10-21 21:12] #1404 closed, assigned to gabek

[2021-10-21 21:50] gabek opened #1488 "Make followers tab item only show if Federation is enabled"

[2021-10-21 21:56] gabek opened #1489 "Typing in the Follow modal fires the web app shortcuts"
For example, typing `c` hides the chat.

[2021-10-22 00:21] #1439 closed, assigned to gabek

[2021-10-22 13:51] #1325 closed, assigned to nobody

[2021-10-22 17:36] gabek opened #1491 "Add a recommendation in the admin to add a second, lower quality if only one is set"
I've seen that many of the buffering problems exist when people only have one output variant set, at their optimal, full quality. This is fine for people who can view it, but not everyone can. We can add an alert on the video configuration page saying only one variant is configured and recommend a second, lower, quality so more people can view the content.

[2021-10-22 18:08] gabek opened #1492 "Investigate replacing mattn/go-sqlite3 with cznic/sqlite"
To facilitate a simpler development environment and easier builds it would be nice if we could move away from the cgo implementation of the sqlite driver.  The https://gitlab.com/cznic/sqlite version is a sql driver as well, so maybe we can just swap it out, but much testing would be required.

[2021-10-22 21:38] #1328 closed, assigned to nobody

[2021-10-23 16:45] gabek commented on #1491
If taking this a step further we could add a button that automatically adds a low quality version.

[2021-10-25 16:14] #1332 closed, assigned to nobody

[2021-10-26 12:21] spannerman79 commented on #1451
I would love to know the outcome of your testing @gabek as I use Vultr myself personally.

[2021-10-26 13:55] sitehatchery opened #1493 "Dropbox File Storage"
I'd like to use DropBox for storing videos that have streamed.

[2021-10-26 14:17] sitehatchery commented on #1493
This should be the end point:
https://www.dropbox.com/developers/documentation/http/documentation#files-upload

Requires a S3 compatible storage provider, but I would love if this worked with Dropbox.

<blockquote><img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png" width="48" align="right"><div>Dropbox</div><div><strong><a href="https://www.dropbox.com/d

[2021-10-26 14:24] aaronpk commented on #1493
Dropbox dropped support for static file serving a few years ago, so it won't be possible to use Dropbox for hosting the actual streaming segments during a livestream. I could see it being useful to store the archived recordings in Dropbox once the recording feature is added, but that's still a ways out.

[2021-10-26 14:29] sitehatchery commented on #1493
Yep, it will be for archived recordings.

I do like what I see here:  https://www.backblaze.com/b2/cloud-storage.html

Does setting this up not archive the recordings yet? I hoped so.

Jason Cox
Support Phone: (530) 924-3828
Cell: (530) 680-2734

To create a *support ticket *for help with your website or software
project, please send an email to ***@***.*** or log in here:
https://sitehatchery.fre

[2021-10-26 14:31] aaronpk commented on #1493
Correct, there is no recording feature at the moment. It's on the roadmap but IIRC there are some other priorities in the works at the moment too. https://github.com/owncast/owncast/milestone/5

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favico

[2021-10-26 14:36] sitehatchery opened #1494 "Connected Chat Participants"
The only major issue I'm continuing to have is that the Connected Chat Participants never shows chat participants in any browser. Here's what it looks like when there's no stream:

![image](https://user-images.githubusercontent.com/2289893/138900937-19ec0b9f-b837-416f-a974-343beac59ee3.png)

Here's what it shows when there's an active stream:
![image](https://user-images.githubusercontent.com/2289

[2021-10-26 14:37] sitehatchery commented on #1493
Thanks!

Jason Cox
Support Phone: (530) 924-3828
Cell: (530) 680-2734

To create a *support ticket *for help with your website or software
project, please send an email to ***@***.*** or log in here:
https://sitehatchery.freshdesk.com/

On Tue, Oct 26, 2021 at 7:31 AM Aaron Parecki ***@***.***>
wrote:

[2021-10-26 17:56] gabek commented on #1493
The plan for recordings allows for replays, not for archival.  I know they might sound like the same thing, but the I still want to optimize for somebody being able to press "Play" and streaming a replay of a prior stream, with all of the benefits of HLS and adaptive bitrates. Not a directory with rendered files to download.

So in short, none of this would be compatible with Dropbox.

[2021-10-26 17:56] #1493 closed, assigned to nobody

[2021-10-26 17:59] gabek commented on #1494
Not sure! Do you see any errors in the browser console?

[2021-10-26 18:02] aangiel opened #1495 "Support path-based S3 storage"
Hi!

According to second paragraph of https://owncast.online/docs/storage/, I would to ask for integration with Oracle Cloud Object Storage.

It is compatibile with AWS S3 API, but unfortunatelly except one point:

https://docs.oracle.com/en-us/iaas/Content/Object/Tasks/s3compatibleapi.htm#usingAPI ->
-> "Modifying your application" ->
-> point 4:

Thanks!
Artur Angiel

[2021-10-26 18:35] gabek commented on #1495
Currently Owncast expects S3 providers to use host-style since AWS was deprecating path-based support (https://github.com/owncast/owncast/commit/b2953028cf6d9040dba2c41268fb3db62260b65a#diff-8d797b99f87223de9df31a2fd08d1d32aa3087c951a87a9e478b53f0e5e51a22).  There's nothing stopping us from adding a way to switch between the two, however.

If somebody would like to do that it's just an additional

[2021-10-26 21:14] aangiel commented on #1495
Tomorrow I'm gonna update docs

[2021-10-26 23:21] sitehatchery commented on #1494
Nope, there are no errors.

There is an error from the website that has the iframe of the video stream
embedded.

[image: image.png]

Jason Cox
Support Phone: (530) 924-3828
Cell: (530) 680-2734

To create a *support ticket *for help with your website or software
project, please send an email to ***@***.*** or log in here:
https://sitehatchery.freshdesk.com/

On Tue, Oct 26, 2021 at 10:59 AM Gabe

[2021-10-26 23:23] sitehatchery commented on #1494
It also shows the same on the server.

On Tue, Oct 26, 2021 at 4:21 PM Jason Cox ***@***.***> wrote:

[2021-10-26 23:41] sitehatchery commented on #1494
It's this setInterval function that it doesn't like:

[image: image.png]

Jason Cox

On Tue, Oct 26, 2021 at 4:23 PM Jason Cox ***@***.***> wrote:

[2021-10-27 00:16] gabek commented on #1494
You keep replying with ` [image: image.png]` when I think you mean to upload an image.

[2021-10-27 00:17] sitehatchery commented on #1494
Replying via email. It’s probably not sending properly. I’ll send via
GitHub.

On Tue, Oct 26, 2021 at 5:16 PM Gabe Kangas ***@***.***>
wrote:

--
Jason Cox
Support Phone: (530) 924-3828
Cell: (530) 680-2734

To create a *support ticket *for help with your website or software
project, please send an email to ***@***.*** or log in here:
https://sitehatchery.freshdesk.com/

[2021-10-27 10:59] jeyemwey opened #1497 "List of configurable username suggestions"
The Docker-style terminology might not suite everyone, especially in a more serious context. That's why some admins are asking for an option to have a custom list of predefined usernames which should be used instead of the Docker phrases.

INFO: The phrase generator is here: https://github.com/owncast/owncast/blob/develop/utils/phraseGenerator.go

INFO: The "old" way (custom prefix and random numb

[2021-10-28 13:46] sitehatchery commented on #1494
I’ll try to add the images on GitHub again.

![D01A5DFD-E446-4280-B016-FF741EF11C73](https://user-images.githubusercontent.com/2289893/139268553-2a4f6d14-00e2-4ee4-9275-d2cb80059e36.png)
![F8C8FDB9-A167-4326-BB6D-5E40DC56FFFA](https://user-images.githubusercontent.com/2289893/139268557-3b7576b7-2f7b-47cc-81a1-be7b9573b670.png)

[2021-10-28 16:14] gabek commented on #1494
Are you running v0.0.10?

[2021-10-28 16:18] sitehatchery commented on #1494
.09 as .10 just has to do with s3 storage.

Jason Cox

On Thu, Oct 28, 2021 at 9:14 AM Gabe Kangas ***@***.***>
wrote:

[2021-10-28 16:22] gabek commented on #1494
Does the non-embed interface work?

[2021-10-28 16:28] sitehatchery commented on #1494
I embedding it like this:
https://owncast.online/docs/embed/#embedding-standalone-chat

Do you want to point me to the non-embed interface and I'll give it a try?

On the streaming page, I have the chat positioned on the right in a column,
so I'd want to keep that layout, but I'd like to try not presenting it in
an iframe, if there's an option for that.

On Thu, Oct 28, 2021 at 9:22 AM Gabe Kangas

[2021-10-28 16:30] gabek commented on #1494
Instead of going to `https://your.site/embed/chat/readonly` go to `https://your.site`.

Have you customized the Javascript at all or made any other changes?

[2021-10-28 16:35] sitehatchery commented on #1494
I see what you are saying, but I had disabled that page because I don't
want someone accessing the root of the domain, so I have changed that page
to show nothing. I can change it back though to test, or copy that code to
another page.

The only javascript I've changed is to the video js to autoplay the video.

To the other html pages, I've added no cache headers.

On Thu, Oct 28, 2021 at 9:30 AM

[2021-10-28 16:40] gabek commented on #1494
That explains it. I'm not sure what method you used to add additional Javascript, but you'll have to make sure it falls in line with the content security policy.  https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src.  Make sure you don't have any inline Javascript or change the inline Javascript that exists and that everything is loaded via Javascript files

[2021-10-28 16:59] sitehatchery commented on #1494
I'm not sure what that explains. Simply adding autoplay was done this
morning and doesn't have anything to do with the issue.

This is related to chat though. Using https://your.site. connects to the
video but I don't see any chat capability with the index file.

On Thu, Oct 28, 2021 at 9:40 AM Gabe Kangas ***@***.***>
wrote:

[2021-10-28 17:13] gabek commented on #1494
The error you shared above said something in your install does not adhere to the content security policy. It says something is attempting `unsafe-eval`. I don't have access to what you've changed or your install so I can't tell you what might be the cause. So I suggest reverting your changes, reading about the content security policy, and then adding changes back that do not go against the policy.

[2021-10-28 17:17] sitehatchery commented on #1494
I'll try v0.0.9, but the stream duration interval wasn't changed. That was
a note of where the error was stemming from. And nothing else was changed
at all up until the point I sent the screen clip of the error and the code
that was causing the error.

The issue I'm having is that the chat participants are not showing in the
admin page. I'm not sure why not. The error in the error console was the

[2021-10-28 17:19] gabek commented on #1494
This is the error I'm referring to that will break pretty much everything because of the CSP.

![](https://user-images.githubusercontent.com/2289893/139268557-3b7576b7-2f7b-47cc-81a1-be7b9573b670.png)

[2021-10-28 17:21] sitehatchery commented on #1494
That makes sense that it would break everything. But how should I go about
fixing that? As that app-video-only.js is coming from the Owncast install.

On Thu, Oct 28, 2021 at 10:19 AM Gabe Kangas ***@***.***>
wrote:

[2021-10-28 17:27] gabek commented on #1494
I'm not sure. You said you were running `v0.0.9` and it doesn't work. You also said you made javascript changes.  So I checked out `v0.0.9` and it worked without any changes. So I recommend not making any changes if things aren't working for you.

[2021-10-28 17:40] sitehatchery commented on #1494
I'm using v0.0.8. I only made a small javascript change this morning, but
the issue was from a couple of days ago. No worries... I'll keep trying to
see what I can do. Thanks so much for your responsiveness. It's awesome,
actually.

On Thu, Oct 28, 2021 at 10:27 AM Gabe Kangas ***@***.***>
wrote:

[2021-10-28 18:15] ghost commented on #1478
That would be useful for sure.

[2021-10-29 00:27] #1495 closed, assigned to nobody

[2021-10-29 09:32] b-squared42 opened #1501 "Steam as a Social Platform"
Small Feature Request:
I can choose between many social platforms in the general settings. I would like to have _Steam_ in there as well.
[Logopedia](https://logos.fandom.com/wiki/Steam)
[Official Steam Branding Guidelines pdf](https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/german/Steam_Guidelines_1217.pdf)

[2021-10-29 17:04] #1482 closed, assigned to nobody

[2021-10-29 17:58] sitehatchery commented on #1494
Here is what the host said:

I do see the Content Security Policy headers set on starchaserz.com:

$ curl -I https://starchaserz.com/
HTTP/1.1 200 OK
Date: Fri, 29 Oct 2021 17:27:43 GMT
Server: Apache
Accept-Ranges: bytes
Access-Control-Allow-Origin: *
Cache-Control: public, max-age=600, max-age=3600
Content-Length: 7318
*Content-Security-Policy: script-src 'self'
 'sha256-2HPCfJIJHnY0NrRDPTOdC7AO

[2021-10-30 04:03] gabek commented on #1501
If anybody wants to add this you can append to the list of existing platforms at: https://github.com/owncast/owncast/blob/develop/models/socialHandle.go#L22

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div>

[2021-10-30 04:06] gabek commented on #1303
@unclearParadigm Still interested in giving this a go?  After the conversation in #1478 it makes sense to do this by supporting Prometheus than building an a fuller-featured internal metrics platform.

[2021-10-30 11:02] LoicB commented on #1430
Hello! If you want I can translate it into French.

[2021-10-30 13:25] #1358 closed, assigned to nobody

[2021-10-30 13:28] unclearParadigm commented on #1303
@gabek: Absolutely, I'd love to! Though, I can't really give you a ETA for completion yet. Quite a lot going on over here at the moment. But I'm going to tackle it!

[2021-10-30 14:32] litori commented on #1459
I think renaming it to CDN could be more suitable as it is what they are.  It clears up the misunderstanding of video storage.

[2021-10-30 14:48] aaronpk commented on #1459
I agree "streaming provider" is not a good name. I like "CDN" though! Especially because if you don't configure one of these providers you are serving the files from the instance itself, which sounds very much like not using a CDN.

[2021-10-30 17:19] gabek commented on #1459
CDNs work differently.  You put CDNs in front of your origin server, where with object storage we push content to an external server.  You could use a CDN but no storage provider, or a storage provider with a CDN, or a storage provider with no CDN.

[2021-10-30 17:58] gabek commented on #1430
Sure! I haven't had a chance to dig through the wizard to see if it automatically selects the correct language or not, so the other translations are waiting on figuring that out. But if you want to add French, we can add it to the list once that part is functioning.

[2021-10-30 21:47] #1501 closed, assigned to nobody

[2021-10-30 22:01] jeyemwey opened #1504 "Slow webhooks servers might cause delays"
The webhooks are run sequentially for one event, meaning that a chat message was first send to the first applicable webhook, and only to the next when it has closed the call.

This might create significant delay if one webhook recipient is slow in its response (e.g. if they're doing expensive operations on their end).

[2021-10-30 22:14] gabek commented on #1504
I do think the webhooks should be tweaked, but for a bit of a different reason.

In your example a slow server delays the other webhooks.  I think that's ok because it limits the number of inflight webhook connections per chat message sent.  But the real downside is if a bunch of chat messages get sent at once.  Then there _are_ a bunch of inflight webhook events, and to make it worse, each chat m

[2021-10-30 23:19] jeyemwey commented on #1504
I see where you're going here, but this would happen regardless if many chat events happen at the same time since the firing is not queued at all. My proposed changes would only remove the delay for the other webhook urls.

This would require some proper queue management since every event immediately fires the list of webhooks right now. To protect the webhook endpoints, we'd need to keep track of