[2022-04-19 13:01] jprjr commented on #1826
This comes off as somewhat condescending, because it implies the project author knows about WCAG guidelines and is choosing to not implement them / being lazy, or alternatively: they're not a great web developer if they're not familiar with making accessible websites.

I don't know the author, don't know their background - this could be their first project to gain traction and accessibility hasn't

[2022-04-19 13:52] Jookia commented on #1826
I don't have the energy to deal with this. Sorry for any offense/etc, I've deleted my posts and fork and unsubscribing from this issue.

[2022-04-19 20:27] #1793 closed, assigned to nobody

[2022-04-19 20:37] gabek commented on #1648
A huge thank you to @t1enne for wanting to work on this and get it into our current frontend!

[2022-04-20 05:43] gabek opened #1843 "Admin CSS customization: Use a real editor component"
Right now it's near impossible to do any real CSS writing on the text component in the admin that's used for editing CSS. Using a component that has syntax highlighting would make life better when trying to edit CSS.

https://uiwjs.github.io/react-textarea-code-editor/ seems like a nice option.

[2022-04-21 02:29] gabek commented on #1830
Apparently I fixed it on resize events, but now it's broken in natively-narrow screens (without resizing). If I open a narrow browser window and open Owncast it cuts off the chat.

![image](https://user-images.githubusercontent.com/414923/164359555-fb50442b-c635-4a1e-95db-ad871495c379.png)

[2022-04-21 05:21] #1648 closed, assigned to nobody

[2022-04-21 17:08] #1830 closed, assigned to nobody

[2022-04-21 21:55] #1214 closed, assigned to nobody

[2022-04-21 21:55] #1272 closed, assigned to gabek

[2022-04-21 21:55] #1273 closed, assigned to gabek

[2022-04-21 21:55] #1810 closed, assigned to gabek

[2022-04-22 02:59] gabek opened #1847 "Improve admin section for Twitter notification"
- Add link to real documentation.
- Add validation. Currently you can save the form without fully filling it out.
- Specify that it's OAuth 1.0a credentials that are required.
- Save button doesn't disappear after pressing save.

[2022-04-22 04:57] gabek opened #1848 "Move owncast-admin project to be the owncast/web project"
- Move `owncast/owncast-admin` repo files to live under `owncast/owncast/web`, preserving repository history
- Remove `owncast/owncast-admin` and fix documentation pointing to the no longer used repository.
- Add documentation in the primary repo about how the web project is laid out and used.

[2022-04-22 04:59] gabek opened #1849 "Configure NextJS project to support new web frontend project"
Right now the admin (soon to be web) project assumes `/admin` to be the base URL and does not support `/`.

[2022-04-22 05:01] gabek opened #1850 "Web UI v2: Create page layout"
Using the design as a guide, create the basic, empty layout for the new web page using Ant Design components.

- Should support mobile/narrow windows.

[2022-04-22 05:07] gabek opened #1851 "Web UI v2: Header"
- Stream name when offline or when no stream title is available.
- Stream title when it is available.

Stream name: "Gabe's stream"
Stream title: "I'm streaming Duke Nukem"

[2022-04-22 05:09] gabek opened #1852 "Web UI v2: User dropdown"
- Change chat name.
- Toggle chat.
- Show authentication modal.

[2022-04-22 05:10] gabek opened #1853 "Web UI v2: Authentication modal"
- IndieAuth
- Fediverse Auth

[2022-04-22 05:54] gabek opened #1854 "Web UI v2: Decide on + setup state management"
It's possible we just use `Context`, but I want to investigate what other options out there. Something far more lightweight than Redux, though.

[2022-04-22 19:39] gabek opened #1856 "Add documentation for Google Cloud Storage"
https://owncast.rocket.chat/channel/general?msg=xh2zZexsvEijGRd7Y

1. Go to "IAM & Admin" -> Service Account
2. Create new Service Account with role "Storage Admin - Full control of GCS resources."

Step B

1. Create a bucket in "Cloud Storage"
2. On your Bucket, click on "Permissions" tab
3. Add new permission by click on "Add"
4. New principals: allUsers and role: Storage Object Viewer (to allow

[2022-04-22 20:03] #1823 closed, assigned to nobody

[2022-04-22 22:21] gabek opened #1857 "Web UI v2: Video player component"
- Can primarily use the existing player, since we're not reinventing the player from scratch.
- UI v2 will probably have a different play button design so some new CSS is probably required.
- Would also be nice to use our own font and stylize the menus/buttons a bit to make it fit in better than the stock theme that we use now.

[2022-04-22 22:22] gabek opened #1858 "Web UI v2: Status bar"
TBD based on updated design.

- Online/offline status.
- How long the stream has been live.
- Viewer count.

[2022-04-22 22:29] gabek opened #1859 "Web UI v2: Chat component"
Design TBD.

- Message input field for composing new message.
- Scrolls to bottom on new message.
- Chat events (joins, actions)
- "You are now a moderator" message when you get the client info update.
- Chat should work standalone just like `/embed/chat/readwrite` does now.
- Colors, sizes, etc should be customizable via CSS.

See #1324 for history about previous chat scrolling issues.
See #1560

[2022-04-22 22:48] gabek opened #1860 "Web UI v2: Custom page content component"
Design TBD.

- Stream name
- Current stream title
- Logo
- Tags
- Social icons + links
- Custom page content

[2022-04-22 22:49] gabek opened #1861 "Web UI v2: Followers component"
Design TBD

- Responsive grid of followers
- Pagination

[2022-04-22 22:52] gabek opened #1862 "Web UI v2: Fediverse follow modal"
- Lets you type in your account.
- Strips a prefixed `@` if somebody adds one to their account.
- Handle errors.

[2022-04-22 22:53] gabek opened #1863 "Web UI v2: Chat authentication modal"
Design TBD.

- Has tab bar to select between the different methods of authentication.
- Handle errors.

Needs to support our two auth methods:

- IndieAuth
- Fediverse Auth

[2022-04-22 22:55] gabek commented on #1339
0.0.12 has a chat dropdown menu in #1648 that includes a "change name" option. This should make it much easier for people to know what's going on and change their name.

[2022-04-22 22:55] #1339 closed, assigned to nobody

[2022-04-22 22:57] gabek opened #1864 "Web UI v2: Chat moderations action menu"
New design TBD.

- Ban a user
- Remove a single message
- See details about the user (display modal)

[2022-04-22 23:31] gabek opened #1865 "Owncast release 0.0.12"
## Owncast release 0.0.12

The following are intended to address the test scenarios and documentation that should be accomplished for a public release.

- [x] This release was tested as a fresh install, with no pre-existing data or configuration.
- [x] This release was tested as an upgrade over a previous install, keeping the data and configuration.
- [x] This release was tested using a Docker env

[2022-04-23 00:23] #1774 closed, assigned to gabek

[2022-04-23 00:53] gabek opened #1866 "v0.0.12 Testing"
## Sanity check: Is video broken?
One person who was running a dev build of 0.0.12 said "audio playback is fine, but video only updates every five seconds. 0.0.11 is fine".  I don't know if this is specifically an issue with him, or if there's something broken with 0.0.12.  I've seen instances running the dev build of 0.0.12 and I haven't encountered this or heard about it from anybody else, inclu

[2022-04-23 03:14] gabek opened #1867 "Web UI v2: API request layer"

[2022-04-23 03:19] gabek commented on #1324
Closing in favor of the future rewrite.

[2022-04-23 03:19] #1324 closed, assigned to gabek

[2022-04-23 03:21] gabek opened #1868 "Web UI v2: Chat input autocomplete - chat display names"
Use tab key to autocomplete:

- Chat display names

How it works:

`@gab<tab>` should autocomplete `@gabek`.

[2022-04-23 03:22] gabek commented on #1248
Closing in favor of future rewrite. #1868

[2022-04-23 03:22] #1248 closed, assigned to nobody

[2022-04-23 03:24] gabek commented on #1527
Closing in favor of the future rewrite. #1527

[2022-04-23 03:24] #1527 closed, assigned to nobody

[2022-04-23 03:27] ssentanoe commented on #1856
:+1:

[2022-04-23 03:45] gabek opened #1869 "Web UI v2: Websocket connecting + handling"
- Registration for access token
- Connecting to socket
- Handling and propagation of websocket events

[2022-04-23 03:46] gabek commented on #1560
Closing in favor of the redesign. #1859

[2022-04-23 03:46] #1560 closed, assigned to nobody

[2022-04-23 03:50] gabek commented on #1445
Closing in favor of redesign+rebuild. #1859

[2022-04-23 03:50] #1445 closed, assigned to nobody

[2022-04-23 03:51] gabek commented on #1680
Closing in favor of rebuild of the layout.

[2022-04-23 03:51] #1680 closed, assigned to nobody

[2022-04-23 04:11] gabek opened #1870 "Web UI v2: Support bundling the web project into the app"
- Change core application to serve the web application from `/web`.
- Remove the Github workflow to pull in the old admin repository.
- Make the changes required to no long require `webroot` and serve the dynamic web accessible files (thumbnail, preview gif, logo) from elsewhere.

[2022-04-23 04:35] gabek opened #1871 "Web UI v2: Server-side render index.html"
In order to populate Meta tags (opengraph, twitter, SEO, etc) with v2 of the UI we should server-render index.html with a Go template.

This might be a bit tricky since it'll require taking the staticly rendered NextJS index.html that's created, and then use that as a Go template. So the Go template tags will have to be in the final rendered file.

[2022-04-23 20:17] funkyhippo opened #1873 "Forbidden username list does not parse commas."
I'm not sure if this is intended behaviour, so I figured I'd open an issue to discuss it.

Currently, the backend stores the forbidden names list as a comma-separated string. This means that the forbidden names list cannot contain commas as they get parsed as the delimiter when returning the forbidden names list. In addition, the frontend will display your input as-is:

<img width="82" alt="image"

[2022-04-23 20:26] gabek commented on #1873
This is a side effect of how this configuration used to look. It used to be a simple text field where you just type names that were comma-separated, and then it got changed to the easier to use UI, but the backing data stayed the same. The best solution would be to treat this as an actual array. I can take care of that and migrate the old data over.

[2022-04-23 20:54] gabek opened #1874 "Remove the Google FLOC workaround"
It seems like Google FLOC is dead for good, so we can probably remove the `Permissions-Policy: interest-cohort=()` header in HTTP responses.

[2022-04-23 22:20] gabek opened #1875 "When chat functionality is completely disabled, hide the chat user dropdown"
![image](https://user-images.githubusercontent.com/414923/164947836-bf74ebc8-1935-4c6d-b1a4-63484ea11010.png)

[2022-04-24 02:50] gabek opened #1876 "Create automated upgrade test"
- Start at an older version
- Make some API calls to configure it
- Check out each release tag and build + run
- Once getting to the destination version make sure it builds + runs and the configuration that is expected to be there still is.

[2022-04-24 03:39] #464 closed

[2022-04-24 04:12] gabek opened #1877 "Move broadcast demo server to k8s"
It's sitting on the old demo server, but it makes sense to put it on the k8s setup.

[2022-04-24 05:12] ssentanoe commented on #1856
additional -> change the ACL to fine-grained

And to disable index listing of the bucket, use Storage Legacy Object Reader instead of Storage Object Viewer
https://stackoverflow.com/questions/19124162/how-to-disable-google-cloud-storage-bucket-list-from-acl-control

[2022-04-24 05:59] gabek opened #1878 "Populate the "Learn more" in Browser push notification modal"
It's currently an empty link.

[2022-04-24 20:59] gabek opened #1879 "Add icon for authenticate menu item"
![image](https://user-images.githubusercontent.com/414923/164996351-c499721b-95dd-4539-b5a0-4ca8756fc566.png)

[2022-04-25 01:44] #1847 closed, assigned to gabek

[2022-04-25 02:08] #1875 closed, assigned to gabek

[2022-04-25 05:20] gabek opened #1880 "Follow from Friendica"
When performing a remote follow the following error is displayed in Friendica:

[2022-04-25 17:12] gabek commented on #1880
See Friendica thread on the topic: https://github.com/friendica/friendica/issues/11442

[2022-04-25 20:17] t1enne commented on #1879
Maybe a Key icon? https://heroicons.dev/?query=key

<blockquote><img src="https://heroicons.dev/static/social.png" width="48" align="right"><div><strong><a href="https://heroicons.dev">Heroicons – Free Open Source SVG Icon Library</a></strong></div><div>New MIT open source SVG icon library designed by Steve Schoger. Solid and stroke variants, one-click copy-paste, and Figma file. Built with Tailwi

[2022-04-25 20:20] gabek commented on #1879
I think that's a fine choice!

[2022-04-25 21:32] #1878 closed, assigned to gabek

[2022-04-25 21:32] #1873 closed, assigned to gabek

[2022-04-25 22:35] #1879 closed, assigned to gabek

[2022-04-26 14:40] jprjr opened #1883 "Request: large emotes"
Hi there - I want to stress that this feature request is very silly.

So, users on my Owncast instance discovered they can edit the HTML elements of emotes before sending - and by removing the `emote` class, the emote is no longer limited by width. A lot of our source emote images are something like 3x or 4x the displayed size, so the result is they send a large emote.

It's actually really fun, s

[2022-04-26 15:00] Troyjan20072001 commented on #1805
I am one of those users that prefer Color Options while chatting with friends. It gives that personal feeling.

[2022-04-26 15:10] anKerrigan commented on #1805
I would also like to (politely) make the case for custom user colors. For me, it's an issue of accessibility. People recognize color before text and if, for example, my user color is the same as someone else's, I might accidentally skip over it, thinking it's mine, especially if chat's busy.

I also think it would be beneficial to color-blind people, so they can have more control over how their me

[2022-04-26 19:06] ghost opened #1884 "Ability to edit external actions"
I think it would be great to be able to edit an external action instead of having to delete and re-apply it to change information.

An example that would make this useful is having a complicated url that you don't have on hand, but all you need to do is change the background colour because the text has become invisible (set background to white, but text is white and unchangeable).

[2022-04-27 11:51] #1693 closed, assigned to nobody

[2022-04-27 14:48] FilipStadler commented on #1379
I use RaspberryPI4 32bit with OMX - I would upgrade to 64 bit OS if the hardware encoder was working on 64bit.
I avoid making multiply version of the stream because of problems - I tried with two variants.
 one Video Passthrough  and the a smaller 1280x720p but the it looks like it also changes the video passed to 720 p also thats a bit strange to me - if I trie to have two encoded streams it did

[2022-04-27 22:12] gabek commented on #1690
I'll just keep pinging that Misskey issue in hopes they release the fix.

[2022-04-27 23:08] gabek commented on #1840
https://social.shadowfacts.net/objects/14cacd62-a0ce-4a08-bd92-ea902a9f256c suggests adding a media type:

<blockquote><img src="https://social.shadowfacts.net/media/4b481afc591a8f3d11d0f5732e5cb320422dec72d7f223ebb5f35d5d0e821a9c.png?name=blob.png" width="48" align="right"><div><strong><a href="https://social.shadowfacts.net/notice/AIt9uTVtpv46HJVeeO">Dr. Glenn Pierce (@shadowfacts@social.shadowf

[2022-04-27 23:40] gabek commented on #1840
I just gave adding the `mediaType` a shot (and fixed the image description being set), and it didn't seem to make a difference. But it's good to have this anyway.

[2022-04-28 01:52] gabek commented on #1840
Did some back and forth troubleshooting with [Shadowfacts](https://social.shadowfacts.net/users/shadowfacts) and it works after he tweaked the Pleroma attachment code to accept single objects, per the spec. He commented on the Pleroma issue with the fix.

![image](https://user-images.githubusercontent.com/414923/165659919-8bacc345-d223-4d46-b795-27d9e673fece.png)

[2022-04-28 19:50] gabek commented on #1848
Done. The `webv2` branch in the `web` directory is now the staging ground for future development

[2022-04-28 19:50] gabek commented on #1848
Reopening until I write documentation.

[2022-04-28 19:51] gabek commented on #1849
Done. Next now supports both sites under the `web` directory.

[2022-04-28 19:51] #1849 closed, assigned to gabek

[2022-04-28 19:52] gabek opened #1887 "Web UI v2: Emoji picker for chat text input."
Must support the custom emoji that are returned in the `/api/emoji` call.

[2022-04-28 23:41] Ruskyy commented on #505
I have exactly the same issue.
No idea why they inforce absolute paths. Ends up turning Owncast useless in a lot of usecases..

[2022-04-29 00:51] pbsds commented on #505
The alternative is to host it behind a separate domain name. Nginx and traefik is able to route this.

[2022-04-29 16:10] funkyhippo opened #1888 "Admin UI: log viewer entries per page dropdown doesn't behave correctly."
The admin UI's `# / page` selector does not change the number of logs displayed per page.

<img width="365" alt="image" src="https://user-images.githubusercontent.com/52957110/165982221-1a4ee6c4-3154-4694-8338-4ccf85292f02.png">

## Reproducing

1. Navigate to the admin UI of owncast
2. Go to Utilities > Logs
3. Wait until there are multiple pages of logs, then try selecting a different `# / page`

[2022-04-29 19:00] gabek commented on #1888
I guess the table component now shows that by default. I'd normally just explicitly turn it off, but it sounds like you'd appreciate the customization so I'll fix it up so it works.

[2022-04-29 20:16] #1888 closed, assigned to gabek

[2022-04-29 20:16] gabek commented on #1888
ah yup, at least I'm not going crazy.

It's fixed.

[2022-04-29 22:00] funkyhippo commented on #1888
Thanks for the quick fix!

[2022-04-30 01:12] gabek opened #1889 "Fix datastore cache warming not firing"
It hasn't been running at launch.

[2022-04-30 01:18] gabek opened #1890 "Improve chat history query performance"
An issue that has lingered, improved slightly, but still occurs as our queries have become more complex.

When the tables have many rows, the chat history query can get very slow at scale. It doesn't impact most streamers, but one person reported a problem with it.

Query: https://github.com/owncast/owncast/blob/develop/core/chat/persistence.go#L292

I'd love the help of anybody who can shed some

[2022-05-01 06:18] #1889 closed, assigned to nobody

[2022-05-01 07:09] gabek commented on #1890
One major bottleneck seems to be the `scan` of history rows. I have no idea why it's so slow.

[2022-05-02 13:19] jprjr commented on #1890
I might be able to help - is the user able to share their sqlite file? Alternatively I could write a script to synthesize it - how many messages do they have (roughly)?

[2022-05-02 15:23] jprjr commented on #1890
Started taking a look at the schema - loaded it into a sqlite database, and tried various queries with `explain query plan`.

First thing I noticed is a syntax error when creating the messages db https://github.com/owncast/owncast/blob/2c47ddeef0ab1b21ef610d4de25787875e6dbeb5/core/data/messages.go#L26 - sqlite doesn't allow naming an index `index`. This doesn't affect this particular issue as far

[2022-05-02 16:00] gabek commented on #1890
These are good finds.

For me, I used a WIP test to generate load against a local instance.  You can find that here: https://github.com/owncast/owncast/tree/gek/load-tests/test/load/new. Don't run the tests against the `gek/load-tests` branch, though, as there's a bunch of other experimental changes that aren't finished or are broken or not intended to actually be used.

Running the test a handful

[2022-05-02 16:29] jprjr commented on #1890
Another idea that may be worth trying, since the message timestamp is indexed:

If you added a clause like `messages.timestamp > datetime('now','localtime','-(x) hours')`, that *may* cut down processing time if you have a lot of messages that haven't been pruned yet? I'm unsure how often the pruner runs. But that would also be indexed.

For particularly busy instances, it may make since for the pr

[2022-05-03 05:12] gabek opened #1892 "Web UI v2: Keyboard shortcuts"
- [x]  m: mute
- [x] `space bar`:  pause
- [x]  0: Volume up
- [x]  9: Volume down
- [x]  f: Full screen video toggle
- [x]  c: Chat sidebar toggle

https://owncast.online/docs/website/#player

[2022-05-04 22:19] gabek opened #1895 "Stream health page shows empty rectangle when there are no viewers"
This container thing shouldn't be visible.

![image](https://user-images.githubusercontent.com/414923/166834728-0682c29a-d6b4-47f8-81bf-3ff1b4d52705.png)

[2022-05-04 22:24] gabek opened #1896 "Split out latency compensator into it's own project"
Once 0.0.12 ships and this experimental feature is tested I'd like to split it into it's own NPM package so other people can take advantage of it, and collectively improve upon it without it being tied to the Owncast internals.

Re: https://github.com/videojs/video.js/issues/7093#issuecomment-1111785587

[2022-05-05 22:37] #1895 closed, assigned to nobody

[2022-05-05 23:04] roadriverrail opened #1897 "Support for Dreamhost DreamObjects"
Hey there!

My Owncast setup is just about complete except for the S3 storage.  I'm using Dreamhost and their cloud infra options, DreamCompute and DreamObjects, to do everything.  It's almost perfect except for the part where I turn on my S3 storage and point it at my DreamObjects bucket, which leads to me getting no video and only a still frame every 30 seconds or so.  The documentation recommen

[2022-05-05 23:09] gabek commented on #1897
If you mean Digital Ocean's Spaces, it's supported, since it's just S3 storage. Others have used it.  While things could change, the documentation should be helpful: https://owncast.online/docs/storage/digitalocean/

If that doesn't help feel free to share the actual errors you're seeing, as that usually points to where the issues are with people's S3 setups.

<blockquote><img src="/images/owncast

[2022-05-05 23:17] roadriverrail commented on #1897
Sorry, I should have been more clear.  It's DreamObjects, provided by Dreamhost (https://www.dreamhost.com).  They've been my hosting provider for like 25 years at this point, so I figured I'd try them before switching to Digital Ocean.

Anyway, they claim S3 compatibility.  I don't see any errors in my logs when I set things up the way I think they should be, but I also curiously don't see any ob

[2022-05-06 00:29] gabek commented on #1897
Oh sorry I misread. You might want to try running Owncast with `--enableVerboseLogging` to see if it has any additional messages to help troubleshoot if nothing is showing up but you have it enabled.

[2022-05-06 01:23] roadriverrail commented on #1897
Thanks for the tip!  I tried that but I don't really see any errors showing up related to the use of the S3 storage:
[code]

[2022-05-06 01:31] roadriverrail commented on #1897
Actually, I'm now able to confirm that there are files being stored in the S3 bucket, so I know they're at least getting there.  I've downloaded some of the .ts files out of there and they look just fine, can be downloaded from an incognito window, etc.  I'm not sure if this matters, but I notice the URL to download them is of the format:
https://objects-us-east-1.dream.io/<bucket>/hls/0/stream-lR

[2022-05-06 01:33] gabek commented on #1897
Good to hear it!  Hopefully you can just enable CORS with your storage provider and you should be good to go.  Looks like they have instructions specifically for that. https://help.dreamhost.com/hc/en-us/articles/216201557-Configuring-CORS-on-a-DreamObjects-bucket

<blockquote><div><strong><a href="https://help.dreamhost.com/hc/en-us/articles/216201557-Configuring-CORS-on-a-DreamObjects-bucket">Se

[2022-05-06 01:40] roadriverrail commented on #1897
Aha!  I really appreciate this.  I'm a kernel hacker who only fakes it in devops!

[2022-05-06 14:46] roadriverrail commented on #1897
Indeed, this was the only missing part here.  Would anyone on the team like my notes about how to set this all up on Dreamhost?

[2022-05-06 15:03] jprjr commented on #1897
You may wanna take a look at the doc repo - if you're able, you could open a pull request with a new page for DreamObjects - the area covering S3 providers is here: https://github.com/owncast/owncast.github.io/tree/master/content/docs/storage

Alternatively I'm happy to help write up documentation based on your notes

<blockquote><img src="https://opengraph.githubassets.com/4866fd955592701a686056b

[2022-05-06 15:07] roadriverrail commented on #1897
Thanks again.  I'll close this issue at this point and I'll do what I can with a general-purpose write-up to get everything running on Dreamhost's DreamCompute and DreamObjects.

[2022-05-06 15:07] #1897 closed, assigned to nobody

[2022-05-06 22:56] gabek commented on #1854
Recoil is working well.

[2022-05-06 22:56] bingocaller commented on #1854
These days a bit of `Context` and `useReducer` will get you a long way. If we need something more advanced that needs to talk to the back-end I can recommend [React Query](https://react-query.tanstack.com/).

[2022-05-06 22:58] gabek commented on #1854
Oh nice! I saw Recoil was the new kid in town so I've been experimenting with that. It seems to be pretty clean and easy to use, but if it's too much overhead for what's needed I'll pull it. I'm not familiar with React Query, I'll check that out. Thank you!

[2022-05-06 23:01] bingocaller commented on #1854
Yeah, I've also heard good things about Recoil but I've yet to try it. React Query isn't specifically for state management, but in a RESTful application it can sometimes fill that same gap that one would otherwise use Redux for.

[2022-05-06 23:08] bingocaller commented on #1625
What if Owncast had a setting that would allow users to toggle between compact and "big" mode? Sort of like Slack does with "Clean" and "Compact" message themes:

### Clean

<img width="613" alt="Screenshot of Slack's settings pane showing the 'Clean' message theme" src="https://user-images.githubusercontent.com/1763556/167226395-cf0ff60b-f098-4615-b381-d4c9c66243de.png">

### Compact

<img width=

[2022-05-07 00:34] gabek commented on #1625
I like the idea. But it then requires two complete sets of that messages to be built, and maintained, and as new features get added whatever style of message isn't the default is unlikely to get the attention.

What people have been doing is using custom CSS to tweak their chat messages to their own liking. Having a default that works for most people and a way for individual servers to customize i

[2022-05-08 13:10] fcwys opened #1898 "[feature request] Webui multilingual support"
Webui multilingual support

[2022-05-08 18:52] gabek commented on #1898
Duplicate of other issues. Most recent: https://github.com/owncast/owncast/issues/1604

[2022-05-08 18:52] #1898 closed, assigned to nobody

[2022-05-08 22:13] gabek opened #1899 "Web UI v2: Custom player style"
Guide on how to build a player skin here:

https://videojs.com/guides/skins/

[2022-05-08 22:13] gabek commented on #1857
Filed a standalone styling issue: https://github.com/owncast/owncast/issues/1899

[2022-05-09 07:12] gabek commented on #1407
I was thinking maybe a button somewhere that pops up a modal that has some brief details about the HLS url and a link to our documentation about how to watch an Owncast stream via external apps and platforms.

[2022-05-09 23:18] gabek commented on #1776
FYI this is specifically about the Fediverse, not about saving or changing your logo on your server.

[2022-05-10 04:53] PolynomialDivision opened #1900 "LDAP integration?"
Can you add an ldap integration?

[2022-05-10 04:58] gabek commented on #1900
You didn't even say what the integration would be or do. Stream keys? Admin login? Chat authentication? Lookup of stream details?

But no, I don't believe this would be something people would take advantage of. Something more enterprise focused might be a better fit for you.

[2022-05-10 04:58] #1900 closed, assigned to nobody

[2022-05-10 11:01] jeyemwey commented on #1900
Hi, if you're looking for viewers authentication, please check if your TLS proxy can provide that. Owncast [will infer](https://owncast.online/docs/sslproxies/#inherit-display-name-from-reverse-proxy) the username from the `X-Forwarded-User` header which your proxy should set.

[2022-05-11 02:12] gabek opened #1901 "Web UI v2: Offline alert message banner"
Streamers often need to cancel a scheduled stream and want to leave a note for their viewers. Currently they just change the text in the page body, but viewers don't know to read it looking for an update.

Some kind of highlighted alert banner to allow short notes to leave for viewers would be helpful in cases like this.

We need to know:

- Where this alert should be positioned on the page
- And

[2022-05-12 03:17] gabek opened #1902 "Add bandwidth monitor to hardware metrics page"
To assist in people knowing how much bandwidth is being used we should surface these values for them.

Would probably have to limit this to just Linux as to limit the different ways to poll the system for network statistics.

[2022-05-12 19:45] Johann150 commented on #1690
Hi just checking in from the Misskey side, do I understand correctly that this fix is not yet released? Because I think I just got this error while testing https://github.com/misskey-dev/misskey/pull/8635#issuecomment-1125355809

And I think I'll look into this bug too on our side because if I saw correctly the `object` seems to be like `https://example.com/<some uuid>` which is to my knowledge a

[2022-05-12 20:18] gabek commented on #1690
As far as I know there's two different issues at play.

1. Misskey doesn't accept IRIs as actors for some reason. So instead of fighting Misskey on this issue I changed how Owncast sends actors to use the full object instead. This change to Owncast will be released in 0.0.12. If you'd like to test against a server that's running 0.0.12 you can follow `goodnight@nightly.owncast.tv` (https://nightly

[2022-05-12 20:24] Johann150 commented on #1690
Yes as I said I tried to test my current fix for the Misskey side so # 2 should not be a problem in that case. But my question is still answered that the fix on your side is not released or at least not in 0.0.11 which I was testing against.

Testing against the one you provided works with my current open PR linked above. 👍

[2022-05-12 20:26] gabek commented on #1690
Hurray!  That's great to hear.

One of the reasons 0.0.12 wasn't released yet was I wanted to be able to test against real Misskey servers in the wild and make sure things were working, but I wasn't able to do that. But I certainly feel better now. Thanks!

[2022-05-12 22:48] choupaland opened #1903 "Windows release"
Hello there,

I would like to use owncast on windows.
have you plan to create a windows release ?

I search on issue and found that you do test on github actions.
But no windows release found.

Best regards.

[2022-05-12 22:52] gabek commented on #1903
It's very low on the list of priorities, just because most people don't use it. And those who do use Windows happily use the Linux subsystem.

I don't have a Windows test environment, but if somebody wanted to take the lead on a Windows release I'd happily let them test and make the changes required for it to happen.

[2022-05-13 01:46] gabek commented on #1826
With the frontend rewrite slowly starting, accessibility best practices are built right into the component development process. This should be a good start in doing the right thing for each component.

![image](https://user-images.githubusercontent.com/414923/168194861-2b8e75d5-b290-4628-8d4d-de062058c543.png)

[2022-05-13 03:45] gabek opened #1904 "Minimal changes to the admin to fix styling"
Since the frontend web UI and the admin are now sharing styling, some colors and layout in the admin may have adjusted in the process.

Some minor tweaks will be needed to make sure things still work, but we're not looking to spend much time on it. Just fix styling and keep the admin how it's been.

[2022-05-13 04:02] #1848 closed, assigned to gabek

[2022-05-13 04:03] #1851 closed, assigned to t1enne

[2022-05-13 05:43] gabek opened #1905 "Web UI v2: Read-only chat interface for embedding"
Exists at `/embed/chat/readonly`, for example: https://watch.owncast.online/embed/chat/readonly
This includes the chat messages component, but no chat input. The chat messages should be styled to work best for embedding.

[2022-05-13 05:43] jamestockwell commented on #1903
Hey, I ended up running it in docker on windows as a workaround and have had no issue running 4 docker images all pointed at different ports.

[2022-05-13 05:44] gabek opened #1906 "Chat only read-write interface"
Exists at `/embed/chat/readwrite`, for example: https://watch.owncast.online/embed/chat/readwrite
This includes the chat messages component, with chat input.

[2022-05-13 09:04] choupaland commented on #1903
on this repository, i don't find the way for create/push a new release.
where is the releaser "script" ?

[2022-05-13 16:53] gabek commented on #1903
Don't worry about the actual process of creating releases. The primary concern would be to make sure Owncast can natively run on Windows.

[2022-05-15 01:49] rkingett commented on #1826
I've tested the front end on Windows with the free screen reader, NVDA, and this is what I found. The biggest barrier is controls and menu items not getting keyboard focus.

I'd consider making the chat a live aria region to make it output to screen readers automatically.

When using the admin pages, the main navigation  menu, the keyboard focus isn't set, which makes it very dificult to navigate

[2022-05-15 05:15] gabek commented on #1826
Hi, @rkingett, thanks for the feedback!

Unfortunately the redesign is in _very_ early days, and there's nothing to show, and likely won't have anything for some time. All the new components are being worked on at https://owncast.online/components, but that's not likely a terribly useful source of anything unless you're actively working on the project.

That's correct that the admin sidebar menu i

[2022-05-15 21:00] bingocaller commented on #1625
@gabek I'd like to give the chat messages a stab. I have some ideas about how we might be able to support styles/themes without having to build separate sets of components.

[2022-05-15 21:17] gabek commented on #1625
Sweet!  :1st_place_medal:

That sounds great, thanks for jumping in!

[2022-05-16 18:04] #1874 closed, assigned to nobody

[2022-05-17 03:35] gabek opened #1911 "Web UI v2: Notification reminder popup"
A popup that reminds users on their 3rd visit to the page that they can get notified when the stream goes live.

- Clicking on the popup opens the notification modal
- Clicking on close will close the popup and make it never show again

[2022-05-17 03:36] gabek opened #1912 "Web UI v2: Social links"
A list of external links as displayed as logos that can be clicked on.

[2022-05-17 05:00] HolgerHuo commented on #1768
A temporary solution before the new release may be setting TMPDIR environment to /app/data/tmp so that they are on the same partitions

`-e TMPDIR=/app/data/tmp`

Don't forget to create the directory manually under your data volume and set correct permission.

[2022-05-17 18:12] gabek commented on #830
This was done with the release of 0.0.11.

[2022-05-17 18:12] #830 closed

[2022-05-17 23:31] gabek opened #1913 "Web UI v2: Follower tab empty state"
If the followers tab has no followers we need to:

- Give some information about what would normally be there
- Explain following to convince people to want to do it
- Have a call to action to show the Follow modal so they can follow

[2022-05-17 23:34] gabek commented on #1407
Or a tiny button that when clicked displays a dropdown with some common options (Play with vlc, mpv, open m3u8, etc).

[2022-05-17 23:42] gabek opened #1914 "Web UI v2: Tag icons"
Using the tags assigned to an instance, if any of them match the common use cases (gaming, music, chat, etc), show the corresponding icon next to the stream title.

If a stream title isn't set, I'm not sure... maybe not show the icon at all?

![image](https://user-images.githubusercontent.com/414923/168929434-77c14cb4-eeec-4f5d-8c86-3117b650e664.png)

![image](https://user-images.githubusercontent

[2022-05-17 23:58] gabek opened #1915 "Web UI v2: New admin page for customization"
Right now under "General" we have a way for you to manually type in CSS.

We should have a new page dedicated to visual customization that has:

- A new CSS editor that is easier to work with. Filed separately as #1843
- A way to pick the colors (via color pickers) for the primary theme colors in the application. These colors would be saved and then injected into the web app as variables to overri

[2022-05-18 05:08] gabek opened #1916 "Remove unlicensed emoji and add in some freely licensed ones"
It was suggested we make sure we have the custom emoji people expect to see and want to use. So those who are knowledgeable about such things should help curate what we ship!

We ship some that are playing pretty loose with copyright, right now, so I'm not sure what the accepted standards on such things are.

[2022-05-18 20:50] ChillyCider opened #1917 "Feature request: "Hosting" another streamer"
Kudos on the Owncast project. It is great! I was able to get a container up and running, and used it to stream some gameplay to my friends. Worked like a charm!

Ok, so I had an idea, not sure if this has been discussed already. I looked through the Issues page, and didn't see anything similar.

I was thinking about how to save on outgoing traffic. I saw the S3 integration, and I think that's grea

[2022-05-18 21:11] gabek commented on #1917
I'm glad you were able to get up and running and things are working for you!

We've discussed ["raids"](https://github.com/owncast/owncast/discussions/717), but it sounds like what you're talking about is pretty different than that.

I'm not sure what you're talking about could ever really help people in saving their local bandwidth. In fact it sounds like it would be the same, or even using addit

[2022-05-18 21:11] #1917 closed, assigned to nobody

[2022-05-18 22:11] ChillyCider commented on #1917
Thanks for the response1

That's a great point! Something i had never considered.

To address that, maybe this idea makes more sense as e.g. a "Select a Mirror/Relay" dropdown on the video player. Where your selection just changes which server the video player connects to. The options would be curated by the Owncast instance owner and also authorized by the relays themselves.

If the <s>mirror</s>

[2022-05-19 05:11] gabek opened #1918 "Web UI v2: Adjustable chat width"
Sometimes I wish chat had more real estate, but sometimes I don't. It would be really cool if we could drag the width of the chat column to adjust the layout dynamically.

I haven't looked into what it would take to pull this off. It can get pushed out if it's too much for this rewrite, but it'd be a nice touch.

[2022-05-21 02:11] gabek commented on #1901
We can merge this into the offline state.

https://owncast.online/components/?path=%2Fstory%2Fowncast-layout-offline-banner--example-custom

<blockquote><div><strong><a href="https://owncast.online/components/?path=%2Fstory%2Fowncast-layout-offline-banner--example-custom">Webpack App</a></strong></div></blockquote>

[2022-05-21 19:41] pixeldesu opened #1919 "Username length should be validated server-side"
Probably a low priority issue, but currently users can just adjust the `maxlength` attribute of the username field to get usernames longer than the 60 by default, and can cause text in the overlays to overflow. Not really critical, but maybe a small consideration to make.

(For the UI, something like `text-overflow: ellipsis` would suffice for usernames to prevent major breakage)

[2022-05-21 21:27] gabek commented on #1919
I don't think 60 was even an attempt to set name limits, it's not really something I've put any thought into. Something like 10 characters probably makes more sense.

[2022-05-22 04:38] gabek opened #1920 "User server clock time instead of client clock time in latency calculations"
Because we can't trust clocks.

- Latency compensation
- Latency reporting

[2022-05-22 14:44] t1enne commented on #1918
we'd have to keep chat width inside our state, since the antd sider component (used in our chat) requires a fixed width value. Then we can just create a mouse event on the chat's left border, which will change said width. I'm not sure if it's really worth it, but it's doable!

[2022-05-22 17:36] gabek opened #1921 "Web UI v2: Chat message username highlighting"
This is existing Owncast functionality in UI v1:

If a person says your name in chat it should be highlighted in the message to catch your attention.

[2022-05-23 16:46] t1enne commented on #1864
Do you think we need a modal, or a dropdown triggerable for each message?

[2022-05-23 17:37] gabek commented on #1864
Sorry my bad, this should be the menu. The menu has an action to show a details modal.

[2022-05-23 19:51] gabek opened #1923 "Web UI v2: Handle push notification service worker registration"
Should be able to copy this over from UI v1.

[2022-05-23 22:18] #1920 closed, assigned to gabek

[2022-05-25 10:14] t1enne commented on #1921
Do we want to bring back mark.js from the old ui or should I write something?

[2022-05-25 12:42] MFTabriz opened #1925 "Add nodeinfo validation to automated tests"
We should use the schema (for example [nodeinfo.diaspora.software/ns/schema/2.0](https://nodeinfo.diaspora.software/ns/schema/2.0)) to verify the validity of the owncast's response.

Good news: Currently it is returning a valid response!

[2022-05-25 17:36] gabek commented on #1921
Since we're using React now there might be other options out there, but mark.js worked fine and we can totally use that again, plus the code already exists to use it, so sounds good to me!

[2022-05-25 20:22] gabek opened #1926 "UI Testing"
With Web UI v1 we used puppeteer to perform some automated testing of the web page as a whole. Since we're starting fresh we can either use puppeteer again or look at other tools that fit our needs.

Some testing options:

- Storbyook-based testing https://storybook.js.org/blog/storybook-6-5/
- Cypress

[2022-05-26 06:48] georgesmith9914 opened #1928 "Self-hosted Owncast directory"
I would like to self-host Owncast directory similar to https://directory.owncast.online/ . Is this currently possible? In case not, can you please consider this feature request?

Thanks a lot.

[2022-05-26 06:54] gabek commented on #1928
It's not something that's currently possible. If communities of Owncast streamers ever become a bigger thing then I'd like to bubble this work up, but for now it's something that's low priority.

Of course there's nothing stopping you from building your own directory like was done here: https://codeberg.org/yarmo/ownroll.

Closing as a duplicate of #1143

<blockquote><img src="https://codeberg.org

[2022-05-26 06:54] #1928 closed, assigned to nobody

[2022-05-27 00:57] gabek commented on #1857
Need to fix the big play button being inaccessible probably due to a z-index.

[2022-05-27 00:58] gabek commented on #1858
Good enough for now. First pass is in without any special styling.

[2022-05-27 00:58] #1858 closed, assigned to gabek

[2022-05-27 00:59] gabek commented on #1862
See the web ui v1 version of this for reference on what it does and how it works: https://github.com/owncast/owncast/blob/develop/webroot/js/components/fediverse-follow-modal.js

In use at the Nightly server. https://nightly.owncast.tv/

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" align="right"><div><img src="http

[2022-05-27 01:00] gabek commented on #1863
See the web ui v1 version of this for reference on what it does and how it works: https://github.com/owncast/owncast/blob/develop/webroot/js/components/auth-modal.js

In use at the Nightly server. https://nightly.owncast.tv/

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" align="right"><div><img src="https://github.g

[2022-05-27 01:01] gabek commented on #1867
Nothing really special here. Either individual components make their own local requests or the central config store makes them for global use.

[2022-05-27 01:01] #1867 closed, assigned to gabek

[2022-05-27 01:02] gabek commented on #1887
In progress.  Tried to get emoji-mart to work, but instead I went back to Picmo.

[2022-05-27 01:03] gabek commented on #1901
This "offline banner" component may or may not be what we stick with for the offline state. So it remains to be seen what we want to go with for leaving custom messages when offline.

[2022-05-27 01:04] gabek commented on #1912
I started on this, but i'm unsure where the final location for these links/icons will go. Note: the default is a black github logo, so it's hard to see on the dark purple background, but it's there.

[2022-05-27 01:07] gabek commented on #1861
This can be worked on without a design, since it's just a paginated grid of users.  See the web ui v1 version: https://nightly.owncast.tv/

https://github.com/owncast/owncast/blob/develop/webroot/js/components/federation/followers.js

<blockquote><img src="https://nightly.owncast.tv/logo/external" width="48" align="right"><div><img src="/img/favicon/favicon-16x16.png" height="14"> Owncast Nightly<

[2022-05-27 01:09] gabek commented on #1892
See web ui v1's version: https://github.com/owncast/owncast/blob/develop/webroot/js/app.js#L560=

I'm guessing for v2 we should split up these key handlers on a per-component basis instead of having one big switch statement in the core of the app.  That way we don't have to route keypresses to the player, for example.

<blockquote><img src="https://repository-images.githubusercontent.com/266445736

[2022-05-27 01:11] gabek commented on #1868
I'm guessing we'll need to store emoji and known display names in global state so the text input field has access to them.

[2022-05-27 01:13] gabek commented on #1853
Closing. Duplicate of #1863.

[2022-05-27 01:13] #1853 closed, assigned to nobody

[2022-05-27 01:19] gabek commented on #1911
First pass at this is in, however, the "click to show modal" I did with a button, and it's kind of janky, so I think the clickability of the popup needs to be reworked slightly with probably just an anchor tag or something.

[2022-05-27 01:23] gabek opened #1929 "Mobile testing"
Since I'm not in the habit of testing our new layout and components against mobile/narrow windows, we should have a way to automate this in some fashion.  Previously, for web ui v1, I had Puppeteer take automated screenshots of different sizes, but unless I went out of my way to go look at them, they were silently ignored.

Chromatic, the company that makes Storybook, suggests we use them for auto

[2022-05-27 02:05] gabek commented on #1887
The emoji picker now displays.  Still todo:

- Need to focus input field when selecting emoji
- Need to handle custom images being selected
- Make the popover fit the picker
- Colors/style/stuff

[2022-05-27 02:07] gabek commented on #1869
Still todo: error handling, reconnecting.

[2022-05-27 02:14] gabek opened #1930 "Migrate player metrics from ui v1"
https://github.com/owncast/owncast/blob/develop/webroot/js/metrics/playback.js

https://github.com/owncast/owncast/blob/develop/webroot/js/components/player.js#L131-L134=

[2022-05-27 02:16] gabek opened #1931 "Migrate latency compensator from web ui v1"
https://github.com/owncast/owncast/blob/develop/webroot/js/components/latencyCompensator.js
https://github.com/owncast/owncast/blob/develop/webroot/js/components/player.js#L136=

[2022-05-27 04:09] gabek opened #1932 "Video Player: Add video settings menu"
From v1: https://github.com/owncast/owncast/blob/develop/webroot/js/components/player.js#L254=

[2022-05-27 04:47] gabek commented on #1899
I added a custom `player.scss` to fix the z-index of the large centered play button.

[2022-05-27 04:47] gabek commented on #1857
I added a custom `player.scss` to fix the z-index of the large centered play button.

[2022-05-27 08:08] ErAzOr2k opened #1933 "Chat Text field not visible in portrait mode/Android"
Hi,

unfortunately the chat text field is not visible on Android in portrait mode.

I testet it with Chrome and Edge. I don't know how it behaves on iOS.

Regards v20220526-nightly-docker.

![Screenshot_2022-05-27-09-58-36-108_com android chrome](https://user-images.githubusercontent.com/8685648/170658153-b3e55125-4493-4d2a-aa20-ea2e247af12d.jpg)

[2022-05-27 20:05] gabek opened #1936 "Error handling"
With React we can setup [error boundaries](https://reactjs.org/docs/error-boundaries.html). We should determine what these are and how to handle them.

Offhand here are what comes to mind:

- Around the central app state store (handling things like chat, fetching server status and config values). If we can't fetch the server status or the configuration then the application can't run.
- Around any

[2022-05-27 20:14] gabek commented on #1854
This is currently what I've come up with.

- Recoil is used for global state. Not a lot of components require access to it, and it'd be nice to keep most "view" style components to be "dumb", only rendering values via props.
- The client config store is a central component that needs to know about the entire state of the app. Is chat available, is it connected, what is your chat display name, is v

[2022-05-27 20:14] #1854 closed, assigned to gabek

[2022-05-27 22:12] gabek commented on #1929
I setup Chromatic just to see how it works and to see if it's useful to us. TBD on if it helps with this mobile testing use case or any other UI testing.

[2022-05-27 22:14] gabek commented on #1899
Now the z-index of the player button is too big and makes it draw above everything. CSS is hard.

[2022-05-27 22:19] gabek commented on #1914
https://owncast.online/components/?path=%2Fstory%2Fowncast-components-category-icon--chat

<blockquote><div><strong><a href="https://owncast.online/components/?path=%2Fstory%2Fowncast-components-category-icon--chat">Webpack App</a></strong></div></blockquote>

[2022-05-28 06:18] gabek commented on #1936
I added a global, blocking, modal if the server config or status cannot be fetched. It's ugly.

[2022-05-29 05:49] emacsen opened #1937 "Docker image should use environment variables"
Owncast supports options when executing.

The Docker entrypoint does not specify any of these command line options, leaving the user needing to override the entrypoint command.

Best practice would be to use environment variables to control application execution, either by specifying all the application options and using defaults, or by checking for the presence of environment variables in executi

[2022-05-29 11:07] FilipStadler commented on #980
- I am a happy SRT user and I use SRT to owncast -  just install srt-tools and I new ffmpeg you can then
add SRT listen to the systemd and let it stream to the current rtmp on owncast so you have both the rtmp and srt option to stream to the owncast installation - if your installed ffmpeg does not include the srt protocol you may need to compile it.

Anyway I use systemd on Linux and this file:

[

[2022-05-29 14:02] Lyamc commented on #980
Thanks for putting that together, that can provide at least some way of using it, but, going SRT —> RTMP defeats the purpose of the whole low latency thing.

However, this should improve signal quality when transmitting over areas with poor signal quality with frequent packet loss since that would be handled SRT side

[2022-05-30 09:52] FilipStadler commented on #980
The owncast still have to make HLS for the playout - but I find SRT usefull as better protocol and if you maybe need to stream via a OBS and then to the owncast - the lantency added doing srt to rtmp is maybe 2-3 seconds - also you can push the srt to another solution like the https://github.com/ALLATRA-IT/srt-server and then you can pull the stream to the owncast and have both a lowlatency native

[2022-06-02 07:20] WPettersson commented on #1919
I'm not sure if the 10 characters is for "usernames overflow at this point" or "maximum username length", but either way  10 seems very restrictive (unless it's something you would expect users to be able to edit easily). Most FirstnameSurname combinations would be over 10, as would things along the lines of BarryTheHorse. I'd suggest 32 for a sensible default.

[2022-06-02 18:45] gabek commented on #1919
I was thinking along the lines of IRC, where I think the max length is 9, but I don't actually have any preference. 32 is fine too.

[2022-06-02 21:36] gabek commented on #1923
Service worker added and registering.

[2022-06-02 21:36] #1923 closed, assigned to gabek

[2022-06-02 21:43] gabek commented on #1852
This was completed by @t1enne.

[2022-06-02 21:43] #1852 closed, assigned to t1enne

[2022-06-02 21:45] gabek commented on #1930
This is completed.

[2022-06-02 21:45] #1930 closed, assigned to gabek

[2022-06-04 20:13] gabek opened #1939 "New setting: Allow hiding viewer count"
Enough people want the viewer count to be hidden so it's worthwhile to make it an option for everyone.

I suggest if hiding viewer count is enabled we stop returning the value in the `status` api, and in the web UI we just not render that count if the count doesn't exist. That mans it'll hide it if the count is zero, but that's probably fine.  This way people can't dig into the publicly accessible

[2022-06-05 21:31] gabek opened #1940 "Update AWS SDK to use a custom HTTP client for S3"
The AWS SDK uses the default HTTP client by default. They suggest, to increase performance:

- Create a custom client
- With a timeout
- Increase the re-usable connections from the default of 2 to 10+.

![image](https://user-images.githubusercontent.com/414923/172071445-d29bde70-adec-40e5-9a1a-583123750776.png)

[2022-06-07 21:26] gabek opened #1941 "Make sure links have noreferrer"
Right now it's a manual process to make sure all external links have `noreferrer` to not leak Owncast instances via referrer headers. This doesn't work because it's so easy to forget to add this to links.

It would be awesome, since with the v2 of the UI we're going through a bundling process, to make sure all external links have `noreferrer` automatically attached.

I'm not sure if this would be

[2022-06-07 22:05] gabek commented on #1625
@t1enne got the user message design in. I'll get in the rest of the message types this week in some form, and if they get redesigned we can change them.

[2022-06-07 22:50] gabek opened #1942 "IndieAuth redirect landing page"
Right now if IndieAuth fails for whatever reason you're stuck on a basic, scary page with an error that won't make sense to most people.

A simple page with a design that makes the person feel comfortable they're in the right spot, but something went wrong would probably make people feel better.  We can give a detailed error, but also have some friendly text that points to what might be wrong and

[2022-06-08 14:17] thefirst100yearsaredifficult opened #1943 "Auto username generator"
Hey guys, I would like to know if there is a way to change the wordlist that the username generator uses and also where that file/function is located, if it exists ofc.
![Screenshot_1](https://user-images.githubusercontent.com/57727089/172639176-17a90ea6-3d0e-4942-931d-52b50cbecb76.png)

Thank you for the help, very cool project.

[2022-06-08 14:25] gabek commented on #1943
You can change the names in the admin, under the chat configuration `Default usernames`. If you want to actually change the source instead you can edit https://github.com/owncast/owncast/blob/develop/utils/phraseGenerator.go.

<blockquote><img src="https://repository-images.githubusercontent.com/266445736/4f82fb80-a5b1-11ea-8f1c-69d316f861b5" width="48" align="right"><div><img src="https://github.

[2022-06-08 14:25] #1943 closed, assigned to nobody

[2022-06-08 14:30] jeyemwey commented on #1943
Hi, the username is generated from an adjective and a name. You can find the code here: `utils/phraseGenerator.go`

If you have a defined list of "good" usernames, you can add those in the admin panel, and then only that list will be used.

Hope this helped. If you have any more questions, just go ahead :)

[2022-06-09 12:50] SrIzan10 commented on #102
hey, maybe converting the rtmp stream to an mp4 in ffmpeg could a nice temporary alternative.

doing something like this should do the trick: `ffmpeg -i http(s)://owncast.tld/hls/stream.m3u8 video.mp4`

EDIT: This should work

[2022-06-09 15:24] Valinwolf commented on #102
I actually am doing this now using Nginx RTMP module to split the RTMP stream to owncast and ffmpeg autonomously and simultaneously, without scripts. Works really well, but it would definitely be nice to have a VOD/DVR system built into owncast.

[2022-06-09 15:29] gabek commented on #102
Not sure if you've had a chance to see this discussion about the future plans of recordings.  https://www.youtube.com/watch?v=0f-vIyXIG_k

A web frontend rewrite is taking place right now to allow building new UI for these types of features.

<blockquote><img src="https://i.ytimg.com/vi/0f-vIyXIG_k/hqdefault.jpg" width="48" align="right"><div><img src="https://www.youtube.com/s/desktop/d4eb50c8/im

[2022-06-09 15:31] Valinwolf commented on #102
I vaguely recall reading about there being plans for it, but it's been a hot minute since I setup Owncast.

[2022-06-09 17:23] Valinwolf commented on #102
I just watched the YT video, and I had an idea regarding the VOD/recordings that would "save the user from themselves" while still giving the user the power to choose how they run their setup. Give two options, usable in tandem or individually:

1. Time based retention
2. Space based retention

Furthermore you could add the ability to only retain certain quality settings and have the two options s

[2022-06-09 17:29] SrIzan10 commented on #102
@gabek any estimation on when the rewrite will be finished?

[2022-06-09 17:56] gabek commented on #102
It'll be quite some time as things are just getting kicked off.

[2022-06-09 18:26] gabek commented on #102
In a perfect world, sure. But if people are only going to keep a single quality they'll keep the highest quality, and then not everyone will be able to watch the replay, defeating the purpose of the entire thing.

Absolutely, but recordings are actually not something I hear asked for very often. We want to build what is most impactful for the most people. I'm not saying that recordings aren't usef

[2022-06-09 18:58] Valinwolf commented on #102
That's fair. I only run one quality setting myself anyway, so for me this part of the feature wouldn't make a difference.

I suppose that is true, but finding something to adequately supplement the lack of feature can also be rather frustrating. Especially something that will fit into Owncast's theme to make a cohesive website. On the flipside of this coin, I also understand being a developer that

[2022-06-09 19:28] gabek commented on #102
Yeah I'm referring to the webhooks. With webhooks people aren't limited to a specific language or set of APIs, they use whatever they want to use on top of a technology they're already familiar with. On one hand it's additional "stuff" you have to be running, but on the other hand it makes it easy to do whatever you want with those events.

"Real" plugins have been discussed for as long as Owncast

[2022-06-09 19:46] Valinwolf commented on #1736
That's a really interesting concept and maintains a high level of linguistic flexibility. JSON would probably give the best possible option since I haven't found a language that doesn't have JSON either built-in or a well maintained, stable library. XML is hit or miss most of the time. As an idea though, it could even be set as a one-shot type system - only running the scripts/execs when needed, t

[2022-06-10 11:23] bingocaller commented on #1625
Sorry @gabek, I've had these changes lying around for a while, I just never got around to making a PR. I don't know if you can use any of it at this point, but this is what I have so far:

https://user-images.githubusercontent.com/1763556/173053605-d911dfc9-6469-45f4-85f6-25df3cd152a6.mp4

Notice I used a different design for the messages than the one provided because it seemed to me from previous

[2022-06-10 17:45] #1638 closed, assigned to nobody

[2022-06-11 17:41] DrSkyfaR commented on #1818
Hello @gabek
I thought of an addition to the feature request that could perhaps be included. Currently it is so that when you add custom domains to the social media list generically always receives this globe as an icon. Of course, this looks a bit unattractive, but of course it's better than nothing.

However, to make this perhaps more aesthetically pleasing in the future, we can think of two ide

[2022-06-12 01:21] #1940 closed, assigned to nobody

[2022-06-13 10:52] aral opened #1946 "Video variant admin interface should start with the default setting values"
The default video variant that installs with Owncast is 1.2Mbps@24fs

![Screenshot from 2022-06-13 11-46-01](https://user-images.githubusercontent.com/41798/173337976-a38859b0-3b1e-4942-a0e3-5309d5f8fa40.png)

However, if you go to add a new variant, it defaults to 800kbps.

![image](https://user-images.githubusercontent.com/41798/173337954-41dc7d25-c505-469d-a654-a4b89daf83e2.png)

It would be mo

[2022-06-14 11:34] aral opened #1947 "Convert SVG logo to PNG automatically for fediverse use or allow upload of separate PNG logo"
## Use case

I have an SVG logo with fine lines that works great in Owncast’s own interface and in embedded video players.

However, since that logo cannot be used for fediverse purposes (as apparently Mastodon doesn’t support SVG logos, at least), I’m faced with the option of:

 - Having a PNG logo that doesn’t scale well anywhere
 - Having the default Owncast logo for fediverse use

## Suggested

[2022-06-14 14:18] gabek commented on #1947
Unfortunately you've been through the same through process I have, and the resulting solution was simply to stop supporting SVGs.

Starting in 0.0.12 we won't allow you to upload them anymore, but if you already have one saved it'll continue to be used.

It's disappointing, but it's exactly what you said: other platforms don't support them, and sharing Owncast links is increasingly important and e

[2022-06-14 14:18] #1947 closed, assigned to nobody

[2022-06-15 17:48] aral opened #1949 "ECR: Implement fediverse @mentions"
Currently it seems that @mentions in fediverse messages are not handled.

<strike>Example: https://owncast.small-web.org/federation/p1J-eECng</strike>

Ah, just realised you can’t share a link to the post (assuming Owncast doesn’t save it currently?)

Here’s a screenshot from Mastodon:

![image](https://user-images.githubusercontent.com/41798/173902331-b48e4d56-b58c-4efe-8ab5-3aae3b047cf8.png)

##

[2022-06-15 17:50] aral opened #1950 "ECR: Include the Owncast instance as a link in the fediverse account"
## Use case

If someone is viewing the Owncast instance’s account on the fediverse, there’s currently no link for them to actually visit the site.

## Screenshot (example)

![image](https://user-images.githubusercontent.com/41798/173892527-29fcbae2-d637-48ff-99d3-f377f835a841.png)

[2022-06-15 17:53] aral opened #1951 "Hide/disable “Upgrade to vN” link if version N of Owncast is already installed"
The “Upgrade to vN” (e.g., “Upgrade to v0.0.11”) link in the admin interface displays even if that version of Owncast is already installed.

## Screenshot

![image](https://user-images.githubusercontent.com/41798/173893093-496835e5-6914-427f-bac5-33a147928be5.png)

[2022-06-15 17:58] aral opened #1952 "ECR: Ability to delete and/or edit fediverse messages"
## Use case

A fediverse post is sent with a typo or something more serious (like accidentally copy/pasted private information, a “poopin’” message sent by a coworker who thinks they’re really funny, etc.)

In such situations, it’s essential to be able to delete sent messages.

It would also be a nice to have to have a delete & redraft feature like Mastodon does for edits.

Both of these will nece

[2022-06-15 18:18] gabek commented on #1950
If I remember correctly how I set it up, if you don't have any links configured in your Owncast instance there aren't any links surfaced in your Fedvierse account. However, if you add at least one then it'll also add your stream's link to them.

[2022-06-15 18:46] aral commented on #1950
Ah, so could this be an ECR to modify that behaviour so that the stream link is always surfaced? I don’t want to add any other links :)

[2022-06-15 19:38] hufman opened #1953 "Implement multiplatform Docker image"
This project is incredible, thank you so much for building it!
I'd like to add support for building an arm64 Docker image. The Go toolchain makes [cross-compilation](https://www.docker.com/blog/faster-multi-platform-builds-dockerfile-cross-compilation-guide/) very easy, and your Dockerfile is already set up with multi-stage builds which should keep the build fast.

I'd like your review on my appro

[2022-06-15 19:50] gabek commented on #1953
Thanks for the kind words! And thanks for checking in, A multiplatform image would be great.

While the Go toolchain is good with cross-compilation, unfortunately we're using cgo, and that adds a bunch of complexity in building. That's why in `release.sh` you can see it's building with `xgo` instead of `go` so we can get multi-platform binaries.

Because our Dockerfile is assuming only 64bit Linux

[2022-06-15 19:56] Joseph-Nathan opened #1954 "is it available with mobile apps ?"
is it available with mobile apps ?

[2022-06-15 19:58] gabek commented on #1954
Owncast supports the HLS video standard and any mobile app that can play HLS video can watch an Owncast stream.

[2022-06-15 20:05] Joseph-Nathan commented on #1954
thanks for fast reply ,
is it available to start cast from mobile app ?
is there any doc, how to integration with flutter ?
is there any doc, how to integration with digital ocean server or any un famous server ?

[2022-06-15 20:08] gabek commented on #1954
These links might be able to help you:

- https://owncast.online/docs/watching-on-tvs/
- https://marketplace.digitalocean.com/apps/owncast

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/docs/watching-on-tvs/">Watching an Owncast Stream on Televisions</a></strong></div><div>The web isn

[2022-06-15 22:06] gabek commented on #1951
It shouldn't be, I'll have to look into why that's no longer working.

[2022-06-15 23:32] hufman commented on #1953
Oh wow, Earthfile looks nifty! It looks like it would just need some extra Docker image build targets with [SAVE IMAGE](https://docs.earthly.dev/docs/guides/multi-platform#saving-multi-platform-images) commands.
I'm glad you've already considered it, I'll leave this here as a feature request then :)

[2022-06-15 23:48] gabek commented on #1953
Yeah! There's a path forward for sure. This is probably something that will have to be worked out: https://docs.earthly.dev/docs/guides/multi-platform#emulation-and-with-docker

And while that Earthfile has stuff in it, it hasn't actually been tested on the different architectures that in theory it's building binaries for. So it's very much a work in progress.

Since you're knowledgeable about thi

[2022-06-16 04:48] hufman commented on #1953
Successful nerdsnipe, good sir! 4 hours later and here's [my Earthfile](https://github.com/hufman/owncast/commits/hufman/earthly-builds) for you :) It cross-compiles all the destination binaries from an amd64 host, without needing emulation, and I verified the resulting amd64 and arm64 Linux binaries worked natively on my test machines.
I'm not quite sure on how the steps should be composed most e

[2022-06-16 06:04] gabek commented on #1953
No emulation, that's awesome! I bet it's a ton faster.  Thank you for checking this out, I really look forward to the end result!

[2022-06-16 07:36] aral commented on #1951
Not having looked at the code, wonder if it’s because the database update process that kicks in when Owncast runs doesn’t update the stored version (if the version is stored/read from somewhere under /data that is).

[2022-06-16 12:51] tsmethurst opened #1955 "[bug] Follow request from GoToSocial causes nil pointer exception"
Here's the follow request as it arrives in the inbox:

[code]

And here's the panic:

[code]

This is with the latest version of owncast from develop. I'm gonna try and track this one down myself :)

[2022-06-16 13:09] tsmethurst commented on #1955
Oh I know what's happening... owncast assumes the publicKeyID is the same as the actor IRI, but in GoToSocial it's not, so it's trying to dereference a public key representation as a full-ass actor. I'll make a fix for it :)

[2022-06-17 03:27] hufman commented on #1953
Updated [my Earthfile](https://github.com/hufman/owncast/blob/hufman/earthly-builds/Earthfile) with a new approach (using a --platform arg instead of separate named targets), and then added Docker image support, including [successfully pushing the image](https://hub.docker.com/r/hufman/owncast/tags) with a single command: `earthly --push +docker-all --tag hufman/owncast`!
Whatcha think? Try it out

[2022-06-17 14:05] Restreamdev opened #1958 "Restreamer By Datarhei"
i cant live stream from restreamer to owncast because owncast protocol is rtmp
and restreamer have rtmps
but i can stream from obs
my question is how can i edit rtmp and replace rtmps

[2022-06-17 20:46] pruje commented on #980
Thank you guys for the trick! However, if Owncast could support SRT natively, I would be very pleased :smiley:

Anyway, thanks a lot for this incredible software!

[2022-06-17 22:32] gabek commented on #1953
It worked fantastically! This is awesome! I'm going to do some testing on different platforms and make sure these actually run, but this is super cool. And then in theory I could set this up to run the nightly build from Earthly in the Github Actions CI job as the next step.

[2022-06-18 22:29] #1955 closed, assigned to tsmethurst

[2022-06-18 22:53] gabek commented on #1953
On top of the Linux 64bit build, I just tested the macOS build on my Intel Mac and the Arm7 build on a Raspberry Pi 4 running a 32bit OS and everything runs as expected.  Would you mind putting up a PR with your updates? I could just copy your file over, but it'd be good to keep your commits and make sure you get contributor credit!

[2022-06-19 01:29] hufman commented on #1953
Published a PR, as requested!

[2022-06-19 01:42] #1756 closed, assigned to gabek

[2022-06-19 03:30] gabek commented on #1953
I made a couple tweaks so it would build from the local files, and be able to have a version that's different than the tag: https://github.com/owncast/owncast/commit/d214f2390e094e06ff70defe49fd66d0e88020f4

I setup a new parallel nightly build job that will create a separate nightly image for testing, and if that works as expected then the previous one can get removed.

https://github.com/orgs/ow

[2022-06-19 03:55] gabek commented on #1953
Success! It builds and pushes the Docker image: https://github.com/orgs/owncast/packages/container/owncast-earthly/versions

<blockquote><img src="https://github.githubassets.com/images/modules/open_graph/github-logo.png" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com">Build software be

[2022-06-19 03:59] gabek commented on #1958
Owncast does not currently support rtmps. You should ask Restreamer to support rtmp, as it is a standard.

[2022-06-19 03:59] #1958 closed, assigned to nobody

[2022-06-19 07:12] #1649 closed, assigned to nobody

[2022-06-19 16:09] hufman commented on #1953
I peeked at the nightly build job, and it looks like the start of the [Checkout and Build step](https://github.com/owncast/owncast/blob/a137d7ebb9224f5b0e5728654985b73eec0d72b5/.github/workflows/docker-nightly-earthly.yaml#L40-L46) is raising an error, because the `git checkout -b` option is meant to create a new branch with the given name. However, the GITHUB_HEAD_REF should already be pointing t

[2022-06-19 17:30] gabek commented on #1953
Ah yeah I see that. That step is from the [documentation](https://docs.earthly.dev/ci-integration/vendor-specific-guides/gh-actions-integration). I think the use case they're trying to fix for is not having a branch when running this on a specific commit/tag/ref, instead of a specific branch. I'm just going to remove that branching since it's not applicable.

[2022-06-19 18:31] hufman commented on #1953
Oh curious, I didn't know the checkout action would omit the branch in the local clone! The builds on my project using androidgitversion have reliably picked up the branch name with that same action 🤷.

[2022-06-19 18:49] gabek commented on #1953
Oh yeah I think it's no problem if it's a branch you're checking out, but I think they are concerned about other refs such as commits, tags, etc so they create a temporary branch to work around it. I also switched to the action, and that works great!

[2022-06-19 19:19] gabek opened #1963 "AirPlay support for web player"

[2022-06-19 23:46] #1871 closed, assigned to gabek

[2022-06-20 00:05] gabek opened #1964 "Hydrate React app with server data"
Now that we're able to server-render `index.html` we can insert the initial data for rendering the page to speed up page load.

I'm not sure how what this optional hydration data will look like from the Javascript side, but I'm sure it'll be worked out.

[2022-06-20 04:32] #1931 closed, assigned to gabek

[2022-06-20 05:07] Restreamdev commented on #1958
ok sir thanks you very much for reply

[2022-06-20 06:43] edmael opened #1965 "Add an option to change the end stream clip"
At the end of every stream there's an annoying clip that has nothing to do with the stream itself and seems only an "Owncast-brand-thing". Nothing wrong with having something like that, but there's no point in having no option at all to remove it, here's a couple of reason:

- if I've just ran a chill stream and I close the feed my viewers gets blasted with a not-very-pleasant audio in their ears

[2022-06-20 13:03] iamsajidjaved opened #1966 "Fix API documentation "integrations/chat/updatemessagevisibility" -> /api/integrations/chat/messagevisibility"
Hello, hope you're doing well!

I'm integrating the below API but I get the error 404. The base URL everything is correct because I'm using other APIs and the token has also admin privileges.

[https://owncast.online/api/latest/#tag/Integrations/paths/~1api~1integrations~1chat~1updatemessagevisibility/post](https://owncast.online/api/latest/#tag/Integrations/paths/~1api~1integrations~1chat~1update

[2022-06-20 14:37] gabek commented on #1966
Looks like the documentation is wrong and it's actually `/api/integrations/chat/messagevisibility`. Let me know if that still doesn't work.

[2022-06-20 15:08] #1953 closed, assigned to hufman

[2022-06-20 15:22] gabek commented on #1951
For whatever reason I'm not able to reproduce this.

[2022-06-20 15:48] #1966 closed, assigned to nobody

[2022-06-20 22:44] gabek opened #1967 "Support custom emoji"
Previously all the emoji were on disk so it was easy enough for them to be changed. Now with files being bundled a new approach will have to be taken and documented to explain how to replace the emoji with your own.

[2022-06-21 06:20] iamsajidjaved commented on #1966
It worked.
Also please update the swagger file.

Thanks.

[2022-06-21 19:22] #1954 closed, assigned to nobody

[2022-06-21 21:42] lecoyote418 opened #1968 "Issue with installer script on macOS"
I'm trying to install on macos 10.15.17 with the curl/bash install script and I get:

`bash: line 32: conditional binary operator expected
Your Owncast installation did not complete successfully.
Please report your issue at https://github.com/owncast/owncast/issues`

I can't find the reason why the bash script fails at line 32. Is this a bug? thanks

[2022-06-21 22:07] gabek commented on #1968
Unfortunately I don't have access to a copy of macOS that is that old, so I'm unable to test it. The installer is working as expected on Linux, under bash, however.

[2022-06-21 22:36] lecoyote418 commented on #1968
Thanks for the reply. I just tried in macOS 11.6.7 and 12.4 and I get the same error.

[2022-06-21 22:56] #1968 closed, assigned to nobody

[2022-06-21 22:58] gabek commented on #1968
Looks like macOS bash doesn't support some things because it's super old. Hopefully this should fix it. Thanks for letting me know.

[2022-06-21 23:04] #1963 closed, assigned to gabek

[2022-06-21 23:07] gabek commented on #1870
Web app is now bundled and served from the binary.

[2022-06-21 23:07] #1870 closed, assigned to gabek

[2022-06-22 17:00] ghost opened #1970 "Is here a way to disable the web interface and how?"
Hi
I want to disable the web interface and force my friends to use the hls stream.
The problem is i don't know how to disable it.

Is it even possible? When yes then how? Can be this added as a future feature?

A answer would be nice
thanks.

[2022-06-22 17:58] gabek commented on #1970
There is no support for disabling the web interface. I suggest using your reverse proxy config to block any paths that you don't want people to have access to.

[2022-06-22 21:10] #1631 closed, assigned to gabek

[2022-06-24 15:45] gabek opened #1972 "Insert custom CSS into new page"
1. Add it via server-side rendering of the index.html if possible.
2. But also use the configuration async result like we do now.

[2022-06-24 21:34] gabek opened #1973 "Add additional chat role of "Streamer""
Would function much like the "Moderator" role, but with a different badge.

[2022-06-24 21:41] gabek opened #1974 "Build a chat user color palette to select from instead of random"
Right now the hue of a user's color is completely random and selected when that chat user is created. We would like, instead, to create a specific palette of hues to select from instead.

We need to determine what this palette is first before this change can be made.

[2022-06-24 21:42] gabek commented on #1625
Today some additional chat message design specifics were discussed

- [x]  Messages from you should have a background color.
- [x]  Messages from you should have the color border on the right instead of the left.
- [x]  Moderator menu button should be horizontal, not vertical.
- [x]  We should collapse display names. (If the previous message was sent by the same person as the new message, don't sh

[2022-06-24 23:01] gabek commented on #1862
Added the undesigned functional version of this modal.

[2022-06-25 04:59] #1972 closed, assigned to gabek

[2022-06-25 05:09] #1932 closed, assigned to gabek

[2022-06-25 06:28] #1892 closed, assigned to gabek

[2022-06-25 21:30] gabek opened #1977 "Handle a truncated "goodbye" state"
The state model right now handles a "goodbye" state if you're "online" when the stream goes "offline". The timer begins and 5min will tick down before the chat is removed.

I need to add to this state modeling to handle visiting the page during the "goodbye" state and having a < 5min timer instead of going directly to the "offline" state.

[2022-06-25 21:33] gabek opened #1978 "Chat container component: There can be only one"
Right now in the web UI v2 the chat container component is instantiated twice: Once for "mobile" layout, and once in the sidebar for the regular layout.  Whatever one is not in use is simply hidden by CSS.

We need to change it so only one instance of the chat container component exists at any given time.

[2022-06-26 00:56] #1921 closed, assigned to gabek

[2022-06-26 01:52] gabek commented on #1857
A couple outstanding issues:

- Play button draws on top of everything when scrolling due to z-index
- The Poster component is not sized properly and does not fill the entire player
- The AirPlay icon, because it's a PNG, does not take the color of the rest of the icons in the player

[2022-06-26 01:54] gabek opened #1979 "Handle chat disabled state"
When chat is disabled we should not show the chat component and not show the chat user dropdown. We should also not show the badge that says "Chat offline", because it's not offline, it's disabled.

[2022-06-26 03:38] iamsajidjaved opened #1980 "Sometimes I'm unable to connect and get the below errors in the logs"
I can't connect for a while and see the below errors in the logs:

1. Consider increasing the value for the 'analyzeduration' and 'probesize' option
2. [flv @ 0x5f415c0] Could not find codec parameters for stream 0 (Video: h264, none, 3000 kb/s): unspecified size
3. Error marking filters as finished
4. Cannot determine format of input stream 0:0 after EOF
5. transcoding error. look at data/logs/tr

[2022-06-26 03:46] gabek commented on #1980
You say "sometimes" you can't stream. What differences are there between when you can and when you can't? Are there any settings that are different?  What software and settings are you using to stream?

I'd take a look at the Troubleshooting page.  Specifically https://owncast.online/docs/troubleshooting/#if-you-are-immediately-disconnected-and-your-stream-wont-begin.

<blockquote><img src="/image

[2022-06-26 05:23] iamsajidjaved commented on #1980
All my streamers use this app https://play.google.com/store/apps/details?id=com.nabiapp.livenow&hl=en&gl=US. They all have the same configuration. But sometimes this issue appears. Like once a day when one streamer disconnects and another wants to connect.

[2022-06-26 06:08] #1967 closed, assigned to gabek

[2022-06-26 07:49] #1939 closed, assigned to gabek

[2022-06-26 07:56] gabek commented on #1977
Closed by accident.

[2022-06-26 22:19] BluBb-mADe commented on #505
I think everyone is aware that hosting on a subdomain circumvents this issue but I expect a lot of people don't want to or even can create subdomains. It's a very common strategy to host services like this in subfolders and I don't know of any other contained service that just outright doesn't support it at all.

[2022-06-26 22:40] gabek commented on #505
The Owncast web application is being rewritten from scratch, and with that rewrite it should make it more flexible for things like this. However, certain paths will always be required. The admin will expect to live under `/admin`, and hls will be expected to be `/hls`, for example.  If you want paths to be different you either need to edit the source yourself, or use a reverse proxy to rewrite the

[2022-06-26 23:10] BluBb-mADe commented on #505
My frustration with this is the HTML. Expecting a fully-fledged rewrite system integrated into the app is of course ludicrous.
But even with a proper reverse proxy like Nginx, it is currently not possible to run the app in a URL subfolder at all. It's all about those hard-coded root-relative URLs that are spread across the entire project.
I understand that such a change is not a small endeavor.
In

[2022-06-26 23:52] gabek opened #1981 "Add "Fediverse" social link"
Right now we offer "Mastodon", but Mastodon is not the Fediverse. While a part of me wants to remove the "Mastodon" option completely, because Mastodon is a piece of software, not a network, many people mistakenly call the Fediverse "Mastodon", so I'll leave it and encourage people to use a new "Fediverse" option instead.

[2022-06-26 23:55] gabek commented on #1826
Colors, fonts, contrast, and readability for the redesigned web UI is being worked out currently.

[2022-06-27 03:17] #1941 closed, assigned to gabek

[2022-06-27 05:43] iamsajidjaved opened #1982 "No option to change default username"
I'm struggling with changing the default username of the admin panel. But I can't see the option to change. And in the docs, I'm also unable to find the solution.

Can anyone help me with changing the admin panel username?

[2022-06-27 06:05] #1911 closed, assigned to gabek

[2022-06-27 20:09] gabek commented on #1982
This isn't something that is customizable outside of altering the source code. I'm guessing you want to give people the stream key but not allow them to log into the admin, and want to try security by obscurity by changing the username. Owncast is single tenant software and this isn't a use case that the project focuses on. You may be able to do any kind of customization via your reverse proxy, ho

[2022-06-27 20:09] #1982 closed, assigned to nobody

[2022-06-27 21:56] #1970 closed, assigned to nobody

[2022-06-27 21:59] gabek commented on #1965
The stream ended clip isn't an ego stroking branding thing. It does what it says on the tin: Lets you know the stream is no longer live.  This is particularly important if you're accessing the stream via a player that's not the Owncast web player (smart tv, mobile app, mpv, vlc, etc). If the stream offered up nothing when the stream wasn't active it would just throw some kind of error in the playe

[2022-06-27 22:05] gabek opened #1983 "Received report that backup file was unable to be restored"
I wasn't able to reproduce it with any of my local backup files, however.

- First backup file he received error: "No such table"
- Second backup file he received error: "unable to read backup file gzip: invalid header"

[2022-06-27 23:42] gabek commented on #1980
Do you get the same errors with different broadcasting software as well?

[2022-06-27 23:44] gabek commented on #1950
Adding this in the backlog, as this is actually more complex than it seems because of Federation bug with Mastodon where a single link breaks federation. I'll eventually pick the fight with them and get it resolved, but it may take a while.

[2022-06-27 23:49] gabek commented on #1949
This is another one that seems easy, but given how account mapping works (converting @accounts to urls though webfinger) this would be some new functionality that I'm not sure if anybody but you would take advantage of due to the nature of Owncast federated messages being broadcast-based and not conversational. But at some point down the road I can work on this.

[2022-06-28 05:51] edmael commented on #1965
Thanks for the clarification, but the sound should really be reconsidered: it can ruin the whole mood of what you've just streamed.

I still think an option to enable/disable this is really needed.

[2022-06-29 01:56] gabek opened #1984 "User color migrations"
How user colors are handled in v0.1.0. A database migration needs to take place to migrate everyone's old color hues over to the color identifiers (currently 1-8, but will likely be expanded upon).

[2022-06-29 01:57] #1974 closed, assigned to gabek

[2022-06-29 02:29] gabek opened #1985 "Chat message background colors"
With the new design messages sent by yourself have a background color.  We'll need to be able to use the user color that's defined in CSS and use it as the background.

[2022-06-29 16:46] #1985 closed, assigned to t1enne

[2022-06-29 17:01] gabek commented on #1805
We're working on a rewrite of the owncast user interface and custom colors per chat user is not in the plans. However, the admin will be able to override the available palette of colors with their own. So if they don't like the colors, they can define new ones. That should be a middle ground that hopefully works for most Owncast instances.

[2022-06-29 17:02] gabek commented on #1840
Still waiting on a PR to be merged by Pleroma.

[2022-06-29 20:19] gabek opened #1986 "Handle message removal via moderation"

[2022-07-01 06:36] iamsajidjaved commented on #1980
No I didn't try this with another app

[2022-07-01 10:39] timowevel1 opened #1987 "Not listening on ipv4"
Hey,

my instance isnt listening on ipv4, I am using a fresh installed AWS EC2 instance. Means I cannot reach it via http or the rtmp port, as it also listens on ipv6.

tcp6       0      0 :::8080                 :::*                    LISTEN      4030/./owncast/ownc

You know how to fix it?

Thanks

[2022-07-02 17:53] gabek opened #1988 "Work out chat user iconography badges"
- Moderator
- Authenticated
- Maybe a "Authenticated Moderator" icon instead of showing two badges?

[2022-07-02 23:21] gabek commented on #1896
New repo has been created and I let the above vjs thread know. I've yet to create a NPM project for it, but that's next.

https://github.com/owncast/vhs-latency-compensator

<blockquote><img src="https://opengraph.githubassets.com/d3036b42a477f9c1cf6721467874c0e1e6b48f1dda3bac0751ffd001908dda9d/owncast/vhs-latency-compensator" width="48" align="right"><div><img src="https://github.githubassets.com

[2022-07-03 12:52] #1978 closed, assigned to t1enne

[2022-07-03 17:02] Shizanit opened #1989 "Docker image for ARM"

[2022-07-03 17:11] gabek commented on #1989
I _think_ what you're asking for (since there's no question or even message in the body of the issue) is a duplicate of #1953. Closing.

[2022-07-03 17:11] #1989 closed, assigned to nobody

[2022-07-03 23:41] gabek commented on #1987
Owncast listens on 8080 on all interfaces by default, so I can't say offhand why it's not able to bind to 8080 unless something else is using it or there's no interface with an ipv4 address for it to bind to.

[2022-07-04 04:19] gabek opened #1990 "Moderator badge shows instead of the moderator menu"
The icon showing that the message was sent by a moderator is being shown instead of the moderator menu.

https://owncast.online/components/?path=%2Fdocs%2Fowncast-chat-messages-standard-user--from-authenticated-user

- The moderator menu (for removing messages, banning users) should show if the current user (not the message's user) is a moderator.
- The moderator badge should be shown if the messa

[2022-07-06 23:02] gabek commented on #1890
Certainly not stale. Will get some of these improvements in after the 0.0.12 release.

[2022-07-09 02:32] gabek opened #1992 "Do not log inactionable Federated resolution/verification errors"
I'm currently logging when a lookup of a Federated user fails validation. If these requests come from a deleted or invalid user we don't care about them and these messages shouldn't be logged.

![image](https://user-images.githubusercontent.com/414923/178088413-f33d7daa-5622-459e-b660-d13f7d3701e2.png)

[2022-07-09 02:34] #1866 closed, assigned to nobody

[2022-07-09 21:28] #1865 closed, assigned to gabek

[2022-07-10 11:04] TotalCaesar659 opened #1994 "Update URL to HTTPS"
Please update this URL to HTTPS for security reasons.
![0](https://user-images.githubusercontent.com/14265316/178142235-735b3579-b6b7-47b7-aa07-067cfedba577.jpg)

[2022-07-10 16:59] gabek commented on #1994
I don't think I'm fully understanding your request. What is wrong with how it is? What are the "security reasons" that are currently a problem?

![image](https://user-images.githubusercontent.com/414923/178154453-8888427e-f26d-460a-b8b7-e004550a6c19.png)

[2022-07-10 22:04] MFTabriz commented on #1994
I think they are referring to the link on the github itself:

`<a title="http://owncast.online" role="link" target="_blank" rel="noopener noreferrer nofollow" class="text-bold" href="http://owncast.online">owncast.online</a>`

it should be to **https**://owncast.online not **http**://owncast.online

PS: in other words: sending people https://github.com > http://owncast.online > https://owncast.onl

[2022-07-12 04:11] #1861 closed, assigned to gabek

[2022-07-12 21:52] gabek opened #1997 "Pull in action buttons from config"
- Render actual external action buttons
- Remove example placeholder buttons

[2022-07-13 00:44] #1997 closed, assigned to gabek

[2022-07-13 02:25] gabek opened #1998 "System-style chat message"
![image](https://user-images.githubusercontent.com/414923/178637560-487a9465-7830-4d41-82f9-0d8c4457ac54.png)

[2022-07-13 15:53] gabek opened #1999 ""You are now a moderator" message"
This is a message you get in chat when you are granted moderator privileges.  Design for this would be appreciated, but not heavily required. It could probably just look like it did before.

![image](https://user-images.githubusercontent.com/414923/178776925-722dc616-6d77-4617-961f-71a97be00827.png)

[2022-07-13 19:54] H3J0 opened #2000 "Possible abuse of API to spam fedi accounts with auth feature"
I'll make it quick. By re-sending the http post request to the API, it is possible to spam (any?) account on the fediverse with auth code messages.
<img width="604" alt="Screenshot 2022-07-13 at 21 21 31" src="https://user-images.githubusercontent.com/109244700/178818487-f6e10f85-fd64-43e5-88b0-f15e1c4833b4.png">

It is fairly simple. Open the owncast instance, open the network dev tool, get the h

[2022-07-13 22:34] gabek commented on #2000
Seems reasonable to limit this to one request per code expiration window.

[2022-07-15 03:39] #1999 closed, assigned to gabek

[2022-07-15 13:36] jprjr commented on #1987
Owncast by default listens to "0.0.0.0" - on most runtimes, this string represents "all IPv4 addresses", but Go listens on all IPv6 addresses as well, see https://github.com/golang/go/issues/17615

By default on Linux, listening to `::` (the IPv6 equivalent of "0.0.0.0") also includes all IPv4 addresses unless you set the option `IPV6_V6ONLY` when binding the socket, or if you've set the global v6

[2022-07-15 13:47] jprjr commented on #1987
An alternative would be for Owncast to change up how it registers the HTTP server, by creating a TCP listener separately. and using `http.Serve()` instead of `http.ListenAndServe()`. When you create a listener, you can specify the `net` to be `tcp` (the default that `http.ListenAndServe()` is using), or `tcp4` to specify you only want to bind on IPv4-only, or `tcp6` for IPv6-only.

Going this rout

[2022-07-15 19:55] gabek opened #2001 "Same-user message collapsing bug"
If user X joins, and then user X sends a message, the message component will treat it as collapsable state because two actions by the same user took place. We should make sure to verify that we're only looking at chat messages and not other types of chat events.

![image](https://user-images.githubusercontent.com/414923/179301043-1df48721-1138-438f-af3a-9a5615236849.png)

[2022-07-15 21:28] gabek commented on #1998
Component is in and wired up, but we need to decide if this is the design we want.

[2022-07-15 21:30] gabek opened #2002 "Add user details endpoint for moderation modal"
Will return all the details about a user for use by moderators to display in the moderation modal.

[2022-07-16 16:35] timowevel1 commented on #1987
Thanks for your help, that worked.

[2022-07-16 16:35] #1987 closed, assigned to nobody

[2022-07-16 23:22] gabek opened #2003 "Force websocket origin check to pass"
### Discussed in https://github.com/owncast/owncast/discussions/1758

[2022-07-17 19:03] jprjr opened #2004 "Bug: chat embed missing new authentication options"
Hi there - it looks like in v0.0.12, the readwrite chat embed hasn't been updated with the new authentication options

[2022-07-17 19:07] jprjr commented on #1805
Hi there, I'd like to re-open this and request users be able to choose a color from the palette in the upcoming, new UI.

In the past, my users would re-make accounts until they get a color they like. They want to use the new authentication options, but now some find themselves locked into a color they don't like.

[2022-07-17 19:13] anKerrigan commented on #1805
This is literally the one and only feature I want from Owncast. Just this one thing. Please just let me pick a color. I'd never ask for anything ever again. I'd volunteer to help get it done if I thought I'd be any use.

[2022-07-17 19:41] jprjr opened #2005 "Mobile UI - Chat message entry not visible in portrait mode, only landscape mode"
This is an issue I found in v0.0.12 - when a user pulls up the site on a mobile browser, the message entry isn't visible in portrait mode. It does appear if switching to landscape mode.

Tested on Chrome for Android and Firefox for Android, both have the same issue.

[2022-07-17 19:45] nvrslep303 commented on #1805
In my case, having users being able to choose their chat color makes it easier to identify who is speaking, at least in my opinion. Our owncast stream that we are mainly referring to has a lot of daily viewers who interact a lot through the chat. Being able to distinguish who is speaking and being able to go through the fast moving chat ups the enjoyment factor.

An issue we usually run into is pe

[2022-07-17 20:11] gabek commented on #1805
Hey there, thanks for sharing your thoughts. So the new approach to colors solves a couple problems but may make it harder to have a completely custom color in this case.

Right now colors are completely randomly generated, but because of that a lot of colors look similar, and some don't look great. Additionally admins have no control over how these look with their page. So people's pages are stuc

[2022-07-17 20:14] jprjr commented on #1805
I think that makes perfect sense! That allows streamers to have some control over branding while allowing users to choose colors more pleasing to them. And yeah, it may not be perfect, but it does make the form a lot simpler (basically a dropdown or some-such).

[2022-07-17 21:01] gabek commented on #1805
Everything is very much a work in progress but if you're at all curious the state of things:

- [Initial proposed user color palette](https://owncast.online/components/iframe.html?id=owncast-style-guide-colors--page&viewMode=story&args=#user-colors)
- [New chat message design](https://owncast.online/components/?path=%2Fdocs%2Fowncast-chat-messages-standard-user--from-authenticated-user)

[2022-07-17 21:21] gabek commented on #2005
Closing as a dupe of #1933. This will be resolved in the rewrite of the web stuff, sorry about that.

[2022-07-17 21:21] #2005 closed, assigned to nobody

[2022-07-17 23:06] gabek opened #2006 "Add Vultr to the one-click install documentation links"
https://www.vultr.com/marketplace/apps/owncast

[2022-07-19 04:50] gabek opened #2008 "Do not allow Federation if running on a non-standard port"
There's no valid way to specify a Fediverse account in `user@server` syntax that allows an explicit port as far as I know.

![image](https://user-images.githubusercontent.com/414923/179666938-0162cd9b-c68d-4e25-ab75-61a89c265c16.png)

[2022-07-19 20:31] kuchikuu opened #2009 "Update source build instructions to not be specific about GCC"
Hello,

Request: Update [README.md](https://github.com/owncast/owncast/blob/develop/README.md) so that "Building from Source" section does not imply that Owncast runs only on glibc systems. I thought it was glibc exclusive, but I tried anyway and it works on Musl as well.

**Long story short**: Owncast can be compiled on Void Linux (Musl)

**Long story long**:
I have Void Linux (Musl) on my server

[2022-07-19 21:12] gabek commented on #2009
Sure. We actually use Musl [in our build](https://github.com/owncast/owncast/blob/develop/Earthfile#L20-L22=). But GCC is more common and easy to talk about, since it's something that's supported and used everywhere.

[2022-07-20 17:17] gabek commented on #1913
To encourage people to want to Follow via the Fediverse we should:

- Have some messaging about "Be the first follower"
- Some explanation of Fediverse with a link to somewhere (https://owncast.online/join-fediverse ? )
- Include the content of the [Follow modal](https://owncast.online/components/?path=%2Fstory%2Fowncast-modals-follow--basic) right in the tab

[2022-07-20 17:20] gabek commented on #1914
Not going to pursue this feature.

[2022-07-20 17:20] #1914 closed, assigned to gabek

[2022-07-20 17:31] gabek commented on #1860
- Add second column
- "Next stream" data treated as a manual scheduled event

[2022-07-20 17:32] gabek commented on #1862
- Replace "Join fediverse" button with a link

[2022-07-20 17:47] gabek commented on #1901
- Make it clear this is a page with a player
- A fake player?
- Static?

Next step is a mockup.

[2022-07-20 18:00] gabek commented on #1988
- Colored box without icon that says simple things like "Mod"
- Fully in HTML. Using the chat user's colors.
- Show mod flag when a mod has joined the chat.

Next step is a mockup.

[2022-07-20 18:01] gabek commented on #1998
No bell.

[2022-07-20 18:23] gabek opened #2010 "Mobile Layout"
@t1enne mentioned he would like a mockup of the layout.

[2022-07-20 19:16] gabek commented on #1862
We're fine with the old design, so we will use that to rebuild it in the new web app.

[2022-07-20 19:36] gabek commented on #1863
We're fine with the old design, so we will use that to rebuild it in the new web app.

[2022-07-20 20:58] gabek commented on #1862
![Image](https://user-images.githubusercontent.com/414923/180080928-5b181112-50e4-4913-a879-f02bcf5681f5.png)

[2022-07-20 20:59] gabek commented on #1863
![Image](https://user-images.githubusercontent.com/414923/180081076-798fe5f7-ba0b-4897-aa67-014ed9879459.png)

[2022-07-20 21:00] gabek commented on #1857
Going to mark this as complete and file a different issue for z-index and icons.

[2022-07-20 21:00] #1857 closed, assigned to gabek

[2022-07-20 21:02] gabek opened #2011 "Player: AirPlay icon cannot be colorized"
The AirPlay icon, because it's a PNG, does not take the color of the rest of the icons in the player. I'm assuming switching to a SVG should fix this.

[2022-07-20 21:04] gabek opened #2012 "Player: z-index issues"
The play button's z-index often makes it draw over other components when scrolling. I've also seen weird issues with it vs. the poster/placeholder when pausing the video.

[2022-07-20 21:11] gabek opened #2013 "Add API + Admin section for "manual schedule""
Until real scheduling gets added we're going to have a freeform text (much like the custom page content) where you can add your schedule that will be added to the new secondary column.

This will be returned in the config payload as HTML just like the rest of the custom page content.

[2022-07-21 05:53] #2002 closed, assigned to gabek

[2022-07-21 11:26] eriksjolund commented on #1750
Hi, thanks for the feedback. I see, I didn't convince you with the arguments I gave. After submitting this issue I discovered two more arguments for adding  _socket activation_ support. Let's see if these arguments could change your mind :)

1. When using rootless Podman (i.e. running Podman from a non-root account) you get native network performance if the container supports _socket activation_.

[2022-07-23 09:34] docfarzad opened #2016 "Refresh on stream end"
Imagine if you're a non-savvy viewer of an Owncast stream that is embedded on a website. The streamer ends the stream and so the m3u8 file announces the end of the segments. Now the streamer comes back on. But unless the viewer now refreshes the page, they won't see live video again. Can Owncast be configured to automatically refresh itself without user intervention?

[2022-07-23 19:37] gabek commented on #2016
That shouldn't be the case. I just double checked and indeed, if you use the embed player and stop streaming, and then again start streaming, the player shows that you're back online.

Closing this as it seems to be working as expected, as well as all the web interfaces are being rebuilt, so this existing one is no longer going to be worked on.

[2022-07-23 19:37] #2016 closed, assigned to nobody

[2022-07-24 18:51] gabek opened #2019 "Fix server logo getting squashed"
When text fills the rest of the page to the right of the server logo the logo gets squished.

[2022-07-24 18:52] gabek commented on #2019
When text fills the rest of the page to the right of the server logo the logo gets squished.

[2022-07-25 04:11] #1903 closed, assigned to nobody

[2022-07-26 02:05] gabek commented on #1625
Update:
![image](https://user-images.githubusercontent.com/414923/180906902-143fec9e-7b8a-41e4-846a-e9f6c42b3574.png)

[2022-07-27 00:45] gabek opened #2020 "Admin message moderation errors"
The endpoint path changed but the admin didn't change.

The inline moderation menu does not have this issue.

[2022-07-27 12:46] jprjr commented on #1840
Hi there - I went through the Pleroma PRs, looks like they've merged a fix into the development branch: https://git.pleroma.social/pleroma/pleroma/-/merge_requests/3706

<blockquote><img src="https://git.pleroma.social/uploads/-/system/project/avatar/2/pleroma_be.png" width="48" align="right"><div>GitLab</div><div><strong><a href="https://git.pleroma.social/pleroma/pleroma/-/merge_requests/3706">F

[2022-07-27 13:59] jprjr commented on #2009
I think there's some confusion:

* GCC is a compiler
* glibc is a c standard library implementation
* musl is also a c standard library implementation (it's not a compiler like stated in the issue)

You can use GCC with glibc, GCC with musl, and other libc's, like dietlibc, uclibc, etc. There's no sense in saying "GCC or musl".

You may be able to generalize the instructions to state you need Go w

[2022-07-27 16:52] gabek commented on #2009
Yeah, if it actually throws people off by saying "GCC" I was just going to say "a c compiler".

[2022-07-27 16:53] gabek commented on #1840
Wohoo! :1st_place_medal:

Thanks for checking in on it.

[2022-07-27 17:46] kuchikuu commented on #2009
It's just that (obviously) when I downloaded Owncast binary, it did not work on a musl-based system.
Then, when I started reading the instructions for Building from source, the first thing I saw was "GCC"
and then I was like "well this is just great. Nice. I guess I won't be having Owncast on my musl server."
But then I tried anyway and it works.

All I would like to achieve from this Issue is so

[2022-07-27 17:51] gabek commented on #2009
Woah, that wasn't obvious from your comment at all. That sounds like a real problem. What happened when you download and ran an Owncast binary?

[2022-07-27 18:21] jprjr commented on #2009
Yeah the original comment didn't mention downloading the binary, just the build process. That's really a separate issue, I wouldn't classify that as obvious.

Like I mentioned earlier GCC != glibc, going forward don't assume if build instructions mention GCC that it will only work on glibc. Your musl-based system is likely using GCC to compile as well.

@gabek the binaries provided aren't statical

[2022-07-27 19:03] kuchikuu commented on #2009
`[void@D525 testing]$ ./owncast`
`-bash: ./owncast: No such file or directory`

Oh I did not expect that to be a surprise.
Glibc programs don't run on musl systems.

I just wanted to give a little "background" to the story of why I created this Issue.

Everything @jprjr wrote about `owncast` file from `owncast-0.0.12-linux-64bit.zip` is correct.
When I download something from the Internet I assume

[2022-07-27 19:18] jprjr commented on #2009
Again you're thinking of glibc-specific stuff, not GCC-specific stuff.

GCC has it's own extensions but those are language-specific or platform-specific extensions like `__atomic` built-ins, but those work on musl as well, because that's dealing with how the code is compiled for the hardware architecture, and not dealing with using library functions.

glibc extensions are more around adding librar

[2022-07-27 20:15] gabek commented on #2009
For reference, going forward the shipped binary is [statically linked](https://github.com/owncast/owncast/blob/develop/Earthfile#L77), so it should be in better shape on that front. I never thought much how the previous builds weren't. This `Earthly` powered build is new.  I'll certainly take advantage of `sqlite_omit_load_extension` because yeah, we're not using any of sqlite's extensions that ne

[2022-07-28 05:37] lanodan opened #2021 "ActivityPub: Errornously empty outbox pages"
Hi,
Pleroma dev here, I tend to find the outbox to be very useful for debugging federation issues.

## Expected
1. Fetch an actor outbox
2. Get an `OrderedCollection` of the actor activities

## Got
- non-empty outbox, but empty pages

For example, this one with 48+ activities:

``$ curl -s -H 'Accept: application/activity+json' https://live.w0rmh0le.net/federation/user/wesley/outbox | jq .``
[cod

[2022-07-28 13:38] LinusZhang5776 opened #2022 "When using DynuWebRedirect,can't fullscreen"
When use WebRedirect to Mask Url.owncast web page can't fullscreen streaming video.

[2022-07-28 13:40] LinusZhang5776 commented on #2022
website html output
`<button class="vjs-fullscreen-control vjs-control vjs-button vjs-disabled" type="button" title="Fullscreen" aria-disabled="true" disabled="disabled"><span class="vjs-icon-placeholder" aria-hidden="true"></span><span class="vjs-control-text" aria-live="polite">Fullscreen</span></button>`

[2022-07-28 18:05] gabek commented on #2022
What is DynuWebRedirect? What do you mean by "mask url"?

[2022-07-28 19:38] pbsds opened #2023 "Feature request: Configurable webroot (and static?) paths"
The `webroot` (and `static`?) folders are expected to be available in the current working directory.
My request is for these paths to be configurable, either at compile-time or at runtime via command line arguments or environment variables.

Currently the `webroot` is [somewhat configurable](https://github.com/owncast/owncast/blob/develop/config/constants.go#L8-L9) at compile-time, but [not all co

[2022-07-28 20:22] gabek commented on #2023
This is actually going to be simplified in future releases as both web and static assets will no longer be required to live directly on the filesystem. All these assets will be bundled in the binary. So you won't have to know, or care, where these files are.

I don't know if that answers the root of your particular issue, but as for the specifics of it, moving forward it's not something that you'l

[2022-07-28 21:53] #2023 closed, assigned to nobody

[2022-07-28 22:50] LinusZhang5776 commented on #2022
is type UF DNS service.[https://www.dynu.com/Resources/Tutorials/DynamicDNS/Advancedfeatures/WebRedirect](url)
u can check this live. [http://live.linuszhang.asia/](url)

[2022-07-28 22:57] gabek commented on #2022
I'm guessing it has something to do with you embedding the entire Owncast interface into an iframe without stating that the iframe is allowed to have full screen features.

You should read the documentation on iframes and work out what needs to be set in order for the functionality you want. This isn't an Owncast issue, so unfortunately I can't help you work out these issues with your provider who

[2022-07-28 22:57] #2022 closed, assigned to nobody

[2022-07-31 02:57] Refina123 opened #2024 "Jj"

[2022-07-31 02:59] gabek commented on #2024
I'm assuming this is some kind of weird bot opening empty issues or something?

[2022-07-31 02:59] #2024 closed, assigned to nobody

[2022-07-31 07:45] rafalohaki opened #2025 "Va-Api support docker"
Is there docker confiuguration for enabling Va-Api encoding? couldnt find one
Im using docker on windows with and wanted to enable gpu support

[2022-07-31 19:18] gabek commented on #2025
Getting vaapi to work in a Docker container would be the same requirements as getting it to work on any other Linux machine. But there's no Owncast image that has that configuration, you'll have to build your own custom image that does what you need. Also, I'm not sure how you'd expose your GPU from Windows to your container. On Linux it seems like it would be straightforward, but I have no idea h

[2022-07-31 19:18] #2025 closed, assigned to nobody

[2022-08-02 19:46] #1992 closed, assigned to gabek

[2022-08-02 20:05] #2003 closed, assigned to gabek

[2022-08-02 20:05] #2020 closed, assigned to gabek

[2022-08-02 20:07] gabek commented on #2013
Given the concerns around this secondary column and what content will populate it I'm going to not move forward with it.

[2022-08-02 20:07] #2013 closed, assigned to gabek

[2022-08-02 20:30] #2000 closed, assigned to gabek

[2022-08-03 06:06] gabek commented on #1890
@jprjr I just put together a PR with your fixes and suggestions above. While I wasn't able to see a significant performance improvement, it's at least way more _correct_.  And in poking around I've seen indexes that I thought were being created weren't, so I'll be able to go through and fix those, not because of specific performance issues, but they should exist.

Since then it was reduced to ever

[2022-08-03 17:21] #1890 closed, assigned to nobody

[2022-08-04 00:02] gabek commented on #1492
No longer planning on this.

[2022-08-04 00:02] #1492 closed, assigned to nobody

[2022-08-04 02:21] #1994 closed, assigned to nobody

[2022-08-04 02:26] gabek commented on #1896
Closing as I split this into a repo for others to use. Future progress will be determined if others use it or show interest.

[2022-08-04 02:26] #1896 closed, assigned to nobody

[2022-08-06 19:06] DrSkyfaR opened #2028 "Open Collective wrong link to Github repository"
Hello all,
as part of my setting up a monthly donation for the Owncast project, I took a look at the Collective site. I noticed that the project repository is linked incorrectly on the page. This leads not only to a wrong repository, but also to a completely wrong user. To prevent possible problems or confusion I would recommend fixing this. :)

Current link: https://github.com/owncat
Expected lin

[2022-08-06 21:03] vivlim commented on #1965
@edmael You can replace offline.ts with one that doesn't have audio on v0.0.11 and later, thanks to https://github.com/owncast/owncast/commit/676aa96f40711a42f85f6cf0d49c4c7c9f6a8ab9.
1. Create a copy of offline.ts that doesn't have any audio.
example: `curl https://github.com/owncast/owncast/raw/develop/static/offline.ts | ffmpeg -i pipe: -c copy -an offline.ts`.
if you're using the official dock

[2022-08-10 02:57] gabek commented on #1805
Functionality is in.

![Image](https://user-images.githubusercontent.com/414923/183799653-c717d93d-3e66-48a6-92a5-1d2b0f853794.png)

[2022-08-10 02:58] #1805 closed, assigned to gabek

[2022-08-10 03:26] gabek commented on #2019
![image](https://user-images.githubusercontent.com/414923/183805666-9ce89a7c-b7df-413c-8e90-e4f4e434f410.png)

[2022-08-10 04:02] #2001 closed, assigned to gabek

[2022-08-10 05:24] #2028 closed, assigned to nobody

[2022-08-11 03:29] #1998 closed, assigned to gabek

[2022-08-11 05:58] #1990 closed, assigned to gabek

[2022-08-13 22:47] gabek commented on #1860
Going back to a single column but with a max width. No schedule for now.

[2022-08-15 01:10] #1919 closed, assigned to nobody

[2022-08-15 06:05] gabek commented on #2006
This was done.

[2022-08-15 06:05] #2006 closed, assigned to nobody

[2022-08-15 22:27] #1977 closed, assigned to gabek

[2022-08-16 18:12] gabek commented on #2019
Wasn't supposed to be closed.

[2022-08-17 01:43] gabek commented on #2019
Should now be fixed.

![image](https://user-images.githubusercontent.com/414923/185016067-aa5b31a7-347a-4242-89bc-cfe3960648ed.png)

[2022-08-17 01:43] #2019 closed, assigned to gabek

[2022-08-17 15:50] tigexplorer opened #2045 "after update from 0.10 to 0.12 I get /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found (required by ./owncast)"
Hi,

I'm on ubuntu server 18.04. Version 0.10 was running fine.

With 0.12 I get
`/lib/x86_64-linux-gnu/libc.so.6: version 'GLIBC_2.28' not found (required by ./owncast)`

`ls -la /lib/x86_64-linux-gnu/libc.so.6` gives me `/lib/x86_64-linux-gnu/libc.so.6 -> libc-2.27.so`

I'm unsure, how and can I update to `GLIBC_2.28` without trouble for other software on the server.

Btw: The error message encl

[2022-08-17 16:22] gabek commented on #2045
Hi there, sorry about that. That's true that it's required, but most recent operating systems should include it. I just looked and 2.28 was released four years ago. Future binaries will be statically linked, so hopefully this won't be an issue going forward. But right now you'll have to run on a recent OS that has a recent version of libc by updating your OS or opting to run in a container who's i

[2022-08-17 16:22] #2045 closed, assigned to nobody

[2022-08-17 16:35] #1981 closed, assigned to nobody

[2022-08-17 21:53] #1850 closed, assigned to t1enne

[2022-08-18 01:14] NullRien opened #2046 "Stream Ending Screen"
I dont know how to change the stream ending screen but if there was a easy way via the admin panel i think that would be a neat feature.

[2022-08-18 01:29] gabek commented on #2046
Take a look through issues and discussions for previous discussion about this.

[2022-08-18 02:04] NullRien commented on #2046
i did look for it but i could not find it, if you could link it id appreciate it.

[2022-08-18 05:34] gabek commented on #2046
Sorry about that, I wasn't in front of a computer when I responded earlier. Closing this as a duplicate of the discussion at #1965.

[2022-08-18 05:34] #2046 closed, assigned to nobody

[2022-08-19 18:07] jprjr opened #2048 "Fediverse auth treats usernames as case-sensitive"
Hi there - I noticed that when performing fediverse-based authentication, the `token` value stored in the database is used in a case-sensitive manner. So if I type `Username@example.com` - that stores a different entry in the `auth` table than `username@example.com`. Meaning I can wind up restoring a different user. It's created some confusion with users - they go to auth, type in their fediverse

[2022-08-19 23:58] gabek commented on #2048
I would also assume that they're universally case insensitive, so that change makes sense.

[2022-08-20 20:00] gabek opened #2050 "Simplify accessing user properties in the store"
Right now I have atoms for every individual user property that I want to expose. These values should be merged into a single object and exposed via a single atom.

[2022-08-21 22:52] gabek commented on #1988
I took a first pass at the user badge. It can be polished up later as needed.

[2022-08-21 22:52] #1988 closed, assigned to vwallen

[2022-08-21 23:12] bigkitttty opened #2053 "pop out chat"
have an url to pop out chat for live steam

[2022-08-21 23:17] gabek commented on #2053
Is this what you're referring to? https://owncast.online/docs/embed/#embedding-standalone-chat

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/docs/embed/">Embedding into your site</a></strong></div><div>You can easily embed your chat or video into another site.</div></blockquote>

[2022-08-22 19:26] ThomasChr commented on #1983
Seems to me kind of pointless without having the backup file in question…

[2022-08-22 21:08] gabek commented on #2012
When you stop the video the play button isn't showing back on top.

[2022-08-22 23:26] p10tyr commented on #1285
But you don't understand.. restreaming is very valuable because we can control the ingest pipeline better with own cast. Especially in my case my internet is quite bad and using the highest latency actually solves me a lot of headache that YouTube just starts freezing like mad.

I wish all my viewers came to my site but the honest truth is that 99% of my viewers are on YT at the moment and getting

[2022-08-22 23:38] gabek commented on #1285
I totally understand that restreaming solves a problem you have, but Owncast isn't restreaming software. It's a video streaming server, something completely different.

Maybe if we had more people working on the project we could expand functionality to grow to solve more problems, but the project has to focus on the [core functionality](https://github.com/owncast/owncast/blob/develop/docs/product-

[2022-08-23 01:32] #1862 closed, assigned to gabek

[2022-08-23 02:30] #1864 closed, assigned to gabek

[2022-08-23 03:24] gabek commented on #1912
Updated with the new design. Closing.

![Image](https://user-images.githubusercontent.com/414923/186062573-a139d7b0-12a4-4090-b5e0-3fedf2baa68a.png)

[2022-08-23 03:24] #1912 closed, assigned to gabek

[2022-08-23 09:45] p10tyr commented on #1285
@gabek Thank you for replying so quick. Yes I completely understand and that is fair. This project focus is about making your own platform which is really epic! We will defiantly be using and I hope we will be able to make enough money to donate back to awesome open source projects like this.

I'll be honest.. it was late and I read that section of the document maybe 4 times and it just didn't cli

[2022-08-25 21:56] dumbasPL commented on #2025
Is there a reason as to why this isn't supported out of the box on the official images? If size is a concern we could maybe have it under a different tag like `:intel` or `:nvidia` for example.

[2022-08-25 22:01] gabek commented on #2025
It's simply because not enough people take advantage of hardware accelerated encoding for me to work on building support for it into the Docker images we provide.

[2022-08-26 21:12] #2053 closed, assigned to nobody

[2022-08-26 21:14] bigkitttty opened #2064 "Discord webhooks"
### Share your bug report, feature request, or comment.

Discord Webhooks do not work yet

[2022-08-26 21:24] gabek opened #2065 "Surface what auth methods a chat user uses"
### Share your bug report, feature request, or comment.

I originally wanted to visibly display, and link to, the profile/url that a chat user authenticated themselves with. But I decided against it since it was making a choice for the user to share that profile/url with the public just because they wanted to authenticate with chat. I didn't feel like this was was a necessary tradeoff and ultimate

[2022-08-26 21:29] gabek commented on #2064
Could you provide some detail? They've worked in the past.

[2022-08-27 05:21] bigkitttty commented on #2064
I made a Discord webhook and put it in to owncast and nothing happened on my discord server

[2022-08-27 05:29] gabek commented on #2064
I just tested it and it seems to be working fine.

![image](https://user-images.githubusercontent.com/414923/187016266-bb8105e8-a4a9-4459-bcb0-f584f5ff2070.png)

The only recommendations I have offhand are to make sure you have your server URL set and Discord notification text set.

[2022-08-27 05:33] bigkitttty commented on #2064
Yes i do on owncast but it did not post

[2022-08-27 05:38] gabek commented on #2064
See above, I verified it's working. You'll have to look elsewhere to see why Discord isn't working with it. You can see that my test works.

[2022-08-27 05:39] gabek commented on #1951
Closing due to lack of reproducability.

[2022-08-27 05:39] #1951 closed, assigned to nobody

[2022-08-27 05:40] gabek commented on #1983
Thanks for the help.

[2022-08-27 14:13] Suzie97 commented on #1916
Can you give me a list of the custom emoji needed?

[2022-08-27 16:11] gabek commented on #1916
I was told that "Owncast should have emoji that streamers expect", so I was hoping somebody who uses a lot of emoji both with Owncast and other platforms could chime in and help us curate what emoji they'd expect.  I'm certainly not an emoji person, I don't know what some of them mean and not a good judge of what we should have and what we shouldn't.

So I unfortunately don't have the answer.

[2022-08-27 20:08] Suzie97 commented on #1916
Hmm, how about we do a little user research to analyse what emojis users want/use?

[2022-08-28 02:49] gabek commented on #2010
I was talking to @gingervitis and she thought adding chat to the tab bar for mobile was weird. We looked at what YouTube and Twitch do for mobile content and came up with this:

- When live chat is is below the player.
- There are some links/buttons/something that point to "About", "Followers", etc
- Clicking one will open a modal with that content. Close the modal to go back to chat.

I don't kno

[2022-08-28 07:40] unclearParadigm commented on #2065
may I chime in here for a second and add some mustard to the discussion.

In my humble opinion we won't be able to satisfy everyone...

Why? Because actually we have different use-cases for Authentication on Owncast:
1. use-case of anonymity/privacy for authenticated users
2. use-case of proofing the identity of an authenticated user (for others to verify the authenticity of a authenticated user)

[2022-08-28 08:32] H3J0 commented on #2065
There is no perfect solution, but that is not my problem. My problem is that the current solution leaves too much room for abuse or misunderstandings.
On (almost) all social media platforms, a check mark signals some kind of verification or authentication. If a random person visits a stream and there is a `Hejo` with a check mark, they could easily assume that it is the >real `Hejo`. This person c

[2022-08-28 18:59] H3J0 opened #2066 "'Hiding Message' in admin panel is not working"
### Share your bug report, feature request, or comment.

<img width="951" alt="image" src="https://user-images.githubusercontent.com/109244700/187090268-34e1aab5-7b84-4777-9456-ab44e58852ad.png">

As the title states, does this feature not work. Le fractal was the first one to notice it. We have tested it on 2 instances of the 0.0.12 Owncast server _(Owncast v0.0.12-linux-64bit).

Most likely not

[2022-08-28 19:03] gabek commented on #2066
Duplicate of #2020.

[2022-08-28 19:03] #2066 closed, assigned to nobody

[2022-08-28 19:16] gabek commented on #2065
I apologize, I was under the impression that you very much wanted to display the source of auth, but it sounds like from the feedback above nobody actually wants that. I'll be closing this discussion as I misinterpreted the request.

In the future I won't be interpreting people's requests and try to open issues on their behalf because I can get their requests wrong. I'll let people speak in their

[2022-08-28 19:16] #2065 closed, assigned to nobody

[2022-08-29 01:46] gabek commented on #1916
I'm totally on board, but true user research of Owncast users have been very difficult in the past given the anonymous nature of Owncast servers.

The only servers we know about are the people who choose to list themselves on the directory, and none of those servers have been active in discussions in the past.

So the project is limited to just guessing what people want. And the project has mostly

[2022-08-29 03:08] Suzie97 commented on #1916
Oh yes we've discussed this before, my bad. Sorry I forgot that, but I think it we can still ask some people who don't necessarily use owncast. Their emoji needs should be similar no?

[2022-08-29 19:57] gabek commented on #1916
Not sure! I was hoping this would be really simple. I'd ask around for somebody who uses Owncast to share their opinions on what we should ship with, and then get those made so we can add them to Owncast. And the ones they say we should remove we'd remove.

The only person who answered me simply said he wouldn't help.

Things like this I'm doing because streamers ask for it, but when when I ask fo

[2022-08-30 17:59] dumbasPL commented on #2025
I think we have a chicken and and egg problem here. People aren't using It because support for it is poor. I wouldn't mind contributing a PR for va-api in docker when i have some time. Are you guys even interested?

Edit: also maybe part of the reason why people don't even attempt to us is is because the documentation for it is poor.

From the docs:

Well, if we had docker support for it then it's

[2022-08-30 18:13] gabek commented on #2025
I understand it's frustrating for you to not have this out of the box, but most people run Owncast on VPS hosting that doesn't have access to encoding hardware, that's why it's not used.

Owncast does have support for vaapi, just not in the supplied Docker image. If I had to guess the number of people who have access to encoding hardware _and_ want to use it with Docker (not everyone uses Docker.

[2022-08-30 18:42] dumbasPL commented on #2025
Ok, i get it, I'm the odd one doing streams from my home lab :sweat_smile:. Will see what I can do. Thanks for the quick response

[2022-08-30 19:39] gabek opened #2070 "Modals with external content does not fill the height"
### Share your bug report, feature request, or comment.

Component for reference: https://owncast.online/components/?path=%2Fstory%2Fowncast-modals-container--url-example

I haven't been able to figure this out.

![image](https://user-images.githubusercontent.com/414923/187527910-ff0225dd-9b79-4ed5-a5c1-1565833ec243.png)

[2022-08-30 21:23] dumbasPL opened #2071 "Support ffmpeg 6"
### Share your bug report, feature request, or comment.

In ffmpeg version 5 the three distinct pixel formats seems to have been merged into one named just `vaapi`

[The code](https://github.com/owncast/owncast/blob/develop/core/transcoder/codecs.go#L178) currently forces the `vaapi_vld` pixel format that is no longer present in the latest version of ffmpeg

Here is a comparison of available pixel

[2022-08-30 21:31] gabek commented on #2071
Well that's unfortunate. We'll have to do version checking to switch between the two pixel format names, and parsing of ffmpeg's version string [has been difficult in the past](https://github.com/owncast/owncast/issues/619).

[2022-08-30 21:37] dumbasPL commented on #2071
How about checking available pix_fmts and picking one? Wouldn't that be more universal? I would assume parsing that would be even harder

[2022-09-01 15:54] gabek commented on #1826
It was [recommended](https://linuxrocks.online/@bgtlover/108919572391476288) we use https://github.com/AlmeroSteyn/react-aria-live. It's old, so I'm not sure if it works at all, but there might be something newer, too.

<blockquote><img src="https://opengraph.githubassets.com/37d9c80d4dc03cc377beda5a46ec10c385d804f97fe7c67873ded5bc3c605d80/AlmeroSteyn/react-aria-live" width="48" align="right"><div

[2022-09-01 16:16] gabek commented on #2010
- Maybe no modal/sheet?
- Collapsed content instead of displaying modally.
- Need a better way to hide chat on mobile. Right now it's hidden in dropdown.

[2022-09-01 16:36] Flameborn commented on #1826
I think this is a bit too verbose. While skipping to the footer area is a logically sensible idea, one rarely needs to interact with items in the footer to warrant an extra skip link.

One *Skip to Content* link should be enough, while adding regions for the important areas, such as the chat history and the player would make screen reader navigation a lot easier.

This is mainly for sending speech

[2022-09-01 17:15] gabek opened #2073 "Chat moderation modal"
Collapse all the different "currently connected" blocks and keep only important metadata visible on top.

[2022-09-01 17:15] gabek opened #2074 "Collapsed chat messages"
- No spacing between collapsed messages
- Thinner right/left boarder
- Make collapsed messages look like a single chat bubble, but still have each message rendered separately.
- Increase opacity of message background color.
-

[2022-09-02 03:29] #1280 closed, assigned to gabek

[2022-09-02 09:42] kontrollanten commented on #102
Hi! I'm looking for the possibility to integrate Owncast into PeerTube with the goal to use Owncast as a backend/back office and PeerTube as frontend for the live sessions. When the live ends we want to store a replay of the video at PeerTube.

To be able to import the replay, can you add REPLAY_CREATED webhook that will send some kind of id (that we can pair with the LIVE_STARTED hook) and the UR

[2022-09-02 09:45] kontrollanten opened #2075 "Pass playlist URL in STREAM_STARTED webhook"
### Share your bug report, feature request, or comment.

To be able to import a Owncast stream into another platform (PeerTube, for instance) it would be great if the playlist URL is included in the payload of the STREAM_STARTED webhook.

[2022-09-02 17:55] jamescallumyoung commented on #1926
Hi @gabek I'd like to take a look at this. Testing is a good way to get familiar with the FE codebase.

I'd suggest we use https://chromatic.com. It's a web-based visual diffing tool built by some of the Storybook folks. They have a generous free tier and a FOSS tier. I'll ping them about the project's elegibility under their FOSS tier.

I think web-based is the way to go since it'll require less

[2022-09-02 18:14] jamescallumyoung opened #2076 "Outdated frontend dependencies"
### Share your bug report, feature request, or comment.

The dependency graph for the project is quite the mess right now. There's a lot of conflicting dependencies (mostly on react) and a few dependencies that are either unmaintained or deprecated.

I'll add install and audit logs in commens below.

I suggest removing one-off and unnecessary dependencies first, migrating to the latest React + Nex

[2022-09-02 18:14] jamescallumyoung commented on #2076
`npm i` gives:

[code]

[2022-09-02 18:14] jamescallumyoung commented on #2076
`npm audit` gives:

[code]

[2022-09-02 18:17] gabek commented on #1926
Oh! I actually have the project setup on Chromatic, but it's not actively being used for anything. Admittedly I didn't really look into how testing actually worked or how you write tests for Chromatic.

https://www.chromatic.com/library?appId=629132c6e23893003a9e89c5

I just added you as a collaborator. It says

So hopefully you can now login to Chromatic for `owncast/owncast`. Let me know if it's

[2022-09-02 18:27] gabek commented on #2076
Thank you!

[2022-09-02 20:06] gabek commented on #2076
As a first step I'll force updates to all the packages in the `webv2` branch that are pending in the Dependency Dashboard:

https://github.com/owncast/owncast/issues/1761

[2022-09-02 22:06] lanerussell commented on #2064
I just tested this on my instance. It seems to work intermittently for me. Of the 5 times I tried this afternoon, I got a message in Discord 2 times after 2 minutes. The other 3 attempts I considered failed 5 minutes after going live.

[2022-09-02 22:10] bigkitttty commented on #2064
for me all my attempts have failed when  going live thank you

[2022-09-02 22:11] gabek commented on #2075
The path will always be `/hls/stream.m3u8` of the server. Does that suffice, or do you need the full hostname?  If you need the full hostname I'll have to add validation in the webhook config section because people may not have set the hostname of their server... so it's just more stuff that would need to get added there.

[2022-09-02 22:12] gabek commented on #2064
Does it fail on all Discord channels? Or just specific ones?  Personally I've never seen it "fail", it just works when I test it. If you can track down any errors that are taking place or why a Discord message might fail it can be looked into.

[2022-09-02 22:15] bigkitttty commented on #2064
i have it on one and i do not see any info

[2022-09-02 22:15] lanerussell commented on #2064
Personally, I tried on 2 different servers and several different channels in each server. I'll see if I can sus out any errors. I'm not sure if I'll be able to find anything on Discord's side as it seems the POST just isn't getting that far. I see if I can get any logs out of Owncast, and may do some tinkering with calling the webhook in Postman.

[2022-09-02 22:17] bigkitttty commented on #2064
thank you that may help

[2022-09-02 22:28] kontrollanten commented on #2075
Thanks, that should be enough. I'll reopen this if I'd need the hostname in the future.

[2022-09-02 22:28] #2075 closed, assigned to nobody

[2022-09-02 22:38] lanerussell commented on #2064
So I hit my test webhook pretty hard from Postman, and everything went through cleanly with no delay. Just sending a simple body:
[code]

I'm not sure if there's something weird with the json payload Owncast is sending, or something else. I didn't see any logerror messages from Owncast on success or failure.

From Postman, I also tried sending messages with the stream link to see if maybe Discord

[2022-09-02 22:42] gabek commented on #2064
Are the messages you're sending from Owncast always the same? If you just send "test" from Owncast does it make a difference?  For example my test of "This is a test Discord webhook notification." with the link always worked, but I never tried anything other than that.

[2022-09-02 22:43] lanerussell commented on #2064
I did try just sending "test" from Owncast in case something wasn't parsing spaces, characters, etc. correctly, but had the same intermittent behaviour.

[2022-09-02 22:45] gabek commented on #2064
Or maybe Discord doesn't like the username?  I'm just guessing here, I know next to nothing about Discord to be completely honest.

Can you contact Discord and ask why these events are failing?

[2022-09-02 22:51] lanerussell commented on #2064
I've tried mirroring the username in Postman too; no trouble there. The only thing that catches my eye is the avatar: https://github.com/owncast/owncast/blob/4a17f30da8ff0bcdb61a1e32e911cf774e98ba10/notifications/discord/discord.go#L35

I don't see where this is set in Owncast Admin, so I'm not sure how to validate that, but could be a source of trouble?

[2022-09-02 22:58] gabek commented on #2064
If it's actually intermittent issues then I don't know if the content can be to blame.

I'm able to send https://github.com/owncast/owncast/issues/2064#issuecomment-1229127428 as a test all the time. It was mentioned above that some messages send some of the time.

[2022-09-02 23:05] lanerussell commented on #2064
So I just ran a pcap on owncast, and it looks like it is owncast introducing the delay. Looking for traffic from owncast -> any port 443 in my first test, nothing is sent for the first 3 minutes or so. As soon as Owncast sends traffic to port 443, the post shows up in Discord.

[2022-09-02 23:09] gabek commented on #2064
That all sounds correct. Owncast sends out notifications 2 minutes after a stream has been live. This is so you don't send out a notification if you're testing or working on configuring OBS, for example.

I was under the impression that the notification was _never_ sending out. 2 minutes after a stream has been live is when it should go out from your server.

[2022-09-02 23:23] lanerussell commented on #2064
Gotcha, that helps me understand the delay. However, after some additional tests I do have a few occurrences where Owncast isn't sending anything out on 443 after 2 minutes. It's still intermittent for me.

[2022-09-02 23:26] gabek commented on #2064
Do browser notifications get fired when you expect them to?

[2022-09-02 23:28] lanerussell commented on #2064
Hm, I'm don't have those enabled.

[2022-09-02 23:31] jamescallumyoung commented on #1926
I checked in with the Chromatic team and they said owncast isn't eligible for their FOSS tier as it's only open for FOSS design systems.

I'll check the existing Chromatic setup.

[2022-09-03 01:52] jamescallumyoung commented on #1926
I created a small refactor @gabek. I moved the storybook story files for each component so they're co-located with their components. I added some rationale in the PR.

It's a draft right now since I can't test it too well. I'll take a look at starting up a backend instance to connect the frontend to, test it out, then un-draft the PR.

[2022-09-03 02:07] gabek commented on #1926
That sounds like a great change, it makes a lot of sense. Certainly simplifies things like you mentioned. Let me know if you have any issues spinning up the backend.

[2022-09-03 06:17] gabek commented on #1915
Current plan:

- Have a palette of ~10 colors that are used all across the interface. Using color pickers in the admin you can change any of these and they'll get reflected anywhere that color was used.
- However, if that's not fine grained enough I'll supply a list of all the CSS variables that are used for specific components. And if you just want to change the background of the chat, for exampl

[2022-09-03 18:05] jamescallumyoung opened #2080 "UI fixes [collector]"
### Share your bug report, feature request, or comment.

I'm collecting some UI fixes here. If you find others, add them below. We can split these out into other issues later.

1) String "Now is a great time to[learn about the Fediverse](https://owncast.online/join-fediverse)if it's new to you." is missing spaces around the link.

<img width="473" alt="Screenshot 2022-09-03 at 20 03 51" src="https

[2022-09-03 18:23] gabek commented on #2080
The global styling is still pretty new, so lots in flux and not completed as well as broken in general. So that's why you'll see buttons and text and things with colors, fonts, weights, etc that don't look right. A week ago everything had colors of 'green', 'red' and 'blue' :)

[2022-09-03 18:24] jamescallumyoung commented on #2080
No worries! Just though it a good idea to jot these down in one place.

[2022-09-03 18:26] jamescallumyoung commented on #2080
Selecting "block / always block" in the browser enable notifications dialogue shows a success message in the modal, when a failure / retry message should be shown.

Tested in Firefox

[2022-09-03 22:06] jamescallumyoung opened #2081 "Mixed formatting in components"
### Share your bug report, feature request, or comment.

Components have a mix of stylings, import/export patterns, and FunctionalComponent usage.

I propose:

- all components are named exports (as the non-default export)
- all components' props are written as types, not interfaces
- all components' props are named exports
- all components are written with the modern `const Foo = () => ...` synta

[2022-09-03 22:24] gabek commented on #2081
This is great feedback. I wonder if there's any kind of linting rules that can be added to enforce these best practices and standards. Any kind of tooling to help is always nice.

One thing that's probably clear is all the "admin" stuff is completely different than everything else, and that's because it really is completely different. It was written long ago and was literally a different repositor

[2022-09-04 00:17] jamescallumyoung commented on #2081
There's an eslint rule for consistent functional components, but it's disabled in the repo. I'll enable it in my PR and configure it to enforce the code style I suggested above. It won't fix everything but it's a start.

There's also a rule for named exports. I'll see if that can be used.

[2022-09-04 00:18] jamescallumyoung commented on #2081
I've noticed a lot of linting rules being disabled ad-hoc. We might want to define when it's okay to do this. There's a few components with a half dozen rules disabled 😆.

[2022-09-05 01:01] #1986 closed, assigned to gabek

[2022-09-05 04:57] #1905 closed, assigned to gabek

[2022-09-06 06:00] gabek opened #2088 "Chat message body does not wrap"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/188558180-beb9266b-31db-4595-b9d2-0d6b3c45c57d.png)

[2022-09-06 18:11] gabek opened #2091 "Remove webroot directory with old web app"
### Share your bug report, feature request, or comment.

Once the old web app is no longer needed for reference it should be removed from the project.

[2022-09-06 18:19] gabek commented on #1929
See #1926 for a general issue on testing, not mobile specific.

[2022-09-06 23:44] gabek opened #2092 "Custom page content component needs a static size"
### Share your bug report, feature request, or comment.

I'm not sure what the size should be, however. @vwallen mentioned we should have a max-width for it across sizes.

![image](https://user-images.githubusercontent.com/414923/188758785-68828dee-b743-4b79-846f-da4df095742b.png)

[2022-09-07 01:09] #1887 closed, assigned to gabek

[2022-09-07 01:58] gabek commented on #1860
Filed new issue just for fixing the sizing of this component.

[2022-09-07 01:58] #1860 closed, assigned to vwallen

[2022-09-07 07:21] gabek commented on #2081
Leaving this open until I copy the above into some document.

[2022-09-07 15:21] vwallen commented on #2092
Here's some data on optimal line lengths for text, which is a good guide for accessibility and friendly eye-tracking: https://baymard.com/blog/line-length-readability. Recommended is 50-75 characters, but that's somewhat restrictive for `max-width` on a content block.

I'd recommend shooting for < 100 characters all-in (padding borders, etc.). For relative units, you can approximate that as `100ch

[2022-09-09 04:46] #1863 closed, assigned to gabek

[2022-09-09 18:18] gabek commented on #2064
Another thing I realized that probably isn't obvious, if you send a notification it won't send again for 10 minutes. This is for the same reasons as above. If you're messing around with your stream you don't want to flood your notification channels each time you restart your stream. If you're restarting Owncast completely, however, it will send each time since this value isn't persisted across lau

[2022-09-10 23:11] #1964 closed, assigned to gabek

[2022-09-10 23:23] gabek opened #2097 "When starting playback in mobile the player doesn't stay inline"
### Share your bug report, feature request, or comment.

We need to set the player to be inline so it doesn't automatically go full-screen when beginning playback on mobile devices.

[2022-09-10 23:36] gabek commented on #2010
Below are some screenshots of how things are laying out on my phone at the moment just for reference.

![image](https://user-images.githubusercontent.com/414923/189505279-25eeb0ef-0a15-4d09-bb6f-9dde0d10a787.png)
![image](https://user-images.githubusercontent.com/414923/189505285-708fdc60-48da-48fd-8183-d9befddbf93e.png)
![image](https://user-images.githubusercontent.com/414923/189505289-65a4cf49-

[2022-09-11 00:06] gabek opened #2098 "Fix Ant component warnings"
### Share your bug report, feature request, or comment.

[code]

---

The one error still left is:

`Warning: [antd: Tabs] Tabs.TabPane is deprecated. Please use `items` directly.`, @heller took care of the others.

[2022-09-11 01:32] gabek opened #2099 "Change the color of the tab bar separator"
### Share your bug report, feature request, or comment.

I can't find out what class or variables to override.

![image](https://user-images.githubusercontent.com/414923/189507813-bc5f0091-735b-4b70-9a3e-82c24b4503a6.png)

[2022-09-11 01:40] realtouseef commented on #2099
Possible ways to fix:

- Right click on the page and click on `inspect`, a sidebar will be opened and hit `Ctrl + Shift + C` on your keyboard.
- After that, hover over the element to find out the HTML
- Skim through it and you will find the class
- You can also make changes inside your browser, there will be another tab with `styles`, you can make changes there.

Hope this helps, if not, I highly

[2022-09-11 03:26] #2092 closed, assigned to gabek

[2022-09-11 04:27] #1906 closed, assigned to gabek

[2022-09-11 04:53] gabek commented on #2076
Unfortunately I wasn't able to figure out what's to blame. We already keep the packages more or less up to date (except huge breaking changes such as #2077), so I wasn't able to find anything that stood out that is causing problems.

[2022-09-11 05:24] #2099 closed, assigned to nobody

[2022-09-11 06:12] #1979 closed, assigned to gabek

[2022-09-12 21:49] gabek commented on #1677
Closing as duplicate of #1915.

[2022-09-12 21:49] #1677 closed, assigned to nobody

[2022-09-12 22:10] gabek commented on #2004
Auth is now available in the read/write chat embed for 0.1.0. https://owncast.online/components/?path=%2Fstory%2Fowncast-chat-embeds-read-write-chat--example.

<blockquote><div><strong><a href="https://owncast.online/components/?path=%2Fstory%2Fowncast-chat-embeds-read-write-chat--example">Webpack App</a></strong></div></blockquote>

[2022-09-12 22:10] #2004 closed, assigned to nobody

[2022-09-13 06:50] #2088 closed, assigned to t1enne

[2022-09-13 23:40] 60plus opened #2107 "H.265/HEVC Support ?"
### Share your bug report, feature request, or comment.

Hello
does owncast support H.265/HEVC ?

[2022-09-14 00:01] gabek commented on #2107
Nope, it does not.

[2022-09-14 05:34] gabek opened #2108 "Make chat text input properly grow to fit"
### Share your bug report, feature request, or comment.

Since the text input is already at the bottom of the screen the content will have to push up for the text input to grow.

![image](https://user-images.githubusercontent.com/414923/190067245-d549ea56-7665-4ea7-af4f-badc1a1c19aa.png)

[2022-09-14 05:45] gabek opened #2109 "Limit chat input contents size"
### Share your bug report, feature request, or comment.

- Show counter when nearing the max size.
- Actual max size doesn't matter right now.

[2022-09-14 06:09] gabek opened #2110 "Keyboard shortcut: Spacebar to play/pause also moves page"
### Share your bug report, feature request, or comment.

When hitting the spacebar to pause or unpause the video player it's also moving the page down. We need to disable the default functionality of that shortcut when playback is occurring.

[2022-09-14 06:19] gabek opened #2111 "setInterval handler took too long in ClientConfigStore.tsx"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/190074911-8e510e16-067c-460a-a235-26773e434640.png)

[2022-09-14 09:43] 60plus commented on #2107
Thank you for quick answer.

[2022-09-14 09:43] #2107 closed, assigned to nobody

[2022-09-14 15:07] aral opened #2112 "Manually authored social posts are always set to followers-only"
### Share your bug report, feature request, or comment.

Just upgraded from 0.0.11 to 0.0.12 using the official upgrade instructions at https://owncast.online/releases/owncast-0.0.12/ and fediverse posts are now set to followers only.

The private setting is off (I also toggled it on and off again just to see if that would override an errant setting somewhere.)

![Screenshot from 2022-09-14 16-00-

[2022-09-14 16:29] aral commented on #2112
I’m getting very odd output for `select * from datastore;` on owncast.db:

[code]

@gabek Does this look like what you’d expect? Is binary data being stored there?

[2022-09-14 16:42] gabek commented on #2112
I'l try and reproduce this and check it out. I did a quick glance on the Fediverse to see what other 0.0.12 instances were locked down, but but there were plenty that weren't.

And yes, values in that table are encoded so it's likely looking directly at them will look quite odd.

[2022-09-14 17:39] aral commented on #2112
@gabek Ah, k, thanks. I wonder if the migration from db version 3 → 5 could be culprit. Was there a version 4? (Should my 0.0.11 been on version 4?) This is the first time I’ve updated using the official update script (instead of simply reinstalling and copying the database over. I believe last time we spoke you’d said it would auto migrate on first run so it’s probably not that but in any case… :

[2022-09-14 18:16] gabek commented on #2112
There is technically a version 4 that existed for a short time. Multiple schema versions can exist between actual releases of Owncast in order to support people running unreleased development builds or running from source.

[2022-09-14 18:35] gabek commented on #2112
Looks like your identity, as defined by ActivityPub on your Owncast server is set how you'd expect.

[code]

And I was able to access the object directly without Owncast throwing an access error, meaning it's not stopping public requests for ActivityPub objects.

[code]

I'll look more into it in the future.

[2022-09-14 19:00] aral commented on #2112
Thanks for looking into it, @gabek – sorry I seem to have a knack for finding the gremlins :)

[2022-09-14 20:54] gabek opened #2114 "Notification reminder popup is incorrectly colored"
### Share your bug report, feature request, or comment.

Previously it [was purple](https://owncast.online/components/static/media/notify-popup.7df1d4bb.png) and looked better, but now is just using the default background color of the page.

Component: https://owncast.online/components/?path=/story/owncast-components-notify-reminder--active
Colors: https://owncast.online/components/?path=/story/ow

[2022-09-14 20:58] gabek opened #2115 "Chat embed: Message body color is unreadable"
### Share your bug report, feature request, or comment.

Component: https://owncast.online/components/?path=/story/owncast-chat-embeds-read-write-chat--example

This is because the non-embed page version has light text on a dark background, and currently the embed page is light text on a light background. We could either change the background color for embedded chat, or change the message body col

[2022-09-14 21:06] drhitchcockco commented on #2114
I’ll try setting up a local dev environment today and have a look at it.

[2022-09-14 21:09] gabek commented on #2114
Awesome!

[2022-09-14 22:15] gabek opened #2116 "Storybook: Chat component no longer showing messages"
### Share your bug report, feature request, or comment.

Story no longer working: https://owncast.online/components/?path=/story/owncast-chat-chat-messages-container--example

For comparison the embed chat story does work: https://owncast.online/components/?path=/story/owncast-chat-embeds-read-only-chat--example

This is likely due to a change in the component that wasn't reflected in the Storyboo

[2022-09-15 06:31] gabek opened #2117 "Remove dynamic values in log messages"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/190330711-33c06789-c5e1-45c2-ba55-aacdea834568.png)

[2022-09-15 09:02] aral commented on #2112
@gabek Also, just send me your public key if you’d like ssh access to the server, if that’ll help.

[2022-09-15 09:18] aral commented on #2112
PS. I’m also seeing the correct values returned from the API calls in the browser.

![image](https://user-images.githubusercontent.com/41798/190366170-8e92504b-4f59-4d9b-82e8-524442e5c5dc.png)

Not sure if it’s related, but the paging in the Followers tab in admin also appears to be stuck on page 1.

[2022-09-15 09:30] aral opened #2118 "CORS issue on FediAuth"
### Share your bug report, feature request, or comment.

Tried to authenticate my chat handle using FediAuth and got a CORS error:

[code]

![Screenshot from 2022-09-15 10-26-35-obfuscated](https://user-images.githubusercontent.com/41798/190369283-169ef0a6-2900-4502-b31e-e260fd9396ea.png)

[2022-09-15 15:19] gabek commented on #2118
This has been a commonly used feature for people since 0.0.12 was released, so I'm not sure what's different here.

[2022-09-15 16:13] jamescallumyoung commented on #2081
I'll add a doc to the repo now that explains the styles we use for components and the rationale behind them.

[2022-09-15 18:46] gabek commented on #2118
Just as a sanity check I tested to make sure it worked on [Nightly](https://nightly.owncast.tv/), and it did. So functionality is working. Is there something with your proxy that might be getting in the way?

[2022-09-15 20:45] gabek opened #2119 "Frontend architecture: Atomic Design"
### Share your bug report, feature request, or comment.

We're looking to adhere to the [Atomic Design](https://bradfrost.com/blog/post/atomic-web-design/) methodology to build up a library of smaller components that can be used to build current and future features and interfaces for Owncast. It's a little bit of work now to save additional work later.

https://collab.owncast.tv/kanban/#/2/kanban/

[2022-09-15 21:38] gabek opened #2120 "PenPot: Setup and organize project to use this tool"
### Share your bug report, feature request, or comment.

- It should be read-only visible to the public
- It should have our colors and typographies available that are defined in [Storybook](https://owncast.online/components).
- I'm not sure what else. I've never used a design tool like this myself.

Reply here if you'd like an invite to our PenPot organization since I haven't been able to figure

[2022-09-16 00:07] brokenintuition commented on #2117
I'd be interested in taking this. Are those the only instances the tool flags, or are there more to look for?

[2022-09-16 00:11] gabek commented on #2117
Those are the four that popped up in the CodeQL code scanning, so those should be it. Thanks so much for wanting to take part!

[2022-09-16 04:12] gabek commented on #1880
Closing as I didn't get any response from the Friendica folks on the linked issue.

[2022-09-16 04:12] #1880 closed, assigned to nobody

[2022-09-16 15:23] Quix0r commented on #1880
Does the Friendica instance cause some 404 responses, e.g. in `.well-known` path? I'm not so deeply involved into Friendica code but I can test for you. :-)

[2022-09-16 15:34] jamescallumyoung commented on #2119
Thanks for opening this issue @gabek . I've pushed a branch to my fork that's a good example of some simple atomic components based on our existing ones. It doesn't handle integration but it's a good example of the components themselves.

I'll link it here for anyone to use as a reference. Check the latest commits on this branch: https://github.com/jamescallumyoung/owncast-fork/commits/feature/exa

[2022-09-16 16:16] gabek commented on #1880
Unfortunately I don't know of any actual actionable errors that I can work on. The thread says Friendica says

Nobody shared what the root cause of that error was.

[2022-09-16 16:24] gabek commented on #2119
Perfect, now I feel less intimidated jumping on some of these since I can use your branch as a reference. Thank you!

[2022-09-16 22:06] gabek opened #2127 "Add or update any CSP-related script changes"
### Share your bug report, feature request, or comment.

Since the frontend Javascript is completely new for the upcoming version, we have to make sure the CSP is working and supports the hashes that are needed for any (if any) inline scripts.

This should be done after all the major work is done.

Update: The `IndexHandler` in `index.go` is not setting the CSP (or other headers) and it needs to b

[2022-09-17 17:03] synergic777 commented on #1826
With my mockup redesign I am trying to make contrasts matching WCAG requirements. Would you adjust something?
https://design.penpot.app/#/view/bc0c6ce0-3683-11ed-a5c2-cf2300df1f4f?page-id=bc0c6ce1-3683-11ed-a5c2-cf2300df1f4f&section=interactions&index=0&share-id=af09e910-3696-11ed-a332-c67f7655c7b3

[2022-09-19 09:01] letsautom8 opened #2130 "Unable to change logo when running container version"
### Share your bug report, feature request, or comment.

My setup is quite simple:
docker compose
[code]

Login to admin and change logo.
After uploading the logo, it reverted back to default owncast logo.

[2022-09-19 15:20] gabek commented on #2130
- Are you sure the old logo just isn't cached in your browser?
- You're mentioning the container has something to do with it. Does that mean it's working as you expect without a container?

[2022-09-20 00:03] letsautom8 commented on #2130
You are right. browser caching is the issue.

[2022-09-20 00:03] #2130 closed, assigned to nobody

[2022-09-21 17:03] #2117 closed, assigned to brokenintuition

[2022-09-22 14:49] gabek opened #2136 "Investigate moving modals away from React components and to use native JS Modals"
### Share your bug report, feature request, or comment.

@t1enne suggested we move away from React modals in [this PR](https://github.com/owncast/owncast/pull/2129#issuecomment-1253254921), so this is to track that discussion.

[2022-09-23 08:15] gabek opened #2137 "Action buttons render with odd sizes"
The buttons in the action button row are sized oddly when viewing them on an iPad leading to the icons to get cut off and the text not to be vertically centered.

![image](https://user-images.githubusercontent.com/414923/191918723-ea21be98-a380-47bf-809f-0266047762d8.jpeg)

Or if you change the browser width to be more narrow you can see how some buttons render differently.

![Image](https://user-

[2022-09-24 03:33] #1980 closed, assigned to nobody

[2022-09-24 05:23] kotx opened #2138 "Documentation: Add Cloudflare R2 as S3 Provider"
### Share your bug report, feature request, or comment.

[Cloudflare R2](https://www.cloudflare.com/products/r2/) does not charge for egress, only operations (that are classified as A or B, which are priced differently). Adding this to the documentation as an [S3 provider](https://owncast.online/docs/storage/) would be useful.

[2022-09-25 05:12] ma-karai opened #2139 "Streaming profiles above 6000kbps"
### Share your bug report, feature request, or comment.

Hey folks,

I am trying to create a viewing profile for streaming rates above the 6000kbps, how would I be going about this further I am wondering why is this capped in the first place.

[2022-09-25 09:02] gabek commented on #2139
See #1462 for this conversation. Closing as a duplicate.

[2022-09-25 09:02] #2139 closed, assigned to nobody

[2022-09-25 09:18] ma-karai commented on #1462
I understand that the unique selling point of owncast is that you can run this even on a raspberry pi, and its great.  However, why not cater to people who have high-end infrastructures. You could easily create an option/checkmark, with a question if this is hosted on a high bandwidth infrastructure and then have the slider expand to 20000kbits or whatever.  It does not cost you anything, right ?

[2022-09-25 10:29] ma-karai opened #2140 "Websockets"
### Share your bug report, feature request, or comment.

Using a reverse proxy caddy with a one line configuration

[code]

error in ws connection in chrome browser

[code]

[2022-09-25 13:15] gabek commented on #1462
It's about guiding the most number of people to the best possible scenarios, and there's multiple things at play for these scenarios.

It's not just about your infrastructure, it's about your viewers. That's the most important part of any of this. If your viewers can't view the stream, then what's the point?

If you max our your infrastructure streaming a 8000k stream, making it so you can't add a

[2022-09-25 13:19] gabek commented on #2140
Does Owncast work without using the proxy?

[2022-09-25 13:29] hluengas commented on #1462
I originally asked this question and while I do still wish they would find someway to incorporate custom settings into the UI, at least the API is actually really simple and straight forward to use. They have documentation on their site and you can see my scripts as an example here:
https://github.com/hluengas/owncast_scripts

<blockquote><img src="https://opengraph.githubassets.com/924b0964546ea0

[2022-09-25 19:07] ma-karai commented on #2140
![image](https://user-images.githubusercontent.com/17119942/192160926-3475dd83-03a2-4071-8fff-a3eec38e7a3e.png)

same error without the reverse proxy-

[2022-09-25 19:24] gabek commented on #2140
Have you performed any kind of customization or changes anywhere? I don't know why it would be trying to access a web socket over http.

[2022-09-25 19:27] ma-karai commented on #2140
mhh, not really I started playing around with owncast yesterday, for no reason, i am using the basic compose installation.

[2022-09-25 19:38] ma-karai commented on #1462
Firstly, owncast is amazing, and you did an awesome job.

I completely understand where you are coming from, however, if my "audience" is only a selected few, why limit me. If someone wants to stream for a random, unknown amount of people with dial-up modems, they can use the lower settings as well.

It's alright tho, glad someone created some scripts. Thanks, Henry @hluengas

[2022-09-25 20:42] gabek commented on #2140
Very odd. Are you able to access other Owncast chats like https://watch.owncast.online ?

When I get back to my computer I'll see under what conditions something like this might happen, but I'm a little baffled at the moment.

<blockquote><img src="https://watch.owncast.online/thumbnail.jpg" width="48" align="right"><div><img src="/img/favicon/favicon-16x16.png" height="14"> Owncast TV</div><div><

[2022-09-26 10:58] ma-karai commented on #2140
I get this in my console.
![image](https://user-images.githubusercontent.com/17119942/192259943-d28cfc4d-419a-4d8d-a667-e3234d469391.png)

[2022-09-26 10:59] ma-karai commented on #2140
first one is chrome

this is in edge

![image](https://user-images.githubusercontent.com/17119942/192260145-37cfa9fe-43a5-4527-9354-75c6ab6cece0.png)

[2022-09-26 11:25] gabek commented on #2140
Since that's a publicly available server that works for others (including me just now) I'm guessing it must be something local to your setup. I'm not sure what, but it works for others but not you, something is different somewhere. Are you sure there's no proxies or extensions or something that might be doing something?

[2022-09-26 12:02] ma-karai commented on #2140
I mean, the videos play and the chat works, it still displays the error. Have you checked your console?

[2022-09-26 18:18] gabek commented on #2140
I was under the impression chat wasn't working for you based off your messages, I apologize.

I won't be near a computer for a bit. Hopefully others can chime in. Maybe ask those in the chat.

[2022-09-26 19:11] ma-karai commented on #2140
totally fine, don't sweat it :D

[2022-09-27 01:27] gabek commented on #2140
And I'm back!

My console looks pretty clear on the demo server, so I'm really confused about what you're seeing.

![image](https://user-images.githubusercontent.com/414923/192409884-b774e3a8-320c-44f8-8176-586746c02a15.png)

I also opened it up in a private browsing window just so it would re-register the service worker, in case that was at all related.  Still looks good:

![image](https://user-i

[2022-09-27 07:15] Quix0r opened #2143 "Default admin login/password?"
### Share your bug report, feature request, or comment.

Hi,

I have just run `screen -dmS owncast ./owncast -webserverport 8090 -webserverip 127.0.0.1` on my computer it starts now when I try to access `/admin` I cannot guess login and password. The documentation and FAQ page does not provide any information about it. So what is the default admin login/password?

Best regards,
Roland

[2022-09-27 07:31] Quix0r commented on #2143
Ah, it is documented here: https://owncast.online/docs/configuration/ `admin/abc123`

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/docs/configuration/">Configuration</a></strong></div><div>Configuration is done through the Owncast administration page. Learn what you have control over

[2022-09-27 07:31] #2143 closed, assigned to nobody

[2022-09-27 16:28] gabek opened #2144 "Test and Document using a CDN with Owncast"
This hasn't been something that has been exhaustively tested, documented, or paid much attention to. A setting for allowing the frontend to point at a specific websocket host, allowing for a CDN to be used, was added a while ago, but it was left at that.

- Pick a CDN provider.
- Use the "Server Setup" -> Advanced "Websocket host override" setting in the admin to point to the origin server to bypa

[2022-09-27 21:01] gabek commented on #1840
Last I checked this hasn't yet been released so I haven't seen the fix myself.

[2022-09-28 06:37] unclebinary1001 commented on #2138
Hey, I would like to work on this. Could you assign this to me?

[2022-09-28 14:23] gabek commented on #2138
Yes, thank you!

[2022-09-30 01:28] gabek commented on #1933
Just a note: This was for web ui v1, but I'm keeping it open with the web ui v2 work just to make sure this issue does not persist in the new components.

[2022-09-30 15:38] gabek commented on #2120
We're using it!

[2022-09-30 15:38] #2120 closed, assigned to nobody

[2022-09-30 15:38] gabek commented on #2116
@t1enne Fixed this.

[2022-09-30 15:38] #2116 closed, assigned to t1enne

[2022-09-30 15:39] gabek commented on #1868
I'm thinking about pushing this off until a future release. I asked around and nobody replied when I asked if anybody uses this feature in the v1 UI.

[2022-09-30 16:15] gabek opened #2150 "Chat container story controls no longer working"
### Share your bug report, feature request, or comment.

Changing the controls no longer update the story's state. For example turning off "Show input" does not hide the input field, or turning on "isModerator" does not enable the moderation menu.

Story: https://owncast.online/components/?path=%2Fstory%2Fowncast-chat-chat-messages-container--example&args=isModerator%3Atrue%3BshowInput%3Afalse

![

[2022-09-30 20:47] gabek opened #2153 "Browser notifications modal: Enabled state with instructions how to disable"
### Share your bug report, feature request, or comment.

When browser notifications are enabled we need to show something in the modal saying:

- That they are enabled
- Point to using your browser settings to disable them.

There's currently no design for this, so if somebody could come up with something that'd be awesome!

![image](https://user-images.githubusercontent.com/414923/193353396-cfd46

[2022-10-01 18:49] aprilthepink commented on #2153
I'd like to implement this! ^^

[2022-10-01 19:04] gabek commented on #2153
Awesome!  It's yours, thank you!

[2022-10-01 20:12] aprilthepink commented on #2080
theres a prompt for the notification enable in chrome(ium) but not in Firefox or LibreWolf

Edit: the browser side prompt. not the modal. when you click the modal for the browser side prompt to appear in firefox nothing happens.

[2022-10-01 20:33] brokenintuition commented on #2048
I can do this one - it looks pretty straightforward.

[2022-10-01 21:15] aprilthepink commented on #2153
@gabek which version of chrome do you use?
The notification permission thingy is for me a drop down thingy. Has it changed in newer versions of chrome?
![image](https://user-images.githubusercontent.com/30842467/193428563-61b697c7-0057-4ebc-9964-670ec2050991.png)

[2022-10-01 21:59] gabek commented on #2048
Awesome, thank you!

[2022-10-01 22:01] gabek commented on #2153
I use Brave. And you're right, it'll probably look different between browsers. But just saying "disable notifications through your browser" or something should probably translate to all browsers regardless of the UI. But feel free to experiment!

[2022-10-02 10:31] aprilthepink commented on #2011
I can do this and I'd like to :D

[2022-10-02 16:10] gabek commented on #2011
Thank you!

[2022-10-02 16:51] #2153 closed, assigned to aprilthepink

[2022-10-02 18:13] gabek opened #2157 "Fix superfluous response.WriteHeader call error"
### Share your bug report, feature request, or comment.

It's likely an error code is being returned as well as an error response, making for a duplicate header being sent back to the browser.

[code]

[2022-10-02 18:16] #2048 closed, assigned to brokenintuition

[2022-10-02 18:23] gabek commented on #2115
This is resolved.

[2022-10-02 18:23] #2115 closed, assigned to nobody

[2022-10-02 18:30] #2073 closed, assigned to gabek

[2022-10-02 18:47] gabek commented on #2074
@t1enne is going to restore the right side border for your own messages, and then I think the collapsed messages are done.

[2022-10-02 18:48] gabek commented on #1859
Closing this parent tracking issue as smaller actionable items have been, and will continue to be created.

[2022-10-02 18:48] #1859 closed, assigned to t1enne

[2022-10-02 18:52] gabek commented on #1625
Current chat message design for reference: https://owncast.online/components/?path=%2Fstory%2Fowncast-chat-messages-standard-user--without-moderator-menu&args=isAuthorModerator%3Atrue%3BisAuthorAuthenticated%3Atrue%3BsentBySelf%3Afalse%3BhighlightString%3Afrom

[2022-10-02 20:40] brokenintuition commented on #2157
I can take this one - sorry, forgot to comment here before opening the PR

[2022-10-02 20:47] #2157 closed, assigned to brokenintuition

[2022-10-02 20:58] gabek opened #2159 "Admin only allows selecting 24fps or 120fps, nothing inbetween"
### Share your bug report, feature request, or comment.

Something must have changed with the slider component, as it no longer is allowing selection of any framerates aside from the first option and the last option.

![image](https://user-images.githubusercontent.com/414923/193475940-f43793aa-c37a-4b5b-a857-ce4bcfffa174.png)

[2022-10-02 21:08] gabek opened #2160 "Make all links open in a new tab by default"
### Share your bug report, feature request, or comment.

We're doing that in the old UI, but we need to add this to webv2 as well. I believe it's just an additional tag in the html head.

[2022-10-02 21:12] gabek opened #2161 "Web page needs to set the title"
### Share your bug report, feature request, or comment.

Currently there is no title tag set. It should be set with the name of the server in `Main.tsx`.

![image](https://user-images.githubusercontent.com/414923/193476408-db01644c-b729-4fd9-acfd-f9136d0c8a86.png)

[2022-10-02 21:29] gabek opened #2162 "Set caching headers for fonts (woff2 files) for long durations"
### Share your bug report, feature request, or comment.

These files don't change, so they should be cached long term.

[2022-10-03 00:24] mdonoughe commented on #2118
That doesn't look like a CORS issue. The page origin and the request origin are the same.

[2022-10-03 00:35] #2162 closed, assigned to gabek

[2022-10-03 02:09] gabek opened #2163 "Browser notification modal: Design"
### Share your bug report, feature request, or comment.

The "Notify" modal needs tom polish and design.

This modal has two states:

- Pre-enabled: Prompting them to follow by pressing the button to enable browser notifications.
- Post-enabled: Notifications have been enabled and we explain that you can turn them off in your browser.

![image](https://user-images.githubusercontent.com/414923/1934

[2022-10-03 02:11] gabek commented on #1808
Closing this in favor of the smaller, more actionable, items that have been filed for the work taking place.

[2022-10-03 02:11] #1808 closed, assigned to gabek, t1enne

[2022-10-03 08:16] #2074 closed, assigned to gabek, t1enne

[2022-10-03 08:30] juliana-mol commented on #2150
Can I work on this issue ?

[2022-10-03 15:24] gabek commented on #2150
Sure! Thank you! :D

[2022-10-03 19:56] Kundan1804 commented on #2161
Hey @gabek  I am a frond end developer and would love to contribute in this issue an you please assign this to me.

[2022-10-03 19:56] Kundan1804 commented on #2160
Hey @gabek  I am a frond end developer and would love to contribute in this issue an you please assign this to me.

[2022-10-03 19:58] gabek commented on #2160
Absolutely, thank you!

[2022-10-03 19:58] gabek commented on #2161
Thank you!

[2022-10-03 20:40] gabek opened #2167 "Lighthouse Performance"
### Share your bug report, feature request, or comment.

With the new web frontend that is being worked on, one of the goals is a far faster load time. We should compare our current work to the best practices and performance metrics of the modern web and make changes where needed to make the load time of the web app as fast as possible.

Current work in progress instance: https://webv2.owncast.tv

[2022-10-03 20:50] pippo commented on #1818
Just making sure... This issue is about this part of the admin UI, under `Configuration` > `General`, right?

<img width="383" alt="image" src="https://user-images.githubusercontent.com/47276/193679670-de6e6bb1-a079-491b-93f2-aaf57bcff08f.png">

[2022-10-03 21:01] gabek commented on #1818
Yeah, exactly!

[2022-10-03 23:21] shikhar13012001 commented on #2167
I would like to work on this issue. Can you please assign this to me?

[2022-10-03 23:23] gabek commented on #2167
Absolutely, thank you!

[2022-10-03 23:24] shikhar13012001 commented on #2167
Thanks ! @gabek  can you please guide me through steps of solving this issue, such as what files to target and other stuff?

[2022-10-03 23:30] gabek commented on #2167
I have no idea! It's a pretty wide open discovery task that targets the loading performance in general. I just did some searching and found some links, however:

- https://developer.mozilla.org/en-US/docs/Web/Performance
- https://pagespeed.web.dev/

I'm afraid if you're just looking for a quick task to work on for Owncast, this probably isn't a good candidate. This is either for somebody who is a

[2022-10-04 04:13] gabek commented on #2167
The above commit adds lazy loading for a few components that are not required for initial loading of the page to reduce the initial bundle size.

[2022-10-04 05:31] #2008 closed, assigned to gabek

[2022-10-04 13:44] Kundan1804 commented on #2160
Hey @gabek! thank you for assigning this issue to me. I cloned the repository but i am unable to run the project, can you help me out please

[2022-10-04 15:44] gabek commented on #2160
Sure. What specific problem are you trying to solve? Did you get a chance to follow the instructions at https://owncast.online/development/ ?

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/development/">How to work on Owncast</a></strong></div><div>The technical details for those wish

[2022-10-04 17:08] Kundan1804 commented on #2160
i Followed to instruction launched the web app and i am getting this error-

"Owncast cannot launch. Please make sure the Owncast server is running. SyntaxError: Unexpected token '<' , "<!Doctype "..... is not valid Jason"

[2022-10-04 17:09] gabek commented on #2160
Is the Owncast server running?

[2022-10-04 18:45] Kundan1804 commented on #2160
How do i check it?

[2022-10-04 18:57] gabek commented on #2160
Did you setup the backend for the frontend to talk to? If you didn't, or if it's not running then the frontend can't do anything and will throw the error "Please make sure the Owncast server is running." It sounds like you might not have done this.

Make sure Owncast is running on your local machine. There's details about how to do this in the development document: https://owncast.online/developme

[2022-10-04 20:04] pippo commented on #2159
Please, assign this to me ✋ I've got a working fix for the issue.

[2022-10-04 20:09] pippo commented on #1818
I believe [my PR](https://github.com/owncast/owncast/pull/2168) addresses this feature request. Perhaps, the issue can be closed now.

[2022-10-04 20:11] gabek commented on #1818
Indeed! Thank you for working on that :1st_place_medal:

[2022-10-04 20:11] #1818 closed, assigned to pippo

[2022-10-04 20:19] #2159 closed, assigned to pippo

[2022-10-04 20:27] gabek commented on #2114
@drhitchcocknz Hey there, just wanted to check in and see if you were still intending to look at this. I can unassign if you're not longer available.

[2022-10-04 20:38] drhitchcockco commented on #2114
Many apologies Gabe. Please reassign this one. I’ll pick up another next time I’m in the office.

Benet.

On Wed, 5 Oct 2022, at 06:27, Gabe Kangas wrote:

[2022-10-04 20:59] Kundan1804 commented on #2160
I am getting this error while trying to run the main.go file

"Unable to determine path to ffmpeg. Please specify it in the admin or place a copy in Owncast Directory".
I have downloaded ffmpeg can you tell me what to do next.

[2022-10-04 22:24] gabek commented on #2160
Is the actual binary of ffmpeg in the same directory of Owncast? Not a zip file or anything?

[2022-10-05 03:32] mdonoughe commented on #1528
I've started working on this.

[2022-10-05 03:34] gabek commented on #1528
Very cool! Thank you!

[2022-10-05 04:13] gabek opened #2172 "Fediverse/social messages"
### Share your bug report, feature request, or comment.

Create the Fediverse/social action message type component.

![image](https://user-images.githubusercontent.com/414923/193979541-f3583c9d-6d64-47d2-8e98-ab37d393eae6.png)

Component: https://owncast.online/components/?path=%2Fstory%2Fowncast-chat-messages-social-fediverse-event--basic

[2022-10-05 11:11] Kundan1804 commented on #2160
yes it is the actual binary file. I have added it to system environment path and even copied the file to owncast cloned repository location.

[2022-10-05 15:27] gabek commented on #2160
Is the binary called `ffmpeg` not something else for some reason?

[2022-10-05 15:51] heller commented on #2111
What is needed to reproduce this? After setting up a clean environment on the `webv2` branch and streaming a loop of `./test/test.mp4`, this warning doesn't appear for me in the latest FireFox or Safari on macOS.

(I even tried `renice 20 <pid>` on the go server because I suspected it was the `/api/status` call being slow.)

[2022-10-05 15:56] gabek commented on #2111
Hey Matt!

You're right, it looks to have just... gone away. Thanks for looking and pointing out that it magically fixed itself(?).

Hope things are going well!

[2022-10-05 15:56] #2111 closed, assigned to nobody

[2022-10-05 16:00] gabek commented on #2098
I'm going to unassign this since just in case others are looking for something small to work on for Hacktoberfest.

[2022-10-05 16:26] gabek commented on #2071
- [ ] Test out of the box functionality with ffmpeg 5 (using x264)
- [ ] Test nvenc
- [ ] Test omx (Raspberry Pi)
- [ ] Find a solution to support `vaapi_vld` and `vaapi` pixel formats to support both ffmpeg 4 and ffmpeg 5.

[2022-10-05 17:31] Kundan1804 commented on #2160
no its exactly "ffmpeg". Is there a specific sub folder where i should copy it?

[2022-10-05 17:39] gabek commented on #2160
I'm admittedly clueless on what is happening there. It's a pretty straightforward setup that I haven't heard of anybody else having issues with. You just make sure ffmpeg is available and that's it.

The [installer](https://owncast.online/quickstart/installer/) does the same thing, it simply puts a copy of ffmpeg in the same directory of Owncast.

[2022-10-05 20:29] Kundan1804 commented on #2160
Ok give me some time Ill work a way around it

[2022-10-05 21:45] gabek commented on #2160
If it helps at all, you don't need to have a live video stream to work on this particular issue since it doesn't rely on chat or the video player.

[2022-10-06 01:40] gabek commented on #2010
Current mobile layout with player. ![image](https://user-images.githubusercontent.com/414923/194195271-c651db60-ce30-4b16-b5a3-1106a03f45f0.png)![image](https://user-images.githubusercontent.com/414923/194195288-47379aaf-0a59-4a69-80c5-b9734374ccfc.png)![image](https://user-images.githubusercontent.com/414923/194195297-1dd9d371-3305-4f3e-9c49-d47369f5dbd5.png)

[2022-10-06 04:11] jahway603 commented on #2009
I fixed this before asking to have it assigned to me. How does that work?

[2022-10-06 04:17] gabek commented on #2009
Done, thanks!

[2022-10-06 04:46] jahway603 commented on #2009
@gabek can this issue be #hacktoberfest too?

[2022-10-06 04:46] gabek commented on #2009
Of course!

[2022-10-06 05:51] #2172 closed, assigned to gabek

[2022-10-06 08:44] unclebinary1001 commented on #2138
@gabek

I was able to write up instructions for creating an R2 bucket with Cloudflare, configuring api token permissions, and setting up a cors policy for file sharing.

With my local installation of Owncast, live streaming appears to function well without S3 storage enabled as I streamed from OBS Studio.

When I tried to test with S3 storage enabled, I'm getting a static image of my stream withou

[2022-10-06 08:49] unclebinary1001 commented on #2114
I would like to pick this up after I'm done with [Issue #2138](https://github.com/owncast/owncast/issues/2138)

[2022-10-06 15:53] gabek commented on #2138
If after turning on S3 with R2 video playback doesn't work it sounds like something is wrong. Take a look at your browser console for errors, as well as in the Owncast admin `/admin` for errors.

[2022-10-06 15:55] gabek commented on #2114
Sounds good, thanks!

[2022-10-07 01:27] #2009 closed, assigned to jahway603

[2022-10-07 01:58] #2011 closed, assigned to aprilthepink

[2022-10-07 16:29] t1enne commented on #2167
Also, there's some css related to the Admin that's being loaded that should be moved outside of _app.tsx

[2022-10-08 06:36] gabek opened #2176 "Do not render server-rendered template strings when in development"
### Share your bug report, feature request, or comment.

We have a bunch of opengraph and header tags, as well as some hydration that will not be filled in unless it's rendered server-side. We need to not render this stuff at all client-side when doing development or it'll just be a mess and throw errors.

[2022-10-08 19:28] gabek opened #2177 "Fix Storybook deprecation warnings"
### Share your bug report, feature request, or comment.

When storybook runs `npm run storybook` it throws some deprecation warnings.

[code]

[2022-10-08 20:54] gabek opened #2178 "Change default custom page content text"
### Share your bug report, feature request, or comment.

The current default text is

I've noticed a lot of instances do not change this text and it looks pretty stupid. Instead we can use this as an opportunity to have the default text explain that this is an Owncast instance, and talk a bit about what Owncast is. At least then the space will be used for something worthwhile.

And since it's all

[2022-10-08 21:09] gabek opened #2179 "Discuss and work on offline banner text"
### Share your bug report, feature request, or comment.

Component: https://owncast.online/components/?path=%2Fstory%2Fowncast-layout-offline-banner--example-default-with-notifications

The following needs to be really clear:

1. You're in the right place.
2. But the stream is not currently live.
3. It will be live at some point in the future.
4. You can be notified about when it is again live.

!

[2022-10-08 22:38] #2176 closed, assigned to gabek

[2022-10-08 23:28] gabek commented on #2178
I took a first pass at it but I'd love some discussion and feedback.

[2022-10-09 00:06] gabek commented on #2150
@juliana-mol Hey there! Were you able to get the project running alright? Let me know if you have any questions.

[2022-10-09 00:20] #2110 closed, assigned to gabek

[2022-10-09 05:42] #2109 closed, assigned to gabek

[2022-10-09 10:32] juliana-mol commented on #2150
Hi, I am following instructions available at  **https://owncast.online/development/** for running the project and I will let you know if I encounter any problems. Thank you for asking :)

<blockquote><img src="/images/owncast-logo-1000x1000.png" width="48" align="right"><div><img src="/favicon.png" height="14"> Owncast</div><div><strong><a href="/development/">How to work on Owncast</a></strong></

[2022-10-09 11:04] siddhant7666 commented on #2161
Hey @gabek if this issue is not yet resolved, can you please assign this to me. I will solve it as soon as possible.
Thanks

[2022-10-09 18:01] gabek opened #2182 "Broken images for federated actions list in admin"
### Share your bug report, feature request, or comment.

With webv2 the icons in the federated actions list in the admin `/admin/federation/actions` are broken.

![image](https://user-images.githubusercontent.com/414923/194772196-40f8a1ed-2623-4c17-a3d5-5e4bf584c42c.png)

[2022-10-09 18:08] gabek opened #2183 "Do not load admin resources for main webapp"
### Share your bug report, feature request, or comment.

Historically the admin was the entire Nextjs web application. Now it's just one of multiple pieces. Because of this we're still loading CSS (and maybe more) for the admin regardless what page in the web app you load.

The admin resources should only load when accessing the admin.

Unfortunately the admin was not built with CSS modules, and t

[2022-10-09 18:32] #2150 closed, assigned to juliana-mol

[2022-10-09 18:34] gabek opened #2184 "Admin post to followers text input is incorrectly sized"
### Share your bug report, feature request, or comment.

Social features must be enabled for this to show up. Then a "Compose" button will show up in the top left of the admin that displays this modal.

![image](https://user-images.githubusercontent.com/414923/194773604-5d107cce-328a-4d9f-bb08-a2895baa8d24.png)

[2022-10-09 19:06] gabek opened #2185 "Update project required Go version to 1.20"
### Share your bug report, feature request, or comment.

After Hacktoberfest is complete, and with enough warning to everyone, I'd like to update our Go version requirement to 1.19.

#2180 is a forcing function, as it uses types that were introduced in the recent version.

[2022-10-09 22:12] gabek opened #2186 "Embed pages don't get bundled into production build"
### Share your bug report, feature request, or comment.

Example: https://webv2.owncast.tv/embed/video is a 404

[2022-10-10 00:52] gabek opened #2187 "List of donors only shows one person on the web site"
### Share your bug report, feature request, or comment.

Not sure why this is happening.

![image](https://user-images.githubusercontent.com/414923/194787289-caa125bc-bf76-40a2-87b3-3bae09f1a5d2.png)

[2022-10-10 01:59] gabek opened #2188 "Footer isn't on the bottom of the page"
### Share your bug report, feature request, or comment.

There is a gap between the bottom of the screen and the footer.

![image](https://user-images.githubusercontent.com/414923/194790218-9f1793c7-a070-4bba-9b3e-bdce48a9d1f6.png)

[2022-10-10 05:55] #1528 closed, assigned to mdonoughe

[2022-10-10 06:15] gabek opened #2189 "Header does not fill full width on narrow windows/mobile layouts"
### Share your bug report, feature request, or comment.

![image](https://user-images.githubusercontent.com/414923/194807488-c1b30f1b-c95a-469d-859b-19fc37992888.png)

[2022-10-10 12:46] SleepyLili commented on #2178
I'd probably mention that this is the default description somewhere in the text. Maybe something like "The streamer has not set a description for this owncast instance", or "This is the default description that can be changed in the admin panel."? To make it clear that you're not reading something the streamer/server host wrote, but a default blurb.

"Why you might be interested in Owncast" sounds

[2022-10-10 15:04] 4censord commented on #1876
I might take a shot at this.
Few questions:
* At what version to start?
  Or when has the config been stabilized?
* Should it test every single version since the start?
* Is just fetching the release artifact from back then okay?
  That would prevent build issues that might arise by building older versions with newer Go versions

[2022-10-10 15:49] gabek commented on #1876
Hey there! These are good questions! In theory we should be able to start from the very earliest release, but the downside is up to v0.0.6 a config file was used to configure an instance instead of an API. So I think it could be fair to say 0.0.6 could be the starting point.

That's a good idea to just use the binaries. And since this is the type of test that is important before a release, the mos

[2022-10-10 18:40] gabek commented on #2183
I'm beginning to think there's no easy way around this and every admin CSS class will have to be moved to CSS modules.

1. We can't load global CSS outside of `_App`.
2. We can't just include it in a `<style>` tag because it's a SASS file and not CSS.

[code]

[2022-10-10 18:49] gabek opened #2193 "Major components need a clear, user-overridable class name"
### Share your bug report, feature request, or comment.

Because we use CSS modules everywhere the CSS class names cannot be used to override styles.

We need to make sure that the major components have an additional clear, unchanging name, so people can target those classes with their own custom CSS.

These class names should be documented so people know what they are.

For example then if they w

[2022-10-10 20:31] gabek commented on #2183
I came up with a workaround for the time being.

1. I compiled the sass to css.
2. I imported them all into the admin layout, removed them from `_App`.

This isn't perfect, but in the spirit of touching the admin as little as possible, this will do for now. Eventually we can migrate the admin to modules as well.

[2022-10-10 20:38] #2183 closed, assigned to gabek

[2022-10-10 21:26] gabek commented on #2178
I'm having a hard time coming up with some brief text that:

1. Tells the person what this server is.
2. Why it's different without being technical or nerdy.
3. But without trying to sell them on it.

I'm not trying to convince a viewer who drops by to install Owncast, but simply trying to spread the word that Owncast exists. If they want to go deeper on Owncast after that, that's up to them.

[2022-10-10 21:48] #2186 closed, assigned to gabek

[2022-10-10 21:52] gabek commented on #2188
With the additional content in the empty state of the followers tab the footer now gets pushed down to the accurate place. So I'm just going to close this.

[2022-10-10 21:53] gabek commented on #2167
I went ahead and moved the admin CSS out of `_app`.

[2022-10-10 21:55] gabek commented on #2160
We should be able to add the attribute to `no-link-referrer.ts`.

[2022-10-10 23:45] gabek commented on #2050
Refactored the store to consolidate the current user properties into a single object to cut down on the number of specific atoms that are available and imported.

[2022-10-10 23:45] #2050 closed, assigned to gabek

[2022-10-10 23:52] gabek commented on #1913
I tried putting the actual follow modal content in the empty followers tab and it looked goofy.

[2022-10-11 00:05] gabek opened #2195 "Remove returning null if currentUser is not set"
### Share your bug report, feature request, or comment.

I went through and refactored all user values to exist in a new `currentUser` property. However a downside is I added a few `return null`s to guard against null users.

This makes the web application UI delay loading and the loading state no longer shows.

This is a TODO to fix it so the loading state works again.  I'm not sure _how_ to fix

[2022-10-11 01:02] #2098 closed, assigned to nobody

[2022-10-11 01:38] #2195 closed, assigned to nobody

[2022-10-11 02:52] gabek commented on #1843
Giving [CodeMirror](https://codemirror.net/) a spin. It supports different languages meaning we can use it for both CSS and Markdown.

[2022-10-11 03:19] #1843 closed, assigned to gabek

[2022-10-11 04:35] gabek commented on #1926
I'm going to start work on some Cypress tests.

[2022-10-11 08:44] Flameborn commented on #1826
Sounds great. Thank you for the update.

When things are ready, I’d be happy to go through via multiple screen readers and post some feedback.

[2022-10-11 09:59] suyash1397 commented on #2193
hii author i am suyash i will be glad if i get this issue but i am not understanding what change i have to make plzz help

[2022-10-11 10:03] suyash1397 commented on #2193
!assign

[2022-10-11 16:49] gabek commented on #2161
Hi there! Did you have any questions about this or have any issues?

[2022-10-11 18:55] Kundan1804 commented on #2161
I have identified the problem which is preventing us from setting title, but i am not yet able to solve it i am working on it.

[2022-10-11 19:35] gabek commented on #2161
Just to clarify, there's no problem to be fixed, we simply haven't added a title yet.

[2022-10-11 22:15] gabek commented on #2193
Hello! The TODO is simply to add a plain text additional class name to components so they can be targeted with CSS.

[2022-10-12 01:20] gabek commented on #2179
If Fediverse features are enabled, I experimented with putting the account right in the offline text. I don't know if this is a good idea or not.

![image](https://user-images.githubusercontent.com/414923/195227141-a717fe53-a05d-48da-ae9c-d3a118bf56cb.png)

[2022-10-12 06:29] Sachin1939 commented on #1856
Hey @gabek, I would like to work on this issue. This would be an ideal start for my journey to the open source contribution. Can you please assign this issue to me?

[2022-10-12 06:36] gabek commented on #1856
Awesome, welcome! The documentation repository lives at https://github.com/owncast/owncast.github.io.

<blockquote><img src="https://opengraph.githubassets.com/33742153c94a597dec43c8ff14cf2aa346d5f31fa7a91893afeed4777a626fe3/owncast/owncast.github.io" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https:/

[2022-10-12 09:03] t1enne commented on #2108
I don't remember how it was before, but the text input grows upwards and the content gets shrinked after the work on the chat input.

https://owncast.online/components/?path=/story/owncast-chat-chat-messages-container--example

If there's something that I am missing I'll be happy to fix this.

<blockquote><div><strong><a href="https://owncast.online/components/?path=/story/owncast-chat-chat-messag

[2022-10-12 16:43] heller commented on #2187
This means the bottom of the main page of owncast.online, right? Looks like it's fixed now.

[2022-10-12 16:45] gabek commented on #2187
Yup! I think it comes and goes. Very weird.

[2022-10-12 16:47] gabek commented on #2108
Yup it's fixed now, thanks!

[2022-10-12 16:47] #2108 closed, assigned to nobody

[2022-10-12 16:56] gabek opened #2200 "Actually remove followers if they are deleted remotely"
### Share your bug report, feature request, or comment.

We are currently not handling remote `Delete` ActivityPub activities and we should be. Since our implementation of ActivityPub doesn't deal with threads and account profiles, just the "Followers" it's not the end of the world, but it does end up with an incorrect list of followers if one of them deletes their account and we don't reflect tha

[2022-10-12 21:18] gabek commented on #2188
Nope, still a problem.

[2022-10-12 21:45] gabek opened #2202 "External action buttons are setting incorrect button title"
### Share your bug report, feature request, or comment.

It should be using just the title of the action, not the description.

<img width="601" alt="image" src="https://user-images.githubusercontent.com/414923/195453833-1c3a60ca-2a2b-47e3-bc21-900f46e0fc7a.png">

[2022-10-12 21:46] gabek opened #2203 "External action buttons are rendering a broken icon even if no icon is set"
### Share your bug report, feature request, or comment.

Icon should not be included in the button if no icon is included in the external action.

<img width="601" alt="image" src="https://user-images.githubusercontent.com/414923/195453991-09728e8b-388c-44a0-a906-17d8e9f28679.png">

[2022-10-12 22:05] gabek commented on #2138
Hi @unclebinary1001! Just checking in to see if you've been able to troubleshoot your S3 config.

[2022-10-12 22:17] unclebinary1001 commented on #2138
@gabek
The error I was getting in my console is: `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://*<ACCOUNT_ID>*.r2.cloudflarestorage.com/cast/*<OBJECT>*. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing). Status code: 400`

 The thing is, R2 buckets have an issue with CORS configuration.
The S3 API token I generated through the API t

[2022-10-12 22:22] brokenintuition commented on #2200
I'd be interested in working on this one

[2022-10-12 22:24] gabek commented on #2138
Thank you for the detailed update! It sounds like R2 isn't yet compatible as a S3 provider until they fully support CORS. No big deal. Some day when they fix it can add it to the list of providers :)

[2022-10-12 22:26] gabek commented on #2200
@brokenintuition Awesome! While I don't want to discourage anybody from working on anything, this issue will require digging a bit deeper into the Go codebase of Owncast and working on the ActivityPub and database layers. If you're cool with that, it's all yours!